<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.whalesoft.app.cms.authCode.AuthCodeDao">
	
	<select id="getAuthGroupTreeList" resultType="kr.co.whalesoft.app.cms.authCode.AuthCode">
		SELECT * FROM
			(
			SELECT 
				'-1' AS parent_auth_group_id,
		   		'ROOT' AS auth_group_id,
		      	'코드그룹 모음' AS auth_group_name,
		      	1 AS load_on_demand
			FROM
				DUAL
			UNION ALL
			SELECT
	      		'ROOT' AS parent_auth_group_id, auth_group_id, 
	      		auth_group_name || '(' || auth_group_id || ')' AS auth_group_name, 
	      		0 AS load_on_demand
			FROM
				CMS_AUTH_GROUP
			)
		CONNECT BY PRIOR auth_group_id = parent_auth_group_id
		START WITH auth_group_id = 'ROOT'
		ORDER SIBLINGS BY auth_group_name
	</select>
	
	<select id="getAuthGroupList" resultType="kr.co.whalesoft.app.cms.authCode.AuthCode">
		SELECT
			auth_group_id, auth_group_name, remark
		FROM
			WB_AUTH_GROUP
		ORDER BY
			auth_group_name
	</select>
	
	<select id="getAuthGroupOne" resultType="kr.co.whalesoft.app.cms.authCode.AuthCode">
		SELECT
			auth_group_id, auth_group_name, remark, add_date, add_id
		FROM
			CMS_AUTH_GROUP
		WHERE
			auth_group_id = #{auth_group_id}
	</select>
	
	<insert id="addAuthGroup">
		INSERT INTO
			CMS_AUTH_GROUP
		(
			auth_group_id, auth_group_name, remark, add_date, add_id
		)
		VALUES
		(
			#{auth_group_id}, #{auth_group_name}, #{remark}, SYSDATE, #{add_id}
		)
	</insert>
	
	<update id="modifyAuthGroup">
		UPDATE 
			CMS_AUTH_GROUP 
		SET
			auth_group_name = #{auth_group_name},
			remark = #{remark},
			modify_date = SYSDATE,
			modify_id = #{modify_id}
		WHERE
			AUTH_GROUP_ID = #{auth_group_id}			
	</update>
	
	<delete id="deleteAuthGroup">
		DELETE FROM
			CMS_AUTH_GROUP 
		WHERE
			AUTH_GROUP_ID = #{auth_group_id}
	</delete>
	
	<select id="getAuthCount" resultType="int">
		SELECT
			COUNT(*) AS cnt
		FROM
			CMS_AUTH
		WHERE
			auth_group_id > 100
		AND	auth_group_id = #{auth_group_id}
	</select>
	
	<select id="getAuthCode" resultType="kr.co.whalesoft.app.cms.authCode.AuthCode">
		SELECT
			auth_group_id, auth_code_id, auth_code_name, remark, 
			print_seq, add_date, add_id
		FROM			
			WB_AUTH_CODE
		WHERE
			auth_group_id = #{auth_group_id}
		ORDER BY
			print_seq ASC
	</select>
	
	<select id="getAuthOne" resultType="kr.co.whalesoft.app.cms.authCode.AuthCode">
		SELECT
			auth_group_id, auth_id, auth_name, use_yn, remark, 
			print_seq, add_date, add_id
		FROM			
			CMS_AUTH
		WHERE
			auth_group_id = #{auth_group_id}
		AND	auth_id = #{auth_id}
	</select>
	
	<insert id="addAuth">
		INSERT INTO
			CMS_AUTH
		(
			auth_group_id, auth_id, auth_name, use_yn, remark, 
			print_seq, add_date, add_id
		)
		VALUES
		(
			#{auth_group_id}, #{auth_id}, #{auth_name}, #{use_yn}, #{remark}, 
			#{print_seq}, SYSDATE, #{add_id}
		)
	</insert>
	
	<update id="modifyAuth">
		UPDATE 
			CMS_AUTH 
		SET
			auth_name = #{auth_name}, 
			use_yn = #{use_yn},
			remark = #{remark}, 
			print_seq = #{print_seq}, 
			modify_date = SYSDATE, 
			modify_id = #{modify_id}
		WHERE
			auth_group_id = #{auth_group_id}
		AND	auth_id = #{auth_id}
	</update>
	
	<delete id="deleteAuth">
		DELETE FROM
			CMS_AUTH 
		WHERE
			auth_group_id = #{auth_group_id}
		AND	auth_id = #{auth_id}
	</delete>
	
	<select id="getMenuAuth" resultType="kr.co.whalesoft.app.cms.authCode.AuthCode">
		SELECT 
  			b.auth_group_id, b.auth_group_name, a.auth_id, a.auth_name
		FROM
		  	CMS_AUTH a, 
		  	CMS_AUTH_GROUP b
		WHERE
			a.auth_group_id = b.auth_group_id
		<if test="auth_group_id != null and auth_group_id != '' ">
		AND	a.auth_group_id = #{auth_group_id}
		</if>
		AND	a.use_yn = 'y'
		AND to_number(a.auth_id) > 200
		ORDER BY
		  	b.auth_group_id, a.auth_id
	</select>
	
	<select id="getNextPrintSeq" resultType="int">
		SELECT
			NVL(MAX(print_seq), 0) + 10
		FROM
			CMS_AUTH
		WHERE
			auth_group_id = #{auth_group_id}
	</select>
</mapper>