<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.whalesoft.app.cms.module.quiz.QuizDao">
	
	<select id="getQuizListAll" resultType="kr.co.whalesoft.app.cms.module.quiz.Quiz">
		SELECT
			homepage_id, quiz_idx, quiz_type, quiz_name, quiz_year, quiz_month, book_name, book_author, book_publisher,
			call_no, book_desc, quiz_start_date, quiz_end_date, book_image,
			top_html, bottom_html, delete_yn, add_date, add_id, modify_date, modify_id, applicant_id_yn, address_yn,family_yn,
			(SELECT COUNT(*) FROM QUIZ_REQ WHERE homepage_id = a.homepage_id AND quiz_idx = a.quiz_idx) AS quiz_req_count
		FROM
			quiz a
		WHERE
			homepage_id = #{homepage_id}
		AND	delete_yn = 'N'
		<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
		AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
		ORDER BY quiz_idx DESC
	</select>
	
	<select id="getQuizList" resultType="kr.co.whalesoft.app.cms.module.quiz.Quiz">
		${pagingTop}
		SELECT
			homepage_id, quiz_idx, quiz_type, quiz_name, quiz_year, quiz_month, book_name, book_author, book_publisher,
			call_no, book_desc, quiz_start_date, quiz_end_date, book_image,
			top_html, bottom_html, delete_yn, add_date, add_id, modify_date, modify_id, applicant_id_yn, address_yn,
			(SELECT COUNT(*) FROM QUIZ_REQ WHERE homepage_id = a.homepage_id AND quiz_idx = a.quiz_idx) AS quiz_req_count,
			select_cnt, re_select_cnt,family_yn
		FROM
			QUIZ a
		WHERE
			homepage_id = #{homepage_id}
		AND	delete_yn = 'N'
		<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
		AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
		<if test="quiz_type != null and quiz_type != ''">
		AND	quiz_type = #{quiz_type}
		</if>
		<if test="quiz_year != null and quiz_year != ''">
		AND	quiz_year = #{quiz_year}
		</if>
		<if test="quiz_month != null and quiz_month != ''">
		AND quiz_month = #{quiz_month}
		</if>
		ORDER BY quiz_idx DESC
		${pagingBottom}
	</select>
	
	<select id="getQuizListCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			QUIZ
		WHERE
			homepage_id = #{homepage_id}
		AND	delete_yn = 'N'
		<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
		AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
		<if test="quiz_type != null and quiz_type != ''">
		AND	quiz_type = #{quiz_type}
		</if>
		<if test="quiz_year != null and quiz_year != ''">
		AND	quiz_year = #{quiz_year}
		</if>
		<if test="quiz_month != null and quiz_month != ''">
		AND quiz_month = #{quiz_month}
		</if>
	</select>
	
	<select id="getQuizOne" resultType="kr.co.whalesoft.app.cms.module.quiz.Quiz">
		SELECT
			homepage_id, quiz_idx, quiz_type, quiz_name, quiz_year, quiz_month, book_name, book_author, book_publisher,
			call_no, book_desc, quiz_start_date, quiz_end_date, book_image,
			top_html, bottom_html, delete_yn, add_date, add_id, modify_date, modify_id, school_yn, ban_yn, hak_yn, gender_yn, age_yn, applicant_id_yn,
			(SELECT COUNT(*) FROM QUIZ_REQ WHERE homepage_id = a.homepage_id AND quiz_idx = a.quiz_idx) AS quiz_req_count,
			select_cnt, re_select_cnt, address_yn, file_yn,birth_yn,family_yn
		FROM
			QUIZ a
		WHERE
			homepage_id = #{homepage_id}
		AND	quiz_idx = #{quiz_idx}
		AND	delete_yn = 'N'
	</select>
	
	<select id="getAreadyQuizOne" resultType="int">
		SELECT
			COUNT(*)
		FROM
			QUIZ a
		WHERE
			homepage_id = #{homepage_id}
		AND	quiz_type = #{quiz_type}
		AND	delete_yn = 'N'
		AND	quiz_year = #{quiz_year}
		AND	quiz_month = #{quiz_month}
	</select>
	
	<insert id="addQuiz">
		<selectKey keyProperty="quiz_idx" resultType="int" order="BEFORE">
			SELECT NVL(MAX(quiz_idx),0)+1 FROM QUIZ WHERE homepage_id = #{homepage_id}
		</selectKey>
	
		INSERT INTO QUIZ
		(
			homepage_id, quiz_idx, quiz_type, quiz_name, quiz_year, quiz_month, book_name, book_author, book_publisher,
			call_no, book_desc, quiz_start_date, quiz_end_date, book_image,
			top_html, bottom_html, delete_yn, add_date, add_id, school_yn, ban_yn, hak_yn, gender_yn, age_yn, select_cnt, applicant_id_yn,
			re_select_cnt, address_yn,file_yn,family_yn
		) VALUES (
			#{homepage_id}, #{quiz_idx}, #{quiz_type}, #{quiz_name}, #{quiz_year}, #{quiz_month}, #{book_name}, #{book_author}, #{book_publisher},
			#{call_no}, #{book_desc}, #{quiz_start_date}, #{quiz_end_date}, #{book_image},
			#{top_html}, #{bottom_html}, 'N', SYSDATE, #{add_id}, #{school_yn}, #{ban_yn}, #{gender_yn}, #{age_yn}, #{hak_yn}, 0, #{applicant_id_yn},
			0, #{address_yn},#{file_yn},#{family_yn}
		)
	</insert>
	
	<update id="modifyQuiz">
		UPDATE 
			QUIZ 
		SET
			quiz_name = #{quiz_name},
			quiz_year = #{quiz_year}, 
			quiz_month = #{quiz_month}, 
			quiz_type = #{quiz_type}, 
			book_name = #{book_name}, 
			book_author = #{book_author}, 
			book_publisher = #{book_publisher},
			call_no = #{call_no}, 
			book_desc = #{book_desc},
			quiz_start_date = #{quiz_start_date}, 
			quiz_end_date = #{quiz_end_date},
			book_image = #{book_image},
			top_html = #{top_html}, 
			bottom_html = #{bottom_html}, 
			modify_date = SYSDATE, 
			modify_id = #{modify_id},
			school_yn = #{school_yn},
			ban_yn = #{ban_yn},
			hak_yn = #{hak_yn},
			gender_yn = #{gender_yn},
			age_yn = #{age_yn},
			applicant_id_yn = #{applicant_id_yn},
			address_yn = #{address_yn},
			file_yn = #{file_yn},
			birth_yn = #{birth_yn},
			family_yn = #{family_yn}
		WHERE
			homepage_id = #{homepage_id}
		AND	quiz_idx = #{quiz_idx}
		AND	delete_yn = 'N'
	</update>
	
	<delete id="deleteQuiz">
		UPDATE
			QUIZ
		SET
			delete_yn = 'Y',
			modify_date = SYSDATE,
			modify_id = #{modify_id}
		WHERE
			homepage_id = #{homepage_id}
		AND	quiz_idx = #{quiz_idx}
	</delete>
	
	<select id="getQuizUser" resultType="kr.co.whalesoft.app.cms.module.quiz.Quiz">
		SELECT
			homepage_id, quiz_idx, quiz_type, quiz_name, quiz_year, quiz_month, book_name, book_author, book_publisher,
			call_no, book_desc, quiz_start_date, quiz_end_date, book_image, address_yn,
			top_html, bottom_html, delete_yn, add_date, add_id, modify_date, modify_id, school_yn, ban_yn, hak_yn, gender_yn, age_yn, applicant_id_yn,
			(SELECT COUNT(*) FROM QUIZ_REQ WHERE homepage_id = a.homepage_id AND quiz_idx = a.quiz_idx) AS quiz_req_count,
			select_cnt, re_select_cnt,file_yn,birth_yn,family_yn
		FROM
			QUIZ a
		WHERE
			homepage_id = #{homepage_id} 
		AND	quiz_year = #{quiz_year} 
		AND	quiz_month = #{quiz_month}
		AND	quiz_type = #{quiz_type} 
		AND	delete_yn = 'N'
	</select>
	
	<select id="getQuizCntOfValidDate" resultType="int">
		SELECT
			COUNT(*)
		FROM
			QUIZ
		WHERE 
			HOMEPAGE_ID = #{homepage_id}
		AND	quiz_idx = #{quiz_idx}
		AND	delete_yn = 'N'
		AND	quiz_start_date &lt;= TO_CHAR(SYSDATE, 'YYYY-MM-DD')
		AND	TO_CHAR(SYSDATE, 'YYYY-MM-DD') &lt;= quiz_end_date
	</select>
	
	<update id="increaseSelectCnt">
		UPDATE
			QUIZ
		SET
			select_cnt = select_cnt + 1
		WHERE
			homepage_id = #{homepage_id}
		AND	quiz_idx = #{quiz_idx}
		AND	delete_yn = 'N'
	</update>

	<update id="increaseReSelectCnt">
		UPDATE
			QUIZ
		SET
			re_select_cnt = re_select_cnt + 1
		WHERE
			homepage_id = #{homepage_id}
		AND	quiz_idx = #{quiz_idx}
		AND	delete_yn = 'N'
	</update>
	
</mapper>