<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.pictureBook.PictureBookDao">

	<select id="getPictureBookList" resultType="kr.go.gbelib.app.cms.module.pictureBook.PictureBook">
		${pagingTop}
		SELECT
			picture_book_idx, picture_book_name, picture_book_subject, author, publisher,
			publish_year, isbn, picture_price, picture_count, keyword,
			category, desc_link, thumb_image, content, pay_yn,
			org_file_name, server_file_name, file_extension, file_size, add_id, add_date
		FROM
			PICTURE_BOOK
		WHERE
			pay_yn = #{pay_yn}
		<if test="(search_type != null and search_type != '') and (search_text != '' and search_text != '')">
		AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
		<if test="category != null and category != ''">
		AND	category = #{category}
		</if>
<!-- 		ORDER BY picture_book_idx DESC -->
		ORDER BY picture_book_subject ASC
		${pagingBottom}
	</select>
	
	<select id="getPictureBookCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			PICTURE_BOOK
		WHERE
			pay_yn = #{pay_yn}
		<if test="(search_type != null and search_type != '') and (search_text != '' and search_text != '')">
		AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
		<if test="category != null and category != ''">
		AND	category = #{category}
		</if>
	</select>
	
	<select id="getPictureBookOne" resultType="kr.go.gbelib.app.cms.module.pictureBook.PictureBook">
		SELECT
			picture_book_idx, picture_book_name, picture_book_subject, author, publisher,
			publish_year, isbn, picture_price, picture_count, keyword,
			category, desc_link, thumb_image, content, pay_yn,
			org_file_name, server_file_name, file_extension, file_size, add_id, add_date
		FROM
			PICTURE_BOOK
		WHERE
			pay_yn = #{pay_yn}
		AND	picture_book_idx = #{picture_book_idx}
	</select>
	
	<insert id="addPictureBook">
		<selectKey keyProperty="picture_book_idx" resultType="int" order="BEFORE">
			SELECT NVL(MAX(picture_book_idx), 0) + 1 FROM PICTURE_BOOK
		</selectKey>
		INSERT INTO
			PICTURE_BOOK
		(
			picture_book_idx, picture_book_name, picture_book_subject, author, publisher,
			publish_year, isbn, picture_price, picture_count, keyword,
			category, desc_link, thumb_image, content, pay_yn,
			<if test="org_file_name != null and org_file_name != ''">
			org_file_name, server_file_name, file_extension, file_size,
			</if>
			add_id, add_date
		)
		VALUES
		(
			#{picture_book_idx}, #{picture_book_name}, #{picture_book_subject}, #{author}, #{publisher},
			#{publish_year}, #{isbn}, #{picture_price}, #{picture_count}, #{keyword},
			#{category}, #{desc_link}, #{thumb_image}, #{content}, #{pay_yn},
			<if test="org_file_name != null and org_file_name != ''">
			#{org_file_name}, #{server_file_name}, #{file_extension}, #{file_size},
			</if>
			#{add_id}, SYSDATE
		)
	</insert>
	
	<update id="modifyPictureBook">
		UPDATE
			PICTURE_BOOK
		SET
			picture_book_name = #{picture_book_name},
			picture_book_subject = #{picture_book_subject},
			author = #{author},
			publisher = #{publisher},
			publish_year = #{publish_year},
			isbn = #{isbn},
			picture_price = #{picture_price},
			picture_count = #{picture_count},
			keyword = #{keyword},
			category = #{category},
			desc_link = #{desc_link},
			thumb_image = #{thumb_image},
			content = #{content},
			<if test="org_file_name != null and org_file_name != ''">
			org_file_name = #{org_file_name},
			server_file_name = #{server_file_name},
			file_extension = #{file_extension},
			file_size = #{file_size},
			</if>
			modify_id = #{modify_id},
			modify_date = SYSDATE
		WHERE
			pay_yn = #{pay_yn}
		AND	picture_book_idx = #{picture_book_idx}
	</update>
	
	<delete id="deletePictureBook">
		DELETE FROM
			PICTURE_BOOK
		WHERE
			pay_yn = #{pay_yn}
		AND	picture_book_idx = #{picture_book_idx}
	</delete>
	
	<select id="getLoanableMonth" resultType="kr.go.gbelib.app.cms.module.pictureBook.PictureBook">
		SELECT
			picture_book_loan_idx, school_name, TO_CHAR(loan_start_date, 'yyyy') AS loan_year, TO_CHAR(loan_start_date, 'MM') AS loan_month,
			(substr(request_name,1,1) || lpad('*',length(request_name)-2,'*') || substr(request_name, length(request_name), 1)) AS request_name
		FROM
			PICTURE_BOOK_LOAN
		WHERE
			picture_book_idx = #{picture_book_idx}
		AND	TO_CHAR(loan_start_date, 'yyyy') = #{loan_year}
	</select>
	
	<select id="getPictureBookLoanList" resultType="kr.go.gbelib.app.cms.module.pictureBook.PictureBook">
		${pagingTop}
		SELECT
			a.picture_book_idx, b.picture_book_loan_idx, a.picture_book_subject, school_name,
			loan_start_date, loan_end_date, TO_CHAR(loan_start_date, 'yyyy') AS loan_year, TO_CHAR(loan_start_date, 'MM') AS loan_month, pay_yn,
			phone, school_tel, request_content, request_status, b.add_id, b.add_date,
			(substr(request_name,1,1) || lpad('*',length(request_name)-2,'*') || substr(request_name, length(request_name), 1)) AS request_name
		FROM
			PICTURE_BOOK a, PICTURE_BOOK_LOAN b
		WHERE
			a.picture_book_idx = b.picture_book_idx
		AND	pay_yn = #{pay_yn}
		<if test="(search_type != null and search_type != '') and (search_text != '' and search_text != '')">
		AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
		<if test="loan_year != null and loan_year != ''">
		AND	TO_CHAR(loan_start_date, 'yyyy') = #{loan_year}
		</if>
		<if test="loan_month != null and loan_month != ''">
		AND	TO_CHAR(loan_start_date, 'MM') = #{loan_month}
		</if>
		<if test="request_status != null and request_status != ''">
		AND	request_status = #{request_status}
		</if>
		<if test="add_id != null and add_id != ''">
		AND	b.add_id = #{add_id}
		</if>
		ORDER BY b.add_date DESC
<!-- 		ORDER BY a.picture_book_subject ASC, b.loan_start_date ASC -->
		${pagingBottom}
	</select>
	
	<select id="getPictureBookLoanCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			PICTURE_BOOK a, PICTURE_BOOK_LOAN b
		WHERE
			a.picture_book_idx = b.picture_book_idx
		AND	pay_yn = #{pay_yn}
		<if test="(search_type != null and search_type != '') and (search_text != '' and search_text != '')">
		AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
		<if test="loan_year != null and loan_year != ''">
		AND	TO_CHAR(loan_start_date, 'yyyy') = #{loan_year}
		</if>
		<if test="loan_month != null and loan_month != ''">
		AND	TO_CHAR(loan_start_date, 'MM') = #{loan_month}
		</if>
		<if test="request_status != null and request_status != ''">
		AND	request_status = #{request_status}
		</if>
		<if test="add_id != null and add_id != ''">
		AND	b.add_id = #{add_id}
		</if>
	</select>
	
	<select id="getPictureBookLoanOne" resultType="kr.go.gbelib.app.cms.module.pictureBook.PictureBook">
		SELECT
			a.picture_book_idx, b.picture_book_loan_idx, a.picture_book_subject, request_name, school_name,
			loan_start_date, loan_end_date, TO_CHAR(loan_start_date, 'yyyy') AS loan_year, TO_CHAR(loan_start_date, 'MM') AS loan_month, pay_yn,
			phone, school_tel, request_content, request_status, b.add_id, b.add_date, b.delivery_location
		FROM
			PICTURE_BOOK a, PICTURE_BOOK_LOAN b
		WHERE
			a.picture_book_idx = b.picture_book_idx
		and b.picture_book_loan_idx = #{picture_book_loan_idx}
	</select>
	
	<insert id="addPictureBookLoan">
		<selectKey keyProperty="picture_book_loan_idx" resultType="int" order="BEFORE">
			SELECT NVL(MAX(picture_book_loan_idx), 0) + 1 FROM PICTURE_BOOK_LOAN
		</selectKey>
		INSERT INTO
			PICTURE_BOOK_LOAN
		(
			picture_book_idx, picture_book_loan_idx, request_name, school_name,
			loan_start_date, loan_end_date, phone, school_tel,
			request_content, request_status, add_id, add_date,
			delivery_location
		)
		VALUES
		(
			#{picture_book_idx}, #{picture_book_loan_idx}, #{request_name}, #{school_name},
			#{loan_start_date}, #{loan_end_date}, #{phone}, #{school_tel},
			#{request_content}, #{request_status}, #{add_id}, SYSDATE,
			#{delivery_location}
		)
	</insert>
	
	<update id="modifyPictureBookLoan">
		UPDATE
			PICTURE_BOOK_LOAN
		SET
			request_name = #{request_name},
			school_name = #{school_name},
			loan_start_date = #{loan_start_date},
			loan_end_date = #{loan_end_date},
			phone = #{phone},
			school_tel = #{school_tel},
			request_content = #{request_content},
			request_status = #{request_status},
			modify_id = #{modify_id},
			modify_date = SYSDATE,
			delivery_location = #{delivery_location}
		WHERE
			picture_book_idx = #{picture_book_idx}
		AND	picture_book_loan_idx = #{picture_book_loan_idx}
	</update>
	
	<delete id="deletePictureBookLoan">
		DELETE FROM
			PICTURE_BOOK_LOAN
		WHERE
			picture_book_loan_idx = #{picture_book_loan_idx}
	</delete>
	
	<delete id="deletePictureBookLoanAll">
		DELETE FROM
			PICTURE_BOOK_LOAN
		WHERE
			picture_book_idx = #{picture_book_idx}
	</delete>
	
	<update id="statusChangeAll">
		UPDATE
			PICTURE_BOOK_LOAN
		SET
			request_status = #{request_status}
		WHERE
			picture_book_loan_idx IN
			<foreach collection="picture_book_loan_arr" open="(" close=")" separator="," item="i">
			#{i}
			</foreach>
	</update>
	
	<select id="getMonthList" resultType="map">
		SELECT
			picture_book_loan_idx, b.loan_month, b.last_month
		FROM
			(
			SELECT 
				picture_book_loan_idx,
				TO_CHAR(loan_start_date, 'MM') AS loan_month
			FROM
				PICTURE_BOOK_LOAN
			WHERE
				picture_book_idx = #{picture_book_idx}
			AND	to_char(loan_start_date, 'yyyy') = #{loan_year}
			) a,
			(
			SELECT
				ROWNUM AS loan_month,
				(CASE WHEN TO_CHAR(SYSDATE, 'MM') > ROWNUM AND TO_CHAR(SYSDATE, 'YYYY') = #{loan_year} THEN 'Y' ELSE 'N' END) AS last_month
			FROM
				DUAL
			CONNECT BY ROWNUM <![CDATA[<=]]> 12
			) b
		WHERE
			a. loan_month(+) = b.loan_month
		ORDER BY loan_month
	</select>
	
	<select id="duplLoanChk" resultType="int">
		SELECT
			COUNT(picture_book_loan_idx)
		FROM
			PICTURE_BOOK_LOAN 
		WHERE
			picture_book_idx = #{picture_book_idx}
		AND TO_CHAR(loan_start_date, 'yyyy') = #{loan_year}
		AND	TO_CHAR(loan_start_date, 'MM') = #{loan_month}
	</select>
	
	<select id="getPictureBookLoanExcelList" resultType="kr.go.gbelib.app.cms.module.pictureBook.PictureBook">
		SELECT
			a.picture_book_idx, b.picture_book_loan_idx, a.picture_book_subject, request_name, school_name,
			loan_start_date, loan_end_date, TO_CHAR(loan_start_date, 'yyyy') AS loan_year, TO_CHAR(loan_start_date, 'MM') AS loan_month, pay_yn,
			phone, school_tel, request_content, request_status, b.add_id, b.add_date, b.delivery_location
		FROM
			PICTURE_BOOK a, PICTURE_BOOK_LOAN b
		WHERE
			a.picture_book_idx = b.picture_book_idx
		AND	pay_yn = #{pay_yn}
		<if test="add_id != null and add_id != ''">
		AND	b.add_id = #{add_id}
		</if>
		ORDER BY a.picture_book_subject ASC, b.loan_start_date ASC
	</select>
	
	<select id="getMySqlList" resultType="map" parameterType="String">
		SELECT * FROM ${value}
	</select>
	
	<insert id="addParseTibero">
		INSERT INTO
			PICTURE_BOOK
		(
			picture_book_idx, picture_book_name, picture_book_subject, author, publisher,
			publish_year, isbn, picture_price, picture_count, keyword,
			category, desc_link, thumb_image, content, pay_yn,
			<if test="org_file_name != null and org_file_name != ''">
			org_file_name, server_file_name, file_extension, file_size,
			</if>
			add_id, add_date
		)
		VALUES
		(
			#{picture_book_idx}, #{picture_book_name}, #{picture_book_subject}, #{author}, #{publisher},
			#{publish_year}, #{isbn}, #{picture_price}, #{picture_count}, #{keyword},
			#{category}, #{desc_link}, #{thumb_image}, #{content}, #{pay_yn},
			<if test="org_file_name != null and org_file_name != ''">
			#{org_file_name}, #{server_file_name}, #{file_extension}, #{file_size},
			</if>
			#{add_id}, #{add_date}
		)
	</insert>
	
	<select id="getMySqlList2" resultType="map" parameterType="String">
		select * from board_picture_loan where a_num = ${value}
	</select>
	
	<insert id="addParseTibero2">
		INSERT INTO
			PICTURE_BOOK_LOAN
		(
			picture_book_idx, picture_book_loan_idx, request_name, school_name,
			loan_start_date, loan_end_date, phone, school_tel,
			request_content, request_status, add_id, add_date
		)
		VALUES
		(
			#{picture_book_idx}, #{picture_book_loan_idx}, #{request_name}, #{school_name},
			#{loan_start_date}, #{loan_end_date}, #{phone}, #{school_tel},
			#{request_content}, #{request_status}, #{add_id}, #{add_date}
		)
	</insert>
	
	<select id="getDupLoanCount" resultType="int">
		SELECT
			count(*)
		FROM
			PICTURE_BOOK a, PICTURE_BOOK_LOAN b
		WHERE
			a.picture_book_idx = b.picture_book_idx
		AND	TO_CHAR(b.loan_start_date,'yyyy-MM-dd') &lt;= TO_CHAR(SYSDATE,'yyyy-MM-dd')
		AND TO_CHAR(b.loan_end_date,'yyyy-MM-dd') > TO_CHAR(SYSDATE,'yyyy-MM-dd')
		AND a.picture_book_idx = #{picture_book_idx}
	</select>
	
	<select id="checkDupLoanDateCount" resultType="int">
		SELECT
			count(*)
		FROM
			PICTURE_BOOK a, PICTURE_BOOK_LOAN b
		WHERE
			a.picture_book_idx = b.picture_book_idx
		AND	TO_CHAR(b.loan_start_date,'yyyy-MM-dd') &lt;= #{loan_end_date}
		AND TO_CHAR(b.loan_end_date,'yyyy-MM-dd') >= #{loan_start_date}
		AND a.picture_book_idx = #{picture_book_idx}
	</select>
	
	<select id="dupLoanDate" resultType="kr.go.gbelib.app.cms.module.pictureBook.PictureBook">
		SELECT
			TO_CHAR(TO_DATE(max(b.loan_end_date), 'yyyy-MM-dd') + 5, 'yyyy-MM-dd') as loan_end_date
		FROM
			PICTURE_BOOK a, PICTURE_BOOK_LOAN b
		WHERE
			a.picture_book_idx = b.picture_book_idx
		AND	TO_CHAR(b.loan_start_date,'yyyy-MM-dd') &lt;= #{loan_end_date}
		AND TO_CHAR(b.loan_end_date,'yyyy-MM-dd') >= #{loan_start_date}
		AND a.picture_book_idx = #{picture_book_idx}
	</select>

	<select id="getReservationDate" parameterType="kr.go.gbelib.app.cms.module.pictureBook.PictureBook" resultType="kr.go.gbelib.app.cms.module.pictureBook.PictureBook">
		SELECT
			a.picture_book_idx, b.picture_book_loan_idx, a.picture_book_subject, school_name,
			phone, school_tel, request_content, request_status, b.add_id, b.add_date,
			TO_CHAR(LOAN_START_DATE,'YYYY-MM-DD') as LOAN_START_DATE, TO_CHAR(loan_end_date,'YYYY-MM-DD') as LOAN_END_DATE,
			TO_CHAR(loan_start_date, 'yyyy') AS loan_year, TO_CHAR(loan_start_date, 'MM') AS loan_month, pay_yn,
			(substr(request_name,1,1) || lpad('*',length(request_name)-2,'*') || substr(request_name, length(request_name), 1)) AS request_name
		FROM
			PICTURE_BOOK a, PICTURE_BOOK_LOAN b
		WHERE
		a.picture_book_idx = b.picture_book_idx
		and TO_CHAR(SYSDATE,'YYYYMMDD') <![CDATA[<=]]> TO_CHAR(LOAN_END_DATE, 'YYYYMMDD')
		and TO_CHAR(SYSDATE,'YYYYMMDD') <![CDATA[<=]]> TO_CHAR(LOAN_START_DATE, 'YYYYMMDD')
		AND a.picture_book_idx = #{picture_book_idx}
		ORDER BY b.add_date DESC
	</select>
	
</mapper>