<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.whalesoft.app.cms.news.NewsDao">
	
	<select id="getNewsListAll" resultType="kr.co.whalesoft.app.cms.news.News">
			SELECT
				news_idx, homepage_id, news_name, sub_news_name, REPLACE(contents, CHR(10), '&lt;br/&gt;') AS contents,
				print_seq, add_date, use_yn,
				link_url, org_file_name, server_file_name, file_extension, file_size
			FROM
				CMS_NEWS
			WHERE
				homepage_id = #{homepage_id}
			AND use_yn = 'Y'
			<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
			AND	${search_type} LIKE '%'||#{search_text}||'%'
			</if>
			ORDER BY
				print_seq ASC
	</select>
	
	<select id="getNewsList" resultType="kr.co.whalesoft.app.cms.news.News">
		${pagingTop}
		SELECT
			news_idx, homepage_id, news_name, sub_news_name, contents,
			print_seq, add_date, use_yn,
			link_url, org_file_name, server_file_name, file_extension, file_size
		FROM
			CMS_NEWS
		WHERE
			homepage_id = #{homepage_id}
		<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
		AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
		ORDER BY
			print_seq ASC
		${pagingBottom}
	</select>
	
	<select id="getNewsListCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			CMS_NEWS
		WHERE
			homepage_id = #{homepage_id}
		<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
		AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
		ORDER BY
			print_seq ASC
	</select>
	
	<select id="getNewsOne" resultType="kr.co.whalesoft.app.cms.news.News">
		SELECT
			news_idx, homepage_id, news_name, sub_news_name, contents,
			print_seq, add_date, use_yn,
			link_url, org_file_name, server_file_name, file_extension, file_size
		FROM
			CMS_NEWS
		WHERE
			homepage_id = #{homepage_id}
		AND	news_idx = #{news_idx}
	</select>
	
	<insert id="addNews">
		<selectKey keyProperty="news_idx" resultType="int" order="BEFORE">
			SELECT NVL(MAX(news_idx),0)+1 FROM CMS_NEWS WHERE homepage_id = #{homepage_id}
		</selectKey>
		
		INSERT INTO
			CMS_NEWS
		(
			news_idx, homepage_id, news_name, sub_news_name, contents,
			print_seq, add_id, add_date, link_url, use_yn
			<if test="server_file_name != null and server_file_name != ''">
			, org_file_name, server_file_name, file_extension, file_size
			</if>
		) VALUES (
			#{news_idx}, #{homepage_id}, #{news_name}, #{sub_news_name}, #{contents},
			#{print_seq}, #{add_id}, SYSDATE, #{link_url}, #{use_yn}
			<if test="server_file_name != null and server_file_name != ''">
			, #{org_file_name}, #{server_file_name}, #{file_extension}, #{file_size}
			</if>
		)
	</insert>
	
	<update id="modifyNews">
		UPDATE 
			CMS_NEWS 
		SET
			news_name = #{news_name},
			sub_news_name = #{sub_news_name},
			contents = #{contents},
			print_seq = #{print_seq},
			link_url = #{link_url},
			use_yn = #{use_yn},
			<if test="server_file_name != null and server_file_name != ''">
			org_file_name = #{org_file_name},
			server_file_name = #{server_file_name},
			file_extension = #{file_extension},
			file_size = #{file_size},
			</if>
			modify_id = #{modify_id},
			modify_date = SYSDATE
		WHERE 
			homepage_id = #{homepage_id}
		AND	news_idx = #{news_idx}
	</update>
	
	<delete id="deleteNews">
		DELETE FROM
			CMS_NEWS
		WHERE
			homepage_id = #{homepage_id}
		AND	news_idx = #{news_idx}
	</delete>
	
	<select id="getUseCnt" resultType="int">
		SELECT
			COUNT(*)
		FROM
			CMS_NEWS
		WHERE
			homepage_id = #{homepage_id}
		AND	use_yn = 'Y'
		<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
		AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
	</select>
	
</mapper>