@charset "utf-8"; 

#main0, #main1, #main2, #main3, #main4, #main5, #main6 {position:relative;width:100%;overflow:hidden;}

#main0 {background: url('../img/main-bg.jpg') no-repeat center top;background-size:cover;}

.main_scroll {position:absolute;top:92%;left:0;width:100%;text-align: center;z-index: 99999;}
.main_scroll .main_scroll_wp {display:inline-block;width:80px;height:102px;background:url('../img/scroll-down.png') no-repeat 0 0;text-indent:-99999em;}
.main_scroll .main_scroll_wp_white {display:inline-block;width:80px;height:102px;background:url('../img/scroll-down.png') no-repeat 0 0;text-indent:-99999em;}

#main1 {}
#main1 .popupzone-box {float:left;width:50%;margin-top:60px;text-align:center;box-sizing:border-box;}
#main1 .popupzone-box h2.title {font-size:40px;color:#000;text-align:center;letter-spacing:-2px;font-weight:bold;padding-bottom:80px;}
#main1 .popZone .bx-controls {text-align:center;width:100%;padding:70px 0 20px;}
#main1 .popZone .bx-pager {position:absolute;text-align:center;bottom:0;width:100%;height:58px;line-height:58px;padding:0;text-align:center;font-size:20px;font-weight:bold;}

#main1 .popZone .bx-start, #main1 .popZone .bx-stop {display:none;}
#main1 .popZone .bx-prev, #main1 .popZone .bx-next {position:absolute;width:58px;height:58px;font-size:0;}
#main1 .popZone .bx-prev  { background-image:url("../img/prev-popzone.png");background-repeat: no-repeat;background-size:initial;bottom:0;left:50%;margin-left:-116px;}
#main1 .popZone .bx-next  { background-image:url("../img/next-popzone.png");background-repeat: no-repeat;background-size:initial;bottom:0;right:50%;margin-right:-116px;}

#main1 .popZone {position:relative;width:765px;margin:0 auto;}
#main1 .popZone ul {display:block;}
#main1 .popZone ul li {display:inline-block;padding:0;margin:0;box-sizing:border-box;}
#main1 .popZone ul li a {display:block;padding:0;margin:0;box-sizing:border-box;}
#main1 .popZone ul li a img {width:370px;height:500px;}

#main1 .notice-box {position:relative;float:right;width:50%;margin-top:60px;box-sizing:border-box;}
#main1 .notice-box h2.title {font-size:40px;color:#000;text-align:center;letter-spacing:-2px;font-weight:bold;padding-bottom:80px;}
#main1 .notice-box > .con {width:765px;margin:0 auto;height:500px;}
#main1 .notice-box > .con li {padding:0 0 10px;border-bottom:1px solid #e1e1e1;}
#main1 .notice-box > .con li a {position:relative;display:block;box-sizing:border-box;font-weight:400;letter-spacing:-0.75px;padding:10px 0;position: relative;word-break:break-all;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;font-size:20px; }
#main1 .notice-box > .con li a:hover{color:#000;}
#main1 .notice-box > .con li a em {text-align:left;color:#fff;font-weight:bold;text-decoration:none;font-style:normal;color:#333333;}
#main1 .notice-box > .con li a span {display:inline-block;font-weight:400;letter-spacing:-1px;box-sizing:border-box;padding:5px 13px 5px;vertical-align:middle;text-align:center;}
#main1 .notice-box > .con li a span.date {font-size:18px;line-height:150%;font-weight:bold;}
#main1 .notice-box > .con li a span.date b {font-size:30px;}
#main1 .notice-box > .con li a span.link {font-size:19px;}
#main1 .notice-box .more-btn {position:relative;font-size:0;text-align:center;padding-top:37px;}


#main2 {position:relative;background:url('../img/main2-bg.jpg') no-repeat center top;background-size:cover;}
#main2 .main2_tit{margin-top:0;}
#main2 h2.title {font-family:'s-core_dream3_light';font-size:40px;color:#000;text-align:center;letter-spacing:-3px;}
#main2 h2.title b {font-family:'s-core_dream6_bold';}
#main2 .tit_text {font-family:'s-core_dream3_light';font-size:30px;color:#000;text-align:center;letter-spacing:1.3px;}
#main2 .search-area {position:absolute;top:60%;left:0;width:100%;text-align:center;z-index:99999;}
#main2 .search-area .main-box {position:relative;width:1260px;margin:0 auto;box-shadow:5px 5px 15px rgba(0,0,0,0.2);}
#main2 .search-area .main-box fieldset{position:relative;overflow:hidden;}
#main2 .search-area .main-box legend {background:#21409a;color:#fff;}
#main2 .search-area .main-box input {border:0;background:#fff;width:100%;padding-left:50px;font-size:20px;color:#666;box-sizing:border-box;}
#main2 .search-area .main-box input {height:75px;line-height:75px;}
#main2 .search-area .main-box button {height:75px;line-height:75px;}
#main2 .search-area .main-box button {position:absolute;width:150px;right:0;top:0;text-align:center;background:url('../img/search-icon.png') no-repeat center center;font-size:0;color:#fff;padding-left:30px;padding-top:2px;font-weight:bold;}

#main3 {position:relative;background:url('../img/main3-bg.jpg') no-repeat center top;background-size:cover;}
#main3 .main2_tit{margin-top:0;}
#main3 h2.title {font-family:'s-core_dream3_light';font-size:40px;color:#000;text-align:center;letter-spacing:-3px;}
#main3 h2.title b {font-family:'s-core_dream6_bold';}
#main3 .tit_text {font-family:'s-core_dream3_light';font-size:30px;color:#000;text-align:center;letter-spacing:1.3px;}

#main3 .cont {padding-top:70px;}
#main3 .cont li {display:inline-block;margin:0;vertical-align:top;}
#main3 .cont li a {display:block;width:100%;height:400px;text-align:left;box-sizing:border-box;padding-top:100px;text-align:center;color:#fff;}
#main3 .cont li a.bgimg001 {background:#f36404;}
#main3 .cont li a.bgimg002 {background:#413b37;}
#main3 .cont li a.bgimg003 {background:#ffffff;}
#main3 .cont li span {display:block;font-size:13px;}
#main3 .cont li span.txt {font-size:14px;line-height:22px;color:#fff;padding:17px 0 0 0;}
#main3 .cont li span.txt .tit {display:block;font-size:25px;color:#fff;font-weight:500;letter-spacing:-1.5px;padding:23px 0 25px;line-height:140%;height:50px;}
#main3 .cont li span.txt .len {padding-top:18px;}

#main3 .cont li a.bgimg002 span.txt p.lib-name, #main3 .cont li a.bgimg001 span.txt .lib-name {color:#fff;}
#main3 .cont li a.bgimg002 span.txt p.len, #main3 .cont li a.bgimg001 span.txt .len {color:#fff;}
#main3 .cont li a.bgimg003 span.txt .tit {color:#222;}

#main3 .cont li span.status {position:absolute;left:20px;top:0;z-index:4;width:60px;height:60px;line-height:60px;background:#fff;color:#222;}
#main3 .cont li a.bgimg003 span.status {background:#a0a0a0;color:#fff;}

#main3 .cultureList .bx-controls {position:absolute;width:100%;left:0;top:50%;z-index:150000000;}
#main3 .cultureList .bx-prev {position:absolute;width:60px;height:60px;font-size:0;left:5px;background:url("../img/popupzone-prev.png") no-repeat 0 0;}
#main3 .cultureList .bx-next {position:absolute;width:60px;height:60px;font-size:0;right:5px;background:url("../img/popupzone-next.png") no-repeat 0 0;}
#main3 .more-btn {position:relative;font-size:0;text-align:center;padding-top:40px;}

#main4 {position:relative;height:100%;}
#main4 .main4_wrap {position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;background:#21409a;}
#main4 .main4_wrap:before {position: absolute;top:0;left:-50%;width:100%;height:100%;background-color:#fff;background-size:initial;content:'';}
#main4 .main4_wrap .recommand-box {float:left;width:50%;}
#main4 .main4_wrap .daegubook-box {float:right;width:50%;}

#main4 .main4_wrap .recommand-box .main2_tit{margin-top:180px;}
#main4 .main4_wrap .recommand-box h2.title {font-family:'s-core_dream3_light';font-size:40px;color:#000;text-align:center;letter-spacing:-3px;}
#main4 .main4_wrap .recommand-box h2.title b {font-family:'s-core_dream6_bold';}
#main4 .main4_wrap .recommand-box .tit_text {font-family:'s-core_dream3_light';font-size:30px;color:#000;text-align:center;letter-spacing:1.3px;}

#main4 .main4_wrap .recommand-box div.title p {font-size:20px;font-weight:normal;color:#222;padding-top:20px;text-align:center;}
#main4 .main4_wrap .recommand-box div.title p select {width:550px;height:55px;padding:0 0 0 20px;border-radius:7px;border:1px solid #222;background:url('../img/recommandsite-arrow-b.png') no-repeat 95% 50%;color:#fff;-webkit-appearance:none;-moz-appearance:none;appearance:none;color:#000;font-size:15px;}
#main4 .main4_wrap .recommand-box div.title p select::-ms-expand {display:none;}
#main4 .main4_wrap .recommand-box .book {position:relative;text-align:center;}
#main4 .main4_wrap .recommand-box .book li {position:relative;display:inline-block;width:256px;height:370px;text-align:center;margin:35px 18px 0 18px;vertical-align:top;}
#main4 .main4_wrap .recommand-box .book li a img {width:256px;height:370px;}
#main4 .main4_wrap .recommand-box .more-btn {position:relative;font-size:0;text-align:center;padding-top:40px;}

#main4 .main4_wrap .daegubook-box .main2_tit{margin-top:180px;padding-bottom:100px;}
#main4 .main4_wrap .daegubook-box h2.title {font-family:'s-core_dream3_light';font-size:40px;color:#fff;text-align:center;letter-spacing:-3px;}
#main4 .main4_wrap .daegubook-box h2.title b {font-family:'s-core_dream6_bold';}
#main4 .main4_wrap .daegubook-box .tit_text {font-family:'s-core_dream3_light';font-size:30px;color:#ffcc00;text-align:center;letter-spacing:1.3px;}
#main4 .main4_wrap .daegubook-box .daegubook {width:600px;margin:0 auto;}
#main4 .main4_wrap .daegubook-box dl dt, #main4 .main4_wrap .daegubook-box dl dd {display:inline-block;}
#main4 .main4_wrap .daegubook-box dl dt p {font-size:19px;color:#fff;line-height:160%;font-family:'s-core_dream2_extralight';}
#main4 .main4_wrap .daegubook-box dl dt p b {font-size:30px;font-weight:800;}
#main4 .main4_wrap .daegubook-box dl dt {width:52%;margin-right:3%;}
#main4 .main4_wrap .daegubook-box dl dd {width:44%;text-align:right;vertical-align:top;}
#main4 .main4_wrap .daegubook-box .more-btn {position:relative;font-size:0;text-align:center;padding-top:50px;}

#main5 {background:#d6c7bd;}
#main5 .main2_tit{margin-top:0;}
#main5 h2.title {font-family:'s-core_dream3_light';font-size:40px;color:#000;text-align:center;letter-spacing:-3px;}
#main5 h2.title b {font-family:'s-core_dream6_bold';}
#main5 .tit_text {font-family:'s-core_dream3_light';font-size:30px;color:#000;text-align:center;letter-spacing:1.3px;}

#main5 .cont {width:100%;padding:30px 0;}
#main5 .cont .bx-viewport {height:480px;}
#main5 .cont li {display:inline-block;width:100%;height:460px;text-align:center;margin:0 0 30px 0;vertical-align:top;box-sizing:border-box;background:#fff;border-radius:7px;padding:50px 0;box-shadow:5px 5px 15px rgba(0,0,0,0.2);}
#main5 .cont li a {display:block;width:98%;margin:0 auto;text-align:center;box-sizing:border-box;}
#main5 .cont li a h3.book-title {height:30px;width:235px;word-break:break-all;margin:15px auto 3px;max-height:35px;overflow:hidden;text-overflow:ellipsis;color:#000;font-weight:bold;font-size:20px;letter-spacing:-2px;text-align:left;}
#main5 .cont li a p.book-desc {width:235px;margin:0 auto;word-break:break-all;font-size:16px;overflow:hidden;text-overflow:ellipsis;letter-spacing:-1px;text-align:left;line-height:120%;}
#main5 .cont li a p.reg-date {width:235px;margin:20px auto 0;color:#757575;word-break:break-all;font-size:15px;overflow:hidden;text-overflow:ellipsis;letter-spacing:-1px;text-align:left;line-height:120%;}
#main5 .cont li a .thumbnail {display:block;height:225px;overflow:hidden;padding:0;border-radius:0;}
#main5 .cont li a .thumbnail > img, #main5 .cont li a .thumbnail a > img {height:100%;width:235px;}
#main5 .bx-prev {position:absolute;left:0;top:50%;width:61px;height:61px;font-size:0;background:url('../img/popupzone-prev.png') no-repeat 0 0;}
#main5 .bx-next {position:absolute;right:0;top:50%;width:61px;height:61px;font-size:0;background:url('../img/popupzone-next.png') no-repeat 0 0;}
#main5 .bx-start, #main5 .bx-stop {display:none;} 

#main6 {background: url('../img/main6-bg.jpg') no-repeat center top;background-size:cover;}
#main6 .main2_tit{margin-top:0;}
#main6 h2.title {font-family:'s-core_dream3_light';font-size:40px;color:#fff;text-align:center;letter-spacing:-3px;}
#main6 h2.title b {font-family:'s-core_dream6_bold';}
#main6 .tit_text {font-family:'s-core_dream3_light';font-size:30px;color:#fff;text-align:center;letter-spacing:1.3px;}
#main6 .mIcon {position:relative;width:80%;margin:0 auto;padding-top:160px;}
#main6 .mIcon ul {overflow:hidden;}
#main6 .mIcon ul li {float:left;width:16.66666%;box-sizing:border-box;margin:0;padding:0;}
#main6 .mIcon ul li a {display:block;width:100%;height:100%;padding:0;margin:0;text-align:center;font-size:20px;font-weight:bold;letter-spacing:-1px;color:#fff;box-sizing:border-box;transition:0.5s;}
#main6 .mIcon ul li a:hover {-webkit-transform:transform:translate(0, -10px);-moz-transform:translate(0, -10px);-ms-transform:translate(0, -10px);-o-transform:translate(0, -10px);transform:translate(0, -10px);}
#main6 .mIcon ul li a img {padding:0;margin:0;padding-bottom:10px;}
#main6 .mBtn {position:relative;width:100%;text-align:Center;padding-top:160px;}
#main6 .mBtn ul li {display:inline-block;border:1px solid #b9b9ba;width:25%;}
#main6 .mBtn ul li a {display:block;font-size:25px;color:#fff;padding:35px 0;width:100%;}


/*푸터*/
#foot_section .mFooter {text-align:left;background:#212121;}
#foot_section .mFooter .middle {border-bottom:1px solid #393939;}
#foot_section .mFooter .middle .info {height:85px;line-height:85px;}
#foot_section .mFooter .middle .info a {vertical-align:middle;display:inline-block;zoom:1;*display:inline;padding:0 20px;color:#b0b0b0;}
#foot_section .mFooter .bottom {padding:25px 0;}
#foot_section .mFooter .bottom p {display:block;padding-bottom:5px;}
#foot_section .mFooter .bottom p em {font-style:normal;color:#999999;}
#foot_section .mFooter .bottom p.copyright {color:#999999;}

#foot_section .mFooter .bottom .site_link {position:absolute;width:505px;right:0;top:0;}
#foot_section .mFooter .bottom .site_link > div {display:inline-block;float:left;}
#foot_section .mFooter .bottom .site_link div > div{width:200px;}
#foot_section .mFooter .bottom .site_link div > div,
#foot_section .mFooter .bottom .site_link a.btn {height:57px;line-height:57px;z-index:100;}
#foot_section .mFooter .bottom .site_link a.btn {padding:0 10px;border-radius:0;background:transparent;border:1px solid #393939;color:#fff;box-sizing:border-box;}
#foot_section .mFooter .bottom .site_link a.btn:hover,
#foot_section .mFooter .bottom .site_link a.btn:focus{background:#7b8294}

#foot_section .mFooter .site_link > div > div,
#foot_section .mFooter .site_link > div > div {position:relative;display:inline-block;zoom:1;*display:inline;margin:0;vertical-align:middle;margin-right:-5px;}
#foot_section .mFooter .site_link > div > div > a.fsite,
#foot_section .mFooter .site_link > div > div > a.fsite{display:block;padding:0 8px;height:55px;line-height:55px;border-right-width:0;text-align:left;border-left:1px solid #393939;border-top:1px solid #393939;border-bottom:1px solid #393939;color:#fff;}
#foot_section .mFooter .site_link > div > div > ul,
#foot_section .mFooter .site_link > div > div > ul{position:absolute;bottom:56px;left:0;width:100%;text-align:left;border-top:1px solid #ccc;background:#fff}
#foot_section .mFooter .site_link > div > div > ul,
#foot_section .mFooter .site_link > div > div > ul{overflow-y:auto;border-right:1px solid #ccc}
#foot_section .mFooter .site_link > div > div > ul > li,
#foot_section .mFooter .site_link > div > div > ul > li{line-height:25px;border-left:1px solid #ccc}
#foot_section .mFooter .site_link > div > div > ul > li > a,
#foot_section .mFooter .site_link > div > div > ul > li > a{color:#666;display:block;padding:3px 6px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#foot_section .mFooter .site_link > div > div > a > span,
#foot_section .mFooter .site_link > div > div > a > span{display:inline-block;zoom:1;*display:inline;vertical-align:middle;line-height:28px;height:28px;}
#foot_section .mFooter .site_link > div > div > a > span.f1,
#foot_section .mFooter .site_link > div > div > a > span.f1{display:block;width:100%;height:55px;line-height:55px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
#foot_section .mFooter .site_link > div > div > a > span.f2,
#foot_section .mFooter .site_link > div > div > a > span.f2{position:absolute;right:7px;top:0;width:20px;height:55px;line-height:55px;}
#foot_section .mFooter .site_link > div > div > a > span > i,
#foot_section .mFooter .site_link > div > div > a > span > i{border-color:#888 transparent transparent transparent;border-style:solid;border-width:5px 4px 0 4px;width:0;height:0;left:50%;position:absolute;top:50%}
#foot_section .mFooter .site_link > div > div > a > span > i,
#foot_section .mFooter .site_link > div > div > a:hover > span > i,
#foot_section .mFooter .site_link > div > div > a > span > i,
#foot_section .mFooter .site_link > div > div > a:hover > span > i{margin-top:-2px}
#foot_section .mFooter .site_link > div > div > a.active > span > i,
#foot_section .mFooter .site_link > div > div > a.active > span > i{border-color:transparent transparent #888 transparent;border-width:0 4px 5px 4px}
#foot_section .mFooter .site_link > div > div > ul > li > a.disabled,
#foot_section .mFooter .site_link > div > div > ul > li > a.disabled{color:#999}
#foot_section .mFooter .site_link > div > div > ul > li > a:hover,
#foot_section .mFooter .site_link > div > div > ul > li > a:hover{background:#5897fb;color:#fff;}

/**/
#s_foot_section .sFooter {}
#s_foot_section .sFooter .f_menu {background:#1a1c20;height:60px;line-height:60px;}
#s_foot_section .sFooter .f_menu .in {width:1200px;margin:0 auto;}
#s_foot_section .sFooter .f_menu .in ul {}
#s_foot_section .sFooter .f_menu .in ul li {display:inline-block;margin-right:18px;}
#s_foot_section .sFooter .f_menu .in ul li a {display:block;font-size:15px;color:#ccc;transition:all 0.2s;}
#s_foot_section .sFooter .f_menu .in ul li a:hover,
#s_foot_section .sFooter .f_menu .in ul li:first-child a:hover {color:#466db8}
#s_foot_section .sFooter .f_menu .in ul li:first-child a {color:#e85c31}
#s_foot_section .sFooter .f_info{background:#121316;padding:30px 0 50px;}
#s_foot_section .sFooter .f_info .in {width:1200px;margin:0 auto;position:relative;}
#s_foot_section .sFooter .f_info .in ul li {margin-bottom:1px;color:#aaa;}
#s_foot_section .sFooter .f_info .in ul li br {display:none;}
#s_foot_section .sFooter .f_info .in ul li strong {display:inline-block;width:55px;height:22px;line-height:23px;text-align:center;border:1px solid #545454;margin-right:20px;font-size:inherit;font-weight:400;}
#s_foot_section .sFooter .f_info .in ul li span.tel {font-size:14px;color:#aaa;margin-left:20px;}
#s_foot_section .sFooter .f_info .in ul li span.fax {font-size:14px;color:#aaa;margin-left:20px;}
#s_foot_section .sFooter .f_info .in .copyright {font-size:15px;color:#aaa;padding-top:20px;}
#s_foot_section .sFooter .f_info .in .f_logo {position:absolute;top:0;right:0;}

@media all and (max-width:1540px){

	#main1 .popupzone-box {float:left;width:50%;margin-top:100px;text-align:center;box-sizing:border-box;}
	#main1 .popupzone-box h2.title {font-size:40px;color:#000;text-align:center;letter-spacing:-2px;font-weight:bold;padding-bottom:10px;}
	#main1 .popZone {position:relative;width:625px;margin:0 auto;}
	#main1 .popZone ul li a img {width:300px;height:420px;}
	#main1 .notice-box {position:relative;float:right;width:50%;margin-top:100px;box-sizing:border-box;}
	#main1 .notice-box h2.title {font-size:40px;color:#000;text-align:center;letter-spacing:-2px;font-weight:bold;padding-bottom:10px;}
	#main1 .notice-box .more-btn {position:relative;font-size:0;text-align:center;padding-top:37px;}
	#main1 .notice-box > .con {width:625px;margin:0 auto;}

	#main3 .cont {padding-top:30px;}
	#main3 .cont li a {height:340px;padding-top:30px;}
	#main3 .cultureList .bx-controls {position:absolute;width:100%;left:0;top:85%;z-index:150000000;}

	#main5 .cont li {height:420px;text-align:center;}
	#main5 .bx-prev {left:49px;}
	#main5 .bx-next {right:49px;}

	#main6 .mIcon {position:relative;width:90%;margin:0 auto;padding-top:80px;}
	#main6 .mIcon ul {overflow:hidden;}
	#main6 .mIcon ul li {float:left;width:16.66666%;box-sizing:border-box;}
	#main6 .mBtn {padding-top:80px;}
	#main6 .mBtn ul li {width:30%;}
}

@media all and (max-width:1260px){
	#main1 .popupzone-box h2.title {font-size:30px;}
	#main1 .notice-box h2.title {font-size:30px;}
	#main1 .popZone ul li a img {width:280px;height:400px;}
	#main2 h2.title {font-size:30px;}
	#main2 .tit_text {font-size:20px;}
	#main3 h2.title {font-size:30px;}
	#main3 .tit_text {font-size:20px;}
	#main3 .cont li a {height:300px;padding-top:30px;}
	#main3 .cultureList .bx-controls {top:45%;}
	#main3 .cultureList .bx-prev {left:49px;}
	#main3 .cultureList .bx-next {right:49px;}
	#main4 .main4_wrap .recommand-box h2.title {font-size:30px;}
	#main4 .main4_wrap .recommand-box .tit_text {font-size:20px;}
	#main4 .main4_wrap .daegubook-box h2.title {font-size:30px;}
	#main4 .main4_wrap .daegubook-box .tit_text {font-size:20px;}
	#main5 h2.title {font-size:30px;}
	#main5 .tit_text {font-size:20px;}
	#main6 h2.title {font-size:30px;}
	#main6 .tit_text {font-size:20px;}

	#main2 .search-area .main-box {width:90%;margin:0 auto;}

	#main1 .popZone {position:relative;width:100%;margin:0 auto;}
	#main1 .notice-box > .con {width:100%;margin:0 auto;}
}

@media all and (max-width:1024px){
	h1 img{display:none}
	#header {top:0;}
	#header h1 {position:relative;height:auto;position:absolute;left:0;}
	#header h1 img {display:block}

	.m-menu a {position:absolute;right:10px;display:inline-block;text-align:center;vertical-align:middle;color:#fff;}
	.m-menu a i{font-size:30px;width:45px;height:45px;line-height:45px;}

	.main .section{margin:0}
	.main1 .section{margin:0}

	.tnb .util, .tnb .libSite, .Gnb, #main5_banner{display:none}
	.mmode {display:block;}
	.main_scroll {display:none;}
	.webBr {display:none;}

	#main0 {height:500px;margin-top:0;}

	#main1 .popupzone-box {float:none;width:100%;margin-top:0;}
	#main1 .popZone {width:565px;margin:0 auto;}
	#main1 .notice-box {float:none;width:100%;margin-top:0;}
	#main1 .notice-box > .con {height:auto;}
	#main2 .search-area {position:relative;width:96%;margin:0 auto;text-align:center;z-index:99999;}

	#main3 .cultureList .bx-prev {left:18px;}
	#main3 .cultureList .bx-next {right:18px;}

	#main4 .main4_wrap {position:relative;top:0;left:0;width:100%;height:100%;z-index:1;background:transparent;}
	#main4 .main4_wrap:before {display:none;}
	#main4 .main4_wrap .recommand-box {float:none;width:100%;}
	#main4 .main4_wrap .daegubook-box {float:none;width:100%;background:#21409a;}
	#main4 .main4_wrap .recommand-box .main2_tit{margin-top:0;}
	#main4 .main4_wrap .daegubook-box .main2_tit{margin-top:0;padding-bottom:30px;}
}

@media all and (max-width:768px){
	#main1 .popZone {width:525px;margin:0 auto;}
	#main1 .popZone ul li a img {width:260px;height:370px;}
}

@media all and (max-width:650px){
	.webList {display:none}
	.mobileList {display:block}

	.mobileBr {display:block;}
}

@media all and (max-width:550px){
	#main1 .tabMenuS {width:75%;margin:0 auto 10px;}
	#main2 .mIcon ul li a span {padding-left:30%;}
	#main3 .tabMenuS {width:75%;margin:0 auto 20px;}

	#foot_section .mFooter .top {height:auto;line-height:55px;border-top:1px solid #ebebeb;border-bottom:1px solid #ebebeb;}
	#foot_section .mFooter .top .site_link {}
	#foot_section .mFooter .top .site_link > div {display:inline-block;float:left;width:100%;border-bottom:1px solid #e5e5e5;background:#f1f1f1;}
	#foot_section .mFooter .top .site_link > div:last-child{border-bottom:none;}
	#foot_section .mFooter .top .site_link div > div,
	#foot_section .mFooter .top .site_link a.btn {display:inline-block;float:left;}
	#foot_section .mFooter .top .site_link div > div {width:85%;}
	#foot_section .mFooter .top .site_link a.btn{width:15%;text-align:center;font-size:13px;}
	#foot_section .mFooter .site_link > div > div > a.fsite{border:none;}
	#foot_section .mFooter .site_link > div > div > a > span{font-size:13px;}
	#foot_section .mFooter .middle {overflow-x:scroll;padding:10px 0 0 0;}
	#foot_section .mFooter .middle .info {float:none;width:550px;margin:10px auto;text-align:center;}
	#foot_section .mFooter .middle .info a {font-size:13px;}
	#foot_section .mFooter .bottom {padding:15px 0;}
	#foot_section .mFooter .bottom p em {font-size:13px;}
	#foot_section .mFooter .bottom p.copyright {font-size:12px;}
}

@media all and (max-width:525px){
	#main1 .popZone {width:260px;margin:0 auto;}
}

@media all and (max-width:425px){	

	#foot_section .mFooter .top .site_link{width:auto;}
}

@media all and (max-width:320px){
	#main2 .mIcon ul li a span {padding-left:18%;}
}
