@charset "utf-8";

#header .head{position:relative;z-index:3;clear:both}
#header .sub-menu{position:relative;z-index:2;clear:both;background:url('../img/submenu-bg.png') repeat-x left center;height:90px;}
#header .sub-menu li {display:inline-block;vertical-align:middle;}
#header .sub-menu li:nth-child(2n) {width:94px;height:90px;background:url('../img/sub-menu-guide-line.png') no-repeat left center;}
#header .sub-menu li:first-child {padding-left:0;}
#header .sub-menu li:last-child {width:50%;}
#header .sub-menu li a {display:block;line-height:90px;color:#fff;font-size:20px;font-weight:bold;padding-left:69px;}
#header .sub-menu li a.quick-btn01 {background:url('../img/submenu-icon01.png') no-repeat left center;}
#header .sub-menu li a.quick-btn02 {background:url('../img/submenu-icon02.png') no-repeat left center;}

#header .sub-menu li .search-box {width:100%;}
#header .sub-menu li .search-box fieldset{position:relative;overflow:hidden}
#header .sub-menu li .search-box legend {background:#21409a;color:#fff;}
#header .sub-menu li .search-box input {border:0;background:transparent;width:100%;padding-left:18px;font-size:17px;color:#fff;border-radius:0;}
#header .sub-menu li .search-box input::placeholder {color:#fff;}
#header .sub-menu li .search-box input:focus{outline:none}
#header .sub-menu li .search-box input,
#header .sub-menu li .search-box button {height:52px;line-height:51px;}
#header .sub-menu li .search-box button {position:absolute;right:0;width:52px;color:#fff;text-align:center;background:rgba(0,0,0,0.25);font-size:16px;border-radius:26px;}
#header .sub-menu li .search-box .main-box {width:100%;border:0;overflow:hidden;}
#header .sub-menu li .search-box .box0 {position:absolute;top:10px;left:0;width:32px;}
#header .sub-menu li .search-box .box1 select {width:100%;border:0;-webkit-appearance:none;-moz-appearance:none;font-size:17px;height:52px;line-height:51px;padding-left:10px;background:transparent;}
#header .sub-menu li .search-box .box1 select::-ms-expand {display:none;}
#header .sub-menu li .search-box .box1 {float:left;width:100%;margin-left:38px;box-sizing:border-box;}

.main {position:relative;}

.main1,.main5,.main6,.main7_banner{overflow:hidden}

.main0 {position:relative;background:url('../img/main-visual.jpg') repeat-x center center;width:100%;height:595px;z-index:30;}
.main0 .popZone {position:relative;width:400px;padding-top:70px;}
.main0 .popZone li{text-align:left;padding:0;margin:0;}
.main0 .popZone li a {display:inline-block;}
.main0 .popZone li a img {width:400px;height:485px;border-radius:20px;}
.main0 .popZone .bx-controls {position:absolute;top:40px;left:50%;margin-left:-127px;z-index:150000000;}
.main0 .popZone .bx-prev, 
.main0 .popZone .bx-next, 
.main0 .popZone .bx-start,
.main0 .popZone .bx-stop {position:absolute;width:60px;height:60px;font-size:0;background-image:url("/resources/homepage/dgportal/img/popupzone-arr.png");background-repeat: no-repeat; background-position:0 0;background-size:initial;}
.main0 .popZone .bx-pager {position:absolute;text-align:center;left:195px;width:60px;height:60px;line-height:60px;background:url('/resources/homepage/dgportal/img/popupzone-pager.png') no-repeat center center;color:#fff;}
.main0 .popZone .bx-prev { left:0px; }
.main0 .popZone .bx-next { left:65px; background-position:-60px 0; }
.main0 .popZone .bx-start { left:130px; background-position:-180px 0; }
.main0 .popZone .bx-stop { left:130px; background-position:-120px 0;}


.main1 {position:relative;z-index:30;}
.main1 .quickmenu {padding:30px 0;}
.main1 .quickmenu .section {position:relative;width:1260px;margin:0 auto;text-align:center;overflow:hidden}
.main1 .quickmenu li {display:inline-block;float:left;text-align:center;width:210px;height:145px;}
.main1 .quickmenu li a {display:block;background-position:center center;background-repeat:no-repeat;width:100%;height:100px;margin:0 auto;font-size:15px;color:#222;font-weight:bold;letter-spacing:-1px;font-size:17px;transition:all 0.3s}
.main1 .quickmenu li a span {display:block;position:relative;top:110px}


.main2 {position:relative;background:url('../img/main2-bg.jpg') no-repeat center center;height:500px;z-index:40;}
.main2 .main2box1 {float:left;width:50%;box-sizing:border-box;}
.main2 .main2box2 {float:right;width:50%;box-sizing:border-box;}
.main2 .title {text-align:center;}
.main2 .title h2 {font-size:33px;font-weight:bold;color:#222;padding-top:65px;}
.main2 .title p {font-size:20px;font-weight:normal;color:#222;padding-top:20px;}
.main2 .title p select {width:500px;height:48px;padding:0 0 0 20px;border-radius:7px;border:1px solid #222;background:url('../img/recommandsite-arrow-b.png') no-repeat 95% 50%;color:#fff;-webkit-appearance:none;-moz-appearance:none;appearance:none;color:#000;font-size:15px;}
.main2 .title p select::-ms-expand {display:none;}
.main2 .main2box1 .cont {padding-top:80px;}
.main2 .main2box1 .cont li {display:inline-block;width:31.5%;text-align:center;}
.main2 .main2box1 .cont li.txt-line{width:1px;height:180px;margin:0;background:#fedd00;display:inline-block;zoom:1;*display:inline}
.main2 .main2box1 .cont li a {display:block;color:#222;}
.main2 .main2box1 .cont li a:hover {font-weight:bold;}
.main2 .main2box1 .cont li a strong, .main2 .main2box1 .cont li a span {display:block;}
.main2 .main2box1 .cont li a strong {width:140px;height:150px;margin:0 auto;/*transition:all 0.3s*/}
.main2 .main2box1 .cont li a strong.quick-01 {background:url('../img/quick-icon01.png') no-repeat center center;}
.main2 .main2box1 .cont li a strong.quick-02 {background:url('../img/quick-icon02.png') no-repeat center center;}
.main2 .main2box1 .cont li a strong.quick-03 {background:url('../img/quick-icon03.png') no-repeat center center;}
/*.main2 .main2box1 .cont li a:hover strong {-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-ms-transform:rotateY(180deg);-o-transform:rotateY(180deg);transform:rotateY(180deg);}
.main2 .main2box1 .cont li a span {font-size:18px;font-weight:bold;color:#222;}*/

.main2 .main2box2 .book {position:relative;text-align:center;}
.main2 .main2box2 .book li {position:relative;display:inline-block;width: 228px;height: 325px;text-align:center;margin: 45px 18px 0 18px;vertical-align:top;}
.main2 .main2box2 .book li img {width: 220px;height: 313px;}
.main2 .main2box2 .book li img.book-line {position:absolute;left: 7px;top:0;width:100%;height: 314px;}
.main2 .main2box2 .book li img.book-shadow {position:absolute;right:-3px;top: -9px;width:100%;height: 325px;}

.main3 {position:relative;background:url('../img/main3-bg.jpg') no-repeat center center;height:625px;z-index:30;box-sizing:border-box;padding:130px 0 0 0;}
.main3 .title {float:right;width:27%;font-size:20px;color:#000;}
.main3 .title b {display:block;font-size:35px;padding:8px 0;}
.main3 .title em {font-size:22px;text-decoration:none;font-style:normal}
.main3 .cont {width:73%;}
.main3 .cont li {display:inline-block;margin:0;vertical-align:top;}
.main3 .cont li a {display:block;width:100%;height:290px;text-align:left;border-radius:20px;;box-sizing:border-box;padding:18px;text-align:center;}
.main3 .cont li a.bgimg001 {background:url('/resources/homepage/dgportal/img/cu01.jpg') no-repeat center center;}
.main3 .cont li a.bgimg002 {background:url('/resources/homepage/dgportal/img/cu02.jpg') no-repeat center center;}
.main3 .cont li a.bgimg003 {background:url('/resources/homepage/dgportal/img/cu03.jpg') no-repeat center center;}
.main3 .cont li a.bgimg004 {background:url('/resources/homepage/dgportal/img/cu04.jpg') no-repeat center center;}
.main3 .cont li a.bgimg005 {background:url('/resources/homepage/dgportal/img/cu05.jpg') no-repeat center center;}
.main3 .cont li a.bgimg006 {background:url('/resources/homepage/dgportal/img/cu06.jpg') no-repeat center center;}
.main3 .cont li a.bgimg007 {background:url('/resources/homepage/dgportal/img/cu07.jpg') no-repeat center center;}
.main3 .cont li a.bgimg008 {background:url('/resources/homepage/dgportal/img/cu08.jpg') no-repeat center center;}
.main3 .cont li a:hover {}
.main3 .cont li span {display:block;font-size:13px;}
.main3 .cont li span.txt {font-size:14px;line-height:22px;color:#fff;padding:17px 0 0 0;}
.main3 .cont li span.txt .tit {display:block;font-size:26px;color:#fff;font-weight:600;padding:23px 0 25px;line-height:140%;height:50px;}
.main3 .cont li span.txt .len {padding-top:18px;}
.main3 .cont ul li span.btnn {display:block;position:absolute;bottom:14px;right:14px;color:#fff;border-radius:50px;width:55px;height:55px;line-height:55px;text-align:center;padding:0;letter-spacing:0;z-index:91919113;}
.main3 .cultureList .bx-controls {position:absolute;bottom:70px;left:50%;z-index:150000000;}
.main3 .cultureList .bx-prev {position:absolute;width:60px;height:60px;font-size:0;right:5px;bottom:0;background:url("/resources/homepage/dgportal/img/popupzone-arr.png") no-repeat 0 0;}
.main3 .cultureList .bx-next {position:absolute;width:60px;height:60px;font-size:0;left:5px;bottom:0;background:url("/resources/homepage/dgportal/img/popupzone-arr.png") no-repeat -60px 0;}


.main4 {position:relative;background-image:url('../img/main4-bg.jpg');background-repeat: no-repeat;background-position:center center;position:relative;width:100%;background-attachment:fixed;height:625px;z-index:32;}
.section_story {}
.section_story .title_bx {color:#fff;font-weight:200;font-size:33px;position:relative;top: -50px;letter-spacing:-1px;background:url("/resources/homepage/dgportal/img/notice-title-bg.png") no-repeat 0 0;padding:60px 30px 50px 30px;}
.section_story:before { z-index:1;content:'';border-left:1px solid rgba(255, 255, 255, 0.5);position:absolute;top:0;left:50%;height:100%;display:block; }
.section_story .story_list { position:relative;z-index:2;width:50%;display:inline-block;margin-top:30px; }
.section_story .story_list li { position:relative;padding-right:60px;line-height:40px;padding:15px 60px 15px 25px; background:url('/resources/homepage/dgportal/img/notice-dot.png') no-repeat left 28%; }
.section_story .story_list .link {position:absolute;right:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);height:9px;width:9px;border-radius:50%;margin-right:-5px;background-color:#fff;}
.section_story .story_list .more-notice {position:absolute;right:0;top:-100px;height:77px;width:77px;border-radius:50%;margin-right:-38px;}
.section_story .story_list .wrap { color:#fff;display:block;padding-right:75px;position:relative;filter:alpha(opacity=50);}
.section_story .story_list .wrap:hover, .section_story .story_list .wrap.on { filter: alpha(opacity=100); opacity: 1; }
.section_story .story_list .wrap.on {  }
.section_story .story_list .wrap.on .tit { font-size:22px;font-weight:bold; }
.section_story .story_list .wrap.on .tit.titlenambu { color:#00c9d3; }		/*남부*/
.section_story .story_list .wrap.on .tit.titleduryu { color:#f7aa00; }		/*두류*/
.section_story .story_list .wrap.on .tit.titledongbu { color:#5da114; }		/*동부*/
.section_story .story_list .wrap.on .tit.titlebukbu { color:#1e39b4; }		/*북부*/
.section_story .story_list .wrap.on .tit.titlejungang { color:#4373b9; }	/*중앙*/
.section_story .story_list .wrap.on .tit.titleseobu { color:#ec008c; }		/*서부*/
.section_story .story_list .wrap.on .tit.titlesuseong { color:#ed145b; }	/*수성*/
.section_story .story_list .wrap.on .tit.titledalseong { color:#8c60a5; }	/*달성*/
.section_story .story_list .wrap.on .tit.title228sml { color:#e83e30; }		/*228기념*/
.section_story .story_list .wrap.on .tit.title228lib{ color:#006958; }		/*228민주*/

.section_story .story_list .link {line-height:60px;height:60px;width:60px;margin-right:-30px;color:#fff;font-size:15px;text-align:center;}
.section_story .story_list .link.librarynambu {background-color:#00c9d3;}
.section_story .story_list .link.libraryduryu {background-color:#f7aa00;}
.section_story .story_list .link.librarydongbu {background-color:#5da114;}
.section_story .story_list .link.librarybukbu {background-color:#1e39b4;}
.section_story .story_list .link.libraryjungang {background-color:#4373b9;}
.section_story .story_list .link.libraryseobu {background-color:#ec008c;}
.section_story .story_list .link.librarysuseong {background-color:#ed145b;}
.section_story .story_list .link.librarydalseong {background-color:#8c60a5;}
.section_story .story_list .link.library228sml {background-color:#e83e30;}
.section_story .story_list .link.library228lib {background-color:#006958;}

/*.section_story .story_list .wrap.on + .link:before { font-family:xeicon!important;display:inline-block;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;content:""; }*/
.section_story .story_list .wrap .tit { font-size:17px;letter-spacing:-0.5px;font-weight:500;display:block;word-wrap:normal;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis; }
.section_story .story_list .wrap .date { display:block;font-weight:300;font-size:16px; }

.site-recomender {position:absolute;top:0;right:0;width:50%;height:100%;box-sizing:border-box;}
.site-recomender .site-recomender-inbox {width:630px;height:100%;text-align:center;}
.site-recomender .site-recomender-inbox .title h2 {width:60%;margin:0 auto;font-size:33px;color:#fff;padding:180px 0 15px 0;border-bottom:1px solid #888380;}
.site-recomender .site-recomender-inbox .title p {font-size:20px;font-weight:normal;color:#fff;padding-top:20px;}
.site-recomender .site-recomender-inbox .title p select {width:300px;height:48px;padding:0 0 0 20px;border-radius:7px;border:1px solid #fff;background:url('../img/recommandsite-arrow-w.png') no-repeat 95% 50%;color:#fff;-webkit-appearance:none;-moz-appearance:none;appearance:none;color:#000;font-size:15px;}
.site-recomender .site-recomender-inbox .title p select::-ms-expand {display:none;}
.site-recomender .site-recomender-inbox .calendar-box {text-align:center;padding:30px 0;}
.site-recomender .site-recomender-inbox .calendar-box span {display:inline-block;background:#ffffff;width:43px;height:43px;line-height:44px;color:#222;border-radius:50%;font-weight:bold;}



.main5 {position:relative;background:#f4f4f4;box-sizing:border-box;padding:20px 0;}
.main5 .main7_banner {margin:7px 0;box-sizing:border-box;}
.main5 .main7_banner a {color:#8b8b8b;}
.main5 .main7_banner a img {width:187px;border:1px solid #e3e3e3;}

.mobileBr {display:none;}


@media all and (max-width:1920px){

}

@media all and (max-width:1800px){
	.main3 .title {width:20%;}
	.main3 .cont {width:80%;}
}

@media all and (max-width:1650px){
	.main3 .title {width:15%;}
	.main3 .cont {width:85%;}
}

@media all and (max-width:1550px){
	.main3 {padding:70px 0 20px 0;}
	.main3 .title {float:none;width:100%;text-align:center;}
	.main3 .title a, .main3 .title em {display:none;}
	.main3 .title b {padding:8px 0 0 0;}
	.main3 .cont {float:none;width:100%;}
	.main3 .cultureList .bx-controls {bottom:30px;}
}

@media all and (max-width:1279px){

}

@media all and (max-width:1260px){
	.section {width:100%;}
	.main1 .quickmenu .section {width:100%;margin:0;}
	.main1 .quickmenu li {width:16.3%;}

	.site-recomender .site-recomender-inbox {width:100%;}

	#header .head{position:relative;z-index:3;clear:both}
	#header .sub-menu{position:relative;z-index:2;clear:both;background:url('../img/submenu-bg.png') repeat-x left center;height:90px;}
	#header .sub-menu li {display:inline-block;vertical-align:middle;}
	#header .sub-menu li:nth-child(2n) {width:94px;height:90px;background:url('../img/sub-menu-guide-line.png') no-repeat left center;}
	#header .sub-menu li:first-child {padding-left:0;}
	#header .sub-menu li:last-child {width:45%;}
	
}

@media all and (max-width:1130px){
	#header .sub-menu li:last-child {width:40%;}

	.main2 .main2box2 .book {position:relative;text-align:center;}
	.main2 .main2box2 .book li {position:relative;display:inline-block;width:41%;text-align:center;margin:25px 10px;vertical-align:top;}
	.main2 .main2box2 .book li img {width:100%;height:auto;}
	.main2 .main2box2 .book li img.book-line, .main2 .main2box2 .book li img.book-shadow {display:none;}

	.main3 {z-index:30;box-sizing:border-box;padding:80px 0 0 0;}
}

@media all and (max-width:1024px){
	.main4 {background-image:url('../img/main4-bg.jpg');background-repeat:no-repeat;background-position:center center;width:100%;background-attachment:scroll;}
}

@media all and (max-width:1000px){

	#header .sub-menu li {display:none;}
	#header .sub-menu li:last-child {display:inline-block;vertical-align:middle;box-sizing:border-box;width:100%;padding:18px 10px;}

	h1 img{display:none}

	#header h1 {position:relative;height:auto;position:absolute;top:0;left:0;width:50px}
	#header h1 img {display:block}
	#header h1,
	#header h1 a {width:auto}

	.m-menu a {display:inline-block;text-align:center;vertical-align:middle;margin-top:7px;}
	.m-menu a i{font-size:30px;width:55px;height:45px;line-height:45px}

	.tnb .util,
	.Gnb,
	.main7_banner{display:none}
	.mmode{display:block}

	.qmobileBr {display:block;}

	.main1 .quickmenu li {width:33.333333%;height:145px;}

	.main2 {height:auto;}
	.main2 .title {text-align:center;}
	.main2 .title h2 {font-size:27px;font-weight:bold;color:#222;padding-top:35px;}
	.main2 .title p {font-size:17px;font-weight:normal;color:#222;padding-top:5px;}
	.main2 .title p select {width:90%;height:48px;padding:0 0 0 20px;border-radius:7px;border:1px solid #222;background:url('../img/recommandsite-arrow-b.png') no-repeat 95% 50%;color:#fff;-webkit-appearance:none;-moz-appearance:none;appearance:none;color:#000;font-size:15px;}
	.main2 .title p select::-ms-expand {display:none;}

	.main2 .main2box1 .cont {padding:60px 0 20px;text-align:center;}
	.main2 .main2box1 .cont li {display:inline-block;width:30%;}
	.main2 .main2box1 .cont li a strong {width:100%;height:150px;margin:0 auto;}
	.main2 .main2box1 .cont li a strong.quick-01 {background:url('../img/quick-icon01.png') no-repeat center center;background-size:70%;}
	.main2 .main2box1 .cont li a strong.quick-02 {background:url('../img/quick-icon02.png') no-repeat center center;background-size:70%;}
	.main2 .main2box1 .cont li a strong.quick-03 {background:url('../img/quick-icon03.png') no-repeat center center;background-size:70%;}
	.main2 .main2box2 .book li {position:relative;display:inline-block;width:41%;height:auto;text-align:center;margin:25px 10px;vertical-align:top;}
	.main3 {z-index:30;box-sizing:border-box;padding:60px 0 0 0;}
	.main3 .title {float:none;width:100%;text-align:center;font-size:17px;}
	.main3 .title b {font-size:27px;}
	.main3 .cultureList .bx-controls {bottom:40px;}

	.main5 {display:none;}
}

@media all and (max-width:900px){

}

@media all and (max-width:768px){
	.main0 .popZone {position:relative;width:100%;padding-top:70px;margin:0 auto;}
	.main0 .popZone li{text-align:center;padding:0;margin:0;}
	.main0 .popZone li a {display:inline-block;}
	.main0 .popZone li a img {width:400px;height:485px;border-radius:20px;margin:0 auto;}
	.main0 .popZone .bx-controls {position:absolute;top:40px;left:50%;margin-left:-127px;z-index:150000000;}


	.main2 {background:none;height:auto;}
	.main2 .main2box1 {float:none;width:100%;background:url('../img/main2-mobile-bg01.png') no-repeat left center;background-size:cover;}
	.main2 .main2box2 {float:none;width:100%;background:url('../img/main2-mobile-bg02.png') no-repeat left center;background-size:cover;height:auto;}
	.main2 .main2box1 .cont {padding-top:20px;}
	.main2 .main2box1 .cont li a strong {width:140px;height:150px;margin:0 auto;}
	.main2 .main2box1 .cont li a strong.quick-01 {background:url('../img/quick-icon01.png') no-repeat center center;background-size:70%;}
	.main2 .main2box1 .cont li a strong.quick-02 {background:url('../img/quick-icon02.png') no-repeat center center;background-size:70%;}
	.main2 .main2box1 .cont li a strong.quick-03 {background:url('../img/quick-icon03.png') no-repeat center center;background-size:70%;}

	.main2 .main2box2 .book {position:relative;text-align:center;}
	.main2 .main2box2 .book li {position:relative;display:inline-block;width:41%;height:auto;text-align:center;margin:25px 10px;vertical-align:top;}
	.main2 .main2box2 .book li img {width:100%;}
	.main2 .main2box2 .book li img.book-line, .main2 .main2box2 .book li img.book-shadow {display:none;}

	.main3 {z-index:30;box-sizing:border-box;padding:30px 0 0 0;height:550px;}

	.main4 {height:auto;}
	.section_story .title_bx {font-weight:600;font-size:25px;top:20px;box-sizing:border-box;background:none;padding:20px 0 0 20px;}
	.section_story {}
	.section_story:before {left:auto;right:45px;height:63.6%}
	.section_story .story_list {width:100%;padding-right:15px;padding-bottom:20px;box-sizing:border-box;} 
	.section_story .story_list li {box-sizing:border-box;padding-right:40px;margin-left:20px;}
	.section_story .story_list .link {line-height:60px;height:60px;width:60px;margin-right:0px;color:#fff;font-size:15px;text-align:center;}
	.section_story .story_list .wrap { padding-right: 70px; }
	.section_story .story_list .wrap.on .tit { font-size:20px; }
	.section_story .story_list .wrap .tit { font-size:16px;letter-spacing:-0.03; }
	.section_story .story_list .wrap .date { font-size:15px; } 
	.section_story .story_list .more-notice {position:absolute;right:0;top:-70px;height:77px;width:77px;border-radius:50%;margin-right:8px;}
	.site-recomender {position:relative;width:100%;height:auto;border-top:1px solid #888380;}
	.site-recomender .site-recomender-inbox {width:100%;height:100%;height:auto;text-align:center;}
	.site-recomender .site-recomender-inbox .title h2 {padding:30px 0;font-size:25px;}

	.main1 .quickmenu li a {font-size:15px;}
}

@media all and (max-width:690px){

}

@media all and (max-width:650px){
	.img_uio.mmo{display:none}

	.webList {display:none}
	.mobileList {display:block}

	.mobileBr {display:block;}
}

@media all and (max-width:580px){

}

@media all and (max-width:510px){
	.main1 .quickmenu li a {font-size:14px;}
	.main2 .title h2 {font-size:23px;}
	.main2 .main2box1 .cont li a strong {width:100%;height:150px;margin:0 auto;}
	.section_story .title_bx {font-size:23px;}
	.main3 .title b {font-size:23px;font-weight:800;}
}

@media all and (max-width:425px){

}

@media all and (max-width:380px){
	.main1 .quickmenu li a {font-size:13px;}
}

@media all and (max-width:320px){

}