@charset "utf-8";
label.hidden {display:none;}
.center {text-align:center;}
.search-wrap{font-size:110%;}
.search-wrap .smain{overflow:hidden;position:relative;}
.search-wrap table{border-top:2px solid #5f6062;border-bottom:2px solid #d2d2d2}
.search-wrap table th,
.search-wrap table td{border-bottom:1px solid #d9d9d9;border-left:0;border-right:0;font-size:90%;text-align:center}
.search-wrap table th{padding:8px 5px;border:0;font-size:90%;border-bottom:1px solid #ccc}
.search-wrap table td{padding:6px 5px}
.search-wrap table tr:hover td{background:#f5f6f8}
.search-wrap .item td.n,
.search-wrap .og{color:#ff6c02!important}
.search-wrap b i{font-style:normal}
.search-wrap i.fa-sort-down{position:relative;top:-2px}

.resve-req{padding: 5px 13px;border: 1px solid #d5d5d5;border-radius: 3px;color: #4c4c4c;}
.resve-req:hover {color: #000;}

.search-form p{text-align:right;padding:5px 0 0;font-size:85%;height:16px}
.search-form .select2-container--default .select2-selection--single{border:0}
.search-form .box1{float:left;padding-right:13px;width:13%}

@media all and (max-width:650px){
	.search-form .box1{width:18%}
}
@media all and (max-width:500px){
	.search-form .box1{width:75px}
}

.search-form .box{/*border:2px solid #3a3a3a;border-radius:5px;*/background:#fff;overflow:hidden;position:relative;}
.search-form input.text{display:block;border:0;padding:0;background:#fff;width:65%;}
.search-form input.text:focus{outline:none}
.search-form input.text2{display:block;border:0;padding:0;background:#fff;width:65%;margin-top: -49px; padding-left: 20px;}
.search-form input.text2:focus{outline:none}
.search-form .b1{padding:0 10px}
.search-form .b2{position:absolute;top:0;right:0;width:10%}
.search-form button{background:#3a3a3a;border:0;color:#fff;font-size:20px;text-align:center}
.search-form button{width:100%}
.search-form button,
.search-form input,
.search-form select,
.search-form .select2-container .select2-selection--single,
.search-form .select2-container--default .select2-selection--single .select2-selection__arrow,
.search-form .select2-container--default .select2-selection--single .select2-selection__rendered{/*height:48px;line-height:48px*/}
.search-form select,
.search-form .select2-container .select2-selection--single,
.search-form .select2-container--default .select2-selection--single .select2-selection__arrow,
.search-form .select2-container--default .select2-selection--single .select2-selection__rendered{height:49px;line-height:49px}
.search-form .select2-container--default .select2-selection--single .select2-selection__rendered{padding-left:10px}
.search-form .select2-container--default .select2-selection--single .select2-selection__arrow{padding-right:3px}
.search-form .box1 .select2-container{border:1px solid #bbb;border-radius:5px;overflow:hidden}


/********************검색박스_상세검색********************/
.search-form .detail_search {padding:2% 2% 4% 2%;border:1px solid #ccc;border-top:3px solid #000;box-sizing:border-box;}
.search-form .detail_search .section {width:100%;display:inline-block;overflow:hidden;}
.search-form .detail_search .section .title-box {position:relative;width:97%;margin:0 auto;box-sizing:border-box;display:inline-block;margin:18px;border-style:solid;border-image:linear-gradient(to right, #3cb13a 0%, #6466c3 100%);border-image-slice:1;background:#fff;border-image-width:20px;padding:15px;}
.search-form .detail_search .section .title-box input {width:96%;height:70px;line-height:70px;padding:0 2%;color:#333;font-size:24px;border:0;cursor:text;}
.search-form .detail_search .section .vk-btn {width:97%;margin:0 auto 20px;text-align:right;}
.search-form .detail_search .section .vk-btn a {padding:7px 2%;background:#333;color:#ffcc00;vertical-align:middle}
.search-form .detail_search .section dl {position:relative;display:inline-block;float:left;width:46%;height:38px;margin:0 1.5% 10px 2.5%;}
.search-form .detail_search .section dl dt{float:left;width:80px;color:#000;font-weight:bold;height:32px;line-height:32px;}
.search-form .detail_search .section dl dd{position:relative;margin-left:90px;}
.search-form .detail_search .section dl dd label.title {position:absolute;top:8px;left:10px;color:#666;cursor:text;}
.search-form .detail_search .section dl dd input.text-area{display:block;width:96%;height:38px;line-height:38px;padding:0 2%;color:#333;font-size:18px;border:1px solid #bfbfbf;cursor:text;}
.search-form .detail_search .section dl dd input.text-area2{display:block;height:38px;line-height:38px;padding:0 2%;color:#333;font-size:18px;border:1px solid #bfbfbf;cursor:text;}
.search-form .detail_search .section dl dd select {-webkit-appearance: none; /* 네이티브 외형 감추기 */-moz-appearance:none;appearance none;height:40px;line-height:40px;font-size:15px;border:1px solid #bfbfbf;padding-left:10px;box-sizing:border-box;background:url('/resources/common/img/arrow_b.png') no-repeat 97% center;}
.search-form .detail_search .section dl dd select::-ms-expand {display:none;}
.search-form .detail_search .section .box{position:relative;width:100%;display:inline-block;}
.search-form .detail_search .section .box input,
.search-form .detail_search .section .box span,
.search-form .detail_search .section .box select{display:inline-block;*display:inline;*zoom:1;line-height:32px;height:32px;}
.search-form .detail_search .section .box input{float:right;width:41%;border:1px solid #bfbfbf;}
.search-form .detail_search .section .box input:first-child{float:left;}
.search-form .detail_search .section .box span{position:absolute;top:0;left:50%;margin-left:-3%;text-align:center;}
.search-form .detail_search .comm_sel{width:100% !important;display:block;}
.search-form .detail_search .comm_sel .jq_sel,
.search-form .detail_search .comm_sel .jq_sel ul{width:100% !important;}
.search-form .detail_search .btn_w {width:100%;text-align:center;border-top:1px dashed #ccc;padding-top:25px;padding-bottom:25px;margin-top:10px;}
.search-form .detail_search .btn_w a.btn {font-size:13px;letter-spacing:-1px}
.search-form .detail_search .section select {height:34px;width:100%;}
.search-form .detail_search .section select#sortField, .search-form .detail_search .section select#sortType {width:49%}
.search-form .detail_search .section a.btn.btn01 {background:#76ae43;color:#fff}
.search-form .detail_search a {display:inline-block;}
.search-form .detail_search .reset-btn {display:none;}
.mBr {display:none}

@media all and (max-width:1000px){
	.search-form .detail_search .section {width:100%;margin:0;}

	.search-form .detail_search .section .title-box {position:relative;width:96%;}
	.search-form .detail_search .section .title-box input {width:96%;}
	.search-form .detail_search .section .vk-btn {width:96%;}

	.search-form .detail_search .section dl {margin:0 1.5% 10px 2%;}
}

@media all and (max-width:768px){
	.search-form .detail_search .section dl {float:none;display:block;width:94%;padding:0;margin:0 auto 10px;box-sizing:border-box;}

	.search-form .detail_search .section dl dt{float:left;width:13%;}
	.search-form .detail_search .section dl dd{margin-left:13%;}


	.search-form .detail_search .comm_sel{width:100% !important;display:block;}
	.search-form .detail_search .comm_sel .jq_sel,
	.search-form .detail_search .comm_sel .jq_sel ul{width:100% !important;}

	.search-form .detail_search .section .title-box {position:relative;width:94%;}
	.search-form .detail_search .section .title-box input {width:96%;}
	.search-form .detail_search .section .vk-btn {width:94%;}

	.search-form .detail_search .section .vk-btn a {font-size:15px;}

	.search-form .detail_search .reset-btn {display:inline-block;}

	.mBr {display:block;}
}

@media all and (max-width:650px){
	.search-form .detail_search .section dl {width:92%;}
	.search-form .detail_search .section dl dt{float:left;width:15%;}
	.search-form .detail_search .section dl dd{margin-left:15%;}
	.search-form .detail_search .section dl dt label.title {font-size:14px;}
	.search-form .detail_search .section dl dd label {font-size:14px;}
	.search-form .detail_search .section .title-box {position:relative;width:92%;}
	.search-form .detail_search .section .title-box input {width:96%;}
	.search-form .detail_search .section .vk-btn {width:92%;}
}

@media all and (max-width:425px){
	.search-form .detail_search .section dl dt label.title {font-size:13px;}
	.search-form .detail_search .section dl dd label {font-size:13px;}

	.search-form .detail_search .section .title-box input {width:96%;}
}

@media all and (max-width:375px){
	.search-form .detail_search .section dl dt{float:left;width:18%;}
	.search-form .detail_search .section dl dd{margin-left:18%;}
	.search-form .detail_search .section .title-box {position:relative;width:90%;}
	.search-form .detail_search .section .vk-btn {width:91%;}
}

/* 도서검색 선택 */
#libraryList input{margin-right:3px}
#libraryList input,
#libraryList label{vertical-align:middle;cursor:pointer}
#libraryList li{width:33.33%;display:inline-block;zoom:1;*display:inline}
#libraryList ul{font-size:0;line-height:0}

@media all and (max-width:1000px){
	#libraryList li{width:33.33%}
}
@media all and (max-width:850px){
	#libraryList li{width:50%;vertical-align:top;font-size:12px;letter-spacing:-1px}
}
@media all and (max-width:450px){
	#libraryList li{width:100%}
}


.ws-toolbar,
.ws-filter h4{height:29px;/* padding:0 0 10px; */}

.ws-filter h4{font-weight:bold;font-size:110%;border-bottom:1px solid #ddd;padding:5px 0}
.ws-filter a{display:inline-block;zoom:1;*display:inline}
.ws-filter>ul>li{padding-bottom:15px}
.ws-filter>ul>li>a.bi{font-weight:bold;background:url('../img/ws-filter-by.gif') no-repeat right center;padding:5px 20px 5px 0}
.ws-filter>ul>li>p,
.ws-filter>ul>li>ul{display:none}
.ws-filter>ul>li.active p,
.ws-filter>ul>li.active ul{display:block}
.ws-filter>ul>li.active>a.bi{background-image:url('../img/ws-filter-bn.gif')}
.ws-filter>ul>li>p{font-size:85%;padding:0 15px 0 0;margin-top:-5px}
.ws-filter>ul>li>p>a{color:#888}
.ws-filter>ul>li>ul{padding:0 0 10px}
.ws-filter>ul>li>ul>li>a{font-size:90%}
.ws-filter>ul>li>ul>li>a>em{color:#888;font-style:normal;margin-left:5px}

.ws-filter-top{display:none;}
.ws-filter-top,
.ws-filter-top h4{height:29px;/* padding:0 0 10px; */}
.ws-filter-top>h4>a.bi2{font-weight:bold;background:url('../img/ws-filter-by.gif') no-repeat right center;padding:5px 20px 5px 0}

.ws-filter-top h4{font-weight:bold;font-size:110%;border-bottom:1px solid #ddd;padding:5px 0}
.ws-filter-top a{display:inline-block;zoom:1;*display:inline}
.ws-filter-top>ul>li{padding-bottom:15px}
.ws-filter-top>ul>li>a.bi{font-weight:bold;background:url('../img/ws-filter-by.gif') no-repeat right center;padding:5px 20px 5px 0}
.ws-filter-top>ul>li>p,
.ws-filter-top>ul>li>ul{display:none}
.ws-filter-top>ul>li.active p,
.ws-filter-top>ul>li.active ul{display:block}
.ws-filter-top>ul>li.active>a.bi{background-image:url('../img/ws-filter-bn.gif')}
.ws-filter-top>ul>li>p{font-size:85%;padding:0 15px 0 0;margin-top:-5px}
.ws-filter-top>ul>li>p>a{color:#888}
.ws-filter-top>ul>li>ul{padding:0 0 10px}
.ws-filter-top>ul>li>ul>li>a{font-size:90%}
.ws-filter-top>ul>li>ul>li>a>em{color:#888;font-style:normal;margin-left:5px}

/*
.search-wrap .smain .box {float:left;width:100%;margin-right:-24%;}
.search-wrap .smain .filter-section {float:right;width:21%;padding-left:3%;}
.search-wrap .smain .box .search-condition,
.search-wrap .smain .box .ws-toolbar,
.search-wrap .smain .box .search-results{margin-right:24%}
.search-wrap .smain .box .search-results.wide{margin-right:0}
*/
.search-wrap .smain .box {width:100%;}
.search-wrap .smain .filter-section {display:none;}
.search-wrap .search-condition {overflow:hidden;}

.search-wrap .search-info {padding:0 0 22px;}
.search-wrap .search-info i {border-bottom:1px solid #feac86}
.search-wrap .search-info b {color:#ff0000}
.search-wrap .control {font-size:85%}
.search-wrap .control i {margin:0 0 0 5px;font-weight:normal}
.search-wrap .control .btn{background:#fff;padding:0 11px;line-height:25px;height:27px}

.search-wrap .ws-toolbar {overflow:hidden; padding: 17px 5px;}
.search-wrap .ws-toolbar { background-color: #fbfbfb; border-top: 1px solid #d3d3d3; border-bottom: 1px solid #eaeaea;}
.search-wrap .ws-toolbar .checkBoxAll{float:left;padding:5px 0 0 1px}
.search-wrap .ws-toolbar .checkBoxAll label {position:relative;bottom:2px;font-size:14px;}
.search-wrap .ws-toolbar .control{float:right}

.search-wrap .booktype-box {float:left;width:220px;font-size:15px;position:relative;display:inline-block;padding:7px 0 0 0}
.search-wrap .mode {float:left;display:block;overflow:hidden;padding:0 0 7px 0}
.search-wrap .mode li {float:left;display:inline-block}
.search-wrap .mode a {display:block;width:35px;height:35px;text-indent:-9999em;}
.search-wrap .mode a.imgView { background:url("/resources/common/img/imgView.gif") no-repeat 0 0; }
.search-wrap .mode a.listView { background:url("/resources/common/img/listView.gif") no-repeat 0 0; }
.search-wrap .mode a.on { background-position:0 100%; }

.search-wrap .search-results {}
.search-wrap .search-results .imageType .row {position:relative;border-bottom:1px solid #dddddd;padding:15px 0;overflow:hidden;}
.search-wrap .search-results .imageType .row .admin{position:absolute;left:0;top:13px;z-index:1}
.search-wrap .search-results .imageType .row .admin input{width:14px;height:14px}
.search-wrap .search-results .imageType .row .thumb {float:left;font-size:0;line-height:0;width:135px;height:180px;border:1px solid #ddd;margin-right:20px}
.search-wrap .search-results .imageType .row .thumb img{width:100%}
.search-wrap .search-results .imageType .row .box{float:left;width:100%;margin-right:-160px}
.search-wrap .search-results .imageType .row .item {margin-right:160px}
.search-wrap .search-results .imageType .row .item a.book-title {display:block;font-size:24px;padding-bottom:10px;}
.search-wrap .search-results .imageType .row .item p {font-size:16px;color:#000000;padding:0;line-height:150%}
.search-wrap .search-results .imageType .row .item a.name{font-weight:600;font-size:140%;display:inline-block;zoom:1;*display:inline;padding:0}
.search-wrap .search-results .imageType .row .item a.name em{font-style:normal}
.search-wrap .search-results .imageType .row .item .stat{padding:10px 0 0}
.search-wrap .search-results .imageType .row .item .stat a{padding:1px 18px;background:#a5856d;color:#fff;font-size:80%;transition:all .3s ease}
.search-wrap .search-results .imageType .row .item .stat a i{font-size:110%}
.search-wrap .search-results .imageType .row .item .stat a,
.search-wrap .search-results .imageType .row .item .stat span{display:inline-block;zoom:1;*display:inline}
.search-wrap .search-results .imageType .row .bci{clear:both;padding:15px 0 0}

.search-wrap .search-results .textType .row{position:relative;padding:15px 0;border-bottom:1px solid #dddddd;overflow:hidden}
.search-wrap .search-results .textType .row .admin input{width:17px;height:17px}
.search-wrap .search-results .textType .row .box{width:100%;}
.search-wrap .search-results .textType .row .item{}
.search-wrap .search-results .textType .row .item p {font-size:15px;color:#000000;padding:7px 0}
.search-wrap .search-results .textType .row .item a.name{font-weight:400;font-size:110%;display:inline-block;zoom:1;*display:inline;padding:3px 0}
.search-wrap .search-results .textType .row .item a.name em{font-style:normal}
.search-wrap .search-results .textType .row .item .stat{padding:5px 0 0}
.search-wrap .search-results .textType .row .item .stat a{padding:1px 18px;background:#a5856d;color:#fff;font-size:80%;
transition : all .3s ease}
.search-wrap .search-results .textType .row .item .stat a i{font-size:110%}
.search-wrap .search-results .textType .row .item .stat a,
.search-wrap .search-results .textType .row .item .stat span{display:inline-block;zoom:1;*display:inline}
.search-wrap .search-results .textType .row .bci{clear:both;padding:15px 0 0}
.search-wrap .search-results .row .item p .mobileBr {display:none}

#search_detail {margin-top:0;position:relative;width:100%;}
#search_detail .table_gray {border-collapse:collapse;border:0;font-size:1em;margin:5px 0 20px;width:100%;}
#search_detail .table_gray .search_left{text-align:left;padding-left:10px;}
#search_detail .table_gray .yyyy{width:80px;height:18px;}
#search_detail .table_gray thead th, #search_detail .table_gray tbody th {background:#f9f9f9;color:#000;font-weight:bold;text-align: center;vertical-align: middle;padding:1% 0}
#search_detail .table_gray th, #search_detail .table_gray td {border-top:1px solid #000;line-height:140%;padding:5px 2px 3px;}
#search_detail .table_gray tbody td {text-align:center;}
#search_detail .plus_h4 {/*background: url("/yjbooks/resources/images/ico_plus.gif") no-repeat scroll left center transparent;*/font-weight: bold;margin: 0;padding: 5px 0 5px 0;font-size: 18px;}
#search_detail h4 {background: url("../common/img/koras/book_next.png") no-repeat scroll left 50% transparent;font-weight: bold;margin: 0;padding: 5px 0 5px 20px;}
#search_detail td select, #search_detail td input.text {width:35%;border:1px solid #c9c9c9}

.search_result .re-search {float:right;display:inline-block;padding:0 0 10px 0;}
.search_result .re-search .btn {float:left;display:inline-block;border-radius:0;padding-top:7px;padding-bottom:7px;font-size:15px;background:#000;color:#fff;vertical-align:middle}
.search_result .re-search select {float:left;display:inline-block;height:32px;font-size:15px;line-height:32px;vertical-align:middle}
.search_result .re-search input {float:left;display:inline-block;height:30px;font-size:15px;line-height:30px;vertical-align:middle;margin-left:3px;padding-left:5px;}

a.btnNew  {padding:15px 3%;background:#000;color:#fff;border-radius:7px;}
a.btnNew1 {padding:15px 3%;background:#494949;color:#fff;border-radius:7px;}
a.btnNew2 {padding:9px 3%;background:#494949;color:#fff;vertical-align:middle}
a.btnNew3 {padding:8px 2%;border:1px solid #c9c9c9;border-radius:0;vertical-align:middle}
a.btnNew3 img {vertical-align:middle}
input.btnNew {border:0;padding:9px 3%;background:#000;color:#fff;vertical-align:middle}

.DepthBtn {overflow:hidden;width:100%;margin-bottom:50px;}
a.bBtn {width:49.8%;display:inline-block;float:left;text-align:center;padding:18px 0;border:1px solid #fff;background:#3c8cef;color:#fff;font-size:18px}
a.bBtn:hover {background:#0961ce}
.warningTxt {padding:10px 0;font-size:18px}
.hopeWarning {border:1px solid #adb5c0;border-radius:5px;box-sizing:border-box;padding:20px;font-size:15px}

/* .sview{border-top:2px solid #5e6062} */
.sview h4{font-size:130%;font-weight:bold;padding:10px 0}
.sview .sinfo{margin:15px 0;background:#fffef9;overflow:hidden;padding: 25px 40px;border: 1.5px solid #f6f7e5;}

.sview .sinfo .thumb img{border:1px solid #d5d5d5}
.sview .sinfo .thumb{float:left;width:20%;font-size:0;line-height:0}
.sview .sinfo .info{float:left;width:100%;margin-right: -20%;}
.sview .sinfo .info ul{margin: -1% 20% 1% 4%;}
.sview .sinfo .info ul li{padding: 5px 0px;line-height:110%;}
.sview b.title {font-size:135%;font-weight:800;line-height: 160%;}
.sview .sinfo .info ul li.ibtn{border:0;text-align:right;padding:15px 0 0}
.sview .sinfo .info ul li.ibtn a i{margin:0 0 0 5px}

.sview .sbtn{text-align:center;padding:30px 0 20px}
.sview .sbtn .btn{padding:7px 2%}
.sview .sbtn .btn i{font-size:130%}
.sview .sbtn .btn1{background:#fe6d02;border-color:#fe6d02}
.sview .sbtn .btn2{background:#666;border-color:#666}

.bookDetailInfo .bookDetailInfoTbl {}

@media all and (max-width:1040px){
	a.bBtn {width:49.3%;float:none;}
}
@media all and (max-width:1000px){
	.sview .sinfo{padding-left:5%;padding-right:5%}
}
@media all and (max-width:767px){
	.sview .sinfo{padding-left:3%;padding-right:3%}
	a.bBtn {width:49%;float:none;}
	.search-wrap .search-results .row .item p .mobileBr {display:block}
	.webGuideLine {display:none;}
}
@media all and (max-width:540px){
	.sview .sinfo .info ul li{font-size:13px}
	.bookDetailInfo .bookDetailInfoTbl {font-size:13px}
	a.bBtn {width:100%;float:none;}
}

/* 소장자료_2018.07.16 추가 */
span.middot {background: url(/resources/common/img/doc-arr2.gif) no-repeat 0 10px; padding: 3px 0 4px; padding-left: 13px;}
.search-area { text-align: right; padding-bottom: 7px;}
.search-area i {font-size: 16px;color: #fff;margin-right: 6px;vertical-align: middle;margin-top: -3px;}
.search-area .orange {padding: 4px 19px; display: inline-block; margin-left: 2px;background:#ff741f;border-radius: 20px;color: #fff; font-weight: 600; margin-bottom: 5px;}
.search-area .blue {padding: 4px 19px; display: inline-block; margin-left: 2px;background:#5885c9;border-radius: 20px;color: #fff; font-weight: 600; margin-bottom: 5px;}

.search-bot { width: 100%; height: auto; display: inline-block; padding-bottom: 15px;}
.search-bot .notice {font-size: 105%; float: left; padding-left: 5px; width: 70%;line-height: 175%;}
.search-bot p {float: right; padding-top: 0px; display: inline-block;}

/*
.bif {line-height: 180%; }
.bif p { display: inline-block; line-height: 180%; }
.bif .tit {color: #9a9a9a;}
.bif .bar { padding: 0 8px; color: #d6d6d6;}
.bif .txt {font-weight: 600;}
.box .bif .tit {font-weight: normal;}
*/

.info .bar {color: #bababa;padding-right: 10px;padding-left: 10px;font-size: 12px;}
.info .con {background: url(/resources/common/img/doc-arr3.gif) no-repeat 0 7px;background-size: 3px;padding: 0px 0 2px 10px;width: 20%;display: inline-block;vertical-align: top;line-height: 145%;}
.info .con2 {background: url(/resources/common/img/doc-arr3.gif) no-repeat 0 10px;background-size: 3px;padding: 0px 0 2px 10px;width: 20%;display: inline-block;vertical-align: top;line-height: 145%;}
.info .txt {display: inline-block;width: 72%;vertical-align: top;line-height: 145%;}

.botbutton {padding-right: 3px;}
.botbutton .blue_s {margin: 0 0 4px;margin-right: 3px;padding: 4px 10px;color: #155690;font-size: 95%;border: 1px solid #c6cfd8;border-radius: 1px;background: #f6fdff;display: inline-block;}
.botbutton .blue_s img {vertical-align: middle;padding-right: 2px;}
.botbutton .orange_s {margin: 0 0 4px;margin-right: 3px;padding: 4px 10px;color: #333333;font-size: 95%;border: 1px solid #c0c0c0;border-radius: 1px;font-weight: bold;padding-left: 35px;display:  inline-block;}
.botbutton .goStorage {background: url('/resources/common/img/dashBoard/folder.png') no-repeat;background-position: 7%;}
.botbutton .addStorage {background: url('/resources/book/search/img/btn_my.png') no-repeat;background-position: 10%;}
.botbutton .button1 {float: right;}

.ws-toolbar .checkbox input[type="checkbox"] {width: 17px; height: 17px; opacity: 100;}
.ws-toolbar .checkbox label {padding-left: 0px;}
.ws-toolbar .checkbox label::before {display: none;}
.ws-toolbar .checkbox label::after {display: none;}

textarea.textArea {width: 100%;height: 200px;border-top: 1px solid;}
.search-wrap h3 { margin-top: 15px; clear: both;}
.search-wrap .sview h4 {background: url(/resources/common/img/contents/h3Bg.gif) no-repeat 0 17px;margin-top: 15px;padding-left: 22px;}
.search-wrap .bookintro td {padding: 22px;}

.control img {vertical-align: middle; margin-top: -5px;margin-right: 1px;}

.listArea {overflow: auto;height: 200px;border-top: 1px solid;border-left: 1px solid #cbcbcb;border-right: 1px solid #cbcbcb;border-bottom: 1px solid #cbcbcb;padding: 7px 20px 10px 20px;line-height: 2.08;}


@media all and (max-width:1000px){
	.search-wrap .smain .ws-filter{display:none}
	.ws-filter-top{display:inline}
	.search-wrap .smain .box,
	.search-wrap .smain .box .ws-toolbar,
	.search-wrap .smain .box .search-results{float:none;margin:0}
	.search-bot .notice {width: 67%!important;}
	.info .txt{width: 67%;}
}
@media all and (max-width:767px){
	.ws-toolbar,
	.ws-filter h4{height:58px;/* padding:0 0 10px; */}
	.search-wrap .search-results .row{position:relative}
	.search-wrap .search-results .imageType .row .thumb {width:110px;height:auto;margin-right:20px}
	.search-form input.text2 {width: 60%;}
	.search-form .b2{width:15%}
	.bif .txt {display: block;}
	.bif .bar {display: none;}

	.search-form .detail_search .section dl dd input.text-area{width:95.5%;}
	.search-wrap .search-results .row .bci {font-size:15px;}
}

@media all and (max-width:590px){
	.info .con {width: 100%;}
	.info .bar {display: none;}
	.info .txt {width: 90%;padding-left: 10px;}

	.search-wrap .search-results .row .item .bif a, .search-wrap .search-results .row .item .bif a span {font-size:16px;}
	.search-wrap .search-results .row .item .bif p {font-size:13px;}
	

	#search_detail .table_gray th, #search_detail .table_gray td {font-size:13px}
	.bbs-result {font-size:14px;}

	.search-wrap .search-results .row .bci {font-size:13px;}
}

	
@media all and (max-width:450px){
	#search_detail .table_gray th, #search_detail .table_gray td {font-size:12px}
	.bbs-result {font-size:13px;}
}
