<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.bookPackage.BookPackageDao">

	<sql id="field">
		<![CDATA[
		book_package_idx, book_package_name, book_package_subject, author, publisher,
		publish_year, isbn, book_price, book_pages, purpose,
		loan_count, quantity, grade, category, keyword,
		doc_org_file_name, doc_server_file_name, doc_file_extension, doc_file_size,
		org_file_name, server_file_name, file_extension, file_size,
		desc_link, image_link, REGEXP_REPLACE(content, '<[^>]*>', '') AS content, add_id, add_date
		]]>
	</sql>

	<select id="getBookPackageList" resultType="kr.go.gbelib.app.cms.module.bookPackage.BookPackage">
		${pagingTop}
		SELECT
			<include refid="field"/>,
			(SELECT COUNT(*) FROM BOOK_PACKAGE_LOAN WHERE book_package_idx = a.book_package_idx AND request_status IN (0, 1, 2)) AS lender_count
		FROM
			BOOK_PACKAGE a
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="(search_type != null and search_type != '') and (search_text != '' and search_text != '')">
			AND	${search_type} LIKE '%'||#{search_text}||'%'
			</if>
			<if test="category != null and category != '' and category != 'all'">
			AND	REGEXP_LIKE(category, REPLACE(#{category}, ',', '|'))
			</if>
			<if test="grade != null and grade != ''">
			AND	grade = #{grade}
			</if>
			<if test="lender_count != -1">
			AND	#{lender_count}
			<choose>
				<when test="lender_count == 0"><![CDATA[=]]></when>
				<when test="lender_count == 1"><![CDATA[<=]]></when>
			</choose>
			(SELECT COUNT(*) FROM BOOK_PACKAGE_LOAN WHERE book_package_idx = a.book_package_idx AND request_status IN (0, 1, 2))
			</if>
		</trim>
		ORDER BY book_package_idx DESC
		${pagingBottom}

	</select>

	<select id="getBookPackageCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			BOOK_PACKAGE a
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="(search_type != null and search_type != '') and (search_text != '' and search_text != '')">
			AND	${search_type} LIKE '%'||#{search_text}||'%'
			</if>
			<if test="category != null and category != '' and category != 'all'">
			AND	REGEXP_LIKE(category, REPLACE(#{category}, ',', '|'))
			</if>
			<if test="grade != null and grade != ''">
			AND	grade = #{grade}
			</if>
			<if test="lender_count != -1">
			AND	#{lender_count}
			<choose>
				<when test="lender_count == 0"><![CDATA[=]]></when>
				<when test="lender_count == 1"><![CDATA[<=]]></when>
			</choose>
			(SELECT COUNT(*) FROM BOOK_PACKAGE_LOAN WHERE book_package_idx = a.book_package_idx AND request_status IN (0, 1, 2))
			</if>
		</trim>
	</select>

	<select id="getBookPackageOne" resultType="kr.go.gbelib.app.cms.module.bookPackage.BookPackage">
		SELECT
			<include refid="field"/>,
			(SELECT COUNT(*) FROM BOOK_PACKAGE_LOAN WHERE book_package_idx = a.book_package_idx AND request_status NOT IN (3, 4, 5)) AS lender_count
		FROM
			BOOK_PACKAGE a
		WHERE
			book_package_idx = #{book_package_idx}
	</select>

	<insert id="addBookPackage">
		<selectKey keyProperty="book_package_idx" resultType="int" order="BEFORE">
			SELECT NVL(MAX(book_package_idx), 0) + 1 FROM BOOK_PACKAGE
		</selectKey>
		INSERT INTO
			BOOK_PACKAGE
		(
			book_package_idx, book_package_name, book_package_subject, author, publisher,
			publish_year, isbn, book_price, book_pages, purpose,
			loan_count, quantity, grade, category, keyword,
			desc_link, image_link, content,
			<if test="doc_org_file_name != null and doc_org_file_name != ''">
			doc_org_file_name, doc_server_file_name, doc_file_extension, doc_file_size,
			</if>
			<if test="org_file_name != null and org_file_name != ''">
			org_file_name, server_file_name, file_extension, file_size,
			</if>
			add_id, add_date
		)
		VALUES
		(
			#{book_package_idx}, #{book_package_name}, #{book_package_subject}, #{author}, #{publisher},
			#{publish_year}, #{isbn}, #{book_price}, #{book_pages}, #{purpose},
			#{loan_count}, #{quantity}, #{grade}, #{category}, REPLACE(#{keyword}, ' ', ''),
			#{desc_link}, #{image_link}, #{content},
			<if test="doc_org_file_name != null and doc_org_file_name != ''">
			#{doc_org_file_name}, #{doc_server_file_name}, #{doc_file_extension}, #{doc_file_size},
			</if>
			<if test="org_file_name != null and org_file_name != ''">
			#{org_file_name}, #{server_file_name}, #{file_extension}, #{file_size},
			</if>
			#{add_id}, SYSDATE
		)
	</insert>

	<update id="modifyBookPackage">
		UPDATE
			BOOK_PACKAGE
		SET
			book_package_name = #{book_package_name},
			book_package_subject = #{book_package_subject},
			author = #{author},
			publisher = #{publisher},
			publish_year = #{publish_year},
			isbn = #{isbn},
			book_price = #{book_price},
			book_pages = #{book_pages},
			purpose = #{purpose},
			loan_count = #{loan_count},
			quantity = #{quantity},
			grade = #{grade},
			category = #{category},
			keyword = #{keyword},
			desc_link = #{desc_link},
			image_link = #{image_link},
			content = #{content},
			<if test="doc_org_file_name != null and doc_org_file_name != ''">
			doc_org_file_name = #{doc_org_file_name},
			doc_server_file_name = #{doc_server_file_name},
			doc_file_extension = #{doc_file_extension},
			doc_file_size = #{doc_file_size},
			</if>
			<if test="org_file_name != null and org_file_name != ''">
			org_file_name = #{org_file_name},
			server_file_name = #{server_file_name},
			file_extension = #{file_extension},
			file_size = #{file_size},
			</if>
			modify_id = #{modify_id},
			modify_date = SYSDATE
		WHERE
			book_package_idx = #{book_package_idx}
	</update>

	<delete id="deleteBookPackage">
		DELETE FROM
			BOOK_PACKAGE
		WHERE
			book_package_idx = #{book_package_idx}
	</delete>

	<delete id="deleteCheckBookPackage">
		DELETE FROM
			BOOK_PACKAGE
		WHERE
			book_package_idx IN
			<foreach collection="book_package_arr" open="(" close=")" separator="," item="i">
			#{i}
			</foreach>
	</delete>

	<select id="getBookPackageLoanList" resultType="kr.go.gbelib.app.cms.module.bookPackage.BookPackage">
		${pagingTop}
		SELECT
			b.book_package_idx, b.book_package_loan_idx, a.book_package_subject, b.request_name, b.school_name,
			a.quantity, a.loan_count,
			TO_CHAR(b.loan_start_date, 'yyyy-MM-dd') AS loan_start_date, TO_CHAR(b.loan_end_date, 'yyyy-MM-dd') AS loan_end_date,
			b.phone, b.school_tel, b.request_content, b.request_status, b.return_yn,
			b.add_id, b.add_date
		FROM
			BOOK_PACKAGE a, BOOK_PACKAGE_LOAN b
		WHERE
			a.book_package_idx = b.book_package_idx
		<if test="(search_type != null and search_type != '') and (search_text != '' and search_text != '')">
		AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
		<choose>
			<when test="return_yn != null and return_yn != ''">
			AND	return_yn = #{return_yn}
			AND	request_status = '2'
			</when>
			<when test="request_status != null and request_status != ''">
			AND	request_status = #{request_status}
			</when>
		</choose>
		<if test="loan_start_date != null and loan_start_date != ''">
		AND	TO_CHAR(loan_start_date, 'yyyy') = #{loan_start_date}
		</if>
		<if test="add_id != null and add_id != ''">
		AND b.add_id = #{add_id}
		</if>
		ORDER BY b.book_package_loan_idx DESC
		${pagingBottom}
	</select>

	<select id="getBookPackageLoanCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			BOOK_PACKAGE a, BOOK_PACKAGE_LOAN b
		WHERE
			a.book_package_idx = b.book_package_idx
		<if test="(search_type != null and search_type != '') and (search_text != '' and search_text != '')">
		AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
		<choose>
			<when test="return_yn != null and return_yn != ''">
			AND	return_yn = #{return_yn}
			AND	request_status = '2'
			</when>
			<when test="request_status != null and request_status != ''">
			AND	request_status = #{request_status}
			</when>
		</choose>
		<if test="loan_start_date != null and loan_start_date != ''">
		AND	TO_CHAR(loan_start_date, 'yyyy') = #{loan_start_date}
		</if>
		<if test="add_id != null and add_id != ''">
		AND b.add_id = #{add_id}
		</if>
	</select>

	<select id="getBookPackageLoanOne" resultType="kr.go.gbelib.app.cms.module.bookPackage.BookPackage">
		SELECT
			b.book_package_idx, b.book_package_loan_idx, a.book_package_subject, b.request_name, b.school_name, a.quantity,
			TO_CHAR(b.loan_start_date, 'yyyy-MM-dd') AS loan_start_date, TO_CHAR(b.loan_end_date, 'yyyy-MM-dd') AS loan_end_date,
			b.phone, b.school_tel, b.request_content, b.request_status, b.return_yn,
			b.add_id, b.add_date
		FROM
			BOOK_PACKAGE a, BOOK_PACKAGE_LOAN b
		WHERE
			a.book_package_idx = b.book_package_idx
		AND	book_package_loan_idx = #{book_package_loan_idx}
	</select>

	<insert id="addBookPackageLoan">
		<selectKey keyProperty="book_package_loan_idx" resultType="int" order="BEFORE">
			SELECT NVL(MAX(book_package_loan_idx), 0) + 1 FROM BOOK_PACKAGE_LOAN
		</selectKey>
		INSERT INTO
			BOOK_PACKAGE_LOAN
		(
			book_package_idx, book_package_loan_idx, request_name, school_name,
			loan_start_date, loan_end_date, phone, school_tel, request_content,
			request_status, return_yn, add_id, add_date
		)
		VALUES
		(
			#{book_package_idx}, #{book_package_loan_idx}, #{request_name}, #{school_name},
			#{loan_start_date}, #{loan_end_date}, #{phone}, #{school_tel}, #{request_content},
			#{request_status}, 'N', #{add_id}, SYSDATE
		)
	</insert>

	<update id="modifyBookPackageLoan">
		UPDATE
			BOOK_PACKAGE_LOAN
		SET
			request_name = #{request_name},
			school_name = #{school_name},
			loan_start_date = #{loan_start_date},
			loan_end_date = #{loan_end_date},
			phone = #{phone},
			school_tel = #{school_tel},
			request_content = #{request_content},
			request_status = #{request_status},
			modify_id = #{modify_id},
			modify_date = SYSDATE
		WHERE
			book_package_loan_idx = #{book_package_loan_idx}
	</update>

	<update id="modifyReturnReq">
		UPDATE
			BOOK_PACKAGE_LOAN
		SET
			return_yn = #{return_yn}
		WHERE
			book_package_loan_idx = #{book_package_loan_idx}
	</update>

	<delete id="deleteBookPackageLoan">
		DELETE FROM
			BOOK_PACKAGE_LOAN
		WHERE
			book_package_loan_idx = #{book_package_loan_idx}
	</delete>

	<update id="statusChangeAll">
		UPDATE
			BOOK_PACKAGE_LOAN
		SET
			request_status = #{request_status}
		WHERE
			book_package_loan_idx IN
			<foreach collection="book_package_loan_arr" open="(" close=")" separator="," item="i">
			#{i}
			</foreach>
	</update>

	<select id="getBookPackageExcelList" resultType="kr.go.gbelib.app.cms.module.bookPackage.BookPackage">
		SELECT
			book_package_idx, book_package_name, book_package_subject, author, publisher,
			publish_year, loan_count, quantity, grade, category,
			(SELECT COUNT(*) FROM BOOK_PACKAGE_LOAN WHERE book_package_idx = a.book_package_idx AND request_status = 2) AS lender_count
		FROM
			BOOK_PACKAGE a
		ORDER BY book_package_idx DESC
	</select>

	<select id="getBookPackageLoanExcelList" resultType="kr.go.gbelib.app.cms.module.bookPackage.BookPackage">
		SELECT
			b.book_package_idx, b.book_package_loan_idx, a.book_package_subject, b.request_name, b.school_name,
			a.quantity, a.loan_count,
			TO_CHAR(b.loan_start_date, 'yyyy-MM-dd') AS loan_start_date, TO_CHAR(b.loan_end_date, 'yyyy-MM-dd') AS loan_end_date,
			b.phone, b.school_tel, b.request_content, b.request_status, b.return_yn,
			b.add_id, b.add_date
		FROM
			BOOK_PACKAGE a, BOOK_PACKAGE_LOAN b
		WHERE
			a.book_package_idx = b.book_package_idx
		<if test="add_id != null and add_id != ''">
		AND	b.add_id = #{add_id}
		</if>
		ORDER BY b.book_package_loan_idx DESC
	</select>

	<select id="getMysqlToTibero" resultType="map">
		SELECT * FROM BOARD_12
	</select>

	<select id="getMysqlToTibero2" resultType="map">
		SELECT * FROM BOARD_BOOK_LOAN
	</select>

	<insert id="addMysqlToTibero">
		insert into book_package
		(
			book_package_idx, book_package_name, book_package_subject, author, publisher,
			publish_year, isbn, book_price, book_pages, purpose,
			loan_count, quantity, grade, category, keyword,
			org_file_name, server_file_name, file_extension, file_size,
			desc_link, image_link, content, add_id, add_date, modify_id, modify_date
		)
		values
		(
			#{book_package_idx}, #{book_package_name}, #{book_package_subject}, #{author}, #{publisher},
			#{publish_year}, #{isbn}, #{book_price}, #{book_pages}, #{purpose},
			#{loan_count}, #{quantity}, #{grade}, #{category}, #{keyword},
			#{org_file_name}, #{server_file_name}, #{file_extension}, #{file_size},
			#{desc_link}, #{image_link}, #{content}, #{add_id}, #{add_date}, #{modify_id}, #{modify_date}
		)
	</insert>

	<insert id="addMysqlToTibero2">
		INSERT INTO
			BOOK_PACKAGE_LOAN
		(
			book_package_idx, book_package_loan_idx, request_name, school_name,
			loan_start_date, loan_end_date, phone, school_tel, request_content,
			request_status, return_yn, add_id, add_date
		)
		VALUES
		(
			#{book_package_idx}, #{book_package_loan_idx}, #{request_name}, #{school_name},
			#{loan_start_date}, #{loan_end_date}, #{phone}, #{school_tel}, #{request_content},
			#{request_status}, #{return_yn}, #{add_id}, #{add_date}
		)
	</insert>

	<select id="getBookPackageLoanDate" resultType="kr.go.gbelib.app.cms.module.bookPackage.BookPackage">
		SELECT
			TO_CHAR(b.loan_start_date, 'yyyy-MM-dd') AS loan_start_date, TO_CHAR(b.loan_end_date, 'yyyy-MM-dd') AS loan_end_date
		FROM
			BOOK_PACKAGE a, BOOK_PACKAGE_LOAN b
		WHERE
			a.book_package_idx = b.book_package_idx
		AND	b.book_package_idx = #{book_package_idx}
		AND	request_status IN ('0', '1', '2')
		AND	(
				loan_start_date > SYSDATE OR
				loan_end_date > SYSDATE
			)
	</select>

	<select id="getBookPackageLoanDateList" resultType="string">
		<![CDATA[
		SELECT
			TO_CHAR(TO_DATE(#{start_date}, 'YYYY-MM-DD') + LEVEL - 1, 'YYYY-MM-DD') AS IN_DATE
		FROM
			DUAL
		CONNECT BY LEVEL <= TO_DATE(#{end_date}, 'YYYY-MM-DD') - TO_DATE(#{start_date}, 'YYYY-MM-DD') + 1
		]]>
	</select>
</mapper>