<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.bookRelayIndividual.BookRelayIndividualDao">
	
	<select id="bookRelayIndividualList" resultType="kr.go.gbelib.app.cms.module.bookRelayIndividual.BookRelayIndividual">
		${pagingTop}
		SELECT
			homepage_id, individual_idx, user_name, user_phone, user_email, 
			user_affiliation, postcode, address_base, address_detailed, book_area, 
			book_quantity, reader_contest, relay_plan, relay_personnel, approval_status, 
			delete_yn, add_id, add_date
		FROM
			BOOK_RELAY_INDIVIDUAL
		WHERE
			homepage_id = #{homepage_id}
		AND	delete_yn = 'N'
		<if test="(search_type != null and search_type != '') and (search_text != '' and search_text != '')">
		AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
		ORDER BY individual_idx DESC
		${pagingBottom}
	</select>
	
	<select id="bookRelayIndividualCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			BOOK_RELAY_INDIVIDUAL
		WHERE
			homepage_id = #{homepage_id}
		AND	delete_yn = 'N'
		<if test="(search_type != null and search_type != '') and (search_text != '' and search_text != '')">
		AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
	</select>
	
	<select id="getBookRelayIndividual" resultType="kr.go.gbelib.app.cms.module.bookRelayIndividual.BookRelayIndividual">
		SELECT
			homepage_id, individual_idx, user_name, user_phone, user_email, 
			user_affiliation, postcode, address_base, address_detailed, book_area, 
			book_quantity, reader_contest, relay_plan, relay_personnel, approval_status, 
			delete_yn, add_id, add_date
		FROM
			BOOK_RELAY_INDIVIDUAL
		WHERE
			homepage_id = #{homepage_id}
		AND individual_idx = #{individual_idx}	
	</select>
	
	<insert id="addBookRelayIndividual">
		INSERT INTO
			BOOK_RELAY_INDIVIDUAL
		(
			homepage_id, individual_idx, user_name, user_phone, user_email, 
			user_affiliation, postcode, address_base, address_detailed, book_area, 
			book_quantity, reader_contest, relay_plan, relay_personnel, approval_status, 
			delete_yn, add_id, add_date
		)
		VALUES
		(
			#{homepage_id}, (SELECT NVL(MAX(individual_idx), 0)+1 FROM BOOK_RELAY_INDIVIDUAL), #{user_name}, #{user_phone}, #{user_email}, 
			#{user_affiliation}, #{postcode}, #{address_base}, #{address_detailed}, #{book_area}, 
			#{book_quantity}, #{reader_contest}, #{relay_plan}, #{relay_personnel}, #{approval_status}, 
			#{delete_yn}, #{add_id}, SYSDATE
		)
	</insert>
	
	<update id="modifyBookRelayIndividual">
		UPDATE 
			BOOK_RELAY_INDIVIDUAL
		SET
			user_name = #{user_name}, 
			user_phone = #{user_phone}, 
			user_email = #{user_email}, 
			user_affiliation = #{user_affiliation}, 
			postcode = #{postcode}, 
			address_base = #{address_base}, 
			address_detailed = #{address_detailed}, 
			book_area = #{book_area}, 
			book_quantity = #{book_quantity}, 
			reader_contest = #{reader_contest}, 
			relay_plan = #{relay_plan}, 
			relay_personnel = #{relay_personnel}, 
			approval_status = #{approval_status}, 
			modify_id = #{modify_id}, 
			modify_date = SYSDATE
		WHERE
			homepage_id = #{homepage_id}
		AND individual_idx = #{individual_idx}
			
	</update>
	
	<update id="deleteBookRelayIndividual">
		UPDATE 
			BOOK_RELAY_INDIVIDUAL
		SET
			delete_yn = 'Y',
			delete_id = #{delete_id}
		WHERE
			homepage_id = #{homepage_id}
		AND individual_idx = #{individual_idx}
	</update>
	
	
	<update id="statusChangeBookRelayIndividual">
		UPDATE 
			BOOK_RELAY_INDIVIDUAL
		SET
			approval_status = #{approval_status}
		WHERE
			homepage_id = #{homepage_id}
		AND individual_idx = #{individual_idx}
	</update>
	
	
</mapper>