<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.whalesoft.app.cms.terms.TermsDao">

	<select id="getTermsList" resultType="kr.co.whalesoft.app.cms.terms.Terms">
		SELECT
			homepage_id, terms_idx, terms_type, manage_idx, title, contents,
			use_yn, required_yn, delete_yn, add_id, add_date, modify_id,
			modify_date,
			(SELECT A.CODE_NAME FROM CMS_CODE A WHERE A.GROUP_ID = 'C0015' AND A.CODE_ID = CMS_TERMS.TERMS_TYPE) AS TERMS_TYPE_NAME
		FROM
			CMS_TERMS
		WHERE
			homepage_id = #{homepage_id}
		AND	DELETE_YN = 'N'
		<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
		AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
		ORDER BY
			TERMS_IDX DESC
	</select>

	<select id="getTermsListCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			CMS_TERMS
		WHERE
			homepage_id = #{homepage_id}
		AND	DELETE_YN = 'N'
			<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
			AND	${search_type} LIKE '%'||#{search_text}||'%'
			</if>
		ORDER BY
			TERMS_IDX ASC
	</select>

	<select id="getTermsOne" resultType="kr.co.whalesoft.app.cms.terms.Terms">
		SELECT
			homepage_id, terms_idx, terms_type, manage_idx, title, contents,
			use_yn, required_yn, delete_yn, add_id, add_date, modify_id,
			modify_date,
			(SELECT A.CODE_NAME FROM CMS_CODE A WHERE A.GROUP_ID = 'C0015' AND A.CODE_ID = CMS_TERMS.TERMS_TYPE) AS TERMS_TYPE_NAME
		FROM
			CMS_TERMS
		WHERE
			homepage_id = #{homepage_id}
		AND	terms_idx = #{terms_idx}
		AND	DELETE_YN = 'N'
	</select>

	<insert id="addTerms">
		<selectKey keyProperty="terms_idx" resultType="int" order="BEFORE">
			SELECT NVL(MAX(terms_idx),0)+1 FROM CMS_TERMS
		</selectKey>
		INSERT INTO CMS_TERMS
		(
			homepage_id, TERMS_IDX, TERMS_TYPE, manage_idx, TITLE, CONTENTS, USE_YN, REQUIRED_YN, DELETE_YN, ADD_ID, ADD_DATE
		) VALUES (
			#{homepage_id}, #{terms_idx}, #{terms_type}, #{manage_idx}, #{title}, #{contents}, #{use_yn}, #{required_yn}, 'N', #{add_id}, SYSDATE
		)
	</insert>

	<update id="modifyTerms">
		UPDATE CMS_TERMS
		SET
			TERMS_TYPE = #{terms_type},
			<if test="manage_idx != null and manage_idx != 0">
			manage_idx = #{manage_idx},
			</if>
			TITLE = #{title},
			CONTENTS = #{contents},
			USE_YN = #{use_yn},
			REQUIRED_YN = #{required_yn},
			MODIFY_ID = #{add_id},
			MODIFY_DATE = SYSDATE
		WHERE
			homepage_id = #{homepage_id}
		ANd	TERMS_IDX = #{terms_idx}
	</update>

	<update id="deleteTerms">
		UPDATE
			CMS_TERMS
		SET
			DELETE_YN = 'Y'
		WHERE
			homepage_id = #{homepage_id}
		AND	terms_idx = #{terms_idx}
	</update>

	<select id="getTermsListInModule" resultType="kr.co.whalesoft.app.cms.terms.Terms">
		SELECT
			terms_idx, title, contents, required_yn
		FROM
			CMS_TERMS A, CMS_CODE B, WB_MODULE_MNGT C
		WHERE
			A.homepage_id = #{homepage_id}
		AND	A.use_yn = 'Y'
		AND	A.delete_yn = 'N'
		AND	A.terms_type = b.code_id
		AND	B.group_id = 'C0015'
		AND	B.use_yn = 'Y'
		AND	B.code_id = C.terms_group_id
		AND	C.module_idx = #{module_idx}
		ORDER BY
			terms_idx
	</select>

	<select id="getTermsListNotInModule" resultType="kr.co.whalesoft.app.cms.terms.Terms">
		SELECT
			TERMS_IDX, TERMS_TYPE, TITLE, CONTENTS, USE_YN, DELETE_YN, ADD_ID, TO_CHAR(ADD_DATE,'YYYY-MM-DD') AS ADD_DATE, MODIFY_ID, MODIFY_DATE,
			(SELECT A.CODE_NAME FROM CMS_CODE A WHERE A.GROUP_ID = 'C0015' AND A.CODE_ID = CMS_TERMS.TERMS_TYPE) AS TERMS_TYPE_NAME
		FROM
			CMS_TERMS
		WHERE
			TERMS_IDX NOT IN (SELECT TERMS_IDX FROM CMS_MODULE_TERMS WHERE MODULE_IDX = #{module_idx})
			AND DELETE_YN = 'N' AND USE_YN = 'Y'
	</select>
	
	
	<select id="getTermsListInBoard" resultType="kr.co.whalesoft.app.cms.terms.Terms">
		SELECT
			title, contents
		FROM
			CMS_TERMS A, CMS_CODE B, CMS_BOARD_MANAGE C
		WHERE
			A.homepage_id = #{homepage_id}
		AND	A.use_yn = 'Y'
		AND	A.delete_yn = 'N'
		AND	A.terms_type = b.code_id
		AND A.manage_idx = #{manage_idx}
		AND	B.group_id = 'C0015'
		AND	B.use_yn = 'Y'
		AND	B.code_id = 6
		AND	C.terms_yn = 'Y'
		AND C.manage_idx = #{manage_idx}
		ORDER BY
			terms_idx
	</select>
	
	<select id="getTermsListByTeach" resultType="kr.co.whalesoft.app.cms.terms.Terms">
		SELECT
			terms_idx, title, required_yn
		FROM
			CMS_TERMS
		WHERE
			use_yn = 'Y'
		AND	delete_yn = 'N'
		AND	terms_idx IN
						(
						SELECT
							SUBSTR(terms, INSTR(terms, ',', 1, LEVEL) + 1, INSTR(terms, ',', 1, LEVEL + 1) - INSTR(terms, ',', 1, LEVEL) - 1) AS terms
						FROM
							(
							SELECT
								',' || terms || ',' AS terms
							FROM
								TEACH
							WHERE
								delete_yn = 'N'
							AND	homepage_id = #{homepage_id}
							AND	teach_idx = #{teach_idx}
							AND	category_idx = #{category_idx}
							AND	group_idx = #{group_idx}
							)
						CONNECT BY LEVEL <![CDATA[<=]]> LENGTH(terms) - LENGTH(REPLACE(terms, ',')) - 1
						)
	</select>
	
</mapper>