@charset "utf-8";

*{font-family:'Pretendard';}

/* 스타일 */
a:hover,
a:focus {
    color: #2b74c0
}

/* header */
.tnb {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 999999;
}

.mobile_tnb {
    display: none;
}

.tnb .util {
    float: right;
    height: 40px;
    line-height: 40px;
}

.tnb .util a {
    font-size: 14px;
    color: #000;
    font-weight: normal;
    display: inline-block;
    margin-top: 0;
}

.tnb .util b {
    color: #000;
}

.tnb .l-util ul li.mobile-version {
    display: none;
}

h1.web-logo a {
    display: block;
    background: url('../img/logo-w.svg') no-repeat center center;
    width: 10.375rem;
    height: 2.25rem;
    font-size: 0;
}

h1.mobile-logo {
    display: none;
}

#header.background-white .libSite ul li a {
    color: #fff;
}

#header.background-white .libSite ul li.on a {
    background: #fff;
    color: #000;
}

#header.background-white .tnb .util a {
    color: #fff;
}

#header.background-white .tnb .util b {
    color: #fff;
}

#header.background-white h1.web-logo a {
    display: block;
    background: url('../img/logo-w.svg') no-repeat center center;
}


.head {
    position: absolute;
    z-index: 999;
    width: 100%;];
    background: #FFF;
}

#header h1.web-logo {
	display: inline-block;
	float: left;
	position: relative;
}

.popupWrap {
    z-index:9999;
    padding: 0 110px;
    /* position: absolute; */
    max-width: 1695px;
    margin: 0 auto;
    left: 0;
    top: 90px;
    height: auto;
}

.txt-bar {
    height: 11px;
    margin: 0 10px;
    color: #fff;
    opacity: 0.5;
}

/* Gnb */
.Gnb {}

.Gnb::after {
    content: none
}

.main-section::after {
    content: none
}

.Gnb .g-menu {
	display: inline-block;
	height: 76px;
	/* line-height: 76px; */
}

.Gnb .gnb-menu {
    display: flex;
    gap: 3.25rem;
    height: 100%;
}

.Gnb .gnb-menu > li {}

.Gnb .gnb-menu > li:last-child {}

.Gnb .gnb-menu > li > a {
    color: #1D1D1D;
    text-align: center;
    font-family: 'Pretendard';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 76px;
    letter-spacing: -0.03125rem;
}

.Gnb .gnb-menu > li > ul {
    display: none;
    background: #666;
    border: 0;
    left: 0;
    white-space: nowrap;
    text-align: center;
}

.Gnb .gnb-menu > li.active > ul {
    display: inline-flex;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;
}

.Gnb .gnb-menu > li > .SubMenu > li {
    width: auto;
}

.Gnb .gnb-menu > li > .SubMenu > li {
    display: inline-block
}

.Gnb .gnb-menu > li > .SubMenu > li > a {
    color: #2D2D2D;
    font-family: 'Pretendard';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.025rem;
}

.Gnb .gnb-menu > li > .SubMenu > li > a:hover,
.Gnb .gnb-menu > li > .SubMenu > li > a:focus {
    color: #0E4092;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.025rem;
    background: transparent
}

.Gnb .mask,
.Gnb .gnb-menu > li > ul {
    width: 100%;
    background: #21409a;
}

.Gnb .gnb-menu > li.menu1 > ul,
.Gnb .gnb-menu > li.menu2 > ul,

.Gnb .mask,
.Gnb .gnb-menu > li > ul {
    background: #EFF5FF;

    box-shadow: 0px 2px 2px 0px #EDF3FE inset;
}

.Gnb .gnb-menu > li.active > a,
.Gnb .gnb-menu > li > a:hover,
.Gnb .gnb-menu > li > a:focus {
    color: #0E4092;
    text-align: center;
    font-family: 'Pretendard';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.03125rem;
}

#header.background-white .Gnb .g-menu a.menu-search-box {
    background: url('../img/menu-search-icon.png') no-repeat center center;
}

#header.background-white .Gnb .g-menu a.last-box {
    background: url('../img/sitemap_icon_white.png') no-repeat center center;
}

.Gnb .g-menu a.menu-search-box {
    position: absolute;
    width: 23px;
    height: 21px;
    right: 40px;
    top: 35px;
    background: url('../img/menu-search-icon_b.png') no-repeat center center;
}

.Gnb .g-menu a.last-box {
    position: absolute;
    width: 23px;
    height: 21px;
    right: 0;
    top: 35px;
    background: url('../img/sitemap_icon_black.png') no-repeat center center;
}

.Gnb .mask,
.Gnb .gnb-menu > li > .SubMenu {
    margin-top: 0;
}



.authentication {
    display: inline-flex;
    gap: 1rem;
    align-items: center;
    float: right;
    height: 76px;
}

.authentication a {
    cursor: pointer;
    color: #555;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.02344rem;
}

.authentication a:last-child {
    width: 2.25rem;
    height: 1.125rem;
    background: url(../img/hamburger.svg) no-repeat top center;
    background-size: cover;
}


/*공통 푸터*/
#footer {
    padding: 0 0 50px;
    z-index: 3;
}

#footer .top {
    position: relative;
    height: 50px;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4
}

#footer .bottom {
    padding: 23px 0 0 0
}

#footer .bottom .section {}

#footer .bottom .section .site_link {
    position: absolute;
    right: 0;
    top: 0;
}

#footer .bottom .section .site_link div > div {
    width: 200px
}

#footer .bottom .section .site_link div > div,
#footer .bottom .section .site_link a.btn {
    margin-bottom: 5px
}

#footer .bottom .section .site_link a.btn {
    padding: 7px 10px;
    border-radius: 0;
    background: #7b8294;
    border: 0;
    color: #fff
}

#footer .bottom .section .site_link a.btn:hover,
#footer .bottom .section .site_link a.btn:focus {
    background: #7b8294
}

#footer .info b {
    color: #0055d5
}

#footer .info a,
#footer .info span {
    vertical-align: middle;
    font-size: 15px;
    color: #3b3b3b;
    line-height: 50px;
}

#footer .info .bar {
    display: inline-block;
    margin: 0 13px;
    color: #3b3b3b;
}

#footer address em,
#footer address span {
    font-size: 15px
}

#footer address {
    padding: 15px 0 0
}

#footer address em {
    font-style: normal;
    margin-right: 10px
}

#footer address span {
    font-size: 13px
}

#footer {
    clear: both
}

#footer .info a {
    vertical-align: middle;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

#footer .info a b {
    font-size: 105%
}

#footer .info a.admin {
    font-weight: bold;
    color: #2b74c0
}

.footer .site_link > div > div,
#footer .site_link > div > div {
    position: relative;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 0;
    vertical-align: middle;
    margin-right: -5px;
}

.footer .site_link > div > div > a.fsite,
#footer .site_link > div > div > a.fsite {
    display: block;
    padding: 3px 8px;
    border-right-width: 0;
    text-align: left;
    background: #e3e3e3;
}

.footer .site_link > div > div > ul,
#footer .site_link > div > div > ul {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    text-align: left;
    border-top: 1px solid #ccc;
    background: #fff
}

.footer .site_link > div > div > ul,
#footer .site_link > div > div > ul {
    overflow-y: auto;
    border-right: 1px solid #ccc
}

.footer .site_link > div > div > ul > li,
#footer .site_link > div > div > ul > li {
    line-height: 25px;
    border-left: 1px solid #ccc
}

.footer .site_link > div > div > ul > li > a,
#footer .site_link > div > div > ul > li > a {
    color: #666;
    display: block;
    padding: 3px 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.footer .site_link > div > div > a > span,
#footer .site_link > div > div > a > span {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    line-height: 28px;
    height: 28px
}

.footer .site_link > div > div > a > span.f1,
#footer .site_link > div > div > a > span.f1 {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.footer .site_link > div > div > a > span.f2,
#footer .site_link > div > div > a > span.f2 {
    position: absolute;
    right: 7px;
    top: 0;
    width: 20px
}

.footer .site_link > div > div > a > span > i,
#footer .site_link > div > div > a > span > i {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    width: 0;
    height: 0;
    left: 50%;
    position: absolute;
    top: 50%
}

.footer .site_link > div > div > a > span > i,
.footer .site_link > div > div > a:hover > span > i,
#footer .site_link > div > div > a > span > i,
#footer .site_link > div > div > a:hover > span > i {
    margin-top: -2px
}

.footer .site_link > div > div > a.active > span > i,
#footer .site_link > div > div > a.active > span > i {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px
}

.footer .site_link > div > div > ul > li > a.disabled,
#footer .site_link > div > div > ul > li > a.disabled {
    color: #999
}

.footer .site_link > div > div > ul > li > a:hover,
#footer .site_link > div > div > ul > li > a:hover {
    background: #5897fb;
    color: #fff;
}


/* Go_top */
.home-up.web-view {
    display: block;
    position: absolute;
    bottom: 113px;
    right: 113px;
    z-index: 999999;
}

.home-up.mobile-view {
    display: none;
}


/*2023.08.04수정*/
.sub-up {
    /* display: block; */
    position: absolute;
    bottom: 113px;
    right: 113px;
    /* z-index: 999999; */
}

/* 도서관 둘러보기 */
.libView {
    padding: 0 0 10px
}

.libView strong {
    display: block;
    color: #004c92
}

@media all and (max-width:1400px) {
    #header .tnb {
        height: 3.75rem;
        padding: 10px 0;
		position: fixed;
        z-index: 999;
        width: 100%;
    }

    #header .main-section h1 {
        position: absolute;
        width: 7.5rem;
        height: 1.65rem;
        left: 16px;
        top: 18px;
    }

    h1.mobile-logo {
        display: block;
    }

    .home-up.web-view {
        display: none;
    }

    .home-up.mobile-view {
        display: block;
        bottom: 240px;
        right: 20px
    }

    .mobile_tnb {
        display: block;
    }

    .mobile_tnb .main-section {
        padding: 0;
        height: 100%;
    }

    .main-section .m-menu a {
        position: absolute;
        right: 16px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        color: #333;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 12px;
    }

    .main-section .m-menu a img {
        object-fit: cover;
        display: block;
    }
}

//

@media (max-width:1000px) {
    .libView {
        text-align: center
    }
}

h2.tit {
    font-size: 120%;
    background: url('/resources/homepage/cs/img/contents/text01.jpg') no-repeat 0 0;
    height: 80px;
    padding: 20px 0;
    padding-left: 120px;
    margin-top: 0;
    margin-bottom: 20px
}

h2.tit span {
    display: block;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
    padding: 5px 10px 5px
}

h2.tit02 {
    background-image: url('/resources/homepage/cs/img/contents/text02.jpg')
}

h2.tit03 {
    background-image: url('/resources/homepage/cs/img/contents/text03.jpg')
}

h2.tit04 {
    background-image: url('/resources/homepage/cs/img/contents/text04.jpg')
}

h2.tit05 {
    background-image: url('/resources/homepage/cs/img/contents/text05.jpg')
}

h2.tit06 {
    background-image: url('/resources/homepage/cs/img/contents/text06.jpg')
}

h2.tit07 {
    background-image: url('/resources/homepage/cs/img/contents/text07.jpg')
}

/* 콘텐츠 */
.color1 {
    color: #095077
}

.color2 {
    color: #337a82
}

@media (max-width:550px) {

    table.color-set > tbody > tr,
    table.color-set > tbody > tr > td {
        display: block
    }
}


@media all and (max-width:1200px) {
    .Gnb .gnb-menu > li {
        padding: 0 1.6%;
    }

}

@media all and (max-width:1024px) {
    .tnb {
        height: 65px;
        padding: 10px 0;
    }

    #header h1 {
        position: absolute;
        width: 255px;
        height: auto;
        left: 20px;
        top: 5px;
    }

    h1.mobile-logo {
        display: block;
    }


    .home-up.web-view {
        display: none;
    }

    .home-up.mobile-view {
        display: block;
        bottom: 160px;
        right: 20px
    }
}

@media all and (max-width:767px) {

    .home-up.mobile-view {
        display: block;
        width: 40px;
        bottom: 252px;
    }

}

@media all and (max-width:600px) {
    #header h1 {
        width: 200px;
        left: 15px;
    }

}

@media all and (max-width:550px) {
    .home-up.mobile-view {
        bottom: 225px;
    }
}

@media all and (max-width:500px) {}

@media all and (max-width:476px) {
    .home-up.mobile-view {
        right: 10px;
        bottom: 10px;
    }
}

@media all and (max-width:375px) {}

@media all and (max-width:330px) {}




/*공지사항-카테고리색상*/
.category span.ca.bg-000 {
    background-color: #7a6e61 !important;
    color: #fff;
}

.category span.ca.bg-001 {
    background-color: #f3bb00 !important;
    color: #fff;
}

.category span.ca.bg-002 {
    background-color: #3db2b6 !important;
    color: #fff;
}

.category span.ca.bg-003 {
    background-color: #8194b4 !important;
    color: #fff;
}
