*{
font-family: 'Pretendard';
}


#section1 {
  position: relative;
  height: 100vh;
  background: url('/resources/homepage/center/img/main2_new.png') no-repeat top center;
  background-size: cover;
  padding: 1rem;
  align-items: center;
}

.section_1_wrapper {
  max-width: 75rem;
}

.main_title {
margin-top: 1rem;
  width: 33.9375rem;
  height: 4rem;
  background-size: cover;
  background: url('/resources/homepage/center/img/title.svg') no-repeat top center;
}

.main_cation {
  color: #FFF;
  text-shadow: 2px 2px 16px #000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.0375rem;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 2s ease-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.search_area {
  position: relative;
  display: flex;
  margin-top: 4rem;
  padding-right: 1.81rem;
  background-color: rgba(255, 255, 255, 0.90);
  border-radius: 0.5rem;
}

#searchSelect {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  background: url(../img/select_arrow.svg) no-repeat right 1.44rem center;
  background-size: 2rem;
  appearance: none;
  border-radius: 0.5rem 0 0 0.5rem;
  color: #2D2D2D;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 11.625rem;
  height: 5rem;
  padding: 0 0 0 1.81rem;
}

#searchSelect:focus {
  outline: none;
}

.searchInput {
  margin-right: 16px;
  width: 100%;
  margin-left: 11.625rem;
}

#searchInput {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  position: relative;
  padding: 0 1rem 0 1rem;
  height: 5rem;
  margin-right: 5rem;
  color: #2D2D2D;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 0 0.5rem 0.5rem 0;
}

#searchInput::placeholder {
  color: #717171
}

#searchInput:focus {
  outline: none;
}

.search_btn {
  cursor: pointer;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_btn img {
  height: 3rem;
  width: 3rem;
}

.quick_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5rem;
}

.quick_menu li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 12.08333rem;
}

.quick_menu li img {
  width: 5.25rem;
  height: 5.25rem;
}

.quick_menu li div {
  color: #FFF;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.60);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.025rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5.25rem;
  left: 50%;
  transform: translateX(-50%);
  gap: 0.5rem;
  width: auto;
}

.indicator {
  width: 1.5rem;
  height: 0.25rem;
  border-radius: 6.25rem;
  background: rgba(255, 255, 255, 0.40);
}

.active_indicator {
  width: 1.5rem;
  height: 0.25rem;
  border-radius: 6.25rem;
  background-color: #FFFFFF !important;
}


.information_area {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
}

.left_area {
  width: 50%;
  height: 3.75rem;
  background: rgba(201, 49, 35, 0.40);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.close_day {
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 2.625rem;
  margin-right: 0.5rem;
}

.week_navigation {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.week_navigation img {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.week_navigation img:last-child {
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(180deg);
}

.date {
  color: #FFF;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.week_area {
  display: flex;
  margin-right: 1.87rem;
}

.week_area li {
  width: 3rem;
  color: #FFF;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.right_area {
  width: 50%;
  background: rgba(0, 0, 0, 0.40);
  backdrop-filter: blur(20px);
  height: 3.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.right_area img {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  margin-left: 2rem;
}

.right_area .swiper {
  height: 1.375rem;
  margin-left: 0 !important;
}

.right_area .swiper .swiper-slide {
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.02rem;
  cursor: pointer;
}

.scroll_area {
  position: absolute;
  right: 1.81rem;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  z-index: 999;
}

.scroll_area .scroll_area_text {
  color: #FFF;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.125rem;
  transform: rotate(90deg);
}

.scroll_area_line {
  position: relative;
  background: rgba(255, 255, 255, 0.40);
  width: 0.0625rem;
  height: 5.1875rem;
}

.scroll_area_line div {
  position: absolute;
  left: -0.15rem;
  top: -0.3125rem;
  width: 0.4rem;
  height: 0.4rem;
  background: #FFF;
  border-radius: 50%;
  animation: moveDown 4s ease infinite;
  box-shadow: 0 0 0.625rem rgba(255, 255, 255, 0.8),
  0 0 1.25rem rgba(255, 255, 255, 0.6),
  0 0 2rem rgba(255, 255, 255, 0.4);
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5.1875rem);
  }
}

@media all and (min-width:1024px) and (max-width:1279px) {
  #section1 { height: 47rem !important; }

  #calendar2 .planView .inbox .planList p.datetime.event { width: 1.9rem;
    height: 1.9rem; font-size: 13px; }


  #calendar2 .planView .inbox .planList p.datetime.holiday {
    width: 1.9rem;
    height: 1.9rem;
    font-size: 13px;
  }

  .section_1_wrapper {
    padding-bottom: 10rem;
  }

  .main_title {
    width: 50.8125rem;
    height: 4.75rem;
    background-size: contain;
    margin-top: 0.6rem;
	background-position: left
  }

  .main_cation {
    margin: 7.5rem 0 0 0;
    font-size: 1.5rem;
  }

  .search_area {
    margin-top: 2.47rem;
    padding-right: 1.13rem;
  }

  #searchSelect {
    font-size: 0.875rem;
    background-size: 1rem;
    height: 3.375rem;
    width: 6.625rem;
    background: url(../img/select_arrow.svg) no-repeat right 1rem center;
    background-size: 1.2rem;
  }

  .searchInput {
    margin-left: 6.625rem;
  }

  #searchInput {
    font-size: 0.875rem;
    height: 3.37rem;
    padding: 0 0.3rem 0 0.3rem;
  }

  .search_btn {
    height: 3.375rem;
    width: 3.375rem;
  }

  .search_btn img {
    height: 2rem;
    width: 2rem;
  }

  .quick_menu {
    margin-top: 2.5rem;
    /* display: grid; */
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1.5rem;
    justify-items: center;
  }

  .quick_menu li {
    width: 5.25rem;
    gap: 0.5rem;
  }

  .quick_menu li img {
    width: 5rem;
    height: 5rem;
  }

  .quick_menu li div {
    font-size: 0.8125rem;
  }

.information_area {
    /* flex-direction: column; */
	width: 100%
  }

  .left_area {
    padding-left: 0;
    flex-wrap: wrap;
    /* justify-content: center; */
	justify-content: flex-end;
    /* flex-direction: column; */
    /* align-items: flex-start; */
	align-items: center
  }
  
  .week_area {
  margin-right: 1rem;
  }

  .close_day {
    font-size: 0.875rem;
	margin-left: 1rem;
  }

  .left_area, .right_area {
    width: 50%;
  }

  .right_area .swiper {
    height: 2.25rem;
  }

  .right_area {
    padding-left: 0;
    padding-right: 0;

  }
  
  .right_area  img {
  margin-left: 1rem;
  }

  .week_navigation img {
    width: 1rem;
    height: 1rem;
	
  }

  .right_area .swiper .swiper-slide {
    font-size: 0.875rem;
    letter-spacing: -0.0175rem;
    display: flex !important;
    align-items: center;
  }

  .date {
    font-size: 0.875rem;
  }

  .pagination {
    bottom: 5rem;
  }

 

  .week_area li {
    width: 2.25rem;
    font-size: 0.875rem;
  }

  .scroll_area {
    display: none;
  }
  #calendar2 .planView .inbox .planList p.datetime.holiday span {color:#ff4040;font-size: 13px}
  #calendar2 .planView .inbox .planList p.datetime.event span {color:#3368ff;font-size: 13px}
  #calendar2 .cal-calendar .calendar-info {font-size: 0.8125rem}
  #calendar2 .cal-calendar .calendar-info {
    bottom: -20px
  }
}


@media all and (min-width:768px) and (max-width:1023px) {
  #section1 {
    height: 47rem !important;
  }

  #calendar2 .planView .inbox .planList p.datetime.event {
    width: 1.9rem;
    height: 1.9rem;
    font-size: 13px;
  }


  #calendar2 .planView .inbox .planList p.datetime.holiday {
    width: 1.9rem;
    height: 1.9rem;
    font-size: 13px;
  }

  .section_1_wrapper {
    padding-bottom: 10rem;
  }

  .main_title {
    width: 35rem;
    height: 3rem;
    background-size: contain;
    margin-top: 0.6rem;
	background-position: left;
  }

  .main_cation {
    margin: 2rem 0 0 0;
    font-size: 0.875rem;
  }

  .search_area {
    margin-top: 2.47rem;
    padding-right: 1.13rem;
  }

  #searchSelect {
    font-size: 0.875rem;
    background-size: 1rem;
    height: 3.375rem;
    width: 6.625rem;
    background: url(../img/select_arrow.svg) no-repeat right 1rem center;
    background-size: 1.2rem;
  }

  .searchInput {
    margin-left: 6.625rem;
  }

  #searchInput {
    font-size: 0.875rem;
    height: 3.37rem;
    padding: 0 0.3rem 0 0.3rem;
  }

  .search_btn {
    height: 3.375rem;
    width: 3.375rem;
  }

  .search_btn img {
    height: 2rem;
    width: 2rem;
  }

  .quick_menu {
    margin-top: 2.5rem;
    /* display: grid; */
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1.5rem;
    justify-items: center;
  }

  .quick_menu li {
    width: 5.25rem;
    gap: 0.5rem;
  }

  .quick_menu li img {
    width: 3.75rem;
    height: 3.75rem;
  }

  .quick_menu li div {
    font-size: 0.8125rem;
  }

 .information_area {
    width:100%;
    flex-direction: column;
  } 

  .left_area {
    padding-right: 1rem;
    flex-wrap: wrap;
    /* justify-content: center; */
	justify-content:flex-start;
    /* flex-direction: column; */
    /* align-items: flex-start; */
	align-items: center;
  }

  .close_day {
    font-size: 0.875rem;
  }

  .left_area, .right_area {
    width: 100%;
	padding-left: 6.5rem;
  }

  .right_area .swiper {
    height: 2.25rem;
  }
  
  .right_area img {
    margin-left:  0;
  }

  .right_area {
    padding-left: 6.5rem;
    padding-right: 0;
  }

  .week_navigation img {
    width: 1rem;
    height: 1rem;
  }

  .right_area .swiper .swiper-slide {
    font-size: 0.875rem;
    letter-spacing: -0.0175rem;
    display: flex !important;
    align-items: center;
  }

  .date {
    font-size: 0.875rem;
  }

  .pagination {
    bottom: 9rem;
  }

  .week_area {
    margin-right: 0;
  }

  .week_area li {
    width: 2.25rem;
    font-size: 0.875rem;
  }

  .scroll_area {
    display: none;
  }

  #calendar2 .planView .inbox .planList p.datetime.holiday span {color:#ff4040;font-size: 13px}
  #calendar2 .planView .inbox .planList p.datetime.event span {color:#3368ff;font-size: 13px}
  #calendar2 .cal-calendar .calendar-info {font-size: 0.8125rem}
  #calendar2 .cal-calendar .calendar-info {
    bottom: 0
  }
}

@media all and (min-width:480px) and (max-width:767px){
  #section1 {
    height: 50rem !important;
  }

  #calendar2 .planView .inbox .planList p.datetime.event {
    width: 1.9rem;
    height: 1.9rem;
    font-size: 13px;
  }


  #calendar2 .planView .inbox .planList p.datetime.holiday {
    width: 1.9rem;
    height: 1.9rem;
    font-size: 13px;
  }

  .section_1_wrapper {
    padding-bottom: 10rem;
  }
  
  .main_title {
  width: 15rem;
  background-size: 14rem !important;
  height: 7rem;
  background: url('/resources/homepage/center/img/title_new.svg') no-repeat top;
  background-position: left;
}

  .main_cation {
    margin: 0 0 -19px 6px;
    font-size: 1.16638rem;
  }

  .search_area {
    margin-top: 2.47rem;
    padding-right: 1.13rem;
  }

  #searchSelect {
    font-size: 0.875rem;
    background-size: 1rem;
    height: 3.375rem;
    width: 6.625rem;
    background: url(../img/select_arrow.svg) no-repeat right 1rem center;
    background-size: 1.2rem;
  }

  .searchInput {
    margin-left: 6.625rem;
  }

  #searchInput {
    font-size: 0.875rem;
    height: 3.37rem;
    padding: 0 0.3rem 0 0.3rem;
  }

  .search_btn {
    height: 3.375rem;
    width: 3.375rem;
  }

  .search_btn img {
    height: 2rem;
    width: 2rem;
  }

  .quick_menu {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1.5rem;
    justify-items: center;
  }

  .quick_menu li {
    width: 5.25rem;
    gap: 0.5rem;
  }

  .quick_menu li img {
    width: 3.75rem;
    height: 3.75rem;
  }

  .quick_menu li div {
    font-size: 0.8125rem;
  }

  .information_area {
    flex-direction: column;
  }

  .left_area {
    padding-left: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }

  .close_day {
    font-size: 0.875rem;
  }

  .left_area, .right_area {
    width: 100%;
  }

  .right_area .swiper {
    height: 2.25rem;
  }

  .right_area {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .week_navigation img {
    width: 1rem;
    height: 1rem;
  }

  .right_area .swiper .swiper-slide {
    font-size: 0.875rem;
    letter-spacing: -0.0175rem;
    display: flex !important;
    align-items: center;
  }

  .date {
    font-size: 0.875rem;
  }

  .pagination {
    bottom: 9rem;
  }

  .week_area {
    margin-right: 0;
	gap: 0.75rem
  }

  .week_area li {
    width: 2.25rem;
    font-size: 0.875rem;
  }

  .scroll_area {
    display: none;
  }

  #calendar2 .planView .inbox .planList p.datetime.holiday span {color:#ff4040;font-size: 13px}
  #calendar2 .planView .inbox .planList p.datetime.event span {color:#3368ff;font-size: 13px}
  #calendar2 .cal-calendar .calendar-info {font-size: 0.8125rem}
  #calendar2 .cal-calendar .calendar-info {
    bottom: -36px;
	left: 23px;
  }
  
  .right_area img {
	margin-left: 0
  }
}

@media all and (max-width:479px){
  #calendar2 .planView .inbox .planList p.datetime.event {
    width: 1.9rem;
    height: 1.9rem;
    font-size: 13px;
  }

  .right_area img {
	margin-left: 0
  }

  #calendar2 .planView .inbox .planList p.datetime.holiday {
    width: 1.9rem;
    height: 1.9rem;
    font-size: 13px;
  }


  #section1 {
    height: 47rem !important;
  }

  .section_1_wrapper {
    padding-bottom: 10rem;
  }

  .main_title {
  width: 15rem;
  height: 5rem;
  margin-bottom:  2rem;
  background-size: 12rem;
  background-size: contain;
  background: url('/resources/homepage/center/img/title_new.svg') no-repeat top;
  background-position: left;
  margin-left: -7px;
}

  .main_cation {
    margin: 3rem 0 -9px 0;
    font-size: 0.875rem;
  }

  .search_area {
    margin-top: 1.47rem;
    padding-right: 1.13rem;
  }

  #searchSelect {
    font-size: 0.875rem;
    background-size: 1rem;
    height: 3.375rem;
    width: 6.625rem;
    background: url(../img/select_arrow.svg) no-repeat right 1rem center;
    background-size: 1.2rem;
  }

  .searchInput {
    margin-left: 6.625rem;
  }

  #searchInput {
    font-size: 0.875rem;
    height: 3.37rem;
    padding: 0 0.3rem 0 0.3rem;
  }

  .search_btn {
    height: 3.375rem;
    width: 3.375rem;
  }

  .search_btn img {
    height: 2rem;
    width: 2rem;
  }

  .quick_menu {
  grid-column-gap: 2rem;
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1.5rem;
    justify-items: center;
  }

  .quick_menu li {
    width: 5.25rem;
    gap: 0.5rem;
  }

  .quick_menu li img {
    width: 3.75rem;
    height: 3.75rem;
  }

  .quick_menu li div {
    font-size: 0.8125rem;
  }

  .information_area {
    flex-direction: column;
  }

  .left_area {
    padding-left: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }

  .close_day {
    font-size: 0.875rem;
  }

  .left_area, .right_area {
    width: 100%;
  }

  .right_area .swiper {
    height: 2.25rem;
  }

  .right_area {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .week_navigation img {
    width: 1rem;
    height: 1rem;
  }

  .right_area .swiper .swiper-slide {
    font-size: 0.875rem;
    letter-spacing: -0.0175rem;
    display: flex !important;
    align-items: center;
  }

  .date {
    font-size: 0.875rem;
  }

  .pagination {
    bottom: 9rem;
  }

  .week_area {
    margin-right: 0;
	gap: 0.75rem;
  }

  .week_area li {
    width: 2.25rem;
    font-size: 0.875rem;
  }

  .scroll_area {
    display: none;
  }

  #calendar2 .planView .inbox .planList p.datetime.holiday span {color:#ff4040;font-size: 0.7rem}
  #calendar2 .planView .inbox .planList p.datetime.event span {color:#3368ff;font-size: 0.7rem}

  #calendar2 .cal-calendar .calendar-info {font-size: 0.8125rem}

  #calendar2 .cal-calendar .calendar-info {
    bottom: -28px;
	left: 11px;
  }
}