.mobile-selector {display:none;}

.table-wrap .area-box {padding-top:38px;width:49%;height:130px;float:left;}
.table-wrap .area-box.fl-right{float:right;}
.table-wrap .area-box ul {overflow:hidden;padding:20px 25px;box-sizing:border-box;border:1px solid #ddd;border-radius:5px;min-height:87px;}
.table-wrap .area-box ul li {display:inline-block;float:left;width:25%;}
.btn-wrap {text-align:center;padding:30px 0 0;}

@media only screen and (max-width: 1400px) {
	.table-wrap .area-box {width:100%;height:auto;float:unset;}
	.table-wrap .area-box.fl-right{float:unset;}
	.table-wrap .area-box ul{min-height:auto;}
}	

@media only screen and (max-width: 550px) {
	.table-wrap .area-box ul li{display:block;float:none;width:100%;}
}	

.sub-culture-search-condition {height:100%;box-sizing:border-box;}
.sub-culture-search-condition .sub-culture-search-condition-box-sel {box-sizing:border-box;margin:15px 0;}
.sub-culture-search-condition .sub-culture-search-condition-box-sel ul {font-size:0;height:100%;}
.sub-culture-search-condition .sub-culture-search-condition-box-sel ul li {display:inline-block;height:100%;width:24%;border-radius:100px;margin-right:0.5%;background:#f0f0f0;border:1px solid #f0f0f0;transition:all 0.5s;}
.sub-culture-search-condition .sub-culture-search-condition-box-sel ul li:hover{background:#fff;border:1px solid #ccd2dc;}
.sub-culture-search-condition .sub-culture-search-condition-box-sel ul li:last-child {margin-right:0;}
.sub-culture-search-condition .sub-culture-search-condition-box-sel ul li select {display:inline-block;-moz-appearance:none;-webkit-appearance:none;appearance:none;font-family:'SCoreDream';font-weight:500;font-size:19px;color:#555;width:100%;height:80px;line-height:60px;box-sizing:border-box;vertical-align:middle;text-align:center;border:none;font-weight:600;}
.sub-culture-search-condition .sub-culture-search-condition-box-sel ul li select::-ms-expand { display: none; }
.sub-culture-search-condition .sub-culture-search-condition-box-sel ul li select::placeholder {color:#fff;}
.sub-culture-search-condition .sub-culture-search-condition-box-sel ul li:first-child select{background:url('/resources/homepage/libculture/img/sub_ico1-1.png')no-repeat 32% 27px;}
.sub-culture-search-condition .sub-culture-search-condition-box-sel ul li:nth-child(2) select{background:url('/resources/homepage/libculture/img/sub_ico1-2.png')no-repeat 32% 27px;}
.sub-culture-search-condition .sub-culture-search-condition-box-sel ul li:nth-child(3) select{background:url('/resources/homepage/libculture/img/sub_ico1-3.png')no-repeat 32% 27px;}
.sub-culture-search-condition .sub-culture-search-condition-box-sel ul li:last-child select{background:url('/resources/homepage/libculture/img/sub_ico1-4.png')no-repeat 28% 27px;}

.sub-culture-search-condition .sub-culture-search-condition-box-cal {box-sizing:border-box;}
.sub-culture-search-condition .sub-culture-search-condition-box-cal .web-selector {background:linear-gradient(to right, #1cbb82, #246fde);border-radius:100px;}
.sub-culture-search-condition .sub-culture-search-condition-box-cal ul {font-size:0;}
.sub-culture-search-condition .sub-culture-search-condition-box-cal ul li {display:inline-block;height:100%;color:#fff;margin:0 10px}
.sub-culture-search-condition .sub-culture-search-condition-box-cal ul li:first-child {width:90px;height:90px;line-height:90px;font-family:'SCoreDream';font-weight:600;font-size:28px;color:#fff;}
.sub-culture-search-condition .sub-culture-search-condition-box-cal ul li a {display:block;width:80px;height:95px;line-height:100px;font-family:'SCoreDream';font-weight:400;font-size:18px;color:#fff;transition:all 0.5s;}
.sub-culture-search-condition .sub-culture-search-condition-box-cal ul li a:hover {background:#333;color:#fff;}
.sub-culture-search-condition .sub-culture-search-condition-box-cal ul li.on a {background:#333;color:#fff;}


.result-count {padding:30px 0 20px;text-align:center;font-family:'SCoreDream';font-weight: 400;font-size:19px;}
.result-count b {color:#ac0000;}
.result-list {display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-12px;}
.product {display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;box-sizing:border-box;border:1px solid #e6e6e6;padding:15px 20px 25px;}
.result-list .product--stretch .product__thumnail {display:-webkit-box;display:-ms-flexbox;display:block;position:static;width:auto;height:250px;margin-bottom:10px;padding:0 69px 5px;}
.result-list .product--stretch .product__thumnail p.lib-cate{position:absolute;top:0;left:69px;background:#274395;height:30px;line-height:30px;text-align:center;font-size:12.5px;color:#fff;padding:0 10px;}
.result-list .product--stretch .product__thumnail__2 {display:-webkit-box;display:-ms-flexbox;display:block;position:static;width:auto;height:230px;margin-bottom:10px;padding:5px 0 10px;text-align:center;}
.result-list .product--stretch .product__thumnail__2 a img{width:160px;height:230px;}
.result-list .product--stretch .product__caption {padding-left: 0;}
.result-list .product--stretch .product__desc {padding-left: 0;}
.result-list .product__header {position:relative;min-height:40px;border-bottom: 1px dashed #d8d8d8;}
.result-list .product__filters {display:-webkit-box;display:-ms-flexbox;display:grid;-ms-flex-pack:distribute;/*justify-content:space-around;*/-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;margin-bottom:20px;}
.result-list .product__filter {font-size:20px;line-height:130%;font-family:'SCoreDream';font-weight: 600;vertical-align:top;text-align:center;height:27px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;letter-spacing:-0.5px;}
.result-list .product__filter-topic {color:#333;}
.result-list .product__filter-class {color:#0077b4;}
.result-list .product__filter-cost  {color:#ff4200;}
.result-list .product__filter-visit {color:#379c00;}
.result-list .product__thumnail {display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position: absolute;left:0;top:57px;width:90px;height:110px;}
.result-list .product__thumnail__2 {display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position: absolute;left:0;top:57px;width:110px;height:90px;}
.result-list .product__img {width:100%;height:100%;}
.result-list .product__desc { height: 36px; margin-top: 10px; padding-left: 100px; color: #666; font-size: 13px; line-height: 18px; white-space: normal; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }
.result-list .product__info { margin-top: 20px;}
.result-list .product__info dt, 
.result-list .product__info dd { float: left; font-size: 14.5px; line-height: 24px; letter-spacing:-0.25px;}
.result-list .product__info dt:not(:first-of-type), .result-list .product__info dd:not(:first-of-type) { margin-top: 5px; }
.result-list .product__info dt { width: 110px; font-family: 'SCoreDream'; font-weight:500;}
.result-list .product__info dt:not(:first-of-type) { clear: left; }
.result-list .product__info dd { width: calc(100% - 110px); color: #333; white-space: nowrap; word-wrap: break-word; display: block; overflow: hidden; text-overflow: ellipsis; }
.result-list .product__info dd.lib-cate{color:#274395;font-weight:600;}
.result-list .product__buttons { display: -webkit-box; display: -ms-flexbox; display: block; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-top: 15px; }
.result-list .product__button { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; width: 100%; height: 40px; font-size: 14px; line-height: 1; text-align: center; }
.result-list .product__button:not(:first-child) { margin-left: 8px; }
.result-list .product__button--ticket { background-color: #444; color: #fff; }

.search-form { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position:relative;}
.search-form__text { position: relative; padding-left: 38px; color: #666; font-size: 18px; font-family: 'SCoreDream'; }
.search-form__select { max-width: 180px; margin-left: 5px; border-radius: 2px; height: 42px;}
.search-form__input { min-width:calc(100% - 330px); margin-left: 5px; border-radius: 4px; background:#fff !important;}
.search-form__input2 { min-width:calc(100% - 600px); margin-left: 5px; border-radius: 4px; background:#fff !important;}
.search-form__button { position:absolute;top:27px;right:40px;background:none;}

.new_select_box{position:absolute;top:22px;left:40px;border:none;border-radius:0;padding:0;font-size:18px;color:#333;font-weight:600;min-width:250px;background:none;}
.new_select_box.left2{left:320px;}
.new_select_box option{font-weight:600;}
input.new_text01{height:72px !important;border-radius:100px;padding-left:330px;font-size:19px;}
input.new_text02{height:80px !important;border-radius:100px;padding-left:600px;font-size:19px;}

.contents__header-group + .product-detail { padding-top: 0; }
.product-detail + .map { margin-top: 0; }
.product-detail {padding:30px 30px 40px;box-sizing:border-box;border:1px solid #f0f0f0;border-radius:4px;}
.product-detail .detail_header-place {display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.product-detail .detail_header-place .detail_title {margin-bottom:0;}
.product-detail .detail_header-place .detail_flags {margin-top:0;margin-left:0;}
.product-detail .detail_header-place .detail_flag  {margin-top:0;border-color:#4e8006;background-color:#fff;color:#4e8006;}
.product-detail .detail_title {margin-bottom:15px;font-size:26px;line-height:36px;font-family:'SCoreDream';font-weight:600;}
.product-detail .detail_flags {display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-top:-5px;}
.product-detail .detail_flag {display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align: center;align-items:center;height:30px;margin:5px 5px 0 0;padding:0 15px;border:1px solid #2e4c03;border-radius:45px;background-color:#4e8006;color:#fff;font-size:15px;line-height:1;font-family:'SCoreDream';}
.product-detail .detail_flag--mixed { padding-left: 0; border-color: #ccc; background-color: #fff; color: #000; }
.product-detail .detail_flag--mixed span { padding-left: 10px; color: inherit; font-size: inherit; line-height: inherit; }
.product-detail .detail_flag-label { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 28px; min-width: 56px; padding: 0 15px 0 14px; border-radius: 45px; background-color: #e8e8e8; color: #333; font-size: inherit; line-height: inherit; text-align: center; font-family: 'SCoreDream'; }

.product-detail .detail_group { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 40px; }
.product-detail .detail_group-place { -webkit-box-align: normal; -ms-flex-align: normal; align-items: normal; margin-top: 30px; }
.product-detail .detail_group-place .detail__thumnail { width: 370px; height: 225px; }
.product-detail .detail_group-place .detail__info { padding-top: 15px; }
.product-detail .detail_group-place .detail__buttons { -ms-flex-item-align: start; align-self: flex-start; }
.product-detail .detail__thumnail { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 190px; height: 260px; margin-right: 30px; }
.product-detail .detail__img { width: 100%; height: 100%; }
.product-detail .detail__info dt, .product-detail .detail__info dd { float: left; font-size: 16px; line-height: 24px; }
.product-detail .detail__info dt:not(:first-of-type), .product-detail .detail__info dd:not(:first-of-type) { margin-top: 15px; }
.product-detail .detail__info dt { width: 90px; font-family: 'SCoreDream'; }
.product-detail .detail__info dt:not(:first-of-type) { clear: left; }
.product-detail .detail__info dd { width: calc(100% - 90px); }
.product-detail .detail__info .group { display: -webkit-box; display: -ms-flexbox; display: flex; color: inherit; font-size: inherit; }
.product-detail .detail__info .group span { position: relative; margin-left: 14px; padding-left: 14px; font-family: 'SCoreDream'; }
.product-detail .detail__info .group span:before { content: ''; display: block; position: absolute; left: 0; top: 50%; width: 1px; height: 14px; margin-top: -7px; background-color: #999; }
.product-detail .detail__buttons { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-item-align: end; align-self: flex-end; -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 240px; margin-left: auto; }
.product-detail .detail__button { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: 60px; border: 1px solid #999; border-radius: 4px; background-color: #f8f8f8; font-size: 16px; font-family: 'SCoreDream'; }
.product-detail .detail__button:not(:first-child) { margin-top: 10px; }
.product-detail .detail__button--blue { border-color: #4e8cff; background-color: #ebf4ff; }
.product-detail .detail__button--green { border-color: #2e4c03; background-color: #4e8006; color: #fff; }

.detailContent {padding-top:20px;}

table.content-tbl th.content-tbl-th {height:38px;width:25%;}
table.content-tbl td.content-tbl-td {height:38px;width:75%;}

.map { margin-top: 50px; }
.map__inner { position: relative; height: 500px; border: 1px solid #aaa; }
.buttons { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 50px; }
.buttons .button__item { min-width: 200px; margin: 0 10px; border-radius: 4px; height: 60px; font-size: 18px; line-height: 60px; }

/*대시보드*/
.myDashboardTop {display:relative;margin-top:30px;}
.myDashboardTop ul {font-size:0;}
.myDashboardTop li {display:inline-block;width:49%;margin-right:2%;height:230px;box-sizing:border-box;vertical-align:top;padding:40px;box-shadow:5px 5px 10px 10px rgba(0,0,0,0.03);}
.myDashboardTop li:last-child {margin-right:0;}
.myDashboardTop li span {display:block;line-height:150%;}
.myDashboardTop li.point span.top,
.myDashboardTop li.mylibselect span.top {font-family:'SCoreDream';font-weight:400;font-size:20px;line-height:100%;padding-bottom:18px;}
.myDashboardTop li.point span.middle {font-family:'GmarketSansBold';font-weight:600;font-size:40px;line-height:150%;padding-bottom:10px;}
.myDashboardTop li.point span.bottom {font-family:'SCoreDream';font-weight:600;color:#337bf6;font-size:16px;line-height:200%;}
.myDashboardTop li.point span.bottom b {font-weight:800;}
.myDashboardTop li.point {border:1px solid #475ab9;background:url('/resources/homepage/libculture/img/nearbylib-dashboard-img1-1.png') no-repeat 95% bottom;border-radius:7px;}
.myDashboardTop li.mylibselect span.middle {font-family:'SCoreDream';font-weight:600;font-size:16px;line-height:200%;border:1px solid #ddd;box-sizing:border-box;padding:4px 15px;border-radius:100px;width:65%;}
.myDashboardTop li.mylibselect span.middle select{font-family:'GmarketSansMedium';font-weight:400;font-size:18px;line-height:35px;border:none;-webkit-appearance:none; -moz-appearance:none; appearance:none;background:url('/resources/homepage/libculture/img/naerbylib-lib-arr.png') no-repeat 100% center;width:100%;height:40px;}
.myDashboardTop li.mylibselect span.middle select option{font-family:'GmarketSansMedium';font-weight:400;}
.myDashboardTop li.mylibselect span.bottom {font-family:'SCoreDream';font-weight:400;font-size:16px;color:#5d5c5c;width:65%;padding-top:18px;}
.myDashboardTop li.mylibselect {border:1px solid #475ab9;background:url('/resources/homepage/libculture/img/nearbylib-dashboard-img1-2.png') no-repeat 95% bottom;border-radius:7px;}

.myDashboard-pointbox {margin-top:50px;}
.myDashboard-pointbox .myDashboard-pointbox-title {position:relative;}
.myDashboard-pointbox .myDashboard-pointbox-title h5 {display:block;font-family:'SCoreDream';font-weight:600;font-size:22px;padding-bottom:10px;}
.myDashboard-pointbox .myDashboard-pointbox-title a.more-btn {position:absolute;right:0;top:0;font-family:'SCoreDream';font-weight:600;font-size:16px;color:#666;}
.myDashboard-pointbox .myDashboard-pointbox-searchbox {display:table;background:#f5f5f5;text-align:center;box-sizing:border-box;width:100%;height:120px;border-radius:4px;}
.myDashboard-pointbox .myDashboard-pointbox-searchbox .myDashboard-pointbox-searchbox-innerbox {position:relative;display:table-cell;vertical-align:middle;text-align:center;}
.myDashboard-pointbox .myDashboard-pointbox-searchbox .myDashboard-pointbox-searchbox-innerbox span{margin:0 10px;}
.myDashboard-pointbox .myDashboard-pointbox-searchbox .myDashboard-pointbox-searchbox-innerbox span a{display:inline-block;width:90px;font-weight:400;}
.search-submit-btn {position:absolute;height:100%;width:5%;right:0;top:0;background:#475ab9;border-top-right-radius:7px;border-bottom-right-radius:7px;}
.search-submit-btn a {position:absolute;color:#fff;left:0;top:40%;width:100%;vertical-align:middle;}
.myDashboard-pointbox input.ui-calendar-input {font-weight:400;width:10%;background:#fff url('/resources/homepage/libculture/img/point-cal-ico.png') no-repeat 90% center;border-radius:7px;vertical-align:middle;}
.btn.bttn {background:#fff;height:42px;line-height:42px;box-sizing:border-box;padding:0 11px;vertical-align:middle;border-radius:7px;font-weight:400;}


.myDashboard-pointbox-listbox {position:relative;margin-top:20px;}
.myDashboard-pointbox-listbox span{font-size:18px;}
.myDashboard-pointbox-listbox span em {font-style:normal;font-family:'SCoreDream';font-weight:500;}
.myDashboard-pointbox-listbox span em b {font-weight:800;color:#f15a48;}
.myDashboard-pointbox-listbox .sortbox {position:absolute;right:0;top:0;}
.myDashboard-pointbox-listbox table thead th {text-align:center;font-weight:800;border-right:0;border-left:0;background:#fff;}
.myDashboard-pointbox-listbox table tbody td {text-align:center;font-weight:400;border-right:0;border-left:0;box-sizing:border-box;padding:10px 0;}
.myDashboard-pointbox-listbox table tbody td b.get {}
.myDashboard-pointbox-listbox table tbody td b.use {}

.myDashboard-culturebox {position:relative;margin-top:50px;}
.myDashboard-culturebox h5 {display:block;font-family:'SCoreDream';font-weight:600;font-size:22px;}
.myDashboard-culturebox .myDashboard-culturebox-title {position:relative;}
.myDashboard-culturebox .myDashboard-culturebox-title a.more-btn {position:absolute;right:0;top:10px;font-family:'SCoreDream';font-weight:400;font-size:15px;color:#666;}
.myDashboard-culturebox .myDashboard-culturebox-sortbox {position:relative;text-align:right;}

.myDashboard-culturebox .myDashboard-culturebox-searchbox {display:table;background:#f0f0f0;text-align:center;box-sizing:border-box;width:100%;height:120px;border-radius:4px;}
.myDashboard-culturebox .myDashboard-culturebox-searchbox .myDashboard-culturebox-searchbox-innerbox {position:relative;display:table-cell;vertical-align:middle;text-align:center;}
.search-submit-btn {position:absolute;height:100%;width:6%;right:0;top:0;background:#475ab9;border-top-right-radius:7px;border-bottom-right-radius:7px;margin:0 !important;}
.search-submit-btn a {position:absolute;color:#fff;left:0;top:40%;width:100% !important;vertical-align:middle;}
.myDashboard-culturebox input.ui-calendar-input {width:15%;background:#fff url('/resources/homepage/libculture/img/ui-calendar-icon.png') no-repeat 95% center;border-radius:7px;vertical-align:middle;}
.myDashboard-culturebox select {width:100px;height: 42px;-moz-appearance:none;-webkit-appearance:none;appearance:none;background:#fff url("/resources/homepage/libculture/img/select-arrow-b.png") no-repeat 95% 50%;}
.btn.bttn {background:#fff;height:42px;line-height:42px;box-sizing:border-box;padding:0 11px;vertical-align:middle;border-radius:7px;font-weight:400;}

.myDashboard-culturebox table thead th {text-align:center;font-weight:800;border-right:0;border-left:0;background:#fff;}
.myDashboard-culturebox table tbody td {text-align:center;font-weight:400;border-right:0;border-left:0;box-sizing:border-box;padding:10px 0;}

@media screen and (max-width: 1350px) { 
	.sub-culture-search-condition .sub-culture-search-condition-box-cal ul li:first-child{display:none;}
}

@media screen and (min-width: 1024px) { 
	.product { margin: 12px 0 0 12px; width: calc(100% / 3 - 12px); }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) { 
	.product:nth-child(3n) { margin-right: -3px; } 
}

@media screen and (min-width: 1280px) { 
	.product { width: calc(100% / 4 - 13px); }
	.product:nth-child(5n) { margin-right: -3px; } 
}

@media screen and (max-width: 1024px) { 
	.product { margin: 12px 0 0 12px; width: calc(50% - 12px); } 

	.product-detail + .map { margin-top: 25px; }
	.product-detail { padding: 0; }
	.product-detail .detail_title { font-size: 14px; line-height: 24px; }
	.product-detail .detail_group { display: block; margin-top: 15px; }
	.product-detail .detail_group-place .detail__thumnail { position: relative; padding-top: 56.25%; }
	.product-detail .detail_group-place .detail__img { position: absolute; left: 0; top: 0; }
	.product-detail .detail_group-place .detail__info { padding-top: 0; }
	.product-detail .detail__thumnail { width: auto !important; height: auto !important; margin-right: 0; }
	.product-detail .detail__info { margin-top: 20px; }
	.product-detail .detail__info dt, .product-detail .detail__info dd { font-size: 12px; line-height: 20px; }
	.product-detail .detail__info dt { width: 60px; }
	.product-detail .detail__info dd { width: calc(100% - 60px); }
	.product-detail .detail__buttons { width: auto; margin-left: 0; margin-top: 20px; }
	.product-detail .detail__button { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; height: 25px; font-size: 12px; }
	.product-detail .detail__button:not(:first-child) { margin-top: 0; margin-left: 10px; }
	.product-detail .detail__button--green { -webkit-box-flex: 0; -ms-flex: none; flex: none; margin-top: 20px !important; margin-left: 0 !important; height: 35px; }

	.map { margin-top: 20px; }
	.map__inner { padding-top: 56.25%; height: auto; }
	.buttons { margin-top: 25px; }
	.buttons .button__item { height: 35px; min-width: 95px; font-size: 12px; line-height: 35px; }

	.sub-culture-search-condition .sub-culture-search-condition-box-cal ul li:first-child{display:none;}
	.sub-culture-search-condition .sub-culture-search-condition-box-cal ul li{width:7%;margin:0;}
	.sub-culture-search-condition .sub-culture-search-condition-box-cal ul li a{width:60%;height:50px;line-height:55px;font-size:14px;}
	.sub-culture-search-condition .sub-culture-search-condition-box-sel ul li select{height:50px;line-height:30px;font-size:14px;}
	.sub-culture-search-condition .sub-culture-search-condition-box-sel ul li:first-child select{background:url('/resources/homepage/libculture/img/sub_ico1-1.png')no-repeat 30% 12px;}
	.sub-culture-search-condition .sub-culture-search-condition-box-sel ul li:nth-child(2) select{background:url('/resources/homepage/libculture/img/sub_ico1-2.png')no-repeat 30% 12px;}
	.sub-culture-search-condition .sub-culture-search-condition-box-sel ul li:nth-child(3) select{background:url('/resources/homepage/libculture/img/sub_ico1-3.png')no-repeat 30% 12px;}
	.sub-culture-search-condition .sub-culture-search-condition-box-sel ul li:last-child select{background:url('/resources/homepage/libculture/img/sub_ico1-4.png')no-repeat 27% 12px;}
	.sub-culture-search-condition .sub-culture-search-condition-box-sel{margin:10px 0;}

	input.new_text01{height:42px !important;font-size:15px;}
	.new_select_box{font-size:15px;top:6px;}
	.search-form__button{top:11px;}
	.result-count{padding:15px 0 5px;font-size:15px;}

	.nsb2{position:relative;top:0;left:0;min-width:49%;border:1px solid #ddd;border-radius:100px;height:50px;line-height:50px;padding:0 15px;}
	.top2{top:74px;}
	input.new_text02{padding-left:30px;margin-top:10px;height:50px !important;}
	.search-form__input2{min-width:calc(97% - 30px);}
	.new_select_box.left2{left:0;}
	
	.myDashboardTop{margin-top:0;}
	.myDashboardTop li{width:100%;margin-right:0;margin-bottom:10px;}
	.myDashboard-pointbox input.ui-calendar-input{width:15%;}
}

@media screen and (max-width: 900px) { 
	.myDashboardTop li {display:block;width:100%;margin-right:0;height:200px;box-sizing:border-box;vertical-align:top;padding:30px;}
	.myDashboardTop li:last-child {margin-top:10px;}
	.search-submit-btn {width:50px;}
	.myDashboard-pointbox-searchbox-innerbox {padding:10px 0;}
	.myDashboard-pointbox .myDashboard-pointbox-searchbox .myDashboard-pointbox-searchbox-innerbox span {display:block;}
	.myDashboard-pointbox-listbox table thead th, .myDashboard-pointbox-listbox table tbody td, .myDashboard-culturebox table thead th, .myDashboard-culturebox table tbody td {font-size:13px;}
}

@media screen and (max-width: 768px) { 
	.myDashboardTop li {padding:25px;height:auto;}
	.myDashboardTop li.point, .myDashboardTop li.mylibselect {background:none;}
	.myDashboardTop li.point span.top, .myDashboardTop li.mylibselect span.top {font-size:16px;padding-bottom:10px;}
	.myDashboardTop li.point span.bottom {font-size:14px;}
	.myDashboardTop li.point span.bottom img {width:20px;}
	.myDashboardTop li.mylibselect span.bottom {font-size:14px;width:100%;padding-top:10px;}
	.myDashboardTop li.mylibselect span.middle {font-size:14px;width:100%;}
	.myDashboard-pointbox-listbox table thead th, .myDashboard-pointbox-listbox table tbody td, .myDashboard-culturebox table thead th, .myDashboard-culturebox table tbody td {font-size:12px;}
	.myDashboard-pointbox .myDashboard-pointbox-title h5, .myDashboard-culturebox h5 {font-size:18px;}
	.myDashboard-pointbox .myDashboard-pointbox-title a.more-btn, .myDashboard-culturebox .myDashboard-culturebox-title a.more-btn  {font-size:13px;}

	.result-list .product--stretch .product__thumnail{padding:0 50px 5px;}
	.result-list .product--stretch .product__thumnail p.lib-cate{left:50px;}

	.sub-culture-search-condition .sub-culture-search-condition-box-cal ul li a{font-size:13px;}
	.sub-culture-search-condition .sub-culture-search-condition-box-cal ul li a{width:100%;}

	.sub-culture-search-condition .sub-culture-search-condition-box-sel ul li{width:100%;}
	.sub-culture-search-condition .sub-culture-search-condition-box-sel ul li:nth-child(2){margin:5px 0;}
	.sub-culture-search-condition .sub-culture-search-condition-box-sel ul li:nth-child(3){margin:0 0 5px 0;}
	.sub-culture-search-condition .sub-culture-search-condition-box-sel ul li select{font-size:13px;text-align:left;padding:6px 5px 6px 25px !important;}
	.sub-culture-search-condition .sub-culture-search-condition-box-sel ul li:first-child select{background:url('/resources/homepage/libculture/img/sub_ico1-1.png')no-repeat 94% 12px;}
	.sub-culture-search-condition .sub-culture-search-condition-box-sel ul li:nth-child(2) select{background:url('/resources/homepage/libculture/img/sub_ico1-2.png')no-repeat 94% 12px;}
	.sub-culture-search-condition .sub-culture-search-condition-box-sel ul li:nth-child(3) select{background:url('/resources/homepage/libculture/img/sub_ico1-3.png')no-repeat 94% 12px;}
	.sub-culture-search-condition .sub-culture-search-condition-box-sel ul li:last-child select{background:url('/resources/homepage/libculture/img/sub_ico1-4.png')no-repeat 94% 12px;}

	input.new_text01{padding-left:130px;}
	.search-form__input{min-width:calc(100% - 130px);}
	.new_select_box{min-width:100px;font-size:14px;}
	.result-count{font-size:14px;}

	.result-list .product__filter{font-size:18px;}
	.result-list .product__info dt, .result-list .product__info dd{font-size:14px;}

	.nsb2{min-width:49%;}

	.myDashboard-pointbox input.ui-calendar-input{width:110px;}
}

@media screen and (max-width: 650px) { 
	.product{width:100%;}
	.result-list .product--stretch .product__thumnail{padding:0 0 15px;width:162px;margin:0 auto;}
	.result-list .product--stretch .product__thumnail p.lib-cate{left:auto;}
}

@media screen and (max-width: 550px) { 
	.myDashboardTop li {padding:25px;}
	.myDashboardTop li.point span.top, .myDashboardTop li.mylibselect span.top {font-size:15px;}
	.myDashboardTop li.point span.bottom {font-size:13px;}
	.myDashboardTop li.point span.bottom img {width:18px;}
	.myDashboardTop li.mylibselect span.bottom {font-size:13px;}
	.myDashboardTop li.mylibselect span.middle {font-size:13px;}
	.myDashboard-pointbox .myDashboard-pointbox-title h5, .myDashboard-culturebox h5 {font-size:16px;}
	.myDashboard-pointbox .myDashboard-pointbox-title a.more-btn, .myDashboard-culturebox .myDashboard-culturebox-title a.more-btn  {font-size:12px;}
	
	.sub-culture-search-condition .sub-culture-search-condition-box-cal ul li{width:16%;}
	.sub-culture-search-condition .sub-culture-search-condition-box-cal ul li a{font-size:12px;}

	.new_select_box{left:20px;padding-left:100px;}
	.search-form__input{width:clac(100% - 100px);}
	.search-form__button{right:25px;}

	.result-count{font-size:14px;}

	.sub-culture-search-condition .sub-culture-search-condition-box-cal ul{width:80%;margin:0 auto;}

	.nsb2{min-width:48%;left:0;padding-left:0;}

	.myDashboardTop li.mylibselect span.middle select{font-size:14px;}
	
	.myDashboard-pointbox .myDashboard-pointbox-searchbox .myDashboard-pointbox-searchbox-innerbox span{margin-bottom:10px;}
	.myDashboard-pointbox .myDashboard-pointbox-searchbox .myDashboard-pointbox-searchbox-innerbox span a{width:65px;font-size:13px;}

	.myDashboard-pointbox input.ui-calendar-input{font-size:13px;}
	
	.myDashboard-pointbox-searchbox-innerbox{padding:20px 0 0;}
	.search-submit-btn{position:relative;width:100%;height:45px;line-height:10px;border-radius:0;}
	.search-submit-btn a{font-size:13px;}

	.myDashboard-pointbox-listbox span{font-size:14px;}

	.myDashboardTop li.mylibselect span.middle{padding:4px;}
}

/* 나만의도서관 */
.mylibrary-table-wrap{position:relative;width:100%;height:auto;}
.mylibrary-table-wrap .area-box {padding:30px 16px;width:calc(12.4% - 32px);height:310px;float:left;border-right:1px solid rgba(0,0,0,0.1);}
.mylibrary-table-wrap .area-box h3{background:none;text-align:center;letter-spacing:0;font-size:24px;padding-left:0;padding-bottom:5px;}
.mylibrary-table-wrap .area-box.last-box{margin-right:0;border-right:none;}
.mylibrary-table-wrap .area-box.fl-right{}
.mylibrary-table-wrap .area-box ul {overflow:hidden;box-sizing:border-box;}
.mylibrary-table-wrap .area-box ul li {display:inline-block;width:100%;cursor:pointer;margin-bottom:10px;font-size:14px;letter-spacing:-0.25px;}
.mylibrary-table-wrap .area-box ul li input[type="checkbox"]{cursor:pointer;}
.mylibrary-table-wrap .area-box ul li label{cursor:pointer;}

.mylibrary-btn-wrap{position:relative;text-align:center;margin-top:30px;}
.mylibrary-btn-wrap a{background-color:#475ab9 !important;border:none;font-size:15px;padding:15px 30px;}

@media only screen and (max-width: 1300px) {
	.mylibrary-table-wrap .area-box {padding:30px 20px;width:calc(24.8% - 50px);border:1px solid rgba(0,0,0,0.1);margin:0 5px 10px;}
	.mylibrary-table-wrap .area-box.last-box{border-right:1px solid rgba(0,0,0,0.1);}
	.mylibrary-table-wrap .area-box ul li {width:50%;}
}	

@media only screen and (max-width: 1024px) {
	.mylibrary-table-wrap .area-box{padding:30px 20px;width:calc(49.5% - 50px);height:170px;}
	.mylibrary-table-wrap .area-box ul li {width:49%;}
}	

@media only screen and (max-width: 768px) {
	.mylibrary-table-wrap .area-box{padding:30px 20px;width:calc(99.5% - 50px);height:auto;}
	.mylibrary-table-wrap .area-box h3{font-size:20px;}
	.mylibrary-table-wrap .area-box ul li {width:24%;font-size:13px;}
}	

@media only screen and (max-width: 650px) {
	.mylibrary-table-wrap .area-box ul li {width:32.5%;margin-bottom:5px;}
}		

@media only screen and (max-width: 650px) {
	.mylibrary-table-wrap .area-box ul li {width:49%;}
}	