<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.checkInOut.CheckInOutDao">

	<sql id="selectFiled">
		homepage_id, checkInOut_idx, user_no, member_id, member_name,
		member_birth, member_sex, member_area, ROUND(checkInOut_time) AS checkInOut_time, check_type,
		TO_CHAR(checkIn_time,'yyyy-MM-dd HH24:MI:SS') AS checkIn_time, TO_CHAR(checkOut_time,'yyyy-MM-dd HH24:MI:SS') AS checkOut_time,
		RANK() OVER (PARTITION BY member_id ORDER BY checkInOut_idx) AS gubun,visit_status
	</sql>
	
	<sql id="where">
		<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
			AND TO_DATE(checkIn_time,'yyyy-MM-dd') BETWEEN #{start_date} AND #{end_date}
		</if>
		<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
			AND ${search_type} LIKE '%'||#{search_text}||'%'
		</if>
    </sql>
	
	<select id="getCheckInOutCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			CHECKINOUT
		WHERE
			homepage_id = #{homepage_id}
			<include refid="where"/>
	</select>

	<select id="getCheckInOutList" resultType="kr.go.gbelib.app.cms.module.checkInOut.CheckInOut">
		${pagingTop}
		SELECT
			<include refid="selectFiled" />
		FROM
			CHECKINOUT
		WHERE
			homepage_id = #{homepage_id}
			<include refid="where"/>
		ORDER BY
			checkInOut_idx DESC
		${pagingBottom}
	</select>
	
	<select id="getVisitCheck" resultType="int">
		SELECT
			COUNT(*)
		FROM
			CHECKINOUT
		WHERE
			homepage_id = #{homepage_id}
		AND member_id = #{member_id}
	</select>
	
	<select id="isCheckInCount" resultType="boolean">
		SELECT
			COUNT(*)
		FROM
			CHECKINOUT
		WHERE
			homepage_id = #{homepage_id}
		AND member_id = #{member_id}
		AND checkOut_time IS NULL
	</select>
	
	<select id="isCheckOutCount" resultType="boolean">
		SELECT
			COUNT(*)
		FROM
			CHECKINOUT
		WHERE
			homepage_id = #{homepage_id}
		AND member_id = #{member_id}
		AND checkOut_time IS NULL
	</select>
	
	<select id="isCheckIn" resultType="kr.go.gbelib.app.cms.module.checkInOut.CheckInOut">
		SELECT
			<include refid="selectFiled" />
		FROM
			CHECKINOUT
		WHERE
			homepage_id = #{homepage_id}
		AND member_id = #{member_id}
		AND checkOut_time IS NULL
	</select>
	
	<insert id="checkIn">
		<selectKey keyProperty="checkInOut_idx" resultType="int" order="BEFORE">
			SELECT NVL(MAX(checkInOut_idx), 0)+1 FROM CHECKINOUT
		</selectKey>
		INSERT INTO CHECKINOUT
		(
			homepage_id, checkInOut_idx, user_no, member_id, member_name,
			member_birth, member_sex, member_area, checkIn_time, checkOut_time,
			checkInOut_time, check_type, gubun,visit_status
		)
		VALUES
		(
			#{homepage_id}, #{checkInOut_idx}, #{user_no}, #{member_id}, #{member_name},
			#{member_birth}, #{member_sex}, #{member_area}, SYSDATE, #{checkOut_time},
			#{checkInOut_time}, #{check_type}, '0',#{visit_status}
		)
	</insert>
	
	<update id="checkOut">
		UPDATE
			CHECKINOUT
		SET
			checkOut_time = SYSDATE,
			checkInOut_time = (
								SELECT
									ROUND((SYSDATE - TO_DATE(#{checkIn_time}, 'YYYY-MM-DD HH24:MI:SS')) * 24 * 60, 2)
								FROM 
									dual
							   ),
			gubun = '1'
		WHERE
			homepage_id = #{homepage_id}
		AND	checkInOut_idx = #{checkInOut_idx}
	</update>
	
	<select id="getCheckOutTime" resultType="kr.go.gbelib.app.cms.module.checkInOut.CheckInOut">
		SELECT
			<include refid="selectFiled" />
		FROM
			CHECKINOUT
		WHERE
			homepage_id = #{homepage_id}
		AND checkInOut_idx = #{checkInOut_idx}
	</select>
	
	<select id="getChartData" resultType="kr.go.gbelib.app.cms.module.checkInOut.CheckInOut">
		SELECT 
			RESULT_DATE, SUM(RESULT_COUNT) AS RESULT_COUNT
		FROM (
			SELECT
				TO_CHAR(checkIn_time, 'YYYY-MM-DD') AS result_date , '1' AS result_count
			FROM
				CHECKINOUT
		 	WHERE homepage_id = #{homepage_id}
		 	<if test="start_date != null and start_date != '' and end_date != null and end_date != ''">
				AND TO_CHAR(checkIn_time,'yyyy-MM-dd') BETWEEN #{start_date} AND #{end_date}
			</if>
			GROUP BY (TO_CHAR(checkIn_time, 'YYYY-MM-DD'), member_id)
		)
		GROUP BY result_date
		ORDER BY result_date ASC
	</select>
	
	<select id="getCheckInCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			CHECKINOUT
		WHERE
			homepage_id = #{homepage_id}
		AND TO_CHAR(checkIn_time,'yyyy-MM-dd') = TO_CHAR(SYSDATE,'yyyy-MM-dd')
		AND checkOut_time IS NULL
	</select>
	
	<select id="getCheckOutCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			CHECKINOUT
		WHERE
			homepage_id = #{homepage_id}
		AND TO_CHAR(checkIn_time,'yyyy-MM-dd') = TO_CHAR(SYSDATE,'yyyy-MM-dd')
		AND checkOut_time IS NOT NULL
	</select>
	
	<select id="getCheckInOutExcelList" resultType="kr.go.gbelib.app.cms.module.checkInOut.CheckInOut">
		SELECT
			<include refid="selectFiled" />
		FROM
			CHECKINOUT
		WHERE
			homepage_id = #{homepage_id}
			<include refid="where"/>
		ORDER BY
			checkInOut_idx DESC
	</select>
	
	<update id="checkOutAll">
		UPDATE
			CHECKINOUT
		SET
				checkOut_time = (
					SELECT 
						CASE WHEN TO_CHAR(SYSDATE,'D') IN ('1','7')
					    THEN TO_DATE(TO_CHAR(SYSDATE,'yyyy-MM-dd') || ' ' || '17:00:00', 'YYYY-MM-DD HH24:MI:SS')
					    ELSE TO_DATE(TO_CHAR(SYSDATE,'yyyy-MM-dd') || ' ' || '18:00:00', 'YYYY-MM-DD HH24:MI:SS') END AS WEEK_DAY
					FROM 
						DUAL
					),
				checkInOut_time = (
						SELECT
							ROUND((SYSDATE - TO_DATE(SYSDATE, 'YYYY-MM-DD HH24:MI:SS')) * 24 * 60, 2)
						FROM 
							dual
					   ),
			gubun = '1'
		WHERE
			homepage_id = #{homepage_id}
		AND checkInOut_idx IN
		<foreach collection="checkInOut_arr" item="i" open="(" close=")" separator=",">
		${i}
		</foreach>
	</update>
	
	<select id="getUsageRankingList" resultType="kr.go.gbelib.app.cms.module.checkInOut.CheckInOut">
		${pagingTop}
		SELECT
			A.user_no, A.member_id, A.member_name, A.member_area,
			(
			select COUNT(*) from CHECKINOUT where member_id = A.member_id
			) AS borrowCount
		FROM
			CHECKINOUT A
		WHERE
			homepage_id = #{homepage_id}
			<include refid="where"/>
		GROUP BY (user_no, member_id, member_name, member_area)
		ORDER BY
			borrowCount DESC
		${pagingBottom}
	</select>
	
	<select id="getHoursOfUse" resultType="kr.go.gbelib.app.cms.module.checkInOut.CheckInOut">
		SELECT
			result_date, result_count
		FROM
			(
			SELECT
				DECODE(result_date, '00', '24', result_date) AS result_date, SUM(result_count) AS result_count
			FROM
				(
				SELECT
					TO_CHAR(TO_DATE('00', 'HH24') + LEVEL / 24, 'HH24') AS result_date, 0 AS result_count
				FROM
					DUAL
				CONNECT BY LEVEL <![CDATA[<=]]> 24
				UNION ALL
				SELECT
					TO_CHAR(checkIn_time, 'HH24') AS result_date, COUNT(*) AS result_count
				FROM
					CHECKINOUT
				WHERE
					homepage_id = #{homepage_id}
					<include refid="where"/>
				GROUP BY TO_CHAR(checkIn_time, 'HH24')
				)
			GROUP BY result_date
			)
		ORDER BY result_date
	</select>
	
	<select id="getHoursOfUseCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			CHECKINOUT
		WHERE
			homepage_id = #{homepage_id}
			<include refid="where"/>
	</select>
	
	<select id="getUsageExcelList" resultType="kr.go.gbelib.app.cms.module.checkInOut.CheckInOut">
		SELECT
			A.user_no, A.member_id, A.member_name, A.member_area,
			(
			select COUNT(*) from CHECKINOUT where member_id = A.member_id
			) AS borrowCount
		FROM
			CHECKINOUT A
		WHERE
			homepage_id = #{homepage_id}
			<include refid="where"/>
		GROUP BY (user_no, member_id, member_name, member_area)
		ORDER BY
			borrowCount DESC
	</select>
	
	<select id="getHourOfUseExcelList" resultType="kr.go.gbelib.app.cms.module.checkInOut.CheckInOut">
		SELECT
			result_date, result_count
		FROM
			(
			SELECT
				DECODE(result_date, '00', '24', result_date) AS result_date, SUM(result_count) AS result_count
			FROM
				(
				SELECT
					TO_CHAR(TO_DATE('00', 'HH24') + LEVEL / 24, 'HH24') AS result_date, 0 AS result_count
				FROM
					DUAL
				CONNECT BY LEVEL <![CDATA[<=]]> 24
				UNION ALL
				SELECT
					TO_CHAR(checkIn_time, 'HH24') AS result_date, COUNT(*) AS result_count
				FROM
					CHECKINOUT
				WHERE
					homepage_id = #{homepage_id}
					<include refid="where"/>
				GROUP BY TO_CHAR(checkIn_time, 'HH24')
				)
			GROUP BY result_date
			)
		ORDER BY result_date
	</select>
	
	<select id="getCheckInUserAll" resultType="kr.go.gbelib.app.cms.module.checkInOut.CheckInOut">
	SELECT
	    checkin_time, member_birth, member_sex, SUM(cnt) AS cnt, SUM(checkInOut_time) AS checkInOut_time
	FROM
		(
		SELECT
            CASE
                WHEN checkin_time IN ('1','7') THEN '주말'
                ELSE '평일'
            END AS checkin_time,
		    member_birth, member_sex, SUM(cnt) AS cnt, SUM(checkInOut_time) AS checkInOut_time
		FROM
		    (
		    SELECT
		    	TO_NUMBER(SUBSTR(member_birth, 1, 4)) AS member_birth, member_sex, cnt, TO_NUMBER(ROUND(checkInOut_time)) AS checkInOut_time,
		    	TO_CHAR(checkin_time, 'D') as checkin_time
	    	FROM
		    	CHECKINOUT
		    WHERE
		    	homepage_id = #{homepage_id}
		    	<include refid="where"/>
		    )
		GROUP BY member_birth, member_sex, checkin_time
		)
	GROUP BY member_birth, member_sex, checkin_time
	</select>
	
	<select id="getCheckInUserDistinct" resultType="kr.go.gbelib.app.cms.module.checkInOut.CheckInOut">
		SELECT
			CASE
                WHEN checkin_time IN ('1','7') THEN '주말'
                ELSE '평일'
            END AS checkin_time,
		    member_birth, member_sex, SUM(cnt) AS cnt, SUM(checkInOut_time) AS checkInOut_time
		FROM
		    (
			SELECT
				member_birth, member_sex, cnt, checkInOut_time, checkin_time
			FROM
			    (
			    SELECT
			        TO_NUMBER(SUBSTR(member_birth, 1, 4)) AS member_birth, member_sex, cnt, TO_NUMBER(ROUND(checkInOut_time)) AS checkInOut_time,
			        TO_CHAR(checkin_time, 'D') as checkin_time, ROW_NUMBER() OVER(PARTITION BY member_id ORDER BY checkInOut_idx DESC) AS RN
			    FROM
			        CHECKINOUT
		        WHERE
		    		homepage_id = #{homepage_id}
		    		<include refid="where"/>
			    )
			WHERE RN = '1'
		    )
		GROUP BY member_birth, member_sex, checkin_time, cnt
	</select>
	
	<select id="getCheckInUserBringIn" resultType="kr.go.gbelib.app.cms.module.checkInOut.CheckInOut">
		SELECT
            CASE
                WHEN checkin_time IN ('1','7') THEN '주말'
                ELSE '평일'
            END AS checkin_time,
		    member_birth, member_sex, SUM(cnt) AS cnt, SUM(checkInOut_time) AS checkInOut_time
		FROM
		    (
		    SELECT
		    	TO_NUMBER(SUBSTR(member_birth, 1, 4)) AS member_birth, member_sex, cnt, TO_NUMBER(ROUND(checkInOut_time)) AS checkInOut_time,
		    	TO_CHAR(checkin_time, 'D') as checkin_time, RANK() OVER (PARTITION BY member_id ORDER BY checkInOut_idx) AS gubun
	    	FROM
		    	CHECKINOUT
		    WHERE
		    	homepage_id = #{homepage_id}
		    	<include refid="where"/>
		    )
		WHERE gubun = '1'
		GROUP BY member_birth, member_sex, checkin_time
	</select>

	<insert id="addCheckInOutNotice">
		<selectKey keyProperty="checkinout_notice_idx" resultType="int" order="BEFORE">
			SELECT NVL(MAX(checkinout_notice_idx), 0)+1 FROM CHECKINOUT_SETTING
		</selectKey>
		INSERT INTO CHECKINOUT_SETTING
		(
			homepage_id, checkinout_notice_idx, checkinout_notice_name, delete_yn, use_yn,
			checkinout_notice_start_date, checkinout_notice_end_date, add_date, add_id, modify_date,
			modify_id
		)
		VALUES
		(
			#{homepage_id}, #{checkinout_notice_idx}, #{checkinout_notice_name}, 'N', 'Y',
			#{checkinout_notice_start_date}, #{checkinout_notice_end_date}, SYSDATE, #{add_id}, #{modify_date},
			#{modify_id}
		)
	</insert>

	<update id="modifyCheckInOutNotice">
		UPDATE
			CHECKINOUT_SETTING
		SET
			checkinout_notice_name = #{checkinout_notice_name},
			use_yn = #{use_yn},
			checkinout_notice_start_date = #{checkinout_notice_start_date},
			checkinout_notice_end_date = #{checkinout_notice_end_date},
			modify_id = #{modify_id},
			modify_date = SYSDATE
		WHERE
			homepage_id = #{homepage_id}
		AND	checkinout_notice_idx = #{checkinout_notice_idx}
	</update>

	<update id="deleteCheckInOutNotice">
		UPDATE
			CHECKINOUT_SETTING
		SET
			delete_yn = 'Y',
			use_yn = 'N',
			modify_id = #{modify_id},
			modify_date = SYSDATE
		WHERE
			homepage_id = #{homepage_id}
		AND delete_yn = 'Y'
		AND	checkinout_notice_idx = #{checkinout_notice_idx}
	</update>

	<select id="checkNoticeCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			CHECKINOUT_SETTING
		WHERE
			homepage_id = #{homepage_id}
		AND	delete_yn = 'N'
		AND use_yn = 'Y'
	</select>

	<select id="getCheckInOutNotice" resultType="kr.go.gbelib.app.cms.module.checkInOut.CheckInOut">
		SELECT
			homepage_id, checkinout_notice_idx, checkinout_notice_name, delete_yn, use_yn,
			TO_CHAR(checkinout_notice_start_date,'yyyy-MM-dd') as checkinout_notice_start_date,
			TO_CHAR(checkinout_notice_end_date,'yyyy-MM-dd') as checkinout_notice_end_date,
			add_date, add_id, modify_date, modify_id
		FROM
			CHECKINOUT_SETTING
		WHERE
			homepage_id = #{homepage_id}
		AND	delete_yn = 'N'
		AND use_yn = 'Y'
	</select>
</mapper>