<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.bookOfYear.BookOfYearDao">

	<select id="getBookOfYearCount" parameterType="map" resultType="int">
		SELECT
			COUNT(*)
		FROM
			BOOK_OF_YEAR
		WHERE
			homepage_id = #{homepage_id}
		<if test="search_type != null and search_type != ''">
		AND	${search_type} LIKE '%'|| #{search_text} ||'%'
		</if>
	</select>

	<select id="getBookOfYearList" parameterType="map" resultType="map">
	${pagingTop}
		SELECT
			homepage_id, selection_year, book_name, book_author, book_publisher,
			book_year, book_regno, book_isbn, book_img_url, book_content,
			top_html, bottom_html, add_id, add_date, modify_id, modify_date, book_test, 'book_test2' as book_test10
		FROM
			BOOK_OF_YEAR
		WHERE
			homepage_id = #{homepage_id}
		<if test="search_type != null and search_type != ''">
			AND	${search_type} LIKE '%'|| #{search_text} ||'%'
		</if>
		ORDER BY
			selection_year DESC
		${pagingBottom}
	</select>

	<select id="getBookOfYearOne" parameterType="map" resultType="map">
		SELECT
			homepage_id, selection_year, book_name, book_author, book_publisher,
			book_year, book_regno, book_isbn, book_img_url, book_content,
			top_html, bottom_html, add_id, add_date, modify_id, modify_date
		FROM
			BOOK_OF_YEAR
		WHERE
			homepage_id = #{homepage_id}
		AND	selection_year = #{selection_year}
	</select>

	<insert id="addBookOfYear" parameterType="map">
		INSERT INTO
			BOOK_OF_YEAR
		(
			homepage_id, selection_year, book_name, book_author, book_publisher,
			book_year, book_regno, book_isbn, book_img_url, book_content,
			top_html, bottom_html, add_id, add_date, book_test
		)
			VALUES
		(
			#{homepage_id}, #{selection_year}, #{book_name}, #{book_author}, #{book_publisher},
			#{book_year}, #{book_regno}, #{book_isbn}, #{book_img_url}, #{book_content},
			#{top_html}, #{bottom_html}, #{add_id}, SYSDATE, #{book_test}
		)

	</insert>

	<update id="modifyBookOfYear" parameterType="map">
		UPDATE
			BOOK_OF_YEAR
		SET
			book_name = #{book_name},
			book_author = #{book_author},
			book_publisher = #{book_publisher},
			book_year = #{book_year},
			book_regno = #{book_regno},
			book_isbn = #{book_isbn},
			book_img_url = #{book_img_url},
			book_content = #{book_content},
			top_html = #{top_html},
			bottom_html = #{bottom_html},
			modify_id = #{modify_id},
			modify_date = SYSDATE
		WHERE
			homepage_id = #{homepage_id}
		AND	selection_year = #{selection_year}
	</update>

	<update id="deleteBookOfYear" parameterType="map">
		DELETE FROM
			BOOK_OF_YEAR
		WHERE
			homepage_id = #{homepage_id}
		AND	selection_year = #{selection_year}
	</update>


</mapper>