<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.libraryCheck.LibraryCheckDao">

	<select id="getLibraryCheckList" resultType="kr.go.gbelib.app.cms.module.libraryCheck.LibraryCheck">
		SELECT
			library_check_idx, library_check_name, library_check_number, content,
			org_file_name, server_file_name, file_extension, file_size,
			add_id, add_date
		FROM
			LIBRARY_CHECK
		<if test="content != null and content != ''">
		WHERE content LIKE '%'||#{content}||'%'
		</if>
		ORDER BY library_check_number
	</select>
	
	<select id="getLibraryCheckCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			LIBRARY_CHECK
		<if test="content != null and content != ''">
		WHERE content LIKE '%'||#{content}||'%'
		</if>
	</select>
	
	<select id="getLibraryCheckOne" resultType="kr.go.gbelib.app.cms.module.libraryCheck.LibraryCheck">
		SELECT
			library_check_idx, library_check_name, library_check_number, content,
			org_file_name, server_file_name, file_extension, file_size,
			add_id, add_date
		FROM
			LIBRARY_CHECK
		WHERE
			library_check_idx = #{library_check_idx}
	</select>
	
	<select id="getLibraryCheckDupl" resultType="int">
		SELECT
			COUNT(*)
		FROM
			LIBRARY_CHECK
		WHERE
			library_check_number = #{library_check_number}
	</select>
	
	<insert id="addLibraryCheck">
		<selectKey keyProperty="library_check_idx" resultType="int" order="BEFORE">
			SELECT NVL(MAX(library_check_idx), 0) + 1 FROM LIBRARY_CHECK
		</selectKey>
		INSERT INTO
			LIBRARY_CHECK
		(
			library_check_idx, library_check_name, library_check_number, content,
			org_file_name, server_file_name, file_extension, file_size,
			add_id, add_date
		)
		VALUES
		(
			#{library_check_idx}, #{library_check_name}, #{library_check_number}, #{content},
			#{org_file_name}, #{server_file_name}, #{file_extension}, #{file_size},
			#{add_id}, SYSDATE
		)
	</insert>
	
	<update id="modifyLibraryCheck">
		UPDATE
			LIBRARY_CHECK
		SET
			library_check_number = #{library_check_number},
			content = #{content},
			<if test="org_file_name != null and org_file_name != ''">
			org_file_name = #{org_file_name},
			server_file_name = #{server_file_name},
			file_extension = #{file_extension},
			file_size = #{file_size},
			</if>
			modify_id = #{modify_id},
			modify_date = SYSDATE
		WHERE
			library_check_idx = #{library_check_idx}
	</update>
	
	<delete id="deleteLibraryCheck">
		DELETE FROM
			LIBRARY_CHECK
		WHERE
			library_check_idx = #{library_check_idx}
	</delete>
	
	<delete id="deleteLibraryCheckAll">
		DELETE FROM
			LIBRARY_CHECK
		WHERE
			library_check_idx IN
			<foreach collection="library_check_arr" open="(" close=")" separator="," item="i">
			#{i}
			</foreach>
	</delete>
	
	<select id="getLibraryCheckLoanList" resultType="kr.go.gbelib.app.cms.module.libraryCheck.LibraryCheck">
		${pagingTop}
		SELECT
			b.library_check_idx, library_check_loan_idx, a.library_check_number, TO_CHAR(loan_start_date, 'yyyy-MM-dd') AS loan_start_date, TO_CHAR(loan_end_date, 'yyyy-MM-dd') AS loan_end_date,
			TO_CHAR(hope_date, 'yyyy-MM-dd') AS hope_date, b.hope_start_time, b.hope_start_minute, b.school_name, b.phone,
			b.school_tel, b.request_status, b.add_id, b.add_date, b.remark,
			(substr(b.request_name,1,1) || lpad('*',length(b.request_name)-2,'*') || substr(b.request_name, length(b.request_name), 1)) AS request_name
		FROM
			LIBRARY_CHECK a, LIBRARY_CHECK_LOAN b
		WHERE
			a.library_check_idx = b.library_check_idx
		<if test="(search_type != null and search_type != '') and (search_text != '' and search_text != '')">
		AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
		<if test="library_check_number != -1">
		AND	library_check_number = #{library_check_number}
		</if>
		<if test="request_status != null and request_status != ''">
		AND	request_status = #{request_status}
		</if>
		<if test="add_id != null and add_id != ''">
		AND	b.add_id = #{add_id}
		</if>
		ORDER BY b.add_date DESC
		${pagingBottom}
	</select>
	
	<select id="getLibraryCheckLoanCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			LIBRARY_CHECK a, LIBRARY_CHECK_LOAN b
		WHERE
			a.library_check_idx = b.library_check_idx
		<if test="(search_type != null and search_type != '') and (search_text != '' and search_text != '')">
		AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
		<if test="library_check_number != -1">
		AND	library_check_number = #{library_check_number}
		</if>
		<if test="request_status != null and request_status != ''">
		AND	request_status = #{request_status}
		</if>
		<if test="add_id != null and add_id != ''">
		AND	b.add_id = #{add_id}
		</if>
	</select>
	
	<select id="getLibraryCheckLoanOne" resultType="kr.go.gbelib.app.cms.module.libraryCheck.LibraryCheck">
		SELECT
			b.library_check_idx, library_check_loan_idx, a.library_check_number, TO_CHAR(b.loan_start_date, 'yyyy-MM-dd') AS loan_start_date, TO_CHAR(b.loan_end_date, 'yyyy-MM-dd') AS loan_end_date,
			TO_CHAR(hope_date, 'yyyy-MM-dd') AS hope_date, b.hope_start_time, b.hope_start_minute, b.school_name, b.request_name,
			b.phone, b.school_tel, b.request_status, b.add_id, b.add_date, b.remark
		FROM
			LIBRARY_CHECK a, LIBRARY_CHECK_LOAN b
		WHERE
			a.library_check_idx = b.library_check_idx
		AND	library_check_loan_idx = #{library_check_loan_idx}
	</select>
	
	<insert id="addLibraryCheckLoan">
		<selectKey keyProperty="library_check_loan_idx" resultType="int" order="BEFORE">
			SELECT NVL(MAX(library_check_loan_idx), 0) + 1 FROM LIBRARY_CHECK_LOAN
		</selectKey>
		INSERT INTO
			LIBRARY_CHECK_LOAN
		(
			library_check_idx, library_check_loan_idx, loan_start_date, loan_end_date, hope_date,
			hope_start_time, hope_start_minute, school_name, request_name, phone,
			school_tel, request_status, add_id, add_date, remark
		)
		VALUES
		(
			#{library_check_idx}, #{library_check_loan_idx}, #{loan_start_date}, #{loan_end_date}, #{hope_date},
			#{hope_start_time}, #{hope_start_minute}, #{school_name}, #{request_name}, #{phone},
			#{school_tel}, #{request_status}, #{add_id}, SYSDATE, #{remark}
		)
	</insert>
	
	<update id="modifyLibraryCheckLoan">
		UPDATE
			LIBRARY_CHECK_LOAN
		SET
			loan_start_date = #{loan_start_date},
			loan_end_date = #{loan_end_date},
			hope_date = #{hope_date},
			hope_start_time = #{hope_start_time},
			hope_start_minute = #{hope_start_minute},
			school_name = #{school_name},
			request_name = #{request_name},
			phone = #{phone},
			school_tel = #{school_tel},
			request_status = #{request_status},
			modify_id = #{modify_id},
			modify_date = SYSDATE,
			remark = #{remark}
		WHERE
			library_check_loan_idx = #{library_check_loan_idx}
	</update>
	
	<delete id="deleteLibraryCheckLoan">
		DELETE FROM
			LIBRARY_CHECK_LOAN
		WHERE
			library_check_loan_idx = #{library_check_loan_idx}
	</delete>
	
	<update id="modifyLibraryCheckStatus">
		UPDATE
			LIBRARY_CHECK_LOAN
		SET
			request_status = #{request_status}
		WHERE
			library_check_loan_idx IN
			<foreach collection="library_check_loan_arr" open="(" close=")" separator="," item="i">
			#{i}
			</foreach>
	</update>
	
	<select id="getLibraryCheckLoanExcelList" resultType="kr.go.gbelib.app.cms.module.libraryCheck.LibraryCheck">
		SELECT
			b.library_check_idx, b.library_check_loan_idx, a.library_check_number, TO_CHAR(b.loan_start_date, 'yyyy-MM-dd') AS loan_start_date, TO_CHAR(b.loan_end_date, 'yyyy-MM-dd') AS loan_end_date,
			TO_CHAR(b.hope_date, 'yyyy-MM-dd') AS hope_date, b.school_name, b.request_name, b.phone, b.school_tel,
			b.request_status, b.add_id, b.add_date, b.hope_start_time, b.hope_start_minute, b.remark
		FROM
			LIBRARY_CHECK a, LIBRARY_CHECK_LOAN b
		WHERE
			a.library_check_idx = b.library_check_idx
		<if test="add_id != null and add_id != ''">
		AND	b.add_id = #{add_id}
		</if>
		ORDER BY b.add_date DESC
	</select>
	
	<select id="getLibraryCheckLoanStatus" resultType="kr.go.gbelib.app.cms.module.libraryCheck.LibraryCheck" parameterType="map">
		SELECT
			request_status,TO_CHAR(loan_start_date, 'YYYY-MM-DD') AS loan_start_date,TO_CHAR(loan_end_date, 'YYYY-MM-DD') AS loan_end_date
		FROM
			LIBRARY_CHECK_LOAN
		WHERE
			library_check_idx = #{library_check_idx}
		AND	TO_DATE(#{dayofWeekFriday}, 'YYYY-MM-DD') BETWEEN TO_DATE(loan_start_date, 'YYYY-MM-DD') AND TO_DATE(loan_end_date, 'YYYY-MM-DD')
	</select>
	
	<select id="getLibraryCheckReservedList" resultType="kr.go.gbelib.app.cms.module.libraryCheck.LibraryCheck">
		SELECT
			b.library_check_idx, TO_CHAR(loan_start_date, 'yyyy-MM-dd') AS loan_start_date, TO_CHAR(loan_end_date, 'yyyy-MM-dd') AS loan_end_date,
			b.request_status
		FROM
			LIBRARY_CHECK a, LIBRARY_CHECK_LOAN b
		WHERE
			a.library_check_idx = b.library_check_idx
		AND	TO_DATE(SYSDATE, 'YYYY-MM-DD') &lt; TO_DATE(b.loan_start_date, 'YYYY-MM-DD')
		AND	b.library_check_idx = #{library_check_idx}
	</select>
	
	<select id="getLibraryCheckLoanDupl" resultType="int">
		SELECT
			COUNT(*)
		FROM
			LIBRARY_CHECK_LOAN
		WHERE
			library_check_idx = #{library_check_idx}
		AND	TO_DATE(#{loan_start_date}, 'YYYY-MM-DD') &lt;= TO_DATE(loan_end_date, 'YYYY-MM-DD')
		AND TO_DATE(#{loan_end_date}, 'YYYY-MM-DD') >= TO_DATE(loan_start_date, 'YYYY-MM-DD')
	</select>

	<select id="checkLoanCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			LIBRARY_CHECK a, LIBRARY_CHECK_LOAN b
		WHERE
			a.library_check_idx = b.library_check_idx
		AND b.request_status = 1
		AND b.school_name = #{school_name}
		AND	TO_DATE(SYSDATE, 'YYYY-MM-DD') &lt; TO_DATE(b.loan_start_date, 'YYYY-MM-DD')
	</select>
	
	<select id="getDupLoanCount" resultType="int">
		SELECT
			count(*)
		FROM
			LIBRARY_CHECK a, LIBRARY_CHECK_LOAN b
		WHERE
			a.library_check_idx = b.library_check_idx
		AND	TO_CHAR(b.loan_start_date,'yyyy-MM-dd') &lt;= TO_CHAR(SYSDATE,'yyyy-MM-dd')
		AND TO_CHAR(b.loan_end_date,'yyyy-MM-dd') > TO_CHAR(SYSDATE,'yyyy-MM-dd')
		AND a.library_check_idx = #{library_check_idx}
	</select>
	
	<select id="checkDupLoanDateCount" resultType="int">
		SELECT
			count(*)
		FROM
			LIBRARY_CHECK a, LIBRARY_CHECK_LOAN b
		WHERE
			a.library_check_idx = b.library_check_idx
		AND	TO_CHAR(b.loan_start_date,'yyyy-MM-dd') &lt;= #{loan_end_date}
		AND TO_CHAR(b.loan_end_date,'yyyy-MM-dd') >= #{loan_start_date}
		AND a.library_check_idx = #{library_check_idx}
	</select>
	
	<select id="dupLoanDate" resultType="kr.go.gbelib.app.cms.module.libraryCheck.LibraryCheck">
		SELECT
			TO_CHAR(TO_DATE(max(b.loan_end_date), 'yyyy-MM-dd') + 5, 'yyyy-MM-dd') as loan_end_date
		FROM
			LIBRARY_CHECK a, LIBRARY_CHECK_LOAN b
		WHERE
			a.library_check_idx = b.library_check_idx
		AND	TO_CHAR(b.loan_start_date,'yyyy-MM-dd') &lt;= #{loan_end_date}
		AND TO_CHAR(b.loan_end_date,'yyyy-MM-dd') >= #{loan_start_date}
		AND a.library_check_idx = #{library_check_idx}
	</select>
	
</mapper>