<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.untactBook.untactBookSetting.UntactBookSettingDao">
	
	
	<select id="getUntactBookSettingOne" resultType="kr.go.gbelib.app.cms.module.untactBook.untactBookSetting.UntactBookSetting">
		SELECT
			homepage_id, row_count, total_count
		FROM
			UNTACT_BOOK_SETTING
		WHERE 
			homepage_id = #{homepage_id}
	</select>
	
	<update id="mergeUntactBookSetting">
		MERGE INTO 
			UNTACT_BOOK_SETTING a
		USING dual
		ON
			(a.homepage_id = #{homepage_id})
		WHEN MATCHED THEN
			UPDATE SET
				a.row_count = #{row_count},
				a.total_count = #{total_count}
		WHEN NOT MATCHED THEN
			INSERT (
				homepage_id, locker_use_yn, row_count, total_count
			) VALUES (
				#{homepage_id}, 'Y', #{row_count}, #{total_count}
			)
		
	</update>
	
</mapper>