<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.module.myPost.MyPostDao">

    <sql id="where">
        <if test="homepage_id != null and homepage_id !='' and homepage_id != 'h32'" >
            AND
            B.homepage_id = #{homepage_id}
        </if>
        <if test="manage_idx > 0">
            AND
            B.manage_idx = #{manage_idx}
        </if>
        <if test="(search_type!=null and search_type!='') and (search_text!=null and search_text!='')">
            AND
            <choose>
                <when test="search_type == 'title'">
                    ${search_type} LIKE '%'||#{search_text}||'%'
                </when>
            </choose>
        </if>
    </sql>

    <select id="getPostList" resultType="kr.go.gbelib.app.module.myPost.MyPost">
        ${pagingTop}
            SELECT DISTINCT
                H.HOMEPAGE_NAME, H.CONTEXT_PATH, H.HOMEPAGE_NAME, M.MENU_IDX, M.MENU_NAME,
                A.MANAGE_IDX, A.BOARD_IDX, A.GROUP_IDX, A.PARENT_IDX, A.GROUP_DEPTH,
                A.VIEW_COUNT, A.NOTICE_YN, A.TITLE, A.ADD_ID, A.USER_NAME,
                A.USER_IP, A.DELETE_YN, A.ADD_DATE, A.MODIFY_DATE, A.SECRET_YN,
                A.CONTENT_SUMMARY, A.CATEGORY1, A.CATEGORY2, A.REQUEST_STATE, B.HOMEPAGE_ID,
                B.BOARD_NAME, B.BOARD_TYPE
            FROM
                CMS_BOARD A
            JOIN CMS_BOARD_MANAGE B ON A.MANAGE_IDX = B.MANAGE_IDX
            JOIN CMS_HOMEPAGE H ON B.HOMEPAGE_ID = H.HOMEPAGE_ID
            JOIN CMS_MENU M ON H.HOMEPAGE_ID = M.HOMEPAGE_ID AND A.MANAGE_IDX = M.MANAGE_IDX
            WHERE A.ADD_ID = #{add_id}
            AND A.DELETE_YN = 'N'
            AND B.BOARD_USE_YN = 'Y'
            AND M.MENU_TYPE = 'BOARD'
            AND M.USE_YN = 'Y'
            AND M.VIEW_YN = 'Y'
            AND M.INCLUDE_MENU_NAME_YN = 'Y'
            <include refid="where"/>
            ORDER BY A.ADD_DATE DESC
        ${pagingBottom}
    </select>

    <select id="getPostCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
            CMS_BOARD A
        JOIN CMS_BOARD_MANAGE B ON A.MANAGE_IDX = B.MANAGE_IDX
        JOIN CMS_HOMEPAGE H ON B.HOMEPAGE_ID = H.HOMEPAGE_ID
        JOIN CMS_MENU M ON H.HOMEPAGE_ID = M.HOMEPAGE_ID AND A.MANAGE_IDX = M.MANAGE_IDX
        WHERE
            A.DELETE_YN = 'N'
        AND A.ADD_ID = #{add_id}
        AND B.BOARD_USE_YN = 'Y'
        AND M.USE_YN = 'Y'
        AND M.MENU_TYPE = 'BOARD'
        AND M.VIEW_YN = 'Y'
        AND M.INCLUDE_MENU_NAME_YN = 'Y'
        <include refid="where"/>
    </select>

    <select id="getLibraryList" resultType="kr.go.gbelib.app.module.myPost.MyPost">
        SELECT
            HOMEPAGE_ID, HOMEPAGE_GROUP, HOMEPAGE_NAME, HOMEPAGE_ENG_NAME, HOMEPAGE_ALIAS,
            HOMEPAGE_TELL, HOMEPAGE_FAX, HOMEPAGE_SEND_TELL, ZIPCODE, ADDRESS1,
            ADDRESS2, ENG_ADDRESS, HOMEPAGE_TYPE, MANAGE_CODE, LIB_CODE,
            DOMAIN, CONTEXT_PATH, FOLDER, REMARK, TEMP_USE_YN,
            TO_CHAR(TO_DATE(temp_start_date,'yyyyMMddHHmi'), 'MM.dd hh:mi') AS temp_start_date,
            TO_CHAR(TO_DATE(temp_end_date,'yyyyMMddHHmi'), 'MM.dd hh:mi') AS temp_end_date, print_seq
        FROM
            CMS_HOMEPAGE
        WHERE
            HOMEPAGE_TYPE != '0'
        AND HOMEPAGE_ID != 'h2' AND HOMEPAGE_ID != 'h31' AND HOMEPAGE_ID != 'h33' AND HOMEPAGE_ID != 'h34' AND HOMEPAGE_ID != 'h38'
        AND HOMEPAGE_ID != 'h39' AND HOMEPAGE_ID != 'h79' AND HOMEPAGE_ID != 'h80' AND HOMEPAGE_ID != 'h81' AND HOMEPAGE_ID != 'h82'
        AND HOMEPAGE_ID != 'h83' AND HOMEPAGE_ID != 'h84' AND HOMEPAGE_ID != 'h85' AND HOMEPAGE_ID != 'h86' AND HOMEPAGE_ID != 'h87'
        AND HOMEPAGE_ID != 'h88' AND HOMEPAGE_ID != 'h89' AND HOMEPAGE_ID != 'h91' AND HOMEPAGE_ID != 'h95'
        ORDER BY
            CASE WHEN HOMEPAGE_ID = 'h32' THEN 0 ELSE 1 END, PRINT_SEQ, HOMEPAGE_TYPE, HOMEPAGE_NAME
    </select>

    <select id="getBoardList" resultType="kr.go.gbelib.app.module.myPost.MyPost">
        SELECT
            A.HOMEPAGE_ID, A.MANAGE_IDX, A.BOARD_NAME, getCodeNameToRemark('CMS','C0000', A.BOARD_TYPE) as board_type, A.BOARD_SKIN,
            A.BOARD_USE_YN, B.MENU_NAME, B.MENU_TYPE, B.USE_YN, B.VIEW_YN,
            B.INCLUDE_MENU_NAME_YN
        FROM
            CMS_BOARD_MANAGE A, CMS_MENU B
        WHERE
            A.HOMEPAGE_ID = #{homepage_id}
        AND A.BOARD_USE_YN = 'Y'
        AND A.HOMEPAGE_ID != 'h32'
        AND A.MANAGE_IDX = B.MANAGE_IDX
        AND B.MENU_TYPE = 'BOARD'
        AND B.USE_YN = 'Y'
        AND B.VIEW_YN = 'Y'
        AND B.INCLUDE_MENU_NAME_YN = 'Y'
        ORDER BY B.MENU_NAME
    </select>
</mapper>
