@charset "utf-8";

#header .head {
	position: fixed;
	z-index: 999;
	flex-direction: column;
	width: 100%;
	background: #fff;
}

/* 탑 */
.tnb {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	background: #fff;
	height: 40px;
}

.tnb div:first-child {
	display: flex;
	align-items: center;
}

.tnb div:first-child a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	padding: 0 40px;
	font-size: 14px;
	line-height: 130%;
	letter-spacing: -0.35px;
	text-align: center;
	color: #000;
	font-family: Pretendard-SemiBold, sans-serif;
	font-style: normal;
	border-right: 1px solid #ececec;
}

.util-wrapper {
	display: flex;
	align-items: center;
}

.util {
	display: flex;
	align-items: center;
}

.screen-control {
	display: flex;
	align-items: center;
	gap: 3px;
	padding: 0 20px;
	position: relative;
}

.screen-control div {
	color: var(--black);
	text-align: center;
	font-family: Pretendard-Regular, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 130%;
	letter-spacing: -0.35px;
	padding: 0 !important;
}

.screen-control img {
	width: 18px;
	height: 18px;
	cursor: pointer;
}

.util div:first-child::after {
	position: absolute;
	top: 50%;
	right: 0;
	width: 1px;
	height: 12px;
	background: #e8e8e8;
	transform: translateY(-50%);
	content: '';
}

.screen-control div:first-child::after {
	content: none;
	display: none;
}

.util a {
	position: relative !important;
	padding: 0 20px !important;
	border: none !important;
	font-size: 14px !important;
	line-height: 130% !important;
	letter-spacing: -0.35px !important;
	text-align: center !important;
	color: #000 !important;
	font-family: Pretendard-Regular, sans-serif !important;
	font-style: normal !important;
}

.util a::after {
	position: absolute;
	top: 50%;
	right: 0;
	width: 1px;
	height: 12px;
	background: #e8e8e8;
	transform: translateY(-50%);
	content: '';
}

.util a:last-child::after {
	content: none;
	display: none;
}

.total-popup-trigger {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	padding: 10px 52px !important;
	background: var(--gray200);
	gap: 4px;
	cursor: pointer;
}

.total-popup-trigger div:first-child {
	padding: 0;
	font-size: 14px;
	line-height: 130%;
	letter-spacing: -0.35px;
	text-align: center;
	color: var(--black);
	font-family: Pretendard-SemiBold, sans-serif;
	font-style: normal;
}

.total-popup-trigger div:last-child {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	padding: 0;
	border-radius: 50%;
	font-size: 14px;
	line-height: 130%;
	text-align: center;
	color: var(--white);
	background: var(--black);
	font-family: Pretendard-Bold, sans-serif;
	font-style: normal;
}

@media screen and (max-width: 1800px) {
	.screen-control {
		display: none !important;
	}

	.tnb {
		height: 32px;
		position: relative;
	}

	.tnb div:first-child a {
		font-size: 12px;
		height: 32px;
	}

	.total-popup-trigger {
		height: 32px;
	}

	.total-popup-trigger div:first-child {
		font-size: 12px;
	}

	.total-popup-trigger div:last-child {
		font-size: 12px;
	}

	.util-wrapper {
		display: flex;
		margin-right: 20px;
	}

	.util {
		display: flex;
	}

	.util div,
	.util a {
		font-size: 12px !important;

	}

	.util a::after {
		height: 10px;
	}
}

@media screen and (max-width: 1024px) {
	.total-popup-trigger {
		display: none;
	}
}

@media screen and (max-width: 960px) {
	.total-popup-trigger {
		display: none;
	}

	.util a {
		padding: 0 16px !important;
	}

	.tnb div:first-child a {
		padding: 10px 32px;
	}

	.util-wrapper {
		margin-right: 24px;
	}
}

@media screen and (max-width: 767px) {
	.util-wrapper {
		display: none;
	}
}

@media (max-width: 490px) {
	.tnb div:first-child a {
		padding: 10px 33px;
	}

	.tnb div:first-child a {
		padding: 10px 33px;
		width: 100%;
	}

	.tnb div:first-child {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	.library-logo {
		left: 12px;
		width: 179px;
		height: 40px;
	}

	.library-logo a img {
		width: 179px;
		height: 40px;
		object-fit: cover;
	}

	.mobile-menu-trigger {
		right: 12px;
	}

	.mobile-menu-trigger img {
		width: 20px;
		height: 20px;
	}
}
