@charset "utf-8";	

/* 스타일 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,address
{font-size:13px;font-family:Nanum Gothic}

#wrap{background:#fff}

h1{font-size:160%}
h2{font-size:140%}
h3{font-size:120%}

a:hover,
a:focus{color:#2b74c0;ouline-style:outset;position:relative}
.lt select:focus,
.lt button:focus,
.lt a:focus{ouline-style:solid;outline-color:#fff}
.lt select:focus{box-shadow:0 0 3px 2px #fff}

nav{display:none}

.mmode{display:none}
.txt-bar{width:1px;height:9px;margin:0 5px;background:#484848}
.txt-bar,
.tnb a,
.slider .box .control .pager a,
.control a,
#footer .info a{vertical-align:middle;display:inline-block;zoom:1;*display:inline}

#header{clear:both}
.tnb{position:relative;z-index:5}
.Gnb{z-index:4}

.section{width:1000px;margin:0 auto} /* 기준 */

/* header */
.tnb{text-align:right;}
.tnb a{font-size:12px;color:#484848;font-weight:bold;display:inline-block;zoom:1;*display:inline;line-height:35px;height:35px}
.tnb a:hover,
.tnb a:focus{color:#03539e}

#header h1{position:absolute;z-index:10000;float:left;top:50px;}

/* Gnb */
.Gnb{clear:both;text-align:center;width:100%;height:63px;overflow:inherit;position:relative;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6}
.Gnb .gnb-menu{position:relative;text-align:right}
.Gnb .gnb-menu>li{padding:10px 1.3%;text-align:center;position:static}
.Gnb .gnb-menu>li:first-child{background:none}
.Gnb .gnb-menu>li:last-child{padding-right:0;}
.Gnb .gnb-menu>li>a{padding:0;line-height:43px;height:43px;font-size:15px;color:#424242;font-weight:bold}
.Gnb .gnb-menu>li>ul{display:none;margin-top:10px;background:#666;border:0;left:0;white-space:nowrap}
.Gnb .gnb-menu>li.active>ul{display:block}
.Gnb .gnb-menu>li>.SubMenu>li{width:auto;padding:0 5px}
.Gnb .gnb-menu>li>.SubMenu>li{display:inline-block;zoom:1;*display:inline}
.Gnb .gnb-menu>li>.SubMenu>li>a{font-size:13px;padding:0 5px;color:#eee}
.Gnb .gnb-menu>li>.SubMenu>li>a:hover,
.Gnb .gnb-menu>li>.SubMenu>li>a:focus{background:none;color:#fff}
.Gnb .gnb-menu>li.on>a,
.Gnb .gnb-menu>li>a:hover,
.Gnb .gnb-menu>li>a:focus{color:#03539e}
.Gnb .gnb-menu>li.ss>a{font-size:14px}
.Gnb .mask{width:100%;background:#2568bf}
.Gnb .mask,
.Gnb .gnb-menu>li>ul{width:100%;height:40px;line-height:40px}
.Gnb .gnb-menu>li>ul{background:#2568bf}

.qmenu .section{position:relative;margin:15px auto;height:104px;overflow:hidden;text-align:center}
.qmenu .bx-wrapper{width:auto!important;margin:0 0px;position:static}
.qmenu li{display:inline-block;zoom:1;*display:inline;text-align:center;width:12.5%;}
.qmenu li a{width:104px;height:34px;background:#b7b7b7 no-repeat center 25px;display:block;padding-top:70px;margin:0 auto;font-size:12px;color:#444;font-weight:bold;letter-spacing:-1px;border-radius:100%}
.qmenu li a:hover,
.qmenu li a:focus{background:#ffd800 no-repeat center 25px}
.qmenu li.qm1 a{background-image:url('../img/qm1.png')}
.qmenu .bx-controls{display:none}
.qmenu .bx-controls .bx-pager,
.qmenu .bx-controls .bx-controls-auto{display:none}
.qmenu .bx-controls .bx-prev,
.qmenu .bx-controls .bx-next{position:absolute;top:0;width:60px;font-size:0;line-height:0}
.qmenu .bx-controls .bx-prev,
.qmenu .bx-controls .bx-next,
.qmenu li{height:104px}
.qmenu .bx-controls .bx-prev{left:0;background:#fff url('../img/qmenuL.gif') no-repeat center center}
.qmenu .bx-controls .bx-next{right:0;background:#fff url('../img/qmenuR.gif') no-repeat center center}

.main_bg{background:url('../img/main_img_bg.jpg') repeat-x;width:100%; }
.main_line{width:100%;border-top:1px solid #dfdfdf;}

.main1{position:relative;height:405px;}
.main1 .bx-wrapper,
.main1 .bx-viewport,
.main1 .bx-controls,
.main1 ul,
.main1 li{width:100%;height:100%}
.main1 li{font-size:0;line-height:0;position:relative}
.main1 li div.box{padding-top:44px;}
.main1 .box .t1{font-size:53px;letter-spacing:-2.3px;color:#222;font-weight:normal;line-height:110%;}
.main1 .box .t1 p{font-size:53px;line-height:110%;}
.main1 .box .t1 strong{font-weight:bold;}
.main1 .box .t2{padding:13px 0 0;font-size:15px;letter-spacing:-0.5px;color:#3d9eca;font-weight:bold;}
.main1 .bx-pager{position:absolute;left:0;bottom:28%}
.main1 .bx-pager .bx-pager-item{display:inline-block;zoom:1;*display:inline;font-size:0;line-height:0;padding:0 2px}
.main1 .bx-pager a{display:block;border-radius:50%;width:11px;height:11px;background:rgba(114,114,114,0.4)}
.main1 .bx-pager a:hover,
.main1 .bx-pager a:focus{background:#fff}
.main1 .bx-pager a.active{background:#007dd1;width:44px;border-radius:5px;}
.main1 .bx-controls .bx-prev,
.main1 .bx-controls .bx-next{display:none;}
.main1 .bx-viewport{position:relative;z-index:10}
.main1 .bx-controls{position:absolute;z-index:11;top:0}

.main2 {position:absolute;top:310px;width:294px;z-index:11}
.main2 .search-box fieldset{position:relative;border:3px solid #444;background:#fff;padding-left:10px;overflow:hidden}
.main2 .search-box input{border:0;background:#fff;width:100%;}
.main2 .search-box input:focus{outline:none}
.main2 .search-box input,
.main2 .search-box button{height:35px;line-height:34px}
.main2 .search-box button{float:right;width:73px;text-align:center;background:#444;color:#fff;margin-right:-3px;font-weight:bold;}
.main2 .search-box .box1{float:left;width:100%;margin-right:-80px}
.main2 .search-box .box2{margin-right:80px}

.main1,.main2,.main3,.main4,.main5,.main6,.main7{overflow:hidden}
.main7 h3{padding:0 0 8px;color:#232323}
.main7 h3{padding:0}
.main6 .lt1{width:33.4%}
.main6 .lt2,
.main6 .lt3{width:33.3%}
.main6 .lt1,.main6 .lt2,.main6 .lt3{float:left}

.main3{float:left;width:33.4%}
.main4{float:left;width:33.3%}
.main5{float:right;width:33.1%;position:relative}
.main3 .box,.main4 .box{height:165px;padding:20px}
.main3>div{float:left}
.main4>div{border:1px solid #e4e4e4;margin-top:-1px;margin-bottom:-1px;}
.main3>div>div{margin-left:-15px}
.main3 .news{width:100%}
.main3 .news li{padding:2px 75px 2px 10px}

.main3 ul{padding:5px 0}
.main3 .news ul{padding-top:10px}
.main4 ul{padding-top:18px;}
.main3>div,.main4>div{position:relative}
.main3 .more,.main4 .more{right:20px;top:25px;font-size:0;line-height:0;position:absolute;background:url('../img/more_bt.png') no-repeat 0 0;width:27px;height:24px}
.main3 h3,
.main4 h3{font-size:22px;line-height:30px;}
.main4 ul{text-align:center;font-size:0;line-height:0;margin:0 -5px;}
.main4 li{display:inline-block;zoom:1;*display:inline;width:23%;margin:0 5%}
.main4 li a{display:block;}
.main4 li img{width:100%}
.main4 li span{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis}
.main4 li.lt-gall4,
.main4 li.lt-gall5{display:none}

.main5 .popupzone li a{display:block;padding:38px 0 0;float:right;}
.main5 .popupzone li img{border:1px solid #cccccc;}
.main5 .popupzone .bx-controls{position:absolute;top:0;right:0;z-index:150}
.main5 .popupzone .bx-pager .bx-pager-item{display:inline-block;zoom:1;*display:inline;font-size:0;line-height:0;padding:0 2px}
.main5 .popupzone .bx-pager a{display:block;width:10px;height:10px;background:#b8b8b8}
.main5 .popupzone .bx-pager a:hover,
.main5 .popupzone .bx-pager a:focus{background:#beddec}
.main5 .popupzone .bx-pager a.active{background:#007dd1}

.main6_bg{width:100%;background:#dce7ee;}.main6{}
.main6 a{background:url('../img/quick02_more_bt.png') no-repeat 95% center;display:block;height:48px;color:#fff;text-align:center;font-weight:bold;font-size:17px;padding-top:27px}
.main6 .lt1{background:url('../img/quick02_bg01.jpg') no-repeat;background-size:cover}
.main6 .lt2{background:url('../img/quick02_bg02.jpg') no-repeat;background-size:cover}
.main6 .lt3{background:url('../img/quick02_bg03.jpg') no-repeat;background-size:cover}
.main6 a:hover,
.main6 a:focus{color:rgba(255,255,255,0.8)}

.main7{padding:15px 0}

#footer{padding:30px 0 50px;border-top:1px solid #e4e4e4;}
#footer .section{font-size:0;line-height:0;position:relative;}
#footer .section .site_link{position:absolute;right:0;top:0}
#footer .section .site_link div{padding:0 0 5px}
#footer .section .site_link select{width:150px}
#footer .section .site_link a,
#footer .section .site_link span{border-radius:0}
#footer .section .site_link span{line-height:30px}
#footer .section .site_link .select2-container .select2-selection--single,
#footer .section .site_link .select2-container--default .select2-selection--single .select2-selection__arrow{height:32px}
#footer .section .site_link .select2-container--default .select2-selection--single .select2-selection__arrow{width:24px}
#footer .section .site_link .select2-container .select2-selection--single .select2-selection__rendered{padding-right:24px}
#footer .section .site_link .select2-container--default .select2-selection--single .select2-selection__arrow b{
	border-width:6px 5px 0 5px;
	margin-top:-3px;
	margin-left:-5px
}
#footer .section .site_link .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
	border-width:0 5px 6px 5px
}
#footer .section .site_link a.btn{padding:6px 10px;background:#1f5d97;border-color:#1a518b;color:#fff}
#footer .section .site_link a.btn:hover,
#footer .section .site_link a.btn:focus{background:#1a518b}
#footer .info b {color:#007dd1;}
#footer .info a,
#footer .info span{vertical-align:middle}
#footer .info .bar{margin:0 3px}
#footer address em,
#footer address span{font-size:12px}
#footer address{padding:5px 0 0;}
#footer address em{font-style:normal;margin-right:10px}
#footer address span{font-size:11px}


/* 콘텐츠 */
.doc-body{color:#666}
.doc-body table caption{display:none}
.doc-body table thead th{background:#f6f6f6}
.doc-body table tbody td.item{background:#f9f9f9}
.doc-body h2{font-size:140%;font-weight:bold;color:#313131;padding:15px 0 8px;letter-spacing:-1px}
.doc-body h2 span.sdate2{font-size:80%;font-weight:normal;color:#666}
.doc-body h3{font-size:125%;font-weight:bold;color:#373737;padding:10px 0 5px}
.doc-body h4{font-size:115%;font-weight:bold;color:#4c4c4c;padding:10px 0 5px}
.doc-body ul.con{padding-left:1%}
.doc-body ul.con>li{background:url('/resources/common/img/doc-arr2.gif') no-repeat 0 10px;padding:3px 0 4px;padding-left:13px}
.doc-body ul.con>li>ul{padding:3px 0}
.doc-body ul.con2>li,
.doc-body ul.con>li>ul>li{background:url('/resources/common/img/doc-arr3.gif') no-repeat 0 10px;padding:2px 0 2px 10px}
.doc-body ul.con3>li,
.doc-body ul.con>li>ul>li>ul>li{background:url('/resources/common/img/doc-arr4.gif') no-repeat 0 9px;padding-left:10px}
.doc-body ul.con .btn_bg{padding:3px 0 5px}
.doc-body ul.con table{margin:5px 0}
.doc-body ul.con2{padding-left:13px}
.doc-body li .txt-box{margin:5px 0}

.doc-body .faq-wrap ul.con2>li{padding:0 0 0 10px;background-position:0 8px}
.doc-body .faq-wrap ul.con2{padding-left:0}

.btn_area{border-top:1px solid #ddd;padding-top:20px;margin-top:20px;clear:both}
.btn_area .btn{padding:8px 18px 10px;letter-spacing:-1px;font-size:110%}

.lpad01{padding:0 0 15px 15px}
.text-indent p{text-indent:10px}
.fb{font-weight:bold}
.orange{color:orange}
.btn img{vertical-align:middle}
.btn img.icon{margin-right:3px}

/* 인사말 */
#greeting_img,
.greeting_wrap{overflow:hidden}
.greeting_wrap #greeting_img{float:left;width:30%;margin-top:40px;text-align:center;}
.greeting_wrap .greeting_con{float:left;width:70%;margin-right:-150px;margin-top:40px}
.greeting_wrap .greeting_con h3{font-size:180%;font-weight:bold;color:#3e6f98;}
.greeting_wrap .greeting_con h2{font-size:130%;font-weight:bold;color:#373737;}
.greeting_wrap .greeting_con .box{margin-right:0px;padding-left:30px}
@media screen and (max-width:580px){
.greeting_wrap #greeting_img{width:100%;}
.greeting_wrap #greeting_img img {display:block; margin:0 auto}
.greeting_wrap .greeting_con{float:left;width:100%;margin-right:-150px;margin-top:40px}
}

/*컨텐츠 배경이미지 */
.guide_bg {background:url('../img/contents/usedata_background.jpg') no-repeat right top;}
.room01_bg {background:url('../img/contents/topicon_1.jpg') no-repeat right top;}
.room0101_bg {background:url('../img/contents/jhpark.jpg') no-repeat right top;}
.room02_bg {background:url('../img/contents/topicon_children.jpg') no-repeat right top;}
.room03_bg {background:url('../img/contents/topicon_3.jpg') no-repeat right top;}
.room04_bg {background:url('../img/contents/topicon_4.jpg') no-repeat right top;}
.room05_bg {background:url('../img/contents/bus_library.png') no-repeat right top;}
.room06_bg {background:url('../img/contents/topicon_6.jpg') no-repeat right top;}
.room07_bg {background:url('../img/contents/topicon_7.jpg') no-repeat right top;}
.room0701_bg {background:url('../img/contents/dokdo_pictures.png') no-repeat right top;}
.room0701_bg img {margin-top:70px}
.class_bg {background:url('../img/contents/lifelong_bg.png') no-repeat right 15%;}
@media screen and (max-width:1000px){
.room0101_bg {background:url('../img/contents/jhpark.jpg') no-repeat left bottom;padding-bottom:130px}
.room01_bg,.room02_bg,.room03_bg,.room04_bg,.room05_bg,.room06_bg,.room07_bg,.room0701_bg,.class_bg {background:none}
.room0701_bg img {margin-top:0}
}

/* 시설현황 */
#guide_img,
.guide_wrap{overflow:hidden}
.guide_wrap #guide_img{float:left;width:500px;margin-top:40px}
.guide_wrap .guide_con{float:left;width:100%;margin-right:-500px;margin-top:40px}
.guide_wrap .guide_con .box{margin-right:250px;padding-left:30px}
@media screen and (max-width:1000px){
	.guide_wrap #guide_img{width:100%}
	.guide_wrap .guide_con{margin-right:-0%;margin-top:0px}
	.guide_wrap .guide_con .box{margin-right:0%;margin-top:0px}
}

/* 연혁 */
.history_wrap{overflow:hidden;border-bottom:1px solid #dbdbdb;}
.history_wrap #history_tit{overflow:hidden;float:left;width:180px;margin-top:25px}
.history_wrap #history_tit h2{font-size:28px;}
.history_wrap .history_con{float:left;width:100%;margin-right:-180px;margin-top:40px;}
.history_wrap .history_con .box{position:relative;margin-right:10px;padding-left:100px;line-height:130%;}
.history_wrap .history_con .box li{background:none}
.history_wrap .history_con .box .fb{position:absolute;left:0;display:block;padding-right:10px;color:#000}
@media screen and (max-width:1000px){
	.history_wrap #history_tit{width:100%}
	.history_wrap .history_con{margin-right:-0%;}
	.history_wrap .history_con .box{margin-right:0%;margin-top:0px}
}

/* 배너모음*/
.banner_more {text-align:center;}
.banner_more li{display:inline-block;margin:10px 5px;width:150px}
.banner_more li img{border:1px solid #ccc;}

.lpad03{padding-bottom:15px}

@media screen and (max-width:1160px){
	.section{width:auto;margin:0 2%}
}
@media all and (max-width:1000px){
	.tnb{border-bottom:2px solid #1f5d98;height:45px}
	.tnb .section{position:relative}
	#header .search-box,
	#header .search_link{margin-left:80px}
	h1 img{display:none}
	.qmenu .bx-controls{display:block}

	#header h1{position:relative;height:auto;position:absolute;top:5px;left:0;width:50px;}
	#header h1 img{display:block}
	#header h1,
	#header h1 a{width:auto}
	.m-menu{float:right}
	.m-menu a{display:inline-block;zoom:1;*display:inline;text-align:center;vertical-align:middle}
	.m-menu a i{font-size:30px;width:45px;height:45px;line-height:45px}

	.section{margin:0}
	.subpage .section,
	#footer .section{padding:0 3%}
	.tnb{padding:10px}
	.tnb .util,
	.Gnb,
	.main7{display:none}
	.mmode{display:block}
	
	.qmenu li{width:25%;}
	.qmenu .bx-wrapper{margin:0 50px!important}

	.main2,.main3,.main4,.main5,.main6{height:auto;}
	.main3{width:54%;margin-bottom:-1px;border:1px solid #e4e4e4;margin-left:-1px;margin-top:-1px;}
	.main5{width:45%;right:0;position:absolute;}
	.main4,
	.main6{width:100%}
	.main1,	.main2,.main3 .news {width:94%;margin:0 2%}
	.main2 {margin-top:3%;}	
	.main3 .box,.main4 .box{height:auto}

	.main4>div{border:1px solid #e4e4e4;margin-right:-1px;margin-top:-1px;}
	.main4 .box{height:auto;margin-left:0;margin-top:0px}
	.main4 li{width:13%;margin:0 3%}
	.main4 li.lt-gall4,
	.main4 li.lt-gall5{display:inline-block;zoom:1;*display:inline}

	.main5 .popupzone li a{display:block;padding:38px 0 0;margin-right:5%}
	.main5 .popupzone .bx-controls{position:absolute;top:0;margin-right:5%;z-index:150}
	.main5 .popupzone li img{width:100%}

	#footer .section .site_link{display:none}
}

@media all and (max-width:767px){
	.main1 li{background-position:70% 50%!important;}
	.main1 .box .t1{font-size:45px;line-height:120%;}
	.main1 .box .t1 p{font-size:45px;line-height:120%;}
	.main1 .box .t2{padding:13px 0 0;font-size:15px;letter-spacing:-0.5px;color:#3d9eca;font-weight:bold;}	
	.main2 {top:320px;}
	.main2 li{width:50%}	
	.main4 .more{right:7.5%;}
	.main3{width:100%;}
	.main4>div{border:1px solid #e4e4e4;margin-bottom:0px;}
	.main5{width:100%;float:left;position:relative;}
	.main5 .popupzone li {text-align:center;}
	.main5 .popupzone li a  {float:none;margin-right:0}
	.main5 .popupzone li img{width:90%;margin-bottom:15px}
	.main6>div{width:100%!important}
}
@media all and (max-width:580px){
	.main1 .box {width:80%}
	.main1 .box .t2 {display:none}
	.main4 li{width:23%;margin:0 5%}
	.main4 li.lt-gall4,
	.main4 li.lt-gall5{display:none}
}
@media all and (max-width:400px){
	#header h1 img{height:38px;}	
}
@media all and (max-width:320px){
	.main1 .box .t1{font-size:40px;line-height:130%;}
	.main1 .box .t1 p{font-size:40px;line-height:130%;}
}