@charset "utf-8";

#container.subpage {position:relative;padding-top:134px;}

@media all and (max-width:1024px){
	#container.subpage {padding-top:80px;}
	#container .search-form .detail_search{padding:0;]
	.m-menu a{top: 20px !important;}
}

@media all and (min-width: 1025px) and (max-width: 1260px) {
	html,body{width:1260px;margin:0 auto;}
	.tnb, .Gnb {width:1260px;margin:0 auto;}
}
