<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.untactBook.untactLockerSetting.UntactLockerSettingDao">
	
	<select id="getUntactLockerSettingList" resultType="kr.go.gbelib.app.cms.module.untactBook.untactLockerSetting.UntactLockerSetting">
		SELECT
			homepage_id, locker_number, locker_type
		FROM
			UNTACT_BOOK_LOCKER_SETTING
		WHERE
			homepage_id = #{homepage_id}
		ORDER BY
			locker_number
	</select>
	
	<select id="showLockerStateBefore" resultType="kr.go.gbelib.app.cms.module.untactBook.untactLockerSetting.UntactLockerSetting">
		SELECT
			a.locker_number, a.locker_type, b.reservation_step
		FROM
			UNTACT_BOOK_LOCKER_SETTING A
			LEFT JOIN UNTACT_BOOK_RESERVATION B
			ON a.homepage_id = b.homepage_id
			AND a.locker_number = b.locker_number
			AND b.round_idx = (SELECT
										round_idx
									FROM
										UNTACT_BOOK_ROUND
									WHERE
										homepage_id = #{homepage_id}
									AND round_end_date = (SELECT
																round_start_date
															FROM
																UNTACT_BOOK_ROUND
															WHERE 1=1		
															AND homepage_id = #{homepage_id}
															AND round_idx = #{round_idx}
														  )
							         )
			WHERE a.homepage_id = #{homepage_id}
	</select>
	
	<select id="showLockerState" resultType="kr.go.gbelib.app.cms.module.untactBook.untactLockerSetting.UntactLockerSetting">
		SELECT
			locker_number, locker_type
		FROM
			UNTACT_BOOK_LOCKER_SETTING
		WHERE 
			homepage_id = #{homepage_id}
	</select>

	<select id="getMaxUntactLocker" resultType="int">
		SELECT
			NVL(MAX(locker_number), 0)
		FROM
			UNTACT_BOOK_LOCKER_SETTING
		WHERE
			homepage_id = #{homepage_id}
	</select>

	<delete id="deleteUntactLocker">
		DELETE FROM UNTACT_BOOK_LOCKER_SETTING
		WHERE
		    homepage_id = #{homepage_id}
		AND locker_number > #{locker_number}
	</delete>

	<insert id="insertUntactLocker">
		INSERT INTO UNTACT_BOOK_LOCKER_SETTING
		(
		 	homepage_id, locker_number, locker_type
		) VALUES
		(
			#{homepage_id}, #{locker_number}, #{locker_type}
		)
	</insert>
	
	<update id="modifyUntactLockerSetting">
		UPDATE
			UNTACT_BOOK_LOCKER_SETTING
		SET
			locker_type = #{locker_type}
		WHERE
			homepage_id = #{homepage_id}
		AND locker_number = #{locker_number}
	</update>
	
	<update id="modifyUntactLockerSettingALL">
		UPDATE
			UNTACT_BOOK_LOCKER_SETTING
		SET
			locker_type = #{locker_type}
		WHERE
			homepage_id = #{homepage_id}
		AND locker_number IN
		<foreach collection="locker_number_arr" item="i" open="(" close=")" separator=",">
		${i}
		</foreach>
	</update>
	
	<select id="getUntactLockerSettingCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			UNTACT_BOOK_LOCKER_SETTING
		WHERE
			homepage_id = #{homepage_id}
		AND locker_type = '도서대출'
	</select>

	<select id="getUntactBookSettingOne" resultType="kr.go.gbelib.app.cms.module.untactBook.untactLockerSetting.UntactBookSetting">
		SELECT
			homepage_id, locker_use_yn, row_count, total_count, round_start_date,
			round_end_date, reservation_repeated_day,
			SUBSTR(reservation_repeated_time,0,2) AS start_hour,
			SUBSTR(reservation_repeated_time,4,2) AS start_minute,
			locker_use_type, terms
		FROM
			UNTACT_BOOK_SETTING
		WHERE
			homepage_id = #{homepage_id}
	</select>

	<update id="mergeUntactBookSetting">
		MERGE INTO
			UNTACT_BOOK_SETTING a
			USING dual
			ON
				(a.homepage_id = #{homepage_id})
			WHEN MATCHED THEN
				UPDATE SET
				    a.locker_use_yn = #{locker_use_yn},
					a.row_count = #{row_count},
					a.total_count = #{total_count},
					a.round_start_date = #{round_start_date},
					a.round_end_date = #{round_end_date},
					a.reservation_repeated_day = #{reservation_repeated_day},
					a.reservation_repeated_time = #{start_hour}||':'||#{start_minute},
					a.locker_use_type = #{locker_use_type},
		    		a.terms = #{terms}
			WHEN NOT MATCHED THEN
				INSERT (
					homepage_id, locker_use_yn, row_count, total_count, round_start_date,
					round_end_date, reservation_repeated_day, reservation_repeated_time, locker_use_type, terms
				) VALUES (
					#{homepage_id}, #{locker_use_yn}, #{row_count}, #{total_count}, #{round_start_date},
					#{round_end_date}, #{reservation_repeated_day}, #{start_hour}||':'||#{start_minute}, #{locker_use_type}, #{terms}
				)
	</update>
	
	<select id="reservationTimeCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			UNTACT_BOOK_SETTING
		WHERE
			homepage_id = #{homepage_id}
		AND (TO_CHAR(SYSDATE, 'HH24:MI') <![CDATA[<]]> TO_CHAR(SUBSTR(loan_time,0,2)||':'||SUBSTR(loan_time,4,2))
		OR TO_CHAR(SYSDATE, 'HH24:MI') > TO_CHAR(SUBSTR(loan_time,7,2)||':'||SUBSTR(loan_time,10,2)))
	</select>
	
	<select id="reservationMaxCount" resultType="int">
		SELECT
			reservation_max_count
		FROM
			UNTACT_BOOK_SETTING
		WHERE
			homepage_id = #{homepage_id}
	</select>
	
	<select id="getLoanTime" resultType="String">
		SELECT
			loan_time
		FROM
			UNTACT_BOOK_SETTING
		WHERE
			homepage_id = #{homepage_id}
	</select>
	
	<select id="getLockerUseType" resultType="String">
		SELECT
			locker_use_type
		FROM
			UNTACT_BOOK_SETTING
		WHERE
			homepage_id = #{homepage_id}
	</select>
	
	<select id="getLockerMaxCount" resultType="int">
		SELECT
			NVL(MAX(total_count),0)
		FROM
			UNTACT_BOOK_SETTING
		WHERE
			homepage_id = #{homepage_id}
	</select>
	
	<select id="getLockerUseYN" resultType="String">
		SELECT
			locker_use_yn
		FROM
			UNTACT_BOOK_SETTING
		WHERE
			homepage_id = #{homepage_id}
	</select>
	
	<delete id="deleteUntactBookRound">
		DELETE FROM UNTACT_BOOK_ROUND
		WHERE
		    homepage_id = #{homepage_id}
		AND round_idx >= #{round_idx}
	</delete>
	
	<insert id="createUntactBookRound">
		INSERT INTO UNTACT_BOOK_ROUND
		(
			homepage_id, round_idx, round_start_date, round_end_date, round_start_time,
			round_end_time
		) VALUES (
			#{homepage_id}, #{round_idx}, #{round_start_date}, #{round_end_date}, #{round_start_time},
			#{round_end_time}
		)
	</insert>
	
	<select id="getUntactBookRoundOne" resultType="String">
		SELECT
			round_idx
		FROM
			UNTACT_BOOK_ROUND
		WHERE
			homepage_id = #{homepage_id}
		AND SYSDATE BETWEEN TO_DATE(round_start_date||round_start_time, 'YYYY-MM-DDHH24:MI:SS') 
		AND TO_DATE(round_end_date||round_end_time, 'YYYY-MM-DDHH24:MI:SS')
	</select>
	
	<select id="getUntactBookRound" resultType="String">
		SELECT
			round_idx
		FROM
			UNTACT_BOOK_ROUND
		WHERE
			homepage_id = #{homepage_id}
		AND ROUND_END_DATE = (SELECT
									ROUND_START_DATE
								FROM
									UNTACT_BOOK_ROUND
								WHERE 1=1		
								AND homepage_id = #{homepage_id}
								AND SYSDATE BETWEEN TO_DATE(round_start_date||round_start_time, 'YYYY-MM-DDHH24:MI:SS') 
								AND TO_DATE(round_end_date||round_end_time, 'YYYY-MM-DDHH24:MI:SS'))
	</select>
	
	<select id="getUntactBookRoundBefore" resultType="String">
		SELECT
			round_idx
		FROM
			UNTACT_BOOK_ROUND
		WHERE
			homepage_id = #{homepage_id}
		AND ROUND_END_DATE = (SELECT
									ROUND_START_DATE
								FROM
									UNTACT_BOOK_ROUND
								WHERE 1=1		
								AND homepage_id = #{homepage_id}
								AND	round_idx = #{round_idx})
	</select>
	
	<select id="getUntactBookRoundAll" resultType="kr.go.gbelib.app.cms.module.untactBook.untactLockerSetting.UntactBookRound">
		SELECT
			TO_CHAR(TO_DATE(round_start_date||round_start_time, 'YYYY-MM-DDHH24:mi'),'YYYYMMDDHH24miss') AS round_start_date,
			TO_CHAR(TO_DATE(round_end_date||round_end_time, 'YYYY-MM-DDHH24:mi'),'YYYYMMDDHH24miss') AS round_end_date
		FROM
			UNTACT_BOOK_ROUND
		WHERE
			homepage_id = #{homepage_id}
		AND	round_idx = #{round_idx}
	</select>
	
	<select id="getReturnDate" resultType="String">
		SELECT
			round_end_date||' '||round_end_time AS round_end_date
		FROM
			UNTACT_BOOK_ROUND
		WHERE
			homepage_id = #{homepage_id}
		AND round_idx = #{round_idx} 
	</select>
	
	<select id="getRepeatedOne" resultType="String">
		SELECT
			reservation_repeated_day
		FROM
			UNTACT_BOOK_SETTING
		WHERE
			homepage_id = #{homepage_id}
	</select>
	
	<select id="checkUntactBookRoundCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			UNTACT_BOOK_ROUND
		WHERE
			homepage_id = #{homepage_id}
		AND #{round_start_date} BETWEEN TO_DATE(round_start_date||round_start_time, 'YYYY-MM-DDHH24:MI:SS') 
		AND TO_DATE(round_end_date||round_end_time, 'YYYY-MM-DDHH24:MI:SS')
	</select>
	
</mapper>