<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.untactBook.untactLockerSetting.UntactLockerSettingDao">
	
	<select id="getUntactLockerSettingList" resultType="kr.go.gbelib.app.cms.module.untactBook.untactLockerSetting.UntactLockerSetting">
		SELECT
			homepage_id, locker_number, locker_type
		FROM
			UNTACT_BOOK_LOCKER_SETTING
		WHERE
			homepage_id = #{homepage_id}
		ORDER BY
			locker_number
	</select>

	<select id="getMaxUntactLocker" resultType="int">
		SELECT
			NVL(MAX(locker_number), 0)
		FROM
			UNTACT_BOOK_LOCKER_SETTING
		WHERE
			homepage_id = #{homepage_id}
	</select>

	<delete id="deleteUntactLocker">
		DELETE FROM UNTACT_BOOK_LOCKER_SETTING
		WHERE
		    homepage_id = #{homepage_id}
		AND locker_number > #{locker_number}
	</delete>

	<insert id="insertUntactLocker">
		INSERT INTO UNTACT_BOOK_LOCKER_SETTING
		(
		 	homepage_id, locker_number, locker_type
		) VALUES
		(
			#{homepage_id}, #{locker_number}, #{locker_type}
		)
	</insert>
	
	<update id="modifyUntactLockerSetting">
		UPDATE
			UNTACT_BOOK_LOCKER_SETTING
		SET
			locker_type = #{locker_type}
		WHERE
			homepage_id = #{homepage_id}
		AND locker_number = #{locker_number}
	</update>
	
	<update id="modifyUntactLockerSettingALL">
		UPDATE
			UNTACT_BOOK_LOCKER_SETTING
		SET
			locker_type = #{locker_type}
		WHERE
			homepage_id = #{homepage_id}
		AND locker_number IN
		<foreach collection="locker_number_arr" item="i" open="(" close=")" separator=",">
		${i}
		</foreach>
	</update>
	
	<select id="getUntactLockerSettingCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			UNTACT_BOOK_LOCKER_SETTING
		WHERE
			homepage_id = #{homepage_id}
		AND locker_type = '도서대출'
	</select>
	

	<select id="getUntactBookSettingOne" resultType="kr.go.gbelib.app.cms.module.untactBook.untactLockerSetting.UntactBookSetting">
		SELECT
			homepage_id, locker_use_yn, row_count, total_count
		FROM
			UNTACT_BOOK_SETTING
		WHERE
			homepage_id = #{homepage_id}
	</select>

	<update id="mergeUntactBookSetting">
		MERGE INTO
			UNTACT_BOOK_SETTING a
			USING dual
			ON
				(a.homepage_id = #{homepage_id})
			WHEN MATCHED THEN
				UPDATE SET
				    a.locker_use_yn = #{locker_use_yn},
					a.row_count = #{row_count},
					a.total_count = #{total_count}
			WHEN NOT MATCHED THEN
				INSERT (
					homepage_id, locker_use_yn, row_count, total_count
				) VALUES (
					#{homepage_id}, #{locker_use_yn}, #{row_count}, #{total_count}
				)

	</update>

</mapper>