<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.bookReview.BookReviewDao">

	<select id="getBookReviewLocaList" resultType="kr.go.gbelib.app.cms.module.bookReview.BookReview">
		${pagingTop}
		SELECT
			book_review_idx, book_review_loan_id, book_review_web_id, book_review_name, book_review_content, 
			book_review_score, manage_code, book_key, add_id, add_date, modify_id, modify_date
		FROM
			BOOK_REVIEW
		WHERE
			manage_code = #{manage_code}
		<if test="(search_type != null and search_type != '') and (search_text != '' and search_text != '')">
		AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
		ORDER BY book_review_idx DESC
		${pagingBottom}
	</select>
	
	<select id="getBookReviewLocaListCnt" resultType="int">
		SELECT
			COUNT(*)
		FROM
			BOOK_REVIEW
		WHERE
			manage_code = #{manage_code}
		<if test="(search_type != null and search_type != '') and (search_text != '' and search_text != '')">
		AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
	</select>

	<select id="getBookReviewList" resultType="kr.go.gbelib.app.cms.module.bookReview.BookReview">
		SELECT
			book_review_idx, book_review_loan_id,
			SUBSTR(book_review_web_id, 1, 3) || LPAD('*', LENGTH(book_review_web_id)-3, '*') AS book_review_web_id,
			SUBSTR(book_review_name, 1, 1) || LPAD('*', LENGTH(book_review_name)-1, '*') AS book_review_name,
			book_review_content, book_review_score, manage_code, book_key, add_id, add_date, modify_id, modify_date
		FROM
			BOOK_REVIEW
		WHERE
			book_key = #{book_key}
		ORDER BY book_review_idx DESC
	</select>
	
	<select id="duplBookReviewUserCnt" resultType="int">
		SELECT
			COUNT(*)
		FROM
			BOOK_REVIEW
		WHERE
			book_review_loan_id = #{book_review_loan_id}
		AND	book_key = #{book_key}
	</select>

	<insert id="addBookReview">
		<selectKey keyProperty="book_review_idx" resultType="int" order="BEFORE">
			SELECT NVL(MAX(book_review_idx), 0) + 1 FROM BOOK_REVIEW
		</selectKey>
		INSERT INTO BOOK_REVIEW
		(
			book_review_idx, book_review_loan_id, book_review_web_id, book_review_name, book_review_content,
			book_review_score, manage_code, book_key, add_id, add_date
		)
		VALUES
		(
			#{book_review_idx}, #{book_review_loan_id}, #{book_review_web_id}, #{book_review_name}, #{book_review_content},
			#{book_review_score}, #{manage_code}, #{book_key}, #{add_id}, SYSDATE
		)
	</insert>
	
	<update id="modBookReview">
		UPDATE
			BOOK_REVIEW
		SET
			book_review_content = #{book_review_content},
			book_review_score = #{book_review_score},
			modify_id = #{modify_id},
			modify_date = SYSDATE
		WHERE
			book_review_idx = #{book_review_idx}
	</update>
	
	<delete id="delBookReview">
		DELETE FROM
			BOOK_REVIEW
		WHERE
			book_review_idx = #{book_review_idx}
	</delete>
	
	<select id="getBookReviewAll" resultType="kr.go.gbelib.app.cms.module.bookReview.BookReview">
		${pagingTop}
		SELECT
			book_review_idx, book_review_loan_id, book_review_web_id, book_review_content, book_review_score,
			manage_code, book_key, add_id, add_date, modify_id, modify_date
		FROM
			BOOK_REVIEW
		WHERE
			book_review_loan_id = #{book_review_loan_id}
		<if test="search_text != null and search_text != ''">
		AND	book_review_content LIKE '%'||#{search_text}||'%'
		</if>
		<if test="(search_start_date != null and search_start_date != '') and (search_end_date != null and search_end_date != '')">
		<![CDATA[AND (TO_DATE(add_date) >= TO_DATE(#{search_start_date}) AND TO_DATE(add_date) <= TO_DATE(#{search_end_date}))]]>
		</if>
		<if test="search_loca != null and search_loca != ''">
		AND manage_code = #{search_loca}
		</if>
		ORDER BY book_review_idx DESC
		${pagingBottom}
	</select>
	
	<select id="getbookReviewAllCnt" resultType="int">
		SELECT
			COUNT(*)
		FROM
			BOOK_REVIEW
		WHERE
			book_review_loan_id = #{book_review_loan_id}
		<if test="search_text != null and search_text != ''">
		AND	book_review_content LIKE '%'||#{search_text}||'%'
		</if>
		<if test="(search_start_date != null and search_start_date != '') and (search_end_date != null and search_end_date != '')">
		<![CDATA[AND (TO_DATE(add_date) >= TO_DATE(#{search_start_date}) AND TO_DATE(add_date) <= TO_DATE(#{search_end_date}))]]>
		</if>
		<if test="search_loca != null and search_loca != ''">
		AND manage_code = #{search_loca}
		</if>
		ORDER BY book_review_idx DESC
	</select>
	
	<select id="getBookReviewXlsAndCsv" resultType="kr.go.gbelib.app.cms.module.bookReview.BookReview">
		SELECT
			book_review_idx, book_review_loan_id, book_review_web_id, book_review_content, book_review_score,
			manage_code, book_key, add_id, add_date, modify_id, modify_date
		FROM
			BOOK_REVIEW
		WHERE
			book_review_loan_id = #{book_review_loan_id}
	</select>
	
	<select id="getBookReviewOne" resultType="kr.go.gbelib.app.cms.module.bookReview.BookReview">
		SELECT
			book_review_idx, book_review_loan_id, book_review_web_id, book_review_content, book_review_score,
			manage_code, book_key, add_id, add_date, modify_id, modify_date
		FROM
			BOOK_REVIEW
		WHERE
			book_review_idx = #{book_review_idx}
	</select>
	
</mapper>