@charset "utf-8";
/* 스타일 */
a:hover,
a:focus{color:#2b74c0}

#wrap {background:#fff;}

/* header */
.tnb {position:relative;text-align:right;background:#263769;}
.tnb .util{height:40px}
.tnb a, .tnb b {font-size:15px;color:#fff;font-weight:bold;display:inline-block;padding:0;margin:0;box-sizing:border-box;line-height:40px;}
.tnb a:hover,
.tnb a:focus{}
.tnb a.sitemap-img2 {padding:0;vertical-align:middle;}
.tnb b {color:#fff;}

#header .head{position:relative;z-index:2;clear:both}
#header h1{position:absolute;z-index:10000;top:50px;}
.popupWrap{z-index:6}

/* Gnb */
.Gnb{clear:both;text-align:center;width:100%;height:90px;overflow:inherit;position:relative;}
.Gnb .gnb-menu{position:relative;text-align:right;padding-right:10px;}
.Gnb .gnb-menu>li{position:relative;padding:0 2%;text-align:center;position:static}
.Gnb .gnb-menu>li:last-child{margin-right:15px;}
.Gnb .gnb-menu>li>a{line-height:90px;height:90px;font-size:21px;color:#222;font-weight:bold;}
.Gnb .gnb-menu>li>ul{display:none;background:#666;border:0;left:0;white-space:nowrap;text-align:right}
.Gnb .gnb-menu>li.active>ul{display:block;overflow:hidden;}
.Gnb .gnb-menu>li>.SubMenu>li{width:auto;padding:0;text-align:center;}
.Gnb .gnb-menu>li>.SubMenu>li{display:inline-block}
.Gnb .gnb-menu>li>.SubMenu>li>a{font-size:14px;padding:0 5px;color:#eee}
.Gnb .gnb-menu>li>.SubMenu>li>a:hover,
.Gnb .gnb-menu>li>.SubMenu>li>a:focus{background:none;color: #f8bf2b;}
.Gnb .gnb-menu>li.on>a,
.Gnb .gnb-menu>li>a:hover,
.Gnb .gnb-menu>li>a:focus{color:#03539e}
.Gnb .mask,
.Gnb .gnb-menu>li>ul{width:100%;background:#6d7a8b;}
.Gnb .gnb-menu>li.menu1>ul,
.Gnb .gnb-menu>li.menu2>ul,
.Gnb .gnb-menu>li.menu3>ul{text-align:center;}
.Gnb .gnb-menu>li.menu1>ul{margin-left:-200px;}
.Gnb .gnb-menu>li.menu2>ul{margin-left:}
.Gnb .gnb-menu>li.menu3>ul{margin-left:-50px;}
.Gnb .gnb-menu>li.menu4>ul{margin-left:-200px;}
.Gnb .gnb-menu>li.menu5>ul{margin-left:-140px;}
.Gnb .gnb-menu>li.menu6>ul{margin-left:-140px;}
.Gnb .g-menu {position:relative;}
.Gnb .g-menu a.last-box {position:absolute;right:0;top:35px;}

/*공통 푸터*/
#footer {padding:0 0 50px;z-index:3;background:#f3f3f3;margin-top:20px;}
#footer .top {position:relative;height:50px;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4}
#footer .bottom {padding:23px 0 0 0}
#footer .bottom .section {}
#footer .bottom .section .site_link {position:absolute;right:0;top:0;}
#footer .bottom .section .site_link div > div{width:200px;border-right:1px solid #fff;}
#footer .bottom .section .site_link div > div,
#footer .bottom .section .site_link a.btn{margin-bottom:5px;}
#footer .bottom .section .site_link a.btn{padding:9px 10px;border-radius:0;background:#81858c;border:0;color:#fff}
#footer .info b {color:#fd5227}
#footer .info a,
#footer .info span{vertical-align:middle;font-size:15px;color:#3b3b3b;line-height:40px;}
#footer .info .bar{display:inline-block;margin:0 13px;color:#bbb;}
#footer address em,
#footer address span{font-size:15px}
#footer address{padding:15px 0 0}
#footer address em{font-style:normal;margin-right:10px}
#footer address span{font-size:13px;display:block;padding-top:10px;}

#footer{clear:both}
#footer .info a {vertical-align:middle;display:inline-block;zoom:1;*display:inline;}
#footer .info a b{font-size:105%}
#footer .info a.admin{font-weight:bold;color:#2b74c0}
.footer .site_link > div > div,
#footer .site_link > div > div {position:relative;display:inline-block;zoom:1;*display:inline;margin:0;vertical-align:middle;margin-right:-5px;}
.footer .site_link > div > div > a.fsite,
#footer .site_link > div > div > a.fsite{display:block;padding:4px 8px;border-right-width:0;text-align:left;background:#81858c;color:#fff;}
.footer .site_link > div > div > ul,
#footer .site_link > div > div > ul{position:absolute;bottom:37px;left:0;width:100%;text-align:left;border-top:1px solid #ccc;background:#fff}
.footer .site_link > div > div > ul,
#footer .site_link > div > div > ul{overflow-y:auto;border-right:1px solid #ccc}
.footer .site_link > div > div > ul > li,
#footer .site_link > div > div > ul > li{line-height:25px;border-left:1px solid #ccc}
.footer .site_link > div > div > ul > li > a,
#footer .site_link > div > div > ul > li > a{color:#666;display:block;padding:3px 6px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.footer .site_link > div > div > a > span,
#footer .site_link > div > div > a > span{display:inline-block;zoom:1;*display:inline;vertical-align:middle;line-height:28px;height:28px}
.footer .site_link > div > div > a > span.f1,
#footer .site_link > div > div > a > span.f1{display:block;width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.footer .site_link > div > div > a > span.f2,
#footer .site_link > div > div > a > span.f2{position:absolute;right:7px;top:0;width:20px}
.footer .site_link > div > div > a > span > i,
#footer .site_link > div > div > a > span > i{border-color:#888 transparent transparent transparent;border-style:solid;border-width:5px 4px 0 4px;width:0;height:0;left:50%;position:absolute;top:50%}
.footer .site_link > div > div > a > span > i,
.footer .site_link > div > div > a:hover > span > i,
#footer .site_link > div > div > a > span > i,
#footer .site_link > div > div > a:hover > span > i{margin-top:-2px}
.footer .site_link > div > div > a.active > span > i,
#footer .site_link > div > div > a.active > span > i{border-color:transparent transparent #888 transparent;border-width:0 4px 5px 4px}
.footer .site_link > div > div > ul > li > a.disabled,
#footer .site_link > div > div > ul > li > a.disabled{color:#999}
.footer .site_link > div > div > ul > li > a:hover,
#footer .site_link > div > div > ul > li > a:hover{background:#5897fb;color:#fff;}


.main1 .section .txt .t2{padding-top:5px;padding-bottom:15px}
.main .bx-controls.mainImg .bx-pager{display:block}

.finfo {overflow:hidden;}
.finfo li {display:inline-block;float:left;width:48%;margin-right:2%;margin-bottom:3px;box-sizing:border-box;}
.finfo li dt, .finfo li dd {display:inline-block;font-size:14px;}
.finfo li dt {color:#454545;width:25%;letter-spacing:-1.5px;font-weight:bold;}
.finfo li dd {width:50%;vertical-align:top;}
.finfo li dd.tel {width:20%;}

/* 도서관 둘러보기 */
.libView{padding:0 0 10px}
.libView strong{display:block;color:#004c92}

@media (max-width:1000px){
	.libView{text-align:center}
}

h2.tit{font-size:120%;background:url('/resources/homepage/cs/img/contents/text01.jpg') no-repeat 0 0;height:80px;padding:20px 0;padding-left:120px;margin-top:0;margin-bottom:20px}
h2.tit span{display:block;border-bottom:1px solid #e5e5e5;margin-bottom:15px;padding:5px 10px 5px}
h2.tit02{background-image:url('/resources/homepage/cs/img/contents/text02.jpg')}
h2.tit03{background-image:url('/resources/homepage/cs/img/contents/text03.jpg')}
h2.tit04{background-image:url('/resources/homepage/cs/img/contents/text04.jpg')}
h2.tit05{background-image:url('/resources/homepage/cs/img/contents/text05.jpg')}
h2.tit06{background-image:url('/resources/homepage/cs/img/contents/text06.jpg')}
h2.tit07{background-image:url('/resources/homepage/cs/img/contents/text07.jpg')}

/* 콘텐츠 */
.color1{color:#095077}
.color2{color:#337a82}

@media all and (max-width:1024px){
	h1 img{display:none}

	.tnb .util,
	.Gnb,
	.main7_banner{display:none}
	.mmode {display:block}

	#header h1 {position:relative;width:80%;height:auto;position:absolute;top:7px;left:3px;width:50px}
	#header h1 img {display:block;width:80%;}
	#header h1,
	#header h1 a {width:auto}

	.m-menu a{display:inline-block;text-align:center;vertical-align:middle;padding-top:7px;}
	.m-menu a i{font-size:30px;width:45px;height:45px;line-height:45px;color:#000;}

	.tnb {background:#fff;height:55px;padding:10px 0;}

	#footer .bottom .section .site_link {position:static;text-align:center;}
	#footer .info {float:none;width:100%;margin:0 auto;text-align:center;}
	.foot-info {overflow-x:scroll;}
	.foot-counter {float:none;padding:10px 0 0 0;text-align:center;}
	#footer address {text-align:center;}

	.finfo {width:96%;margin:0 auto;}
	.finfo li dt, .finfo li dd {width:100%;text-align:left;}
	.finfo li dd.tel {width:100%;}
}

@media all and (max-width:768px){
	.home-up {display:block;bottom:100px;}
	.finfo li dt {width:100%;font-size:13px;}
	.finfo li dd {width:65%;font-size:13px;padding-left:18px;box-sizing:border-box;}
	.finfo li dd.tel {width:30%;padding-left:0;}
}

@media all and (max-width:550px){
	.finfo li {float:none;width:100%;}
}

@media all and (max-width:425px){
	#footer .foot-info{border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;background:#f6f6f6;margin-top:15px;}
	#footer .info{width:650px;margin:13px 0 11px;}
	#footer .info a, #footer .info span{font-size:13px;line-height:100%;}

	.home-up{bottom:0;}
}

@media all and (max-width:375px){

}

@media all and (max-width:330px){

}

/*도서관소개 하단 메뉴*/
.Gnb .gnb-menu>li:nth-child(5)>.SubMenu{width:125%;left:-70px;}