.section-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    padding-top: 130px;
}

/* 풀페이지 */
#fullpage-indicator {
    position: absolute;
    top: 50%;
    right: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    transform: translateY(-50%);
}

/* 기본 인디케이터 */
#fullpage-indicator div {
    cursor: pointer;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: url('/resources/homepage/dalseongchild/img/fullpage/indicator.svg') no-repeat center center;
    background-size: cover;
    transition: all 0.3s ease;
}

/* 기본 active 상태 */
#fullpage-indicator div.active {
    width: 24px;
    height: 24px;
    background: url('/resources/homepage/dalseongchild/img/fullpage/active-indicator.svg') no-repeat center center;
    background-size: cover;
}


#fullpage-indicator div:last-child {
    display: none;
}

.fp-watermark {
    display: none;
}

.fp-overflow {
    width: 100%;
}

@media (max-width: 1600px) {
    #fullpage-indicator {
        display: none;
    }
}

@media (max-width: 1260px) {
    .wrapper {
        width: 100%;
        max-width: 864px;
        margin: 0 auto;
        padding-top: 0;
    }
}

@media (max-width: 840px) {
    .wrapper {
        max-width: 440px;
    }
}

@media (max-width: 440px) {
    .wrapper {
        max-width: 280px;
    }
}