#fullpage .section-wrapper:nth-child(4) {
  position: relative;
  height: 100vh;
  background: #fff;
}

.book-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 28px;
}

.go-to-book-detail {
  width: 24px;
  height: 24px;
}

.book-content-tab-wrapper {
  display: flex;
  align-items: center;
  gap: 57px;
}

.book-content-tab {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  position: relative;
}

.book-content-tab:not(:last-child):after {
  content: '';
  position: absolute;
  right: -29px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 24px;
  background-color: #E5E5E5;
}

.book-content-tab img {
  width: 34px;
  height: 34px;
  display: none;
}

.book-content-tab.active img {
  display: block;
}

.book-content-tab.active div {
  color: #000;
  font-family: Pretendard-SemiBold, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.book-content-tab div {
  color: #7B8294;
  font-family: Pretendard-Medium, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.recommended, .new {
  height: 260px;
  width: 100%;
  margin-bottom: 280px;
}

.book-slide {
  width: 1260px;
}

.book-slide-item {
  width: 184px;
  height: 260px !important;
  position: relative;
  margin-right: 31px;
  border-radius: 16px;
}

.book-slide-item a:first-child img {
  width: 184px;
  height: 260px;
  object-fit: cover;
  border-radius: 16px;
}

.book-slide-item:hover .title {
  display: flex !important;
}

.title {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.title div {
  color: #FFF;
  text-align: center;
  font-family: Pretendard-Medium, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 152px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title img {
  width: 24px;
  height: 24px;
}

.book-nodata {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  color: #000;
  font-family: Pretendard-Medium, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 1260px) {
  #fullpage .section-wrapper:nth-child(4) {
    height: 705px;
  }

  .book-content-header {
    margin-bottom: 28px;
  }

  .go-to-book-detail {
    width: 20px;
    height: 20px;
  }

  .book-content-tab-wrapper {
    gap: 33px;
  }

  .book-content-tab {
    gap: 6px;
  }

  .book-content-tab:not(:last-child):after {
    right: -17px;
    height: 20px;
  }

  .book-content-tab img {
    width: 28px;
    height: 28px;
  }

  .book-content-tab.active div {
    font-size: 24px;
  }

  .book-content-tab div {
    font-size: 18px;
  }

  .recommended, .new {
    height: 187px;
    width: 100%;
    margin-bottom: 295px;
  }

  .book-slide {
    width: 864px;
  }

  .book-slide-item {
    width: 132px;
    height: 187px !important;
    margin-right: 14px;
    border-radius: 12px;
  }

  .book-slide-item a:first-child img {
    width: 132px;
    height: 187px;
    border-radius: 12px;
  }

  .title {
    border-radius: 12px;
    gap: 4px;
  }

  .title div {
    font-size: 12px;
    width: 112px;
  }

  .title img {
    width: 16px;
    height: 16px;
  }

  .book-nodata {
    font-size: 12px;
  }
}

@media (max-width: 840px) {
  #fullpage .section-wrapper:nth-child(4) {
    height: 665px;
  }

  .recommended, .new {
    height: 187px;
    width: 100%;
    margin-bottom: 295px;
  }

  .book-slide {
    width: 440px;
  }

  .book-slide-item {
    margin-right: 22px;
  }

  .book-nodata {
    font-size: 16px;
  }
}

@media (max-width: 440px) {
  #fullpage .section-wrapper:nth-child(4) {
    height: 550px;
  }

  .book-content-header {
    margin-bottom: 16px;
  }

  .go-to-book-detail {
    width: 17px;
    height: 17px;
  }

  .book-content-tab-wrapper {
    gap: 25px;
  }

  .book-content-tab:not(:last-child):after {
    content: '';
    position: absolute;
    right: -13px;
    width: 1px;
    height: 17px;
  }

  .book-content-tab img {
    width: 28px;
    height: 28px;
  }

  .book-content-tab.active div {
    font-size: 16px;
  }

  .book-content-tab div {
    font-size: 14px;
  }

  .recommended, .new {
    height: 124px;
    width: 100%;
    margin-bottom: 299px;
  }

  .book-slide {
    width: 280px;
  }

  .book-slide-item {
    width: 88px;
    height: 124px !important;
    margin-right: 8px;
    border-radius: 8px;
  }

  .book-slide-item a:first-child img {
    width: 88px;
    height: 124px;
    border-radius: 8px;
  }

  .title {
    border-radius: 8px;
    gap: 4px;
  }

  .title div {
    font-size: 12px;
    width: 112px;
  }

  .title img {
    width: 16px;
    height: 16px;
  }

  .book-nodata {
    font-size: 12px;
  }
}