<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.whalesoft.app.cms.homepage.HomepageDao">

	<select id="getHomepage" resultType="kr.co.whalesoft.app.cms.homepage.Homepage">
		SELECT
			homepage_id, homepage_group, homepage_name, homepage_eng_name, homepage_alias, homepage_tell,
			homepage_fax, homepage_send_tell, zipcode, address1, address2, eng_address, homepage_type, manage_code, lib_code,
			domain, context_path, folder, remark, temp_use_yn,
			TO_CHAR(TO_DATE(temp_start_date,'yyyyMMddHHmi'), 'MM.dd hh:mi') AS temp_start_date,
			TO_CHAR(TO_DATE(temp_end_date,'yyyyMMddHHmi'), 'MM.dd hh:mi') AS temp_end_date, print_seq
		FROM
			CMS_HOMEPAGE
		WHERE
			homepage_type != '0'
		ORDER BY
			print_seq, homepage_type, homepage_name
	</select>

	<select id="getHomepage2" resultType="kr.co.whalesoft.app.cms.homepage.Homepage">
		SELECT
			homepage_id, homepage_group, homepage_name, homepage_eng_name, homepage_alias, homepage_tell,
			homepage_fax, homepage_send_tell, zipcode, address1, address2, eng_address, homepage_type, manage_code, lib_code,
			domain, context_path, folder, remark, temp_use_yn,
			TO_CHAR(TO_DATE(temp_start_date,'yyyyMMddHHmi'), 'MM.dd hh:mi') AS temp_start_date,
			TO_CHAR(TO_DATE(temp_end_date,'yyyyMMddHHmi'), 'MM.dd hh:mi') AS temp_end_date, print_seq
		FROM
			CMS_HOMEPAGE
		WHERE
			homepage_type != '0'
		AND
			manage_code IS NOT NULL
		ORDER BY
			print_seq, homepage_type, homepage_name
	</select>

	<select id="getNormalHomepage" resultType="kr.co.whalesoft.app.cms.homepage.Homepage">
		SELECT
			homepage_id, homepage_group, homepage_name, homepage_eng_name, homepage_alias, homepage_tell,
			homepage_fax, homepage_send_tell, zipcode, address1, address2, eng_address, homepage_type, manage_code, lib_code,
			domain, context_path, folder, remark, temp_use_yn,
			TO_CHAR(TO_DATE(temp_start_date,'yyyyMMddHHmi'), 'MM.dd hh:mi') AS temp_start_date,
			TO_CHAR(TO_DATE(temp_end_date,'yyyyMMddHHmi'), 'MM.dd hh:mi') AS temp_end_date, print_seq
		FROM
			CMS_HOMEPAGE
		WHERE
			homepage_type != '0'
		ORDER BY
			print_seq, homepage_type, homepage_name
	</select>


	<select id="getHomepageList" resultType="kr.co.whalesoft.app.cms.homepage.Homepage">
		${pagingTop}
		SELECT
			homepage_id, homepage_group, homepage_name, homepage_eng_name, homepage_alias, homepage_tell,
			homepage_fax, homepage_send_tell, zipcode, address1, address2, eng_address, homepage_type, manage_code, lib_code,
			domain, context_path, folder, remark, temp_use_yn,
			TO_CHAR(TO_DATE(temp_start_date,'yyyyMMddHHmi'), 'MM.dd hh:mi') AS temp_start_date,
			TO_CHAR(TO_DATE(temp_end_date,'yyyyMMddHHmi'), 'MM.dd hh:mi') AS temp_end_date, print_seq
		FROM
			CMS_HOMEPAGE
		WHERE
			homepage_type != '0'
		ORDER BY
			print_seq, homepage_type, homepage_name
		${pagingBottom}
	</select>

	<select id="getHomepageListCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			CMS_HOMEPAGE
		WHERE
			homepage_type != '0'
	</select>

	<select id="getHomepageID" resultType="string">
		SELECT
			'h' || (NVL(MAX(TO_NUMBER(REPLACE(REPLACE(homepage_id, 'h', ''), 'c', ''))),0) + 1) AS homepage_id
		FROM
			CMS_HOMEPAGE
	</select>

	<select id="getHomepageOne" resultType="kr.co.whalesoft.app.cms.homepage.Homepage">
		SELECT
			a.homepage_id, a.homepage_group, a.homepage_name, a.homepage_eng_name, a.homepage_alias,
			a.homepage_tell, a.homepage_fax, a.homepage_send_tell, a.zipcode, a.address1,
			a.address2, a.eng_address, a.homepage_type, a.manage_code, lib_code, a.domain,
			a.context_path, a.folder, a.remark, a.temp_use_yn, a.temp_start_date,
			a.temp_end_date, a.print_seq, a.point_api_key
		FROM
			CMS_HOMEPAGE a
		WHERE
			homepage_id = #{homepage_id}
	</select>

	<select id="getHomepageOne2" resultType="kr.co.whalesoft.app.cms.homepage.Homepage">
		SELECT
			a.homepage_id, a.homepage_group, a.homepage_name, a.homepage_eng_name, a.homepage_alias,
			a.homepage_tell, a.homepage_fax, a.homepage_send_tell, a.zipcode, a.address1,
			a.address2, a.eng_address, a.homepage_type, a.manage_code, lib_code, a.domain,
			a.folder, a.remark, a.temp_use_yn, a.temp_start_date,
			a.temp_end_date, a.print_seq, a.point_api_key,
			CASE
				WHEN homepage_group != 'ALL'
			    THEN (SELECT CONTEXT_PATH FROM CMS_HOMEPAGE WHERE HOMEPAGE_ID = a.HOMEPAGE_GROUP)
				ELSE a.context_path
				END
		FROM
			CMS_HOMEPAGE a
		WHERE
			homepage_id = #{homepage_id}
	</select>

	<select id="getHomepageOneInPath" resultType="kr.co.whalesoft.app.cms.homepage.Homepage">
		SELECT
			homepage_id, homepage_group, homepage_name, homepage_eng_name, homepage_alias, homepage_tell,
			homepage_fax, homepage_send_tell, zipcode, address1, address2, eng_address, homepage_type, manage_code, lib_code,
			domain, context_path, folder, remark, temp_use_yn, temp_start_date, temp_end_date, print_seq, point_api_key
		FROM
			CMS_HOMEPAGE
		WHERE
			<choose>
				<when test="value != 'root'">
			context_path = #{value}
				</when>
				<otherwise>
			context_path is null
				</otherwise>
			</choose>
		AND	ROWNUM = 1
	</select>

	<insert id="addHomepage">
		INSERT INTO CMS_HOMEPAGE
		(
			homepage_id, homepage_group, homepage_name, homepage_eng_name, homepage_alias,
			homepage_tell, homepage_fax, homepage_send_tell, homepage_type, manage_code, lib_code,
			zipcode, address1, address2, eng_address, domain,
			context_path, folder, remark, print_seq, temp_use_yn, point_api_key
		) VALUES
		(
			#{homepage_id}, #{homepage_group}, #{homepage_name}, #{homepage_eng_name}, #{homepage_alias},
			#{homepage_tell}, #{homepage_fax}, #{homepage_send_tell}, #{homepage_type}, #{manage_code}, #{lib_code},
			#{zipcode}, #{address1}, #{address2}, #{eng_address}, #{domain},
			#{context_path}, #{folder}, #{remark}, #{print_seq}, #{temp_use_yn}, #{point_api_key}
		)
	</insert>

	<update id="modifyHomepage">
		UPDATE
			CMS_HOMEPAGE
		SET
			homepage_group = #{homepage_group},
			homepage_name = #{homepage_name},
			homepage_eng_name = #{homepage_eng_name},
			homepage_alias = #{homepage_alias},
			homepage_tell = #{homepage_tell},
			homepage_fax = #{homepage_fax},
			homepage_send_tell = #{homepage_send_tell},
			zipcode = #{zipcode},
			address1 = #{address1},
			address2 = #{address2},
			eng_address = #{eng_address},
			homepage_type = #{homepage_type},
			manage_code = #{manage_code},
			lib_code = #{lib_code},
			domain = #{domain},
			context_path = #{context_path},
			folder = #{folder},
			remark = #{remark},
			print_seq = #{print_seq},
			temp_use_yn = #{temp_use_yn},
			point_api_key = #{point_api_key}
		WHERE
			homepage_id = #{homepage_id}
	</update>

	<delete id="deleteHomepage">
		DELETE FROM
			CMS_HOMEPAGE
		WHERE
			homepage_id = #{homepage_id}
	</delete>

	<update id="modifyHomepageTemp">
		UPDATE
			CMS_HOMEPAGE
		SET
			temp_use_yn = #{temp_use_yn},
			temp_start_date = #{temp_start_date},
			temp_end_date = #{temp_end_date}
		WHERE
			homepage_id = #{homepage_id}
	</update>

	<select id="getHomepageOneByCode" resultType="kr.co.whalesoft.app.cms.homepage.Homepage">
		SELECT
			*
		FROM
			CMS_HOMEPAGE
		WHERE
			lib_code = #{lib_code}
	</select>

	<select id="getMySiteList" resultType="kr.co.whalesoft.app.cms.homepage.Homepage">
		SELECT
			*
		FROM
			CMS_HOMEPAGE A, WB_MEMBER_GROUP B, WB_MEMBER_GROUP_SUBORD C
		WHERE
			a.homepage_id = B.site_id
		AND	B.member_group_idx = C.member_group_idx
		AND	C.member_id = #{member_id}
		AND a.homepage_type != '0'
		ORDER BY
			homepage_name
	</select>

	<select id="getSubHomepageListCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			CMS_HOMEPAGE
		WHERE
			homepage_type = '0'
		AND	homepage_group = #{homepage_group}
		<if test="temp_use_yn != null">
		AND	temp_use_yn = #{temp_use_yn}
		</if>
	</select>

	<select id="getSubHomepageList" resultType="kr.co.whalesoft.app.cms.homepage.Homepage">
		${pagingTop}
		SELECT
			homepage_id, homepage_group, homepage_name, homepage_eng_name, homepage_alias, homepage_tell,
			homepage_fax, homepage_send_tell, zipcode, address1, address2, eng_address, homepage_type, manage_code, lib_code,
			domain, context_path, folder, remark, temp_use_yn,
			TO_CHAR(TO_DATE(temp_start_date,'yyyyMMddHHmi'), 'MM.dd hh:mi') AS temp_start_date,
			TO_CHAR(TO_DATE(temp_end_date,'yyyyMMddHHmi'), 'MM.dd hh:mi') AS temp_end_date, print_seq
		FROM
			CMS_HOMEPAGE
		WHERE
			homepage_type = '0'
		AND	homepage_group = #{homepage_group}
		<if test="temp_use_yn != null">
		AND	temp_use_yn = #{temp_use_yn}
		</if>
		ORDER BY
			print_seq, homepage_name
		${pagingBottom}
	</select>

	<select id="getSubNextPrintSeq" resultType="int">
		SELECT
			CEIL((NVL(MAX(print_seq), 0) + 10) / 10) * 10
		FROM
			CMS_HOMEPAGE
		WHERE
			homepage_type = '0'
		AND	homepage_group = #{homepage_group}
	</select>

	<select id="cultureHomepageList" resultType="kr.co.whalesoft.app.cms.homepage.Homepage">
		SELECT
			*
		FROM
			CMS_HOMEPAGE
		WHERE
			CONTEXT_PATH IS NOT NULL
			AND LIB_CODE IS NOT NULL
			AND homepage_id NOT IN ('h79','h80','h81','h82','h83','h84','h85','h86','h87','h88', 'h30', 'h31', 'h32')
			AND HOMEPAGE_GROUP = 'ALL'
		ORDER BY PRINT_SEQ
	</select>

	<select id="getHomepageNameInManageCode" resultType="String">
		SELECT
		    LISTAGG(homepage_name,',') WITHIN GROUP (ORDER BY homepage_id) AS homepage_name
		FROM
		    CMS_HOMEPAGE
		WHERE
		    1 = 1
		AND
		    MANAGE_CODE IN
		    <foreach collection="manage_codes" item="i" open="(" close=")" separator=",">
					#{i}
				</foreach>
	</select>
</mapper>
