@charset "utf-8"; 	

.main1,.main2,.main3,.main4,.main5,.main6,.main7_banner{overflow:hidden}
/*
.main.container .center-section .txt {text-align:Center;padding-top:38px;}

*/

.main.container {margin-top:-55px;}
.main.container .section {position:relative;overflow:hidden;}
.main.container .left-section {position:relative;float:left;width:315px;}
.main.container .center-section {position:absolute;width:618px;left:321px;}
.main.container .right-section {position:relative;float:right;width:315px;}

.main.container .left-section .popZone {position:relative;padding:0;margin:0;}
.main.container .left-section .popZone li{text-align:right;padding:0;margin:0;}
.main.container .left-section .popZone li a {display:inline-block;}
.main.container .left-section .popZone li a img {width:313px;height:313px;}
.main.container .left-section .popZone .bx-controls {position:absolute;bottom:54px;right:1px;z-index:150000000;width:100%;}
.main.container .left-section .popZone .bx-prev, 
.main.container .left-section .popZone .bx-next, 
.main.container .left-section .popZone .bx-start,
.main.container .left-section .popZone .bx-stop {position:absolute;width:50px;height:50px;font-size:0;background-image:url("/resources/homepage/dalsung/img/popupzone-arrow-v2.png");background-repeat: no-repeat; background-position:0 0;background-size:initial;}
.main.container .left-section .popZone .bx-pager {position:absolute;text-align:center;right:100px;width:70px;height:50px;line-height:50px;background:#2f2f2f;color:#fff;}
.main.container .left-section .popZone .bx-prev { left:0; }
.main.container .left-section .popZone .bx-next { right:0; background-position:-50px 0; }
.main.container .left-section .popZone .bx-start { right:50px; background-position:-150px 0; }
.main.container .left-section .popZone .bx-stop { right:50px; background-position:-100px 0;}

.main.container .left-section .left-quick-section {width:100%;border:1px solid #dadada;box-sizing:border-box;}
.main.container .left-section .left-quick-section li {display:block;border-bottom:1px solid #dadada;}
.main.container .left-section .left-quick-section li:last-child {border-bottom:0;}
.main.container .left-section .left-quick-section li a {position:relative;display:block;height:102px;line-height:102px;padding:23px 10px 23px 25px;box-sizing:border-box;}
.main.container .left-section .left-quick-section li a.quick-01 {background:url("/resources/homepage/suseong/img/quick01-btn.png") no-repeat 10% center;}
.main.container .left-section .left-quick-section li a.quick-02 {background:url("/resources/homepage/suseong/img/quick02-btn.png") no-repeat 10% center;}
.main.container .left-section .left-quick-section li a.quick-03 {background:url("/resources/homepage/suseong/img/quick03-btn.png") no-repeat 10% center;}
.main.container .left-section .left-quick-section li a.quick-04 {background:url("/resources/homepage/suseong/img/quick04-btn.png") no-repeat 10% center;}
.main.container .left-section .left-quick-section li a span.txt {display:block;padding-left:69px;letter-spacing:-2.5px;}

.main.container .left-section .left-quick-section li a span.txt p:first-child {font-size:20px;font-weight:bold;padding-top:8px;}
.main.container .left-section .left-quick-section li a img.go-bg {position:absolute;right:18px;top:31px;}


.main.container .center-section .search-box {width:100%;}
.main.container .center-section .search-box fieldset{position:relative;}
.main.container .center-section .search-box legend {background:#21409a;color:#fff;}
.main.container .center-section .search-box input {border:0;background:#fff;width:100%;padding-left:25px;font-size:14px;color:#000;border-radius:0;}
.main.container .center-section .search-box input:focus{outline:none}
.main.container .center-section .search-box input {height:45px;line-height:45px;}
.main.container .center-section .search-box button {height:45px;line-height:45px;}
.main.container .center-section .search-box button {position:absolute;width:110px;right:20px;top:27px;text-align:center;background:#949494;font-size:14px;color:#fff;}
.main.container .center-section .search-box .main-box {position:relative;width:100%;margin:0 auto;border:0;overflow:hidden;}
.main.container .center-section .search-box .box1 {width:100%;box-sizing:border-box;background:#174090;padding:27px 180px 27px 25px;}


.main.container .center-section .notice {position:relative;width:100%;height:306px;border:1px solid #dadada;box-sizing:border-box;margin-top:6px;}
.main.container .center-section .notice div.title {width:100%;border-bottom:1px solid #dadada;overflow:hidden;}
.main.container .center-section .notice div.title li {display:inline-block;float:left;box-sizing:border-box;}
.main.container .center-section .notice div.title li:last-child {float:right;padding:8px 4px;border-left:1px solid #dadada;}
.main.container .center-section .notice div.title h2 {display:block;font-size:17px;color:#000;font-weight:bold;padding: 0 0 0 15px;box-sizing:border-box;height:45px;line-height:45px;letter-spacing:-1px;}
.main.container .center-section .notice div.title a {}

.main.container .center-section .notice div.cont {box-sizing:border-box;padding:0 3%;}
.main.container .center-section .notice ul.list li {position:relative;overflow:hidden;background:url('/resources/common/img/arr-news.gif') no-repeat 2% center;padding:5px 75px 3px 20px;}
.main.container .center-section .notice ul.list li:nth-child(2) {margin-top:13px;}
.main.container .center-section .notice ul.list li a {font-size:14px;font-weight:normal;color:#000;box-sizing:border-box;}
.main.container .center-section .notice ul.list li a em {display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;font-style:normal;vertical-align:middle;}
.main.container .center-section .notice ul.list li.on-cont {display:inline-block;box-sizing:border-box;padding:20px 15px 15px 15px;width:100%;background:none;border-bottom:1px solid #dddddd}
.main.container .center-section .notice ul.list li.on-cont a {padding-left:15px;width:80%;display:block;box-sizing:border-box;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.main.container .center-section .notice ul.list li.on-cont span.title {font-weight:600;margin-left:0;color:#262626;font-size:16px;}
.main.container .center-section .notice ul.list li.on-cont img {display:inline-block;float:left;max-width:13%;}
.main.container .center-section .notice ul.list li a span.date {font-size:14px;color:#464646;position:absolute;right:0;top:3px;}
.main.container .center-section p.date {font-size:13px;margin-top:3px;margin-bottom:3px;color:#444}
.main.container .center-section span.content {margin-left:0!important;color:#555;width:100%;font-size:14px;font-weight:500;text-overflow:ellipsis;overflow:hidden;display:inline-block;white-space:nowrap;}

.main.container .center-section .book {position:relative;width:100%;height:313px;border:1px solid #dadada;box-sizing:border-box;margin-top:6px;}
.main.container .center-section .book div.title {width:100%;border-bottom:1px solid #dadada;overflow:hidden;}
.main.container .center-section .book ul.tabMenuS {position:relative;text-align:center;margin:0;padding:0;overflow:hidden;}
.main.container .center-section .book ul.tabMenuS > li {position:relative;display:inline-block;float:left;box-sizing:border-box;text-align:center;height:45px;line-height:45px;width:33.3333333%;font-size:17px;color:#000;font-weight:bold;letter-spacing:-1px;}
.main.container .center-section .book ul.tabMenuS > li:after {display:block;position:absolute;right:0;top:0;content:'';width:1px; height:50px;background:#dfdfdf;}
.main.container .center-section .book ul.tabMenuS > li:last-child:after {width:0;}
.main.container .center-section .book ul.tabMenuS > li.on a {color:#ed4024;}
.main.container .center-section .book ul.tabMenuS > li a.more-more {position:absolute;right:5px;;top:5px;}

.main.container .center-section .book .box .book_photo {text-align:center;}
.main.container .center-section .book .box .book_photo li {position:relative;display:inline-block;width:135px;margin:35px 20px 0 20px;vertical-align:top;}
.main.container .center-section .book .box .book_photo li a img {width:100%;height:190px;border:1px solid #ddd;}
.main.container .center-section .book .box .book_photo li a span.title {display:block;color:#000;font-size:14px;letter-spacing:-1.5px;}


.main.container .right-section .right-quick-section {}
.main.container .right-section .right-quick-section  li {display:block;}
.main.container .right-section .right-quick-section  li:last-child {border-bottom:0;}
.main.container .right-section .right-quick-section  li a {position:relative;display:block;height:102px;line-height:82px;padding:30px 10px 23px 28px;box-sizing:border-box;}
.main.container .right-section .right-quick-section  li a.quick-01 {background:#416190 url("/resources/homepage/suseong/img/quick001-bg.png") no-repeat 10% center;}
.main.container .right-section .right-quick-section  li a.quick-02 {background:#8790eb url("/resources/homepage/suseong/img/quick002-bg.png") no-repeat 10% center;}
.main.container .right-section .right-quick-section  li a.quick-03 {background:#50ccca url("/resources/homepage/suseong/img/quick003-bg.png") no-repeat 10% center;}
.main.container .right-section .right-quick-section  li a.quick-04 {background:#fc9284 url("/resources/homepage/suseong/img/quick004-bg.png") no-repeat 10% center;}
.main.container .right-section .right-quick-section  li a.quick-05 {background:#174090 url("/resources/homepage/suseong/img/quick005-bg.png") no-repeat 10% center;}
.main.container .right-section .right-quick-section  li a span.txt {display:block;padding-left:69px;letter-spacing:-2.5px;color:#fff;}

.main.container .right-section .right-quick-section  li a span.txt p:first-child {font-size:20px;font-weight:bold;padding-top:0px;}
.main.container .right-section .right-quick-section  li a img.go-bg {position:absolute;right:18px;top:31px;}


.main.container .right-section .calendar-box {position:relative;height:314px;border:1px solid #dadada;box-sizing:border-box;margin-top:6px;}
.main.container .right-section .calendar-box div.title {width:100%;border-bottom:1px solid #dadada;overflow:hidden;}
.main.container .right-section .calendar-box div.title li {display:inline-block;float:left;box-sizing:border-box;}
.main.container .right-section .calendar-box div.title li:first-child {padding-left:10px;}
.main.container .right-section .calendar-box div.title li:last-child {float:right;padding:9px 4px;}
.main.container .right-section .calendar-box div.title h2 {display:block;font-size:17px;color:#272727;font-weight:bold;padding-left:10px;box-sizing:border-box;height:45px;line-height:45px;letter-spacing:-1px;}
.main.container .right-section .calendar-box div.title a {font-size:0;line-height:0;background:url('/resources/homepage/suseong/img/more_btbt.png') no-repeat 0 0;}
.main.container .right-section .calendar-box .cal-box {position:relative;height:220px;}

#calendar2 .calendar-info {text-align:right;padding-top:10px;}
#calendar2 .calendar-info span {display:inline-block;padding-left:7px;}
#calendar2 .calendar-info span.hu {background:url('/resources/homepage/suseong/img/red-dot.png') no-repeat left center;}
#calendar2 .calendar-info span.ev {background:url('/resources/homepage/suseong/img/blue-dot.png') no-repeat left center;}

#calendar2 {width:90%;margin:0 auto;position:relative}
.calendar {position:absolute;top:0px;z-index:800;width:1000px}
.calendar .section{position:relative;overflow:hidden;text-align:center;margin:20px 20px;width:315px;float:right}
.calendar .box{width:310px;margin-right:20px}
.calendar h3{font-size:16px;color:#323232;font-weight:bold;line-height:36px;height:36px;text-align:left;float:left;padding-top:13px;}
#calendar2 table,
#calendar2 table th,
#calendar2 table td{border:0;padding:0}
#calendar2 .btn{border:0;background:none}
#planList{overflow:hidden;padding-top:13px}
#planList h3{font-size:15px;padding:0 10px 0 0;float:left;display:block;letter-spacing:-1px}
#planList span{float:left;margin:5px 3px 0;width:25px;height:25px;font-weight:bold;line-height:25px;display:block;background-color:#ee882c;color:#fff;border-radius:100%;font-size:12px}
.cal-func2 {text-align:center;padding:0;}
.cal-func2 a.btn {padding:10px 10px 5px 10px;color:#888;font-size:15px;border:1px solid #000;}
.cal-func2 a.btn:focus,
.cal-func2 a.btn:hover{color:#222}
.cal-func2 a {}
.cal-func2 b {height:18px;line-height:18px}
.cal-func2 a,
.cal-func2 b,
.cal-func2 span,
.cal-func2 em {vertical-align:middle}
.cal-func2 b {font-size:25px;font-weight:normal;}
.cal-func2 b span {font-size:19px;}
.cal-func2 b em{color:#67940;font-weight:bold;font-style:normal;}
#calendar2 .cal-tbl {margin-top:10px;text-align:center;}
#calendar2 .cal-tbl th{font-size:11px;}
#calendar2 .cal-tbl th span {display:block;width:28px;height:28px;line-height:30px;color:#fff;font-size:13px;font-weight:bold;background:#2e3192;text-align:center;border-radius:50%;margin:0 auto;}
#calendar2 .cal-tbl td{font-size:11px;padding:1% 0;;text-align:center;white-space:nowrap}
#calendar2 .cal-tbl td div{margin:0 10%;width:20px;height:20px;line-height:20px;font-size:12px;margin:0 auto;}
#calendar2 .cal-tbl td a {display:block;border-radius:100%}
#calendar2 .cal-tbl td a.type-r{background:url('/resources/homepage/suseong/img/blue-dot2.png') no-repeat center bottom;#0080f2;color:#0080f2}
#calendar2 .cal-tbl td a.type-e{background:url('/resources/homepage/suseong/img/red-dot2.png') no-repeat center bottom;color:#ee2342}
#calendar2 .planView{position:absolute;width:80%;left:50%;top:30%;background:#fff;margin-left:-40%;box-shadow:0px 1px 7px 0px rgba(0,0,0,0.5)}
#calendar2 .planView .inbox{position:relative;border:1px solid #ccc;padding:10px}
#calendar2 .planView .inbox dt{font-weight:bold;font-size:11px;font-family:verdana}
#calendar2 .planView .inbox dd{padding:3px 0}
#calendar2 .planView .inbox a.close{position:absolute;right:5px;top:0;font-size:120%}


#calendar-holiday .inBox1 {position:relative;width:100%;padding:10px 0 5px 0;text-align:left;color:#000;}
#calendar-holiday .inBox1 .title {float:left;position:relative;font-size:20px;padding:3px 18px 0 5px;}
#calendar-holiday .inBox1 .info dd {float:left;position:relative;font-weight:bold;text-align:center;}
#calendar-holiday .inBox1 .info dd span{display:inline-block;background:#ff002a;font-weight:bold;color:#fff;font-size:15px;text-align:center;width:30px;height:30px;line-height:30px;margin-right:3px;border-radius:5px;}
#calendar-holiday dl{padding:3px 0}

.main7_banner {padding:22px 30px 17px;margin:7px 0 38px;box-sizing:border-box;border:1px solid #dadada;}
.main7_banner h3{padding:0 0 8px;color:#232323}
.main7_banner h3{padding:0}
.main7_banner a {color:#8b8b8b;}

.qmobileBr {display:none;}
.mobileBr {display:none;}

#quick-slide {position:absolute;width:103px;height:auto;left:50%;top:46px;margin-left:650px;}
#quick-slide ul {border:1px solid #dadada;border-top:0;box-sizing:border-box;text-align:center;padding:10px;margin-top:-20px;}
#quick-slide ul li {padding:18px 0;border-bottom:1px solid #dadada;}
#quick-slide ul li a span {display:block;}
#quick-slide ul li a span.txt {font-size:13px;line-height:120%;}
#quick-slide ul li:last-child {border-bottom:0;}

@media all and (max-width:1279px){

}

@media all and (max-width:1260px){
	.section {width:100%;}

	#quick-slide {display:none;}

	.main.container .left-section {width:24.5%;}
	.main.container .center-section {width:50%;left:25%;}
	.main.container .right-section {width:24.5%;}

	.main.container .center-section .book .box .book_photo li {position:relative;display:inline-block;width:115px;margin:35px 20px 0 20px;}
	.main.container .center-section .book .box .book_photo li a img {width:100%;height:170px;border:1px solid #ddd;}
	.main.container .center-section .book .box .book_photo li a span.title {display:block;color:#000;font-size:13px;}

	.main.container .left-section .left-quick-section li a {padding:23px 10px 23px 15px;}
	.main.container .left-section .left-quick-section li a span.txt p:first-child {font-size:15px;}
	.main.container .left-section .left-quick-section li a img.go-bg {right:10px;}

	.main.container .right-section .right-quick-section  li a {padding:23px 10px 23px 15px;}
	.main.container .right-section .right-quick-section  li a span.txt p:first-child {font-size:15px;}
	.main.container .right-section .right-quick-section  li a img.go-bg {right:10px;}
}

@media all and (max-width:1130px){
}

@media all and (max-width:1000px){
	.main.container {margin-top:0;}

	.main.container .left-section {width:49.5%;}
	.main.container .right-section {width:49.5%;}
	.main.container .center-section {position:static;clear:both;width:100%;}
	.main.container .center-section .notice ul.list li {padding:5px 75px 3px 4%;}

	.main.container .left-section .popZone li a img {width:100%;}

	.main.container .left-section .popZone {position:relative;padding:0;margin:0;}
	.main.container .left-section .popZone li{text-align:center;padding:0;margin:0;}
	.main.container .left-section .popZone li a {display:block;}
	.main.container .left-section .popZone li a img {border:0;}

	.main.container .left-section .left-quick-section li a {padding:23px 10px 23px 10%;}
	.main.container .left-section .left-quick-section li a span.txt p:first-child {font-size:15px;}
	.main.container .left-section .left-quick-section li a img.go-bg {right:10px;}

	.main.container .right-section .right-quick-section  li a {padding:23px 10px 23px 10%;}
	.main.container .right-section .right-quick-section  li a span.txt p:first-child {font-size:15px;}
	.main.container .right-section .right-quick-section  li a img.go-bg {right:10px;}

	#calendar .calendar-info {padding-top:0;}

	#calendar-holiday .inBox1 .title {float:left;position:relative;font-size:20px;padding:3px 18px 0 18px;}

	.qmobileBr {display:block;}
}

@media all and (max-width:767px){

}

@media all and (max-width:650px){
	.mobileBr {display:block;}
	.main.container .center-section .txt {padding-top:28px;}

	.main.container .left-section {float:none;width:100%;}
	.main.container .right-section {float:none;width:100%;}

	#calendar-holiday .inBox1 .title {float:left;position:relative;font-size:20px;padding:3px 18px 3px 18px;}
	#calendar-holiday .inBox1 .info {clear:both;float:left;padding-left:18px;}
	#calendar-holiday .inBox1 .info dd {float:none;text-align:left;}
}

@media all and (max-width:580px){
	.main.container .center-section .book {height:auto;}
	.main.container .center-section .book .box .book_photo li {margin:35px 10px;}
	.main.container .center-section .notice div.title h2 {font-size:15px;}
	.main.container .center-section .book ul.tabMenuS > li {font-size:15px;}
	.main.container .right-section .calendar-box div.title h2 {font-size:15px;}

	.main.container .center-section .search-box input {padding-left:15px;font-size:14px;}
	.main.container .center-section .search-box button {width:90px;right:20px;top:20px;}
	.main.container .center-section .search-box .box1 {padding:20px 140px 20px 20px;}
}

@media all and (max-width:510px){
	.main.container .center-section .notice ul.list li a {font-size:13px;}
}

@media all and (max-width:480px){
	.main.container .center-section .book .box .book_photo {height:auto}
	.main.container .center-section .book .box .book_photo li {width:100px;margin:35px 10px;}
	.main.container .center-section .book .box .book_photo li a img {height:150px;border:0;}
	.main.container .center-section .book .box .book_photo li a span.title {font-size:12px;}
}

@media all and (max-width:425px){

}

@media all and (max-width:380px){
	.main.container .center-section .notice div.title h2 {font-size:14px;}
	.main.container .center-section .book ul.tabMenuS > li {font-size:14px;letter-spacing:-2px;}
	.main.container .right-section .calendar-box div.title h2 {font-size:14px;}
	.main.container .center-section .book .box .book_photo li {width:90px;margin:25px 6px;}
	.main.container .center-section .book .box .book_photo li a img {height:140px;}
}

@media all and (max-width:320px){
	.main.container .center-section .notice div.title h2 {font-size:13px;}
	.main.container .center-section .book ul.tabMenuS > li {font-size:13px;}
	.main.container .right-section .calendar-box div.title h2 {font-size:13px;}
	.main.container .center-section .book .box .book_photo li {width:80px;margin:25px 5px;}
	.main.container .center-section .book .box .book_photo li a img {height:120px;}
}
