@charset "utf-8";

#header .head {
	position: fixed;
	z-index: 999;
	flex-direction: column;
	width: 100%;
	background: #fff;
}

/* 탑 */
.tnb {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	height: 40px;
	background: #fff;
	border-bottom: 1px solid #ececec;
}

.tnb div:first-child {
	display: flex;
	align-items: center;
}

.tnb div:first-child a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	padding: 10px 40px;
	font-size: 14px;
	font-weight: 600;
	line-height: 130%;
	letter-spacing: -0.35px;
	text-align: center;
	color: var(--black);
	font-family: Pretendard-SemiBold, sans-serif;
	font-style: normal;
	border-right: 1px solid #ececec;
}

.util-wrapper {
	display: flex;
}

.util {
	display: flex;
}

.util div,
.util a {
	position: relative !important;
	padding: 0 20px !important;
	border: none !important;
	font-size: 14px !important;
	font-weight: 400 !important;
	line-height: 130% !important;
	letter-spacing: -0.35px !important;
	text-align: center !important;
	color: var(--black) !important;
	font-family: Pretendard-Regular, sans-serif !important;
	font-style: normal !important;
}

.util a::after {
	position: absolute;
	top: 50%;
	right: 0;
	width: 1px;
	height: 12px;
	background: #e8e8e8;
	transform: translateY(-50%);
	content: '';
}

.util a:last-child::after {
	content: none;
	display: none;
}

.total-popup-trigger {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	padding: 10px 52px !important;
	background: var(--gray200);
	gap: 4px;
	cursor: pointer;
}

.total-popup-trigger div:first-child {
	padding: 0;
	font-size: 14px;
	font-weight: 600;
	line-height: 130%;
	letter-spacing: -0.35px;
	text-align: center;
	color: var(--black);
	font-family: Pretendard-SemiBold, sans-serif;
	font-style: normal;
}

.total-popup-trigger div:last-child {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	padding: 0;
	border-radius: 50%;
	font-size: 14px;
	font-weight: 700;
	line-height: 130%;
	text-align: center;
	color: var(--white);
	background: var(--black);
	font-family: Pretendard-Bold, sans-serif;
	font-style: normal;
}

@media screen and (max-width: 1024px) {
	.total-popup-trigger {
		display: none;
	}

	.tnb div:first-child a {
		padding: 10px 32px;
	}

	.footer .wrapper {
		padding: 40px 30px;
	}
}

@media screen and (max-width: 960px) {
	.total-popup-trigger {
		display: none;
	}

	.tnb div:first-child a {
		padding: 10px 32px;
	}

	.link_list {
		flex-wrap: wrap;
		row-gap: 12px;
	}

	.footer .wrapper {
		padding: 40px 30px;
	}
}

@media screen and (max-width: 768px) {
	.footer div:nth-of-type(1) .wrapper {
		align-items: flex-start !important;
		flex-direction: column;
		gap: 20px;
	}

	.sns-wrapper {
		align-items: flex-start;
	}

	.footer div:nth-of-type(2) .wrapper {
		align-items: flex-start !important;
		flex-direction: column;
		gap: 20px;
	}

	.library-detail-wrapper {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 767px) {
	.util-wrapper {
		display: none;
	}
}

@media screen and (max-width: 580px) {
	.move-select {
		flex-direction: column;
	}
}