<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.menuRating.MenuRatingDao">

	<sql id="formmat_type">
		<if test='search_date_type == "DAY"'>'yyyy-MM-dd'</if>
		<if test='search_date_type == "MONTH"'>'yyyy-MM'</if>
		<if test='search_date_type == "YEAR"'>'yyyy'</if>
	</sql>

	<select id ="getMenuRatingAverageScore" resultType="kr.go.gbelib.app.cms.module.menuRating.MenuRating">
		SELECT
			a.homepage_id, a.menu_idx, b.menu_name, TO_CHAR(a.add_date, <include refid="formmat_type"/>) AS result_date,
			TRUNC(SUM(menu_rating_score)/COUNT(menu_rating_score), 2) AS rating_average_score
		FROM
			MENU_RATING a, CMS_MENU b
		WHERE
			a.homepage_id = b.homepage_id
		AND	a.menu_idx = b.menu_idx
		AND	a.homepage_id = 'h1'
		AND	to_date(a.add_date, 'yyyy-MM-dd') <![CDATA[>=]]> TO_DATE(#{search_start_date})
		AND	to_date(a.add_date, 'yyyy-MM-dd') <![CDATA[<=]]> TO_DATE(#{search_end_date})
		GROUP BY TO_CHAR(a.add_date, <include refid="formmat_type"/>), a.homepage_id, a.menu_idx, b.menu_name
		ORDER BY TO_CHAR(a.add_date, <include refid="formmat_type"/>) ASC, menu_idx ASC;
	</select>
	
	<insert id="addMenuRatingScore">
		<selectKey keyProperty="menu_rating_idx" resultType="int" order="BEFORE">
			SELECT NVL(MAX(menu_rating_idx), 0) + 1 FROM MENU_RATING WHERE homepage_id = #{homepage_id} AND menu_idx = #{menu_idx}
		</selectKey>
		INSERT INTO
			MENU_RATING
		(
			homepage_id, menu_idx, menu_rating_idx, menu_rating_score,
			add_id, add_date
		)
		VALUES
		(
			#{homepage_id}, #{menu_idx}, #{menu_rating_idx}, #{menu_rating_score},
			#{add_id}, SYSDATE
		)
	</insert>
	
</mapper>