<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.bookRelayGroup.BookRelayGroupDao">
	
	<select id="bookRelayGroupList" resultType="kr.go.gbelib.app.cms.module.bookRelayGroup.BookRelayGroup">
		${pagingTop}
		SELECT
			homepage_id, group_idx, group_name, main_number, manager_name,
			work_number, user_phone, postcode, address_base, address_detailed,
			book_area, book_quantity, relay_plan, relay_personnel, receive_lib,
			approval_status, delete_yn, add_id, add_date
		FROM
			BOOK_RELAY_GROUP
		WHERE
			homepage_id = #{homepage_id}
		AND	delete_yn = 'N'
		<if test="(search_type != null and search_type != '') and (search_text != '' and search_text != '')">
		AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
		ORDER BY group_idx DESC
		${pagingBottom}
	</select>
	
	<select id="getExcelList" resultType="kr.go.gbelib.app.cms.module.bookRelayGroup.BookRelayGroup">
		SELECT
			homepage_id, group_idx, group_name, main_number, manager_name,
			work_number, user_phone, postcode, address_base, address_detailed,
			book_area, book_quantity, relay_plan, relay_personnel, receive_lib,
			approval_status, delete_yn, add_id, add_date
		FROM
			BOOK_RELAY_GROUP
		WHERE
			homepage_id = #{homepage_id}
		AND	delete_yn = 'N'
	</select>
	
	<select id="bookRelayGroupCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			BOOK_RELAY_GROUP
		WHERE
			homepage_id = #{homepage_id}
		AND	delete_yn = 'N'
		<if test="(search_type != null and search_type != '') and (search_text != '' and search_text != '')">
		AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
	</select>
	
	<select id="getBookRelayGroup" resultType="kr.go.gbelib.app.cms.module.bookRelayGroup.BookRelayGroup">
		SELECT
			homepage_id, group_idx, group_name, main_number, manager_name,
			work_number, user_phone, postcode, address_base, address_detailed,
			book_area, book_quantity, relay_plan, relay_personnel, receive_lib,
			approval_status, delete_yn, add_id, add_date
		FROM
			BOOK_RELAY_GROUP
		WHERE
			homepage_id = #{homepage_id}
		AND group_idx = #{group_idx}	
	</select>
	
	<insert id="addBookRelayGroup">
		INSERT INTO
			BOOK_RELAY_GROUP
		(
			homepage_id, group_idx, group_name, main_number, manager_name,
			work_number, user_phone, postcode, address_base, address_detailed,
			book_area, book_quantity, relay_plan, relay_personnel, receive_lib,
			approval_status, delete_yn, add_id, add_date
		)
		VALUES
		(
			#{homepage_id}, (SELECT NVL(MAX(group_idx), 0)+1 FROM BOOK_RELAY_GROUP), #{group_name}, #{main_number}, #{manager_name}, 
			#{work_number}, #{user_phone}, #{postcode}, #{address_base}, #{address_detailed}, 
			#{book_area}, #{book_quantity}, #{relay_plan}, #{relay_personnel}, #{receive_lib},
			#{approval_status}, #{delete_yn}, #{add_id}, SYSDATE
		)
	</insert>
	
	<update id="modifyBookRelayGroup">
		UPDATE 
			BOOK_RELAY_GROUP
		SET
			group_name = #{group_name},
			main_number = #{main_number},
			manager_name = #{manager_name},
			work_number = #{work_number},
			user_phone = #{user_phone},
			postcode = #{postcode},
			address_base = #{address_base},
			address_detailed = #{address_detailed},
			book_area = #{book_area},
			book_quantity = #{book_quantity},
			relay_plan = #{relay_plan},
			relay_personnel = #{relay_personnel},
			receive_lib = #{receive_lib},
			approval_status = #{approval_status},
			modify_id = #{modify_id},
			modify_date = SYSDATE
		WHERE
			homepage_id = #{homepage_id}
		AND group_idx = #{group_idx}
			
	</update>
	
	<update id="deleteBookRelayGroup">
		UPDATE 
			BOOK_RELAY_GROUP
		SET
			delete_yn = 'Y',
			delete_id = #{delete_id}
		WHERE
			homepage_id = #{homepage_id}
		AND group_idx = #{group_idx}
	</update>
	
	
	<update id="statusChangeBookRelayGroup">
		UPDATE 
			BOOK_RELAY_GROUP
		SET
			approval_status = #{approval_status}
		WHERE
			homepage_id = #{homepage_id}
		AND group_idx = #{group_idx}
	</update>
	
	
</mapper>