<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.whalesoft.app.cms.member.MemberDao">

	<select id="getMember" resultType="kr.co.whalesoft.app.cms.member.Member">
		${pagingTop}
			SELECT
				A.homepage_id, A.member_id, A.member_name, A.phone, A.link_member_yn,
				A.add_date
			FROM
				CMS_MEMBER A
			WHERE 1=1
				<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
					AND	A.${search_type} LIKE '%'||#{search_text}||'%'
				</if>
			ORDER BY
				A.add_date DESC
		${pagingBottom}
	</select>

	<select id="getMemberCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			CMS_MEMBER A
		WHERE 1=1
			<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
				AND	A.${search_type} LIKE '%'||#{search_text}||'%'
			</if>
		ORDER BY
			A.add_date ASC
	</select>

	<select id="getMemberOne" resultType="kr.co.whalesoft.app.cms.member.Member">
		SELECT
			A.member_id, A.member_name, A.member_pw, A.birth_day, A.email,
			A.zipcode, A.address, A.phone, A.CELL_phone,
			A.sms_service_yn, A.email_service_yn, A.add_ip, A.add_date,
			A.pw_change_date, A.last_login, A.link_member_yn, 'CMS' AS LOGINTYPE
		FROM
			CMS_MEMBER A
		WHERE
			A.member_id = #{member_id}
	</select>

	<insert id="addMember">
		INSERT INTO
			CMS_MEMBER
		(
			member_id, member_name, member_pw, birth_day, email,
			zipcode, address, phone, CELL_phone,
			sms_service_yn, email_service_yn, add_ip, add_date,
			pw_change_date, last_login, link_member_yn, add_id
		) VALUES
		(
			#{member_id}, #{member_name}, #{member_pw}, #{birth_day}, #{email},
			#{zipcode}, #{address}, #{phone}, #{cell_phone},
			#{sms_service_yn}, #{email_service_yn}, #{add_ip}, SYSDATE,
			SYSDATE, SYSDATE, #{link_member_yn}, #{add_id}
		)
	</insert>

	<update id="modifyMember">
		UPDATE
			CMS_MEMBER
		SET
			<if test="member_pw != null and member_pw != '' " >
			member_pw 	= #{member_pw},
			</if>
			member_name = #{member_name},
			email 		= #{email},
			zipcode 	= #{zipcode},
			address 	= #{address},
			phone 		= #{phone},
			cell_phone 	= #{cell_phone},
			sms_service_yn = #{sms_service_yn},
			email_service_yn = #{email_service_yn},
			modify_id = #{modify_id},
			modify_date = SYSDATE
		WHERE
			member_id = #{member_id}
	</update>

	<delete id="deleteMember">
		DELETE FROM
			CMS_MEMBER
		WHERE
			member_id = #{member_id}
	</delete>

	<select id="getMemberListNotAuth" resultType="kr.co.whalesoft.app.cms.member.Member">
		SELECT
			member_id, member_name
		FROM
			CMS_MEMBER
		WHERE
			member_id NOT IN (SELECT member_id FROM CMS_MEMBER_AUTH WHERE auth_id = #{search_auth})
			<if test="homepage_id != 'CMS'">
				AND homepage_id = #{homepage_id}
			</if>
		ORDER BY member_id
	</select>

	<select id="getMemberListInAuth" resultType="kr.co.whalesoft.app.cms.member.Member">
		SELECT
			member_id, member_name, phone, cell_phone, email
		FROM
			CMS_MEMBER
		WHERE
			member_id IN (SELECT member_id FROM CMS_MEMBER_AUTH WHERE auth_id = #{search_auth})
			<if test="homepage_id != 'CMS'">
				AND homepage_id = #{homepage_id}
			</if>
		ORDER BY member_id
	</select>

	<select id="getMemberListInAuthCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			CMS_MEMBER
		WHERE
			member_id IN (select member_id from CMS_MEMBER_AUTH where AUTH_ID = #{search_auth})
			<if test="homepage_id != 'CMS'">
				AND homepage_id = #{homepage_id}
			</if>
		ORDER BY member_id
	</select>

	<select id="checkMemberId" resultType="int">
		SELECT COUNT(*) FROM CMS_MEMBER WHERE member_id = #{member_id}
	</select>

	<select id="checkMemberAuthInHomepage" resultType="int">
		SELECT
			COUNT(*)
		FROM
			CMS_MEMBER a ,(SELECT member_id, MIN(TO_NUMBER(AUTH_ID)) AS AUTH_ID
							FROM CMS_MEMBER_AUTH
							GROUP BY member_id) b
		WHERE a.member_id = b.member_id
			AND a.homepage_id = #{homepage_id} AND b.AUTH_ID = #{auth_id}
	</select>

	<insert id="integrationMember">
		insert into INTEGRATION_MEMBER
		(origin_member_id, change_member_id, origin_seq_no, change_seq_no, add_date)
		values
		(#{integrationIdList}, #{integrationId}, #{integrationSeqNoList}, #{integrationSeqNo}, SYSDATE)
	</insert>


	<insert id="addChangeNameHistory">
		<selectKey keyProperty="idx" order="BEFORE" resultType="int">
			SELECT NVL(MAX(idx),0)+1 FROM CHANGE_NAME_HISTORY
		</selectKey>
		INSERT	INTO
			CHANGE_NAME_HISTORY
		(
			idx, ilus_user_id, ilus_user_seq, ilus_web_id, add_date
		)
		VALUES
		(
			#{idx}, #{user_id}, #{seq_no}, #{web_id}, SYSDATE
		)
	</insert>

	<select id="getMemberAuth" resultType="String">
		SELECT
			DECODE(module_type, 'CMS', 'CMS', NVL(A.site_id, 'CMS')) || '_' || a.menu_idx || '_' || a.module_idx || '_' || a.auth_code_id
		FROM
			WB_MEMBER_GROUP_AUTH A, WB_MEMBER_GROUP_SUBORD B
		WHERE
			A.member_group_idx = B.member_group_idx
		AND	B.member_id = #{member_id}
		UNION ALL
		SELECT
			DECODE(module_type, 'CMS', 'CMS', NVL(A.site_id, 'CMS')) || '_' || a.menu_idx || '_' || a.module_idx || '_' || a.auth_code_id
		FROM
			WB_MEMBER_GROUP_AUTH A, WB_MEMBER_GROUP_RELATION B
		WHERE
			A.member_group_idx = B.relation_member_group_idx
		AND	B.member_group_idx in ( SELECT member_group_idx FROM WB_MEMBER_GROUP_SUBORD WHERE member_id = #{member_id})
		UNION ALL
		SELECT
			DECODE(module_type, 'CMS', 'CMS', NVL(A.site_id, 'CMS')) || '_' || a.menu_idx || '_' || a.module_idx || '_' || a.auth_code_id
		FROM
			WB_MEMBER_GROUP_AUTH A, WB_MEMBER_GROUP_RELATION B
		WHERE
			A.member_group_idx = B.member_group_idx
		AND	B.relation_member_group_idx in ( SELECT member_group_idx FROM WB_MEMBER_GROUP_SUBORD WHERE member_id = #{member_id})
	</select>

	<select id="getMemberSiteAdminAuth" resultType="String">
		SELECT
			SITE_ID || '_A'
		FROM
			WB_MEMBER_GROUP A, WB_MEMBER_GROUP_SUBORD B
		WHERE
			A.member_group_idx = B.member_group_idx
		AND	B.member_id = #{member_id}
		AND A.admin_group_yn = 'Y'
		UNION ALL
		SELECT
			SITE_ID || '_A'
		FROM
			WB_MEMBER_GROUP A, WB_MEMBER_GROUP_RELATION B
		WHERE
			A.member_group_idx = B.relation_member_group_idx
		AND	B.member_group_idx in ( SELECT member_group_idx FROM WB_MEMBER_GROUP_SUBORD WHERE member_id = #{member_id})
		AND A.admin_group_yn = 'Y'
	</select>

	<select id="getMemberManageList" resultType="kr.co.whalesoft.app.cms.member.Member">
		SELECT
			A.*,
			(
				SELECT
				  LISTAGG((CASE  WHEN site_id != 'CMS'
				  THEN (SELECT homepage_alias FROM CMS_HOMEPAGE WHERE homepage_id = site_id) || ' - ' || member_group_name
				  ELSE 'CMS - ' || member_group_name
				  END), ', ') WITHIN GROUP (ORDER BY member_group_name) AS search_auth
				FROM WB_MEMBER_GROUP
				WHERE member_group_idx IN (
											SELECT member_group_idx
											FROM WB_MEMBER_GROUP_SUBORD
											WHERE member_id = A.member_id
											)
			) AS search_auth
		FROM
		(
			${pagingTop}
				SELECT DISTINCT
					A.member_id, A.member_name, A.phone, A.link_member_yn,
					A.add_date
				FROM
					CMS_MEMBER A
				<choose>
				<when test='homepage_id != null and homepage_id != "" and homepage_id != "CMS"'>
				, WB_MEMBER_GROUP_SUBORD b, WB_MEMBER_GROUP c
				WHERE
					a.member_id = b.member_id
				AND b.member_group_idx = c.member_group_idx
				AND c.site_id = #{homepage_id}
				<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
					AND A.${search_type} LIKE '%'||#{search_text}||'%'
				</if>
				</when>
				<otherwise>
				<where>
					<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
						AND A.${search_type} LIKE '%'||#{search_text}||'%'
					</if>
				</where>
				</otherwise>
				</choose>
				ORDER BY
					A.add_date DESC
			${pagingBottom}
		) A
	</select>

	<select id="getMemberManageCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			( SELECT DISTINCT A.member_id
		FROM
			CMS_MEMBER A
		<choose>
		<when test='homepage_id != null and homepage_id != "" and homepage_id != "CMS"'>
					, WB_MEMBER_GROUP_SUBORD b, WB_MEMBER_GROUP c
		WHERE
			a.member_id = b.member_id
		AND b.member_group_idx = c.member_group_idx
		AND c.site_id = #{homepage_id}
		<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
			AND A.${search_type} LIKE '%'||#{search_text}||'%'
		</if>
		</when>
		<otherwise>
		<where>
			<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
				AND A.${search_type} LIKE '%'||#{search_text}||'%'
			</if>
		</where>
		</otherwise>
		</choose>
		)
	</select>

	<select id="getMemberListBoardAdmin" resultType="kr.co.whalesoft.app.cms.member.Member">
		SELECT
			DISTINCT A.*
		FROM
			CMS_MEMBER A, WB_MEMBER_GROUP_SUBORD B, WB_MEMBER_GROUP_AUTH C
		WHERE
			a.member_id = b.member_id
		AND	b.member_group_idx = c.member_group_idx
		AND	c.module_idx = #{manage_idx}
		AND	c.auth_code_id = 'MBA'
		AND	c.module_type = 'SITE'
	</select>

	<select id="getAnonymousAuth" resultType="String">
		SELECT
			A.site_id || '_' || a.menu_idx || '_' || a.module_idx || '_' || a.auth_code_id
		FROM
			WB_MEMBER_GROUP_AUTH A, WB_MEMBER_GROUP B
		WHERE
			A.member_group_idx = B.member_group_idx
		AND	B.guest_group_yn ='Y'

	</select>

	<update id="addMemberLastLogin">
		MERGE INTO
			MEMBER_LAST_LOGIN a
		USING dual
		ON
			(a.seq_no = #{seq_no})
		WHEN MATCHED THEN
			UPDATE SET
				a.last_login = SYSDATE,
				a.web_id = #{web_id},
				a.last_login_ip = #{last_login_ip}
		WHEN NOT MATCHED THEN
			INSERT (
				seq_no, last_login, last_login_ip, web_id
			) VALUES (
				#{seq_no}, SYSDATE, #{last_login_ip}, #{web_id}
			)
	</update>

	<insert id="addCitizenMember">
		<selectKey keyProperty="citizen_idx" order="BEFORE" resultType="int">
			SELECT NVL(MAX(citizen_idx),0)+1 FROM CERTIFICATE_CITIZEN
		</selectKey>
		INSERT INTO
			CERTIFICATE_CITIZEN
			(
				citizen_idx, USER_NAME, LIBRARY, APPLY_DATE, USER_CI, USER_ID,
				USER_KEY, USER_NUMBER
			)
		VALUES
			(
				#{citizen_idx}, #{user_name}, #{library}, SYSDATE, #{user_ci}, #{user_id},
				#{user_key}, #{user_number}
			)
	</insert>

</mapper>