<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.intro.search.LibrarySearchDao">

	<select id="getImageUrl" resultType="String">
		SELECT
			path
		FROM
			KLAS_COLLECT_IMAGE_TBL
		WHERE
			isbn = #{ISBN}
	</select>
	
	<select id="getSmartLibPlace" resultType="map">
		SELECT
			code, library, location, latitude, longitude
		FROM
			SMARTLIBINFO
		WHERE
			code = #{code}
	</select>
</mapper>