<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.whalesoft.app.cms.homepageAccess.HomepageAccessDao">

	<sql id="commonWhere">
		<trim prefix="WHERE" prefixOverrides="AND">
		<if test="homepage_id != 'ALL'">
			AND homepage_id = #{homepage_id}
		</if>
		<choose>
		<when test="date_type == 'DAY'">
			<![CDATA[
			AND	access_date >= #{start_date}
			AND	access_date <= #{end_date}
			]]>
		</when>
		<when test="date_type == 'MONTH'">
			<![CDATA[
			AND	SUBSTR(access_date, 0, 7) >= #{start_year}||'-01'
			AND	SUBSTR(access_date, 0, 7) <= #{start_year}||'-12'
			]]>
		</when>
		<when test="date_type == 'YEAR'">
			<![CDATA[
			AND	SUBSTR(access_date, 0, 4) >= #{start_year}
			AND	SUBSTR(access_date, 0, 4) <= #{end_year}
			]]>
		</when>
		<otherwise>
			<![CDATA[
			AND	SUBSTR(access_date, 0, 7) >= #{start_year}||'-01'
			AND	SUBSTR(access_date, 0, 7) <= #{start_year}||'-12'
			]]>
		</otherwise>
		</choose>
		</trim>
	</sql>
	
	<sql id="result_date">
		<choose>
		<when test="date_type == 'DAY'">
			access_date AS result_date
		</when>
		<when test="date_type == 'MONTH'">
			SUBSTR(access_date, 0, 7) AS result_date
		</when>
		<when test="date_type == 'YEAR'">
			SUBSTR(access_date, 0, 4) AS result_date
		</when>
		<otherwise>
			SUBSTR(access_date, 0, 7) AS result_date
		</otherwise>
		</choose>
	</sql>
	
    <select id ="getHomepageStatisticsResult" resultType="kr.co.whalesoft.app.cms.homepageAccess.HomepageAccess">
		SELECT RESULT_DATE, SUM(RESULT_COUNT) AS RESULT_COUNT
		FROM (
    	<if test="date_type == 'DAY'">
			SELECT TO_CHAR(TO_DATE(#{start_date},'yyyy-mm-dd') + ((LEVEL-1)),'yyyy-mm-dd') AS result_date, 0 AS result_count
    	</if>
    	<if test="date_type == 'MONTH'">
			SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{start_year}||'-01', 'yyyy-mm'), LEVEL - 1),'yyyy-mm') AS result_date, 0 AS result_count
    	</if>
    	<if test="date_type == 'YEAR'">
			SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{start_year}, 'yyyy'), (LEVEL - 1)*12),'yyyy') AS result_date, 0 AS result_count
    	</if>
			FROM DUAL
			CONNECT BY LEVEL &lt;=
				<if test="date_type == 'DAY'">(TO_DATE(#{end_date}) - TO_DATE(#{start_date}) + 1)</if>
				<if test="date_type == 'MONTH'">12</if>
				<if test="date_type == 'YEAR'">(TO_NUMBER(#{end_year}) - TO_NUMBER(#{start_year}) + 1)</if>

			<if test="search_type == 'ALL' or search_type == 'PC'">
			UNION ALL
			SELECT
				<include refid="result_date" />
				, access_cnt AS result_count
			FROM
				STATISTICS_COUNT
			<include refid="commonWhere" />
			</if>
			
			<if test="search_type == 'ALL' or search_type == 'MOBILE'">
			UNION ALL
			SELECT
				<include refid="result_date" />
				, access_cnt AS result_count
			FROM
				STATISTICS_COUNT_MOBILE
			<include refid="commonWhere" />
			</if>
		)
		GROUP BY result_date
		ORDER BY result_date ASC
    </select>

    <select id="getLastHomepageAccess" resultType="string">
    	SELECT
			last_login_ip
		FROM
			MEMBER_LAST_LOGIN
		WHERE
			seq_no = #{seq_no}
    </select>

    <insert id="addStatisticsCount">
		MERGE INTO
			STATISTICS_COUNT a
		USING dual
		ON
			(
				homepage_id = #{homepage_id}
			AND	access_date = #{start_date}
			)
		WHEN MATCHED THEN
			UPDATE SET
				access_cnt = access_cnt + 1
		WHEN NOT MATCHED THEN
			INSERT
			(
				access_idx, homepage_id, access_date, access_cnt
			) VALUES
			(
				STATISTICS_COUNT_SEQ.NEXTVAL, #{homepage_id}, #{start_date}, 1
			)
    </insert>
    
    <insert id="addStatisticsCountMobile">
		MERGE INTO
			STATISTICS_COUNT_MOBILE a
		USING dual
		ON
			(
				homepage_id = #{homepage_id}
			AND	access_date = #{start_date}
			)
		WHEN MATCHED THEN
			UPDATE SET
				access_cnt = access_cnt + 1
		WHEN NOT MATCHED THEN
			INSERT
			(
				access_idx, homepage_id, access_date, access_cnt
			) VALUES
			(
				STATISTICS_COUNT_MOBILE_SEQ.NEXTVAL, #{homepage_id}, #{start_date}, 1
			)
    </insert>
    
    <insert id="addStatisticsCountLog">
		INSERT INTO STATISTICS_COUNT_LOG (
			access_idx, homepage_id, access_date, session_id, access_ip, referer_url, user_agent, access_cnt
		) VALUES (
			STAT_COUNT_LOG_SEQ.NEXTVAL, #{homepage_id}, #{start_date}, #{session_id}, #{access_ip}, #{referer_url}, #{user_agent}, 1
		)
    </insert>

	<select id="getStatisticsCountLog" resultType="kr.co.whalesoft.app.cms.homepageAccess.HomepageAccess">
		SELECT
			access_idx, homepage_id, access_date, session_id, access_ip, referer_url, user_agent, access_cnt
		FROM
			STATISTICS_COUNT_LOG
		WHERE
			homepage_id = #{homepage_id}
		AND	access_date = #{start_date}
		AND	session_id = #{session_id}
	</select>
    
    <insert id="addStatisticsCountLogMobile">
		INSERT INTO STATISTICS_COUNT_LOG_MOBILE (
			access_idx, homepage_id, access_date, session_id, access_ip, referer_url, user_agent, access_cnt
		) VALUES (
			STAT_COUNT_LOG_MOBILE_SEQ.NEXTVAL, #{homepage_id}, #{start_date}, #{session_id}, #{access_ip}, #{referer_url}, #{user_agent}, 1
		)
    </insert>

	<select id="getStatisticsCountLogMobile" resultType="kr.co.whalesoft.app.cms.homepageAccess.HomepageAccess">
		SELECT
			access_idx, homepage_id, access_date as start_date, session_id, access_ip, referer_url, user_agent, access_cnt
		FROM
			STATISTICS_COUNT_LOG_MOBILE
		WHERE
			homepage_id = #{homepage_id}
		  AND	access_date = #{start_date}
		  AND	session_id = #{session_id}
	</select>
    
    <update id="updateStatisticsCount">
    	UPDATE STATISTICS_COUNT SET
    		access_cnt = access_cnt+1
    	WHERE
    		homepage_id = #{homepage_id}
    	AND access_date = #{start_date}
    </update>
    
    <update id="updateStatisticsCountMobile">
    	UPDATE STATISTICS_COUNT_MOBILE SET
    		access_cnt = access_cnt+1
    	WHERE
    		homepage_id = #{homepage_id}
    	AND access_date = #{start_date}
    </update>
    
    <update id="updateStatisticsCountLog">
    	UPDATE STATISTICS_COUNT_LOG SET
    		access_cnt = access_cnt+1
    	WHERE
    		homepage_id = #{homepage_id}
    	AND access_idx = #{access_idx}
    	AND access_date = #{start_date}
    	AND session_id = #{session_id}
    </update>
    
    <update id="updateStatisticsCountLogMobile">
    	UPDATE STATISTICS_COUNT_LOG_MOBILE SET
    		access_cnt = access_cnt+1
    	WHERE
    		homepage_id = #{homepage_id}
		AND access_idx = #{access_idx}
    	AND access_date = #{start_date}
    	AND session_id = #{session_id}
    </update>
    
    <select id="getCmsHomepageAccess" resultType="kr.co.whalesoft.app.cms.homepageAccess.HomepageAccess">
		SELECT
			*
		FROM
			CMS_HOMEPAGE_ACCESS
		WHERE
			#{start_date} = TO_CHAR(access_date, 'YYYY-MM-DD')
		ORDER BY access_idx
    </select>

    <select id="getChartData" resultType="kr.co.whalesoft.app.cms.homepageAccess.HomepageAccess">
		SELECT
			TO_CHAR(access_date, 'YYYY-MM-DD') AS result_date, sum(pc_count) + sum(mobile_count) as result_count
		FROM
			CMS_HOMEPAGE_ACCESS_STATUS
		WHERE
			access_date >= TO_DATE(#{start_date}, 'YYYY-MM-DD')
		AND	access_date <![CDATA[<]]> TO_DATE(#{end_date}, 'YYYY-MM-DD')+1
		<if test="homepage_id != null and homepage_id != ''">
		AND	homepage_id = #{homepage_id}
		</if>
		GROUP BY TO_CHAR(access_date, 'YYYY-MM-DD')
		ORDER BY TO_CHAR(access_date, 'YYYY-MM-DD')
    </select>

    <select id="getChartViewData" resultType="kr.co.whalesoft.app.cms.homepageAccess.HomepageAccess">
		SELECT
			TO_CHAR(access_date, 'YYYY-MM-DD') AS result_date, sum(view_pc_count) + sum(view_mobile_count) as result_count
		FROM
			CMS_HOMEPAGE_ACCESS_STATUS
		WHERE
			access_date >= TO_DATE(#{start_date}, 'YYYY-MM-DD')
		AND	access_date <![CDATA[<]]> TO_DATE(#{end_date}, 'YYYY-MM-DD')+1
		<if test="homepage_id != null and homepage_id != ''">
		AND	homepage_id = #{homepage_id}
		</if>
		GROUP BY TO_CHAR(access_date, 'YYYY-MM-DD')
		ORDER BY TO_CHAR(access_date, 'YYYY-MM-DD')
    </select>

    <select id="getChartDivData" resultType="kr.co.whalesoft.app.cms.homepageAccess.HomepageAccess">
		SELECT
			TO_CHAR(access_date, 'YYYY-MM-DD') AS result_date, sum(pc_count) as pc_count, sum(mobile_count) as mobile_count,
			sum(pc_count) + sum(mobile_count) as total_count
		FROM
			CMS_HOMEPAGE_ACCESS_STATUS
		WHERE
			access_date >= TO_DATE(#{start_date}, 'YYYY-MM-DD')
		AND	access_date <![CDATA[<]]> TO_DATE(#{end_date}, 'YYYY-MM-DD')+1
		<if test="homepage_id != null and homepage_id != ''">
		AND	homepage_id = #{homepage_id}
		</if>
		GROUP BY TO_CHAR(access_date, 'YYYY-MM-DD')
		ORDER BY TO_CHAR(access_date, 'YYYY-MM-DD')
    </select>

    <select id="getChartViewDivData" resultType="kr.co.whalesoft.app.cms.homepageAccess.HomepageAccess">
		SELECT
			TO_CHAR(access_date, 'YYYY-MM-DD') AS result_date, sum(view_pc_count) as pc_count, sum(view_mobile_count) as mobile_count,
			sum(view_pc_count) + sum(view_mobile_count) as total_count
		FROM
			CMS_HOMEPAGE_ACCESS_STATUS
		WHERE
			access_date >= TO_DATE(#{start_date}, 'YYYY-MM-DD')
		AND	access_date <![CDATA[<]]> TO_DATE(#{end_date}, 'YYYY-MM-DD')+1
		<if test="homepage_id != null and homepage_id != ''">
		AND	homepage_id = #{homepage_id}
		</if>
		GROUP BY TO_CHAR(access_date, 'YYYY-MM-DD')
		ORDER BY TO_CHAR(access_date, 'YYYY-MM-DD')
    </select>
    
</mapper>