div#category-box {padding-bottom: 20px;border-bottom: 2px solid #554246;margin-bottom: 20px;}
input[type="checkbox"].customCheck {display: none;}
input[type="checkbox"].customCheck + label, input[type="checkbox"].customCheck:checked + label {display: inline-block;cursor: pointer;padding-left: 30px;padding-right: 15px;}
input#chkAll + label {display: block;}
input[type="checkbox"].customCheck + label {color: #222;background: url("/resources/common/img/icon_cate_chk.png") no-repeat;}
input[type="checkbox"].customCheck:checked + label {color: #1ba8ed;background: url("/resources/common/img/icon_cate_chk_on.png") no-repeat;}

.group-box {position: relative;width:37%;float:left;border:1px solid #ddd;padding:33px 5.3%;margin:10px;min-height:100px;}

.img-box {display:inline-block;float:left;width: 120px;height: 170px;border: 1px solid #ccc;margin-left: 10px;padding: 0px;}

.content-box {display: inline-block;width: 80%;padding: 0 70px 0 0;}

.book_check {position: absolute;left: 0;}

.subject{font-size:15px;color:#666;}
.subject a{display: inline-block;font-size: 21px;font-weight: bold;color: #333;margin-bottom:15px;}
.subject .ing-box{position:absolute;}
.subject .ing {display: inline-block;width: 56px;height: 24px;background: #ff5700;font-size: 12px;line-height: 24px;color: #fff;letter-spacing: -0.075em;text-align: center;margin-right:10px;}

.step1 {border: 1px solid #1ec0b0;color: #1ec0b0;}
.step2 {border: 1px solid #f9a406;color: #f9a406;}
.step1, .step2 {display: inline-block;margin-right: 5px;padding: 3px 5px;font-family: 'dotum';font-size: 11px;line-height: 1;letter-spacing: -1px;text-align: center;}

ul.pub_info {padding: 10px 0 15px;}
ul.pub_info li {display: inline-block;font-size: 13px;padding-right: 15px;}

.book-desc {font-size: 13px;}

.keyword-box {border-top: 1px dashed #e5e5e5;padding-top: 14px;margin-top: 18px;}

.content-box span.keyword {display: inline-block;padding: 0 10px;background: #e8f2f7;border-radius: 20px;font-size: 12px;color: #7e8c93;}

.btn-box {position:relative;margin-top:50px;text-align:center;}
.btn-box a {display: inline-block;height: 40px;width:100px;padding: 0 20px 0 45px;border-radius: 50px;line-height: 40px;margin:0 3px;}
.btn-box a.loan {width:65px;border: 2px solid #add7f3;color: #047dd3;background: url('/resources/common/img/icon_bt_apply01.png') no-repeat 25px 50%;text-align:center;}
.btn-box a.reserv {width:65px;border: 2px solid #cbbcf2;color: #7d57de;background: url('/resources/common/img/icon_bt_apply01_3.png') no-repeat 25px 50%;}
.btn-box a.docfile {border: 2px solid #d2dfe8;color: #5c90b5;position: absolute;top: 0px;right: 130px;padding: 0 20px 0 25px;}
.btn-box a.booklist {border: 2px solid #add7f3;color: #047dd3;background: url('/resources/common/img/icon_bt_apply02.png') no-repeat 25px 50%;}
.btn-box a.tit-search-btn {border: 2px solid #c5bbf0;color: #8f50cb;background: url('/resources/common/img/bPB-ico2.png') no-repeat 25px 50%;}
/*.btn-box a.tit-search-btn{border: 2px solid #d2dfe8;color: #5c90b5;position: absolute;top: 0px;right: 130px;padding: 0 20px 0 23px;}*/

span.loan-cnt {position:absolute;display: inline-block;width: 65px;height: 65px;border-radius: 100%;background: #1ba8ed;text-align: center;font-size: 13px;color: #8dd4f6;top:22px;right:33px;}
span.loan-cnt strong {display: block;padding-top: 12px;font-family: 'Montserrat',sans-serif;font-size: 20px;letter-spacing: 0;color: #fff;}

.dataTables_paginate{clear:both;}

@media all and (max-width:1240px){
	.group-box{width:27.5%;}
}

@media all and (max-width:1000px){
	.group-box{width:calc(100% - 12%);float:none;margin:0;margin-bottom:10px;}

	.serial-wrap .search-results .row{height:auto !important;}
}

@media all and (max-width:406px){
	.btn-box{margin-top:40px;}
	.btn-box a{margin-bottom:5px;}

	span.loan-cnt{width:55px;height:54px;top:15px;right:15px;font-size:12px;}
	span.loan-cnt strong{padding-top:6px;font-size:18px;}
}

@media all and (max-width:400px){
	.content-box {display: inline-block;width: 95%;padding: 0 10px;}
}