@charset "utf-8";
.user_pick_info {
	position:relative;
	width:100%;
	margin-top:30px;
	padding:40px 0 35px;
	background-color:#f3f4f6;
	text-align:center;
}
.user_pick_info img {
	position:absolute;
	top:-30px;
	left:46%;
}
.user_pick_info h2 {
	font-size:30px;
	color:#39366a;
	font-weight:600;
	letter-spacing:0;
	font-family:'s-core_dream6_bold';
}
.user_pick_info p.txt_box01 {
	font-size:16px;
	color:#39366a;
	line-height:23px;
	letter-spacing:0;
	margin:0 9%;
	font-family:'s-core_dream5_medium';
}
.user_pick_info p.txt_box_mini {
	font-size:14px;
	color:#39366a;
	opacity:0.8;
	font-family:'s-core_dream5_medium';
	margin-top:5px;
}
#keyword span {
	font-family:'S-CoreDream-4Regular';
	cursor:pointer;
}
#keyword {
	height:450px;
}
.select-keyword {
	position:relative;
	width:100%;
	margin-bottom:40px;
	text-align:center;
	border-top:1px solid #ddd;
	padding-top:40px;
}
.select-keyword span {
	display:inline-block;
	font-family:'S-CoreDream-4Regular';
	color:#fff;
	font-size:18px;
	background:#333;
	width:180px;
	height:55px;
	line-height:55px;
	content:'#';
}
.select-keyword span::before {
	content:'#';
}
.btn-box {
	position:relative;
	width:100%;
	clear:both;
}
.btn-box ul {
	font-size:0;
}
.btn-box ul li {
	display:inline-block;
	width:49.5%;
	padding:15px 0;
	line-height:180%;
	text-align:center;
	border-radius:5px;
}
.btn-box ul li a {
	font-family:'s-core_dream5_medium';
	font-size:19px;
	letter-spacing:-0.25px;
	display:block;
}
.btn-box ul li a span {
	display:block;
	font-family:'S-CoreDream-4Regular';
	font-size:13px;
	letter-spacing:0;
}
.btn-box ul li.btn1 {
	box-sizing:border-box;
	border:1px solid #ccc;
	margin-right:1%;
}
.btn-box ul li.btn1 a {
	color:#333;
}
.btn-box ul li.btn2 {
	background:linear-gradient(to right,#53cce9,#7597ee)
}
.btn-box ul li.btn2 a {
	color:#fff;
}
	@media only screen and (max-width:550px) {
		.user_pick_info img {
		position:absolute !important;
		top:0%;
		left:50% !important;
		transform:translate(-50%,-50%) !important;
	}
		.user_pick_info h2 {
		font-size:25px;
	}
		.select-keyword {
		margin-bottom:10px;
	}
		.select-keyword span {
		font-size:14px;
		margin-bottom:5px;
		width:32%;
		height:40px;
		line-height:40px;
	}
				.btn-box ul li {
		display:block;
		width:100%;
		line-height:160%;
	}
		.btn-box ul li.btn1 {
		margin-right:0;
		margin-bottom:5px;
	}
		.btn-box ul li a {
		font-size:16px;
	}
		.btn-box ul li a span {
		font-size:12px;
	}
		.select-personal_data {
		font-size: 13px;
	}
}