@charset "utf-8";


/*마진*/
.noMgf, .no_mgf {margin-bottom:0px !important;}
.mg5f {margin-bottom:5px;}
.mg10f {margin-bottom:10px;}
.mg15f {margin-bottom:15px;}
.mg20f {margin-bottom:20px;}
.mg25f {margin-bottom:25px;}
.mg30f {margin-bottom:30px;}
.mg40f {margin-bottom:40px;}
.mg50f {margin-bottom:50px;}
.mg60f {margin-bottom:60px;}
.mg5t {margin-top:5px;}
.mg10t {margin-top:10px;}
.mg15t {margin-top:15px;}
.mg20t {margin-top:20px;}
.mg25t {margin-top:25px;}
.mg30t {margin-top:30px;}
.mg40t {margin-top:40px;}
.mg50t {margin-top:50px;}
.mg60t {margin-top:60px;}
.mg80t {margin-top:80px;}
.mg5 {margin-left:5px;}
.mg10 {margin-left:10px;}
.mg15 {margin-left:15px;}
.mg20 {margin-left:20px;}
.mg25 {margin-left:25px;}
.mg30 {margin-left:30px;}
.mg40 {margin-left:40px;}
.mg50 {margin-left:50px;}
.mg60 {margin-left:60px;}
.mg5r {margin-right:5px;}
.mg10r {margin-right:10px;}
.mg15r {margin-right:15px;}
.mg20r {margin-right:20px;}
.mg25r {margin-right:25px;}
.mg30r {margin-right:30px;}
.mg40r {margin-right:40px;}
.mg50r {margin-right:50px;}
.mg60r {margin-right:60px;}
.mg5a {margin:5px;}
.mg10a {margin:10px;}
.mg15a {margin:15px;}
.mg20a {margin:20px;}
.mg25a {margin:25px;}
.mg30a {margin:30px;}
.mg10tf {margin-top:10px;margin-bottom:10px}
.mg20tf {margin-top:20px;margin-bottom:20px}
.mg50tf {margin-top:50px;margin-bottom:50px}
.mg50lr {margin-left:50px;margin-right:50px;}
.right{text-align:right;}

/*태그icon*/
.doc-body h3 {background: url('/resources/common/img/blt_01.gif') no-repeat 0px 20px;font-size:20px; line-height: 125%; color: #161616; padding: 15px 0 15px 28px;  }
.doc-body h4 {background: url('/resources/common/img/blt_02.gif') no-repeat 0px 24px; font-size: 18px; font-weight: 600; color: #161616; padding: 15px 0 15px 19px; }
.doc-body ul.con { padding-left:0 }
.doc-body ul.con > li { background: url('/resources/common/img/con_icon.gif') no-repeat 4px 12px; padding: 3px 0 0 20px; }
.doc-body ul.con > li strong{ color : #323232; }
.doc-body ul.con.border > li { border-bottom: 1px dashed #ddd; padding: 5px 0 6px 13px; background-position: 0 12px }
.doc-body ul.con > li > ul { padding: 3px 0 }
.doc-body ul.con2 > li,
.doc-body ul.con > li > ul > li { background: url('/resources/common/img/doc-arr3.gif') no-repeat 0 12px; padding: 2px 0 2px 10px; }
.doc-body ul.con2 > li > ul > li,
.doc-body ul.con3 > li,
.doc-body ul.con > li > ul > li > ul > li { background: url('/resources/common/img/doc-arr4.gif') no-repeat 0 13px; padding-left: 10px; padding-bottom: 1px }
.doc-body ul.con > li > ul > li > ul { padding: 3px 0 2px }
.doc-body ul.con .btn_bg { padding: 3px 0 5px }
.doc-body ul.con4 > li { padding: 4px 0 }
.doc-body ul.con2 { padding-left: 13px }

/*준비중*/
.comming-soon{background:url('/resources/common/img/icon-w.gif') no-repeat center 0}
.comming-soon{margin:5% 0;text-align:center;padding:85px 0 30px}
.comming-soon p.t1{font-size:18px;color:#888;padding:10px 0}
.comming-soon p.t2{font-size:27px;color:#ddd;padding:15px 0 0}
.comming-soon strong{font-size:36px;display:block;line-height:120%;letter-spacing:-1px;font-weight:normal}
.comming-soon em{font-style:normal;font-weight:bold;color:#121212}

/* 컨텐츠 버튼 */
.btns_wrap_tac {text-align:left;margin:20px auto 20px;}
.btn_link {position:relative;display:inline-block;transition:all .25s ease;background-color:#fa9d39;color:#fff;border:1px solid #fa9d39;box-sizing:border-box;}
.btn_link:hover, .btn_link:focus {border:1px solid #4443a6;background-color:#fff;color:#fa9d39;}
.btn_link span {display:block;padding:0.9em 72px 0.8em 23px;}
.btn_link .ico {position:absolute;right:0px;top:0px;padding:0;width:50px;height:53px;background-color:#4443a6;-webkit-transition:right .25s ease;transition:right .25s ease-out;}
.btn_link:hover .ico {right:-10px;top:-1px;height:54px;}
.btn_link02 {position:relative;display:inline-block;transition:all .25s ease;background-color:#00429a;color:#fff;border:1px solid #00429a;box-sizing:border-box;}
.btn_link02:hover, .btn_link02:focus {border:1px solid #00429a;background-color:#fff;color:#00429a;}
.btn_link02 span {display:block;padding:0 72px 0px 23px;height:53px;line-height:53px}
.btn_link02 .ico {position:absolute;right:0px;top:0;padding:0;width:50px;height:53px;background-color:#00429a;-webkit-transition:right .25s ease;transition:right .25s ease-out;}
.btn_link02:hover .ico {right:-10px;height:53px;}
.ico_link {background:url('/resources/common/img/link_icon.gif') no-repeat 20px 19px;}
.ico_open {background:url('/resources/common/img/doc-arr4.gif') no-repeat 0 -53px;}
.ico_down {background:url('/resources/common/img/doc-arr4.gif') no-repeat 0 -106px;}

/*신청서 다운도르박스1*/
.linkBox {overflow: hidden;position: relative;margin-top: 30px;padding: 20px;background-color: #efefef;}
.linkBox .txtArea {float: left;padding: 5px;line-height: 22px;font-size: 1em;}
.linkBox .btnArea {float: right;}
.linkBox i{margin:0 7px;}
.mt05 {margin-top: 5px; !important}
.themeBtn {background-color: #3661c4 !important}
.themeBtn {display: inline-block;padding: 8px 15px;color: #fff;text-align: center;letter-spacing: -1px;vertical-align: middle;box-sizing: border-box;}
.btn i{vertical-align:middle}
.btn i,
.btn span{padding-bottom:1px}
.btn i{margin-right:5px}

@media screen and (max-width:500px) {
.linkBox .btnArea {float: left; padding-left:20px;}
}

/*신청서 다운로드박스2*/
a.cw-btn span, a.cg-btn span, a.cp-btn span, a.cdp-btn span {display:block;padding:14px 45px 15px 15px;line-height:1;}
.cw-btn, .cg-btn, .cp-btn, .cdp-btn {position:relative;display:inline-block;font-size:14px;font-weight:400;vertical-align:middle;transition:all .25s ease;line-height:1.1;}
.cg-btn, a.cg-btn {background:#17a981;border:1px solid #17a981;color:#fff;}
.cg-btn:hover, .cg-btn:focus {background:#008f68;border:1px solid #008f68;color:#fff;}
.cg-btn:hover, .cg-btn:focus {background:#008f68;border:1px solid #008f68;color:#fff;}
.cg-btn .down, .cp-btn .down, .cdp-btn .down {background:url('/resources/common/img/ico_cbtn.png') no-repeat -107px -44px;}
.cw-btn .ico, .cg-btn .ico, .cp-btn .ico, .cdp-btn .ico {position:absolute;right:15px;top:50%;padding:0;width:16px;height:16px;margin-top:-8px;-webkit-transition:right .25s ease; transition:right .25s ease-out}

/*txt 아이콘 박스*/
.summaryDesc {background-color: #efefef !important}
.summaryDesc {margin-bottom: 30px;padding: 7px;background: url('/resources/common/img/bg_pattern_desc.png') repeat}
.summaryDesc .innerBox {overflow: hidden;position: relative;padding: 20px;background-color: #fff;}
.summaryDesc .innerBox .bookbadaimg {width:100%;height:101px; position: absolute;top: 70px;left: 30px;background: url('/resources/common/img/bookbada.gif') no-repeat;}
.summaryDesc .innerBox .booknareimg {width:100%;height:101px; position: absolute;top: 80px;left: 30px;background: url('/resources/common/img/booknare.gif') no-repeat;}
.summaryDesc .innerBox .bookeumimg {width:100%;height:145px; position: absolute;top:50px;left: 25px;background: url('/resources/common/img/bookeum.gif') no-repeat;}
.summaryDesc .innerBox .askimg {width:100%;height:145px; position: absolute;top: 60px;left: 30px;background: url('/resources/common/img/ask.gif') no-repeat;}
.summaryDesc .innerBox .rssimg {width:100%;height:145px; position: absolute;top: 40px;left: 30px;background: url('/resources/common/img/RSS_tit.gif') no-repeat;}
.summaryDesc .innerBox .ticon_01 {width:100%;height:145px; position: absolute;top: 22px;left: 30px; background: url('/resources/common/img/ticon_01.png') no-repeat;}
.summaryDesc .innerBox .ticon_02 {width:100%;height:145px; position: absolute;top: 22px;left: 30px; background: url('/resources/common/img/ticon_02.png') no-repeat;}
.summaryDesc .innerBox .ticon_03 {width:100%;height:145px; position: absolute;top: 22px;left: 30px; background: url('/resources/common/img/ticon_03.png') no-repeat;}
.summaryDesc .innerBox .ticon_04 {width:100%;height:145px; position: absolute;top: 22px;left: 30px; background: url('/resources/common/img/ticon_04.png') no-repeat;}
.summaryDesc .innerBox .ticon_05 {width:100%;height:145px; position: absolute;top: 22px;left: 30px; background: url('/resources/common/img/ticon_05.png') no-repeat;}
.summaryDesc .innerBox .ticon_06 {width:100%;height:145px; position: absolute;top: 22px;left: 30px; background: url('/resources/common/img/ticon_06.gif') no-repeat;}
.summaryDesc .innerBox .txt_b01 {width:100%;height:145px; position: absolute;top: 22px;left: 30px; background: url('/resources/common/img/txt_b01.png') no-repeat;}
.summaryDesc .innerBox .txt_b02 {width:100%;height:145px; position: absolute;top: 50px;left: 15px; background: url('/resources/common/img/txt_b02.png') no-repeat;}
.summaryDesc .innerBox .img + .desc {display: table-cell;width: 100%;height: 100px;padding-left: 200px}
.summaryDesc .innerBox .img + .desc::before {content: "";display: block;position: absolute;top: 20px;left: 170px;bottom: 20px;border-left: 1px solid #e4e4e4}
.summaryDesc .innerBox .desc {word-break: keep-all;vertical-align: middle}
.summaryDesc .innerBox .tit, .noticeDesc .tit {display: block;margin-bottom: 5px;font-size: 1.267em;}

@media screen and (max-width:500px) {
.summaryDesc .innerBox .img {display:none;}
.summaryDesc .innerBox .img + .desc {padding-left: 0px}
.summaryDesc .innerBox .img + .desc::before {border: none;}
}

.doc-body .txt-box { border: 1px solid #e1e1e1; background-color: #fafafa; padding: 2% 2% 2% 2%; border-radius: 5px; overflow: hidden }
.doc-body .txt-box.large { padding: 5% }
.doc-body .txt-box .inBox { background-color: #fff; padding: 3%; border-radius: 5px }
.doc-body .txt-box .tBox-l { float: left }
.doc-body .txt-box .tBox-r { float: right }

/*table*/

.tbl-type01 table {width:100%; border-collapse: collapse; border-spacing: 0; font-size: inherit; word-break: break-all; border-top: 0; border-bottom-width: 1px; margin-bottom:15px; }
.tbl-type01 thead tr th {text-align:center;border-top-width: 2px; border-color:#c9d5e1; border-top-color:#014199;background-color:#f5f7fa; color:#220400;padding:8px 8px 9px 8px;}
.tbl-type01 thead tr .lead{background-color:#4063d6;}
.tbl-type01 thead tr .total{background-color:#f6dd66;}
.tbl-type01 thead tr .no-line{border-top-width: 1px; border-top-color:#fff;}
.tbl-type01 tbody th {text-align:center;font-weight:bold;color:#555}      
.tbl-type01 td{text-align:center;padding:8px 8px 9px 8px;border-left:1px solid #ececec;border-bottom:1px solid #ececec;font-weight:normal;}
.tbl-type01 tbody td.left{text-align:left;padding-left:13px;}
.tbl-type01 tbody td.right{text-align:right;padding-right:13px;}
.tbl-type01 th.left{text-align:left;padding-left:13px;}
.tbl-type01 th.right{text-align:right;padding-right:13px;}
.tbl-type01 thead tr td{background:#fff;}
.tbl-type01 thead tr td:first-child{border-left:0;}
.tbl-type01 thead tr td a{color:#1c58e1;font-weight:bold;}
.tbl-type01 thead tr td strong{color:#1c58e1;}
.tbl-type01 thead th .left-area{padding:0 5px;text-align:left;}
.tbl-type01 thead th .left-area span{font-weight:normal;display:block;}
.tbl-type01.nh thead th { border-top: 2px solid #005aab; color:#555; background: #fbfbfb; border-bottom:1px solid #e5e8eb; border-right:1px solid #e5e8eb;font-weight:600 }
.tbl-type01.nh thead td { border-top: 2px solid #005aab;border-bottom:1px solid #e5e8eb; padding-left:13px;}
.tbl-type01.nh tbody td { }
.tbl-type01.nh tbody th { color:#555; font-weight:600 }
.tb_nh thead th { border-collapse: collapse; border-spacing: 0; word-break: break-all; margin-bottom:15px;  border-top: 2px solid #014199;}
.tb_nh thead th:first-child {text-align:center;font-weight:bold;color:#464646;background-color:#f5f7fa}      
.tb_nh thead th:nth-child(3){font-weight:normal;background-color:#fff;}
.tb_nh thead th:last-child{font-weight:normal;background-color:#fff;}
.tb_nh tbody th:first-child {text-align:center;font-weight:bold;color:#464646;background-color:#f5f7fa}  
.tb_nh tbody{border-top:0}
.tb_nh .left{text-align:left;padding-left:13px;}
.tb_nh .right{text-align:right;padding-right:13px;}
.tb_nh tbody td{text-align:center;padding:8px 8px 9px 8px;font-weight:normal;}
table tbody td.point{background-color:#f7f7f7; font-weight:bold;}

.auto-scroll{overflow-x: auto;}
.auto-scroll th,
.auto-scroll td{word-break:keep-all}

.doc-body .short_box{height:303px}
.doc-body .tabCon .short_box{height:220px}
@media (max-width:1000px){
	.doc-body .short_box{height:480px}
	.doc-body .tabCon .short_box{height:400px}
}
@media (max-width:767px){
	.doc-body .short_box,
	.doc-body .tabCon .short_box{height:auto}
}
@media screen and (max-width: 640px){
.auto-scroll table {width: 999px;}
.auto-scroll{overflow-x: auto;}
}

/*반응형 테이블 안내창*/
@media all and (max-width:737px){
	.rsv-info{position:relative;overflow:hidden;overflow-x:auto;padding-top:25px;text-align: center;}
	.rsv-info:before {content:"← 좌우로 밀어서 확인하세요 →"; font-size:13px;display:block; position:absolute; top:0; right:0; color:#555;}
	}

/* 탭메뉴 */
.tab-menu,
.tabmenu{padding-bottom:20px}
.tab-menu>ul{padding:10px 0 0}
.tab-menu>ul,
.tabmenu>ul{border-bottom:1px solid #1a518b;padding-left:1px}
.tab-menu li,
.tabmenu li{display:inline-block;zoom:1;*display:inline;vertical-align:bottom}
.tab-menu li a,
.tabmenu li a{position:relative;z-index:1;display:block;background:#fafafa;border:1px solid #d2d2d2;border-bottom-width:0;padding:8px 20px 9px;font-weight:bold;color:#2f3743;margin:0 0 0 -1px}
.tab-menu li a:hover,
.tab-menu li a:focus,
.tabmenu li a:hover,
.tabmenu li a:focus{background:#f1f1f1}
.tab-menu li.active a,
.tabmenu li.active a{color:#fff;z-index:2;background:#3661c4;border-color:#3661c4}
.tab-menu>ul{border:0}
.tab-menu li a{font-weight:normal;margin:2px;border-bottom-width:1px;padding:6px 17px 7px;color:#888}
.tab-menu li.active a{font-weight:bold;color:#222;background:#fff;color:#1f5d97}
.tab-menu.tab2 li{width:50%}
.tabmenu.tab3 li,
.tab-menu.tab3 li{width:33.33%}
.tabmenu.tab3>ul{border:0;overflow:visible}
.tabmenu.tab3>ul li a{border-bottom-width:1px;margin-top:-1px}
.tabmenu.tab4 li{width:50%}
.tabmenu.tab4>ul{border:0}
.tabmenu.tab4>ul li a{border-bottom-width:1px;margin-top:-1px}
.tabmenu.tab2 ul{overflow:hidden}
.tabmenu.tab2 li{width:20%}
.tabmenu.tab2 li a{border-bottom-width:1px;margin-bottom:-1px}
@media all and (max-width:1000px){
	.tabmenu ul{overflow:hidden}
	.tabmenu li a{border-bottom-width:1px;margin-bottom:-1px}
	.tabmenu li{width:33.33%}
	.tab-menu.tab3 li{width:50%}
	.tabmenu.tab3 li a{margin-bottom:0}
}
@media all and (max-width:900px){
	.tabmenu.tab3 li{width:50%}
}
@media all and (max-width:767px){
	.tabmenu.tab2 li{width:25%}
}
@media all and (max-width:580px){
	.tabmenu li{width:50%}
	.tabmenu li a{padding-left:15px;padding-right:15px}
	.tab-menu.tab2 li,
	.tabmenu.tab3 li{width:100%}
}
.tabCon{position:fixed;right:5000px;padding:0 0 15px}
.tabCon.active{position:static;right:inherit}

.tablink{font-size:0;line-height:0}
.tablink li,
.tablink li a{display:inline-block;zoom:1;*display:inline}
.tablink li{padding:2px 7% 2px 0}
.tablink li a{padding-left:14px;background:url('../img/contents/arr_link.gif') no-repeat 0 center}
.tablink li.active a{font-weight:800;color:#333}
.tablink.col2 li{width:47%;padding-right:0}
@media all and (max-width:767px){
	.tablink.col2 li{width:96%}
}

/*책바다 이용방법*/
.img-box{border:1px solid #e1e1e1; background:#f8f8f8; text-align:center; padding-bottom:20px;padding:30px 30px 40px 30px;}
.img-box2{border:1px solid #e1e1e1;text-align:center; padding-bottom:20px;padding:30px 30px 40px 30px;}
.diagram_wrap{position: relative;margin-top: 20px;padding: 5% 5%;background: #f7f8f9}
.diagram_wrap:before{content: '';position: absolute;left: 6%;top: 110px;width: 88%;height: 1px;border-top: 1px dashed #cbcccd;}
.diagram_wrap .diagram01-1{position: relative; overflow: hidden;}
.diagram_wrap .diagram01-1:before{content: '';position: absolute;left: 0;top: 56px;width: 12px;height: 12px;background: #cdcdcd;border-radius: 50%;}
.diagram_wrap .diagram01-1:after{content: '';position: absolute;right: 0;top: 56px;width: 0px;height: 12px;background: #cdcdcd;border-radius: 50%;}
.diagram_wrap .diagram01-1 > li{float: left;position: relative;width: 25%;}
.diagram_wrap .diagram01-1 li span{display: block;position: relative; width: 134px; height: 100px;margin: 0 auto 0px;padding:50px 0 0;background: url('/resources/common/img/sub06_02_01_bg3.png') no-repeat;color: #fff; font-size: 15px; line-height: 22px;text-align: center;z-index: 1;}
.diagram_wrap .diagram01-1 li .bg1{background-position: 0 0}
.diagram_wrap .diagram01-1 li .bg2{background-position: -134px 0;}
.diagram_wrap .diagram01-1 li .bg3{background-position: -268px 0}
.diagram_wrap .diagram01-1 li .bg4{background-position: -402px 0}
.diagram_wrap .diagram01-1 li p{text-align: center;}
.diagram_wrap .diagram01-2{position: relative; overflow: hidden;}
.diagram_wrap .diagram01-2:before{content: '';position: absolute;left: 0;top: 56px;width: 0px;height: 12px;background: #cdcdcd;border-radius: 50%;}
.diagram_wrap .diagram01-2:after{content: '';position: absolute;right: 0;top: 56px;width: 12px;height: 12px;background: #cdcdcd;border-radius: 50%;}
.diagram_wrap .diagram01-2 > li{float: left;position: relative;width: 25%;}
.diagram_wrap .diagram01-2 li span{display: block;position: relative; width: 134px; height: 100px;margin: 0 auto 0px;padding:50px 0 0;background: url('/resources/common/img/sub06_02_01_bg3.png') no-repeat;color: #fff; font-size: 15px; line-height: 22px;text-align: center;z-index: 1;}
.diagram_wrap .diagram01-2 li .bg1{background-position: 0 0}
.diagram_wrap .diagram01-2 li .bg2{background-position: -134px 0;}
.diagram_wrap .diagram01-2 li .bg3{background-position: -268px 0}
.diagram_wrap .diagram01-2 li .bg4{background-position: -402px 0}
.diagram_wrap .diagram01-2 li p{text-align: center;}
.diagram_wrap .diagram02-1{position: relative; overflow: hidden;}
.diagram_wrap .diagram02-1:before{content: '';position: absolute;left: 0;top: 56px;width: 12px;height: 12px;background: #cdcdcd;border-radius: 50%;}
.diagram_wrap .diagram02-1:after{content: '';position: absolute;right: 0;top: 56px;width: 0px;height: 12px;background: #cdcdcd;border-radius: 50%;}
.diagram_wrap .diagram02-1 > li{float: left;position: relative;width: 25%;}
.diagram_wrap .diagram02-1 li span{display: block;position: relative; width: 134px; height: 100px;margin: 0 auto 0px;padding:25px 0 0;background: url('/resources/common/img/sub06_02_01_bg3.png') no-repeat;color: #fff; font-size: 14px; line-height: 19px;letter-spacing:-0.5px;text-align: center;z-index: 1;}
.diagram_wrap .diagram02-1 li .bg1{background-position: 0 0}
.diagram_wrap .diagram02-1 li .bg2{background-position: -134px 0;}
.diagram_wrap .diagram02-1 li .bg3{background-position: -268px 0}
.diagram_wrap .diagram02-1 li .bg4{background-position: -402px 0}
.diagram_wrap .diagram02-1 li p{text-align: center;}
.diagram_wrap .diagram02-2{position: relative; overflow: hidden;}
.diagram_wrap .diagram02-2:before{content: '';position: absolute;left: 0;top: 56px;width: 0px;height: 12px;background: #cdcdcd;border-radius: 50%;}
.diagram_wrap .diagram02-2:after{content: '';position: absolute;right: 0;top: 56px;width: 0px;height: 12px;background: #cdcdcd;border-radius: 50%;}
.diagram_wrap .diagram02-2 > li{float: left;position: relative;width: 20%;}
.diagram_wrap .diagram02-2 li span{display: block;position: relative; width: 134px; height: 100px;margin: 0 auto 0px;padding:25px 0 0;background: url('/resources/common/img/sub06_02_01_bg3.png') no-repeat;color: #fff; font-size: 14px; line-height: 19px;letter-spacing:-0.5px;text-align: center;z-index: 1;}
.diagram_wrap .diagram02-2 li .bg1{background-position: 0 0}
.diagram_wrap .diagram02-2 li .bg2{background-position: -134px 0;}
.diagram_wrap .diagram02-2 li .bg3{background-position: -268px 0}
.diagram_wrap .diagram02-2 li .bg4{background-position: -402px 0}
.diagram_wrap .diagram02-2 li p{text-align: center;}
.diagram_wrap .diagram02-3{position: relative; overflow: hidden;}
.diagram_wrap .diagram02-3:before{content: '';position: absolute;left: 0;top: 56px;width: 0px;height: 12px;background: #cdcdcd;border-radius: 50%;}
.diagram_wrap .diagram02-3:after{content: '';position: absolute;right: 0;top: 56px;width: 12px;height: 12px;background: #cdcdcd;border-radius: 50%;}
.diagram_wrap .diagram02-3 > li{float: left;position: relative;width: 25%;}
.diagram_wrap .diagram02-3 li span{display: block;position: relative; width: 134px; height: 100px;margin: 0 auto 0px;padding:25px 0 0;background: url('/resources/common/img/sub06_02_01_bg3.png') no-repeat;color: #fff; font-size: 14px; line-height: 19px;letter-spacing:-0.5px;text-align: center;z-index: 1;}
.diagram_wrap .diagram02-3 li .bg1{background-position: 0 0}
.diagram_wrap .diagram02-3 li .bg2{background-position: -134px 0;}
.diagram_wrap .diagram02-3 li .bg3{background-position: -268px 0}
.diagram_wrap .diagram02-3 li .bg4{background-position: -402px 0}
.diagram_wrap .diagram02-3 li p{text-align: center;}
.diagram_wrap .diagram03{position: relative; overflow: hidden;}
.diagram_wrap .diagram03:before{content: '';position: absolute;left: 0;top: 56px;width: 12px;height: 12px;background: #cdcdcd;border-radius: 50%;}
.diagram_wrap .diagram03:after{content: '';position: absolute;right: 0;top: 56px;width: 12px;height: 12px;background: #cdcdcd;border-radius: 50%;}
.diagram_wrap .diagram03 > li{float: left;position: relative;width: 25%;}
.diagram_wrap .diagram03 li em.numb{font-size:17px;line-height:30px;}
.diagram_wrap .diagram03 li span{display: block;position: relative; width: 134px; height: 100px;margin: 0 auto 0px;padding:30px 0 0;background: url('/resources/common/img/sub06_02_01_bg2.png') no-repeat;color: #fff; font-size: 15px; line-height: 19px;letter-spacing:-0.5px;text-align: center;z-index: 1;}
.diagram_wrap .diagram03 li .bg1{background-position: 0 0}
.diagram_wrap .diagram03 li .bg2{background-position: -134px 0;}
.diagram_wrap .diagram03 li .bg3{background-position: -268px 0}
.diagram_wrap .diagram03 li .bg4{background-position: -402px 0}
.diagram_wrap .diagram03 li p{text-align: center;}
@media(max-width: 840px){
.diagram_wrap {margin-top: 0px;}
.diagram_wrap .diagram01-1 > li{float: none;width: 100%;margin-bottom: 20px}
.diagram_wrap:before,
.diagram_wrap .diagram01-1:before,
.diagram_wrap .diagram01-1:after,
.diagram_wrap .diagram01-1 > li + li:before,
.diagram_wrap .diagram01-1 li .list li:before{display: none;}
.diagram_wrap .diagram01-1 li:last-child .list{margin-left: 0%}
.diagram_wrap .diagram01-1 li .list li{text-align: center;}
.diagram_wrap .diagram01-2 > li{float: none;width: 100%;margin-bottom: 20px}
.diagram_wrap:before,
.diagram_wrap .diagram01-2:before,
.diagram_wrap .diagram01-2:after,
.diagram_wrap .diagram01-2 > li + li:before,
.diagram_wrap .diagram01-2 li .list li:before{display: none;}
.diagram_wrap .diagram01-2 li:last-child .list{margin-left: 0%}
.diagram_wrap .diagram01-2 li .list li{text-align: center;}
.diagram_wrap .diagram02-1 > li{float: none;width: 100%;margin-bottom: 10px}
.diagram_wrap:before,
.diagram_wrap .diagram02-1:before,
.diagram_wrap .diagram02-1:after,
.diagram_wrap .diagram02-1 > li + li:before,
.diagram_wrap .diagram02-1 li .list li:before{display: none;}
.diagram_wrap .diagram02-1 li:last-child .list{margin-left: 0%}
.diagram_wrap .diagram02-1 li .list li{text-align: center;}
.diagram_wrap .diagram02-2 > li{float: none;width: 100%;margin-bottom: 10px}
.diagram_wrap:before,
.diagram_wrap .diagram02-2:before,
.diagram_wrap .diagram02-2:after,
.diagram_wrap .diagram02-2 > li + li:before,
.diagram_wrap .diagram02-2 li .list li:before{display: none;}
.diagram_wrap .diagram02-2 li:last-child .list{margin-left: 0%}
.diagram_wrap .diagram02-2 li .list li{text-align: center;}
.diagram_wrap .diagram02-3 > li{float: none;width: 100%;margin-bottom: 10px}
.diagram_wrap:before,
.diagram_wrap .diagram02-3:before,
.diagram_wrap .diagram02-3:after,
.diagram_wrap .diagram02-3 > li + li:before,
.diagram_wrap .diagram02-3 li .list li:before{display: none;}
.diagram_wrap .diagram02-3 li:last-child .list{margin-left: 0%}
.diagram_wrap .diagram02-3 li .list li{text-align: center;}
.diagram_wrap .diagram03 > li{float: none;width: 100%;margin-bottom: 10px}
.diagram_wrap:before,
.diagram_wrap .diagram03:before,
.diagram_wrap .diagram03:after,
.diagram_wrap .diagram03 > li + li:before,
.diagram_wrap .diagram03 li .list li:before{display: none;}
.diagram_wrap .diagram03 li:last-child .list{margin-left: 0%}
.diagram_wrap .diagram03 li .list li{text-align: center;}
}

/*책나래 이용방법*/
.img_order {overflow:hidden;width:1000px;padding-top: 20px;}
.img_order li {float: left;padding: 0 30px;}
.u_line {border-bottom:2px solid #dadada;}
.nare_img01{width:200px; height:135px; background: url('/resources/common/img/nare_img01.gif') no-repeat;}
.nare_img02{width:200px; height:135px; background: url('/resources/common/img/nare_img02.gif') no-repeat;}
.nare_img03{width:200px; height:135px; background: url('/resources/common/img/nare_img03.gif') no-repeat;}
.return_img01{width:200px; height:135px; background: url('/resources/common/img/return_img01.gif') no-repeat;}
.return_img02{width:200px; height:135px; background: url('/resources/common/img/return_img02.gif') no-repeat;}
.return_img03{width:200px; height:135px; background: url('/resources/common/img/return_img03.gif') no-repeat;}
.icon_gro {padding:0 50px 20px 0;float: right; width:234px; height:30px; background: url('/resources/common/img/icon_gro.gif') no-repeat;}
.arrow {width:12px; height:50px; background: url('/resources/common/img/arrow.gif') no-repeat;}

@media screen and (max-width :1200px) {
.img_order {width:100%;padding-top: 20px;}
.img_order li {padding:30px 30px;}
.icon_gro {padding:50px 50px 20px 0;}
}

/*책이음 서비스*/

.img-box {border: 1px solid #e1e1e1;background: #f8f8f8;text-align: center;padding-bottom: 20px;padding: 30px 20px 30px;}
.img-box2 {border: 1px solid #e1e1e1;text-align: center;padding-bottom: 20px;padding: 30px 30px 20px;}
.img-box2 ul.m-ul {background: #f8f8f8;text-align: left;padding: 20px 20px 20px 20px;}
.img-box2 ul.m-ul li {padding-left: 0px;}
.processList03 {position: relative;}
.processList03 .step1-1{width:70px; height:53px; background: url('/resources/common/img/step1-1.png') no-repeat; margin:0 auto;}
.processList03 .step1-2{width:70px; height:53px; background: url('/resources/common/img/step1-2.png') no-repeat; margin:0 auto;}
.processList03 .step1-3{width:70px; height:53px; background: url('/resources/common/img/step1-3.png') no-repeat; margin:0 auto;}
.processList03 .step1-4{width:70px; height:53px; background: url('/resources/common/img/step1-4.png') no-repeat; margin:0 auto;}
.processList03 .step1-5{width:70px; height:53px; background: url('/resources/common/img/step1-5.png') no-repeat; margin:0 auto;}
.processList03 .step2-1{width:70px; height:53px; background: url('/resources/common/img/step1-1.png') no-repeat; margin:0 auto;}
.processList03 .step2-2{width:70px; height:53px; background: url('/resources/common/img/step2-2.png') no-repeat; margin:0 auto;}
.processList03 .step2-3{width:70px; height:53px; background: url('/resources/common/img/step1-3.png') no-repeat; margin:0 auto;}
.processList03 .step2-4{width:70px; height:53px; background: url('/resources/common/img/step2-4.png') no-repeat; margin:0 auto;}
.processList03 .step2-5{width:70px; height:53px; background: url('/resources/common/img/step1-5.png') no-repeat; margin:0 auto;}
.processList03 .step3-1{width:70px; height:53px; background: url('/resources/common/img/step1-1.png') no-repeat; margin:0 auto;}
.processList03 .step3-2{width:70px; height:53px; background: url('/resources/common/img/step3-2.png') no-repeat; margin:0 auto;}
.processList03 .step3-3{width:70px; height:53px; background: url('/resources/common/img/step1-4.png') no-repeat; margin:0 auto;}
.processList03 .step3-4{width:70px; height:53px; background: url('/resources/common/img/step3-4.png') no-repeat; margin:0 auto;}
.processList03 .step4-1{width:70px; height:53px; background: url('/resources/common/img/step1-1.png') no-repeat; margin:0 auto;}
.processList03 .step4-2{width:70px; height:53px; background: url('/resources/common/img/step3-2.png') no-repeat; margin:0 auto;}
.processList03 .step4-3{width:70px; height:53px; background: url('/resources/common/img/step4-3.png') no-repeat; margin:0 auto;}
.processList03 .step4-4{width:70px; height:53px; background: url('/resources/common/img/step4-4.png') no-repeat; margin:0 auto;}
.processList03 .step4-5{width:70px; height:53px; background: url('/resources/common/img/step4-5.png') no-repeat; margin:0 auto;}
.processList03 > li {display: inline-block;position: relative;padding: 20px 0;margin-top: 10px;margin-left: 20px;width: 140px;height: 185px;text-align: center;background: #fff;border: 1px solid #ccc;border-top: 2px solid #437fc1;border-bottom: 1px solid #437fc1;box-sizing: border-box;vertical-align: top;font-size: 14px;color: #043c99;transition : all 0.5s ease;-webkit-transition : all 0.5s ease;font-weight: 600;}
.processList03 > li:first-child {margin-left: 0;}
.processList03 > li:after {display: block;position: absolute;right: -20px;top: 50%;margin-top: -7px;content: "";width: 20px;height: 13px;background: url('/data/menuResources/h28/179/1529546105416.png')no-repeat;}
.processList03 > li:last-child:after {display: none;}
.processList03 > li span {display: block;position: relative;font-size: 15px;font-weight: normal;color: #437fc1;line-height: 110%;}
.processList03 > li span:after {display: block;position: relative;content: "";margin: 0 auto;margin-top: 15px;margin-bottom: 15px;width: 24px;height: 1px;background: #c6c6c6;}
.processList03 > li p {padding-bottom: 20px;height: 30px;line-height: 133%;font-size: 14px;font-weight: normal;color: #043c99;font-weight: bold;}
.book-y li {display: inline-block;padding: 10px 5px 0 0;}
.book-y li:last-child {padding-right: 0}

@media /*(min-width:320px) and*/ (max-width:800px) {
.processList03 > li {padding: 25px 25px 25px 25px;margin-left: 0;margin-top: 35px;width: 100%;box-sizing: border-box;height: auto}
.processList03 > li:first-child {margin-top: 0px;}
.processList03 > li:after {display: block;position: absolute;top: auto;right: 47%;bottom: -32px;margin-top: 0;content: "";width: 20px;height: 30px;background: url('/data/menuResources/h28/179/1529546112322.png')no-repeat;}
.processList03 > li span:after {display: none;}
.processList03 > li p {padding: 10px;height: auto;font-size: 13px;font-weight: normal;color: #555;}
.processList03 > li img {vertical-align: bottom;margin-top: 5px;}
.processList03 > li span.smtx {position: absolute;color: #555;font-size: 13px;right: 25px;top: 50%;margin-top: -18px;}
.book-y li:last-child {padding-top: 5px}
}

/*인사말*/
.greeting { height:650px; background:url('/resources/common/img/greeting.png') 100% 18% no-repeat;}
.infoText {width:55%;float: left;}
.greet_Tit {padding: 22px 0;font-size: 30px;line-height: 38px;font-weight: 600;}
.greet_sTit {font-size: 18px;}
p {font-size: 15px;line-height: 22px;}

@media (max-width:800px) {
.greeting {width:100%; background:none;}
.infoText {width:100%;}
.greet_Tit {padding: 18px 0;font-size: 25px;line-height: 30px;font-weight: 600;}
.greet_sTit {font-size: 15px;}
}

/* 연혁 */
.history-head{border-bottom:1px solid #ddd;padding:20px 0 20px 20%;background:url('/resources/common/img/history.png') no-repeat 2% bottom}
.history-head .t1{font-size:250%;font-weight:800;line-height:120%;padding-bottom:8px}
.history-head .t2{font-size:130%;letter-spacing:-1px;line-height:120%}
.history-head .t2.eng{letter-spacing:0}
.history-head .t2 b{font-weight:800}
.history_wrap{overflow:hidden;border-bottom:1px solid #dbdbdb}
.history_wrap .history_year{overflow:hidden;float:left;width:18%;font-size:240%;font-weight:800;line-height:150%;padding:10px 0 10px 2%}
.history_wrap .history_con{float:left;width:100%;margin-right:-20%}
.history_wrap .history_con .box{position:relative;margin-right:10px;line-height:160%}
.history_wrap .history_con .box ul{padding:15px 0}
.history_wrap .history_con .box ul li{padding:2px 0;overflow:hidden}
.history_wrap .history_con .box ul li span{display:block}
.history_wrap .history_con .box ul li span.fb1,
.history_wrap .history_con .box ul li span.fb2{float:left}
.history_wrap .history_con .box ul li span.fb1{width:110px;font-weight:600}
.history_wrap .history_con .box ul li span.fb2{width:100%;margin-right:-110px}
.history_wrap .history_con .box ul li span.fb2 span{margin-right:110px}
.history_wrap .history_con .box .fb2{margin-right:8px}
@media screen and (max-width:1000px){
	.history-head{padding-left:0;background-position:right bottom}
	.history_wrap .history_year{width:100%;padding-bottom:10px!important}
	.history_wrap .history_con{margin-right:-0%}
	.history_wrap .history_con .box{margin-right:0%;margin-top:0px}
	.history .history_con .box ul{padding-top:0!important}
}
@media screen and (max-width:500px){
	.history-head{background:none}
	.history_wrap .history_con .box ul li span.fb1{width:110px}
	.history_wrap .history_con .box ul li span.fb2{margin-right:-110px}
	.history_wrap .history_con .box ul li span.fb2 span{margin-right:110px}
}
.history2{padding:10px 0 10px 20px}
.history2 li{border-left:1px solid #ccc;padding:5px 0}
.history2 li label{width:88px;color:#333;font-weight:bold}
.history2 li label,
.history2 li span{font-size:105%;display:inline-block;zoom:1;*display:inline;padding:1px 0}
.history2 li div{background:url('/resources/common/img/contents/history2_arr.gif') no-repeat 0 5px;margin-left:-6px;padding-left:30px}

/*층별안내*/

.floorInfo{background-color:#;overflow:hidden;padding:15px}
.floorInfo .tab-menu{width:18%;padding:0}
.floorInfo .tab-menu ul{padding:0;margin:5% 0}
.floorInfo .tab-menu li{width:100%}
.floorInfo .tab-menu li a{font-size:110%;padding:8px 0 9px;text-align:center}
.floorInfo .tab-menu,
.floorInfo .box{float:left}
.floorInfo .box{width:100%;margin-right:-18%;padding:0}
.floorInfo .box .floorImg{margin-right:18%;padding:10px 0 10px 10px;text-align:center;font-size:0;line-height:0}
@media all and (max-width:500px){
 .floorInfo .tab-menu li{width:25%}
 .floorInfo .tab-menu,
 .floorInfo .box,
 .floorInfo .box .floorImg{float:none;width:auto;margin:0}
 .floorInfo .box .floorImg{padding-left:0}
}

.floorInfo2{background-color:#ebebeb;overflow:hidden;padding:40px}
.floorInfo2 .tab-menu{width:18%;padding:0}
.floorInfo2 .tab-menu ul{padding:0;margin:5% 0}
.floorInfo2 .tab-menu li{width:50%;float: left;}
.floorInfo2 .tab-menu li a{font-size:110%;padding:5px 5px 0 5px;text-align:center;}
.floorInfo2 .tab-menu,
.floorInfo2 .box{float:left}
.floorInfo2 .box{width:100%;margin-right:-18%;padding:0}
.floorInfo2 .box .floorImg{margin-right:18%;padding:10px 0 10px 10px;text-align:center;font-size:0;line-height:0}
@media all and (max-width:500px){
 .floorInfo2 .tab-menu li{width:25%}
 .floorInfo2 .tab-menu,
 .floorInfo2 .box,
 .floorInfo2 .box .floorImg{float:none;width:auto;margin:0}
 .floorInfo2 .box .floorImg{padding-left:0}
}

/****20191227 추가 _이은아****/

/* 텍스트 색상 */
.txt_Sred{color:#ed4545;}
.txt_Sblue{color:#2a56a9;}
.txt_Snavy{color:#29303a;}

/* 텍스트 사이즈 */
.txt_18{font-size:18px;}
.txt_20{font-size:20px;}

@media (max-width: 480px){
.txt_20{font-size:100%;}
}

/* 컨텐츠 버튼 */

.btn_wd_p{display:inline-block;}
.p_btn_mr10 {margin-left:10px;}

.ct-btn, .ct-btn2, .cr-btn, .cg-btn, .cb-btn, .ck-btn{display:inline-block; vertical-align:top; height:30px; min-width:100px;text-align:center; -webkit-transition: all 0.1s ease-out;-moz-transition: all 0.1s ease-out;-o-transition: all 0.1s ease-out;transition: all 0.1s ease-out;}
.ct-btn span, .ct-btn2 span, .cr-btn span, .cg-btn span, .cb-btn span, .ck-btn span, .cgray-btn span{padding:0 20px;display:inline-block; vertical-align:top; height:30px; line-height:27px;font-size:13px; letter-spacing:-0.05em;  }
.ct-btn{background:#fff;border:1px solid #c6c4c4;}

.cr-btn{background:#d4373a;border:1px solid #d4373a; color:#fff !important;}
.cb-btn{background:#005fca;border:1px solid #005fca; color:#fff !important;}
.ck-btn{background:#333;border:1px solid #333; color:#fff !important;}

.ct-btn span.down, .ct-btn span.view, .ct-btn span.copy{display:block; height:30px; line-height:28px; position:relative; text-align:left; padding-left:50px; }
.ct-btn span.down:before{background:#f0f2f6 url('/resources/common/img/down-blue.png') no-repeat center center ; width:34px;position:absolute; left:0; top:0; height:100%; border-right:1px solid #c6c4c4; display:block; content:""}
.ct-btn span.view:before{background:#f0f2f6 url('/resources/common/img/view-blue.png') no-repeat center center ; width:34px;position:absolute; left:0; top:0; height:100%; border-right:1px solid #c6c4c4; display:block; content:""}
.ct-btn span.copy:before{background:#f0f2f6 url('/resources/common/img/copy-blue.png') no-repeat center center ; width:34px;position:absolute; left:0; top:0; height:100%; border-right:1px solid #c6c4c4; display:block; content:""}

/* 제목 */
h3.tit{/* margin-bottom:10px; */padding-left:20px;background:url('/resources/common/img/h3_icon.gif') no-repeat 0 22px;font-size:20px;color:#000;line-height:1.2;letter-spacing:-0.05em;}
h3.tit.h3_t{margin-top:50px;}
h4.tit{margin-bottom:15px;font-size:19px;color:#006bb7;line-height:1;letter-spacing:-0.05em;}
h4.tit.h4_t{margin-top:35px;}

/* 텍스트 박스 */
.txt_box{position:relative;}
.txt_box .area{padding:40px 50px;color:#404040;background: #f6f6f6;}
.txt_box .area .cont{width:100%;}
.txt_box .icon_img{position:absolute;bottom:-35px;right:50px;}

@media (max-width: 1100px){
.txt_box{}
.txt_box .area{padding: 25px 35px 25px 20px;box-sizing:border-box;}
.txt_box .area .cont{position:relative;z-index:1;}
.txt_box .area .btxt{margin-bottom:10px;}
.txt_box .icon_img{right:10px;bottom:20px;text-align:right;}
.txt_box .icon_img img{display:none;}
}

/***********************서브컨텐츠***********************/

/* 이용안내 > 자료대출안내 */
.cont_wrap{padding:0;line-height:160%;}

.icon_type_list {width:100%;}
.icon_type_list > li {padding: 25px 0 25px 190px;border-bottom:1px solid #dfdfdf;}
.icon_type_list > li:first-child {padding: 25px 0 25px 190px;}
.icon_type_list.loans li.icon1 {background: url('/resources/common/img/loans_ico01.gif') no-repeat 25px 50%;}
.icon_type_list.loans li.icon2 {background:url('/resources/common/img/loans_ico02.gif') no-repeat 29px 50%;}
.icon_type_list.loans li.icon3 {background:url('/resources/common/img/loans_ico03.gif') no-repeat 29px 50%;}
.icon_type_list.loans li.icon4 {background:url('/resources/common/img/loans_ico04.gif') no-repeat 29px 50%;}

@media (max-width: 1023px){
#cont_wrap {padding: 30px 0;}
}
@media (max-width: 480px){
#cont_wrap {padding-top: 30px;}
.icon_type_list > li, .icon_type_list > li:first-child {padding: 105px 10px 30px 10px !important;}
.icon_type_list > li { margin-bottom: 50px; background-position: 50% 0px !Important;}
}

/* 찾아오시는길 */
.location{width:100%;}
.location .box{width:100%;display:inline-block;padding:40px 0;border-top:1px solid #dfdfdf;}
.location .box:first-child{border-top:0;}
.location .box.last{border-bottom:0 none;}
.location .box .tit{float:left;width:150px;padding-top:100px;text-align:center;color:#444;font-weight:bold;}
.location .box .tit.icon01{background:url('/resources/common/img/map_add.gif') no-repeat center top;}
.location .box .tit.icon02{background:url('/resources/common/img/map_bus.gif') no-repeat center top;}
.location .box .tit.icon03{background:url('/resources/common/img/map_sub.gif') no-repeat center top;}
.location .box .tit.icon04{background:url('/resources/common/img/map_car.png') no-repeat center top;}
.location .box .area{float:right;width:750px;}
.location .box .area .add_num{width:100%;display:inline-block;}
.location .box .area .add_num li{overflow:hidden;float:left;width:50%;margin-bottom:10px;}
.location .box .area .add_num li dl{width:100%;}
.location .box .area .add_num li dl dt{float:left;display:inline-block;width:50px;padding:3px 0 2px;text-align:center;margin-right:5px;font-size:13px;font-weight:bold;color:#fff;}
.location .box .area .add_num li dl dt.num01{background:#005fca;}/*전화*/
.location .box .area .add_num li dl dt.num02{background:#353c47;}/*팩스*/
.location .box .area .add_num li dl dd{float:left;width:250px;margin-left:15px;line-height:25px;}

@media (max-width: 786px){
.location .box{padding:20px 0 10px;}
.location .box .tit{float:none;width:100%;text-align: center;color:#333;box-sizing:border-box; }
.location .box .area{float:none;width:100%;padding-top:10px;}
.location .box .area p{font-size:13px;}
.location .box .area .add_num li{width:100%}
.location .box .area .bus_num li{float:none;width:100%;margin-bottom:0;}
.location .box .area .bus_num li dl dt{width:15%;margin:0;padding:2px 0 1px 0;font-size:11px;font-weight:bold;color:#fff;box-sizing:border-box;}
.location .box .area .bus_num li dl dd{width:85%;margin:0;padding-left:15px;line-height:auto;box-sizing:border-box;}
.location .box .area .bus_num li.wi100 dl dd{width:auto;}
.location .box .area .bus_num li dl dd span{font-size:12px;}
.location .box .area .bus_num li dl dd span.end{background:none;padding-right:0;margin-right:0;}
.location .box .area .add_num li dl dd{float:left;margin-left:15px;line-height:25px;}
}

/*평생교육정보센터 연혁*/

.history_wrap .history_con .box ul li span.fb1,
.history_wrap .history_con .box ul li span.fb2,
.history_wrap .history_con .box ul li span.fb3{float:left}
.history_wrap .history_con .box ul li span.fb3{width:110px;font-weight:600}
@media screen and (max-width:500px){
	.history_wrap .history_con .box ul li span.fb3{width:110px}
	}


/*에니메이션 상단img (미사용)*/

.v-img {position:absolute;z-index:2;top:0;right:30px;width:450px;height:133px;transition: all 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860);animation-duration: 2s;animation-name:v_img;}

@keyframes v_img {
    from {right:80px; opacity:0}
	to {right:30px; opacity:1}
	 
}
@keyframes v_text {
    from {padding-left:30px;  opacity:0}
	to {padding-left:0px;  opacity:1}
	 
}

/*백그라운드 하단img*/
.v1{background:url('/resources/common/img/v1.png') no-repeat right bottom;}
.v2{background:url('/resources/common/img/v2.png') no-repeat right bottom;}
.v3{background:url('/resources/common/img/v3.png') no-repeat right bottom;}
.v4{background:url('/resources/common/img/v4.png') no-repeat right bottom;}
.v5{background:url('/resources/common/img/v5.png') no-repeat right bottom;}
.v6{background:url('/resources/common/img/v6.png') no-repeat right bottom;}
.v7{background:url('/resources/common/img/v7.png') no-repeat right bottom;}
.lib_01{background:url('/resources/common/img/sub_bg01.png') no-repeat right bottom;}

@media screen and (max-width:1024px){
.v1{background:none;}
.v2{background:none;}
.v3{background:none;}
.v4{background:none;}
.v5{background:none;}
.v6{background:none;}
.v7{background:none;}
.lib_01{background:none;}
	}

/*백그라운드 상단img*/
.v1t{background:url('/resources/common/img/v1.png') no-repeat right top;}
.v2t{background:url('/resources/common/img/v2.png') no-repeat right top;}
.v3t{background:url('/resources/common/img/v3.png') no-repeat right top;}
.v4t{background:url('/resources/common/img/v4.png') no-repeat right top;}
.v5t{background:url('/resources/common/img/v5.png') no-repeat right top;}
.v6t{background:url('/resources/common/img/v6.png') no-repeat right top;}
.v7t{background:url('/resources/common/img/v7.png') no-repeat right top;}

@media screen and (max-width:1024px){
.v1t{background:none;}
.v2t{background:none;}
.v3t{background:none;}
.v4t{background:none;}
.v5t{background:none;}
.v6t{background:none;}
.v7t{background:none;}
.lib_01{background:none;}
	}


/*자료실안내 롤링img */
.room_box{width:750px; margin:0 auto; padding: 15px 20px; border: 1px solid rgb(237, 237, 237); border-image: none;}
.roomGuide{overflow:hidden;}
.roomGuide .op_box {width:50.9%;height:300px;background:url("/resources/common/img/room_bg.png")no-repeat;background-size:100%;float:left;}
.roomGuide .op_box p{font-size:30px;color:#fff;font-weight:bold;margin:85px 0 0 30px;}
.roomGuide .op_box .op_txt {width:87%;font-size: 17px;font-weight: 400; line-height:22px; margin-top:30px;margin-left:30px;}
.roomGuide .op_box ul li{color:#fff;}
.roomGuide .popupzone{width:49.1%;float:right;}
.roomGuide .op_box1 {width:50.9%;height:300px;background:url("/resources/common/img/room_bg1.png")no-repeat;background-size:100%;float:left;}
.roomGuide .op_box1 p{font-size:30px;color:#fff;font-weight:bold;margin:85px 0 0 30px;}
.roomGuide .op_box1 .op_txt {width:87%;font-size: 17px;font-weight: 400; line-height:22px; margin-top:30px;margin-left:30px;}
.roomGuide .op_box1 ul li{color:#fff;}
.roomGuide .op_box2 {width:50.9%;height:300px;background:url("/resources/common/img/room_bg2.png")no-repeat;background-size:100%;float:left;}
.roomGuide .op_box2 p{font-size:30px;color:#fff;font-weight:bold;margin:85px 0 0 30px;}
.roomGuide .op_box2 .op_txt {width:87%;font-size: 17px;font-weight: 400; line-height:22px; margin-top:30px;margin-left:30px;}
.roomGuide .op_box2 ul li{color:#fff;}
.roomGuide .op_box3 {width:50.9%;height:300px;background:url("/resources/common/img/room_bg3.png")no-repeat;background-size:100%;float:left;}
.roomGuide .op_box3 p{font-size:30px;color:#fff;font-weight:bold;margin:85px 0 0 30px;}
.roomGuide .op_box3 .op_txt {width:87%;font-size: 17px;font-weight: 400; line-height:22px; margin-top:30px;margin-left:30px;}
.roomGuide .op_box3 ul li{color:#fff;}
.roomGuide .popupzone.only1 .bx-pager{height:0px}
.roomGuide .popupzone.only1 .bx-pager .bx-pager-item{display:none}
.roomGuide .popupzone li{font-size:0;line-height:0;text-align:center}
.roomGuide .bx-pager{text-align:center;padding-top:15px}
.roomGuide.pagerNo .bx-pager{display:none}
.roomGuide .bx-pager-item,
.roomGuide .bx-pager-item a{display:inline-block;zoom:1;*display:inline}
.roomGuide .bx-controls-direction{display:none}
.roomGuide .bx-pager-item a{border:1px solid #f5f5f5;background:#fff;font-size:13px;margin:0 1px;line-height:23px;height:23px;width:23px;text-align:center;border-radius:2px}
.roomGuide .bx-pager-item a.active{background:#5e5e5e;color:#fff;border-color:#5e5e5e}
.roomGuide ol{margin-left:18px}
.roomGuide ol li{list-style:outside decimal;font-weight:800}
.roomGuide ol li p{font-weight:normal;padding:0 0 5px}
.roomGuide ol li em{font-style:normal}
.roomGuide ol li em b{border:1px solid #ccc;background:#fff;display:inline-block;zoom:1;*display:inline;padding:1px 2px}

@media all and (max-width:1000px){
.room_box{width:600px;box-sizing:border-box; }
.roomGuide .op_box p{font-size:23px; margin:55px 0 0 17px;}
.roomGuide .op_box .op_txt {width:90%;font-size: 15px;line-height:20px; margin-top:17px;margin-left:17px;}
.roomGuide .op_box1 p{font-size:23px; margin:55px 0 0 17px;}
.roomGuide .op_box1 .op_txt {width:90%;font-size: 15px;line-height:20px; margin-top:17px;margin-left:17px;}
.roomGuide .op_box2 p{font-size:23px; margin:55px 0 0 17px;}
.roomGuide .op_box2 .op_txt {width:90%;font-size: 15px;line-height:20px; margin-top:17px;margin-left:17px;}
.roomGuide .op_box3 p{font-size:23px; margin:55px 0 0 17px;}
.roomGuide .op_box3 .op_txt {width:90%;font-size: 15px;line-height:20px; margin-top:17px;margin-left:17px;}
}

@media all and (max-width:500px){
.room_box{width:100%;}
.roomGuide .op_box {display:none;}
.roomGuide .op_box1 {display:none;}
.roomGuide .op_box2 {display:none;}
.roomGuide .op_box3 {display:none;}
.roomGuide .popupzone{width:100%;}
}

/*자료실 롤링img(작은사진)*/
.roomGuide01 {overflow: hidden;}
.roomGuide01 .info {float: left; width:60%; margin-right: -380px}
.roomGuide01 .info .box {margin-right: 20px;padding-left: 3%}
.roomGuide01 .info2 {clear: both;padding: 10px 0 0}
.roomGuide01 h4 a.btn {padding: 1px 10px}
.roomGuide01 h4 a.btn span {font-size: 80%;font-weight: normal;letter-spacing: -1px}
.roomGuide01 h4 a.btn i {margin: 0 0 0 5px}
.roomGuide01 .popupzone01 {float: left;width: 380px;padding: 25px 0px 25px;background: url('/resources/common/img/bg_facility_photo.gif' ) no-repeat 0 bottom;border-top: 1px solid #d7d7d0}
.roomGuide01 .popupzone01.only1 .bx-pager {height: 0px}
.roomGuide01 .popupzone01.only1 .bx-pager .bx-pager-item {display: none}
.roomGuide01 .popupzone01 strong.title {display: block;height: 22px;text-align: center;color: #333}
.roomGuide01 .popupzone01 strong.title .t1 {color: #e54413}
.roomGuide01 .popupzone01 li {font-size: 0;line-height: 0;text-align: center}
.roomGuide01 .bx-pager {text-align: center;padding-top: 2px}
.roomGuide01 .pagerNo .bx-pager {display: none}
.roomGuide01 .bx-pager-item, .roomGuide01 .bx-pager-item a {display: inline-block;zoom: 1;*display:inline}
.roomGuide01 .bx-controls-direction {display: none}
.roomGuide01 .bx-pager-item a {border: 1px solid #f5f5f5;background: #fff;font-size: 11px;margin: 0 1px;line-height: 16px;height: 16px;width: 16px;text-align: center;border-radius: 2px}
.roomGuide01 .bx-pager-item a.active {background: #72b628;color: #fff;border-color: #5e9c1a}
.roomGuide01 ol {margin-left: 18px}
.roomGuide01 ol li {list-style: outside decimal;font-weight: 800}
.roomGuide01 ol li p {font-weight: normal;padding: 0 0 5px}
.roomGuide01 ol li em {font-style: normal}
.roomGuide01 ol li em b {border: 1px solid #ccc;background: #fff;display: inline-block;zoom: 1;*display:inline;padding: 1px 2px}

@media all and (max-width:1024px) {
.roomGuide01 .popupzone01{float:none;}
.roomGuide01 .info {width:90%; }
.roomGuide01 .info .box {padding-left: 0%}
}

@media all and (max-width:450px) {
.roomGuide01 .popupzone01 {float:none;width:100%;background-size:cover;}
.roomGuide01 .info, .roomGuide01 .info .box {margin: 0;padding: 0}
}

/*228센터소개 아이콘*/
.s_center ul.purpose{display:inline-block;width:100%;}
.s_center ul.purpose li{float:left;width:200px;padding-left:120px;background:url('/resources/common/img/s0101_plus.gif') no-repeat 48px 63px;text-align:center;}
.s_center ul.purpose li:first-child{padding-left:0;background:none;}
.s_center ul.purpose li span{display:block;padding-top:180px;font-size:15px;line-height:23px;color:#222;word-break:keep-all;}
.s_center ul.purpose li.icon01 span{background:url('/resources/common/img/s0101_icon01.gif') no-repeat top center;}
.s_center ul.purpose li.icon02 span{background:url('/resources/common/img/s0101_icon02.gif') no-repeat top center;}
.s_center ul.purpose li.icon03 span{background:url('/resources/common/img/s0101_icon03.gif') no-repeat top center;}

@media(max-width:736px){
.s_center ul.purpose li{float:none;width:auto;padding:40px 0 20px 0;background-size:12px auto;background-position:center top;}
.s_center ul.purpose li:first-child{padding-top:0;}
.s_center ul.purpose li span{padding-top:120px;background-size:100px auto !important;}
}

/*228정보공개청구*/
#cont_wrap {float:center;width:960px;color:#666;line-height:160%;padding-bottom:70px;}
.info_wrap{display:inline-block;margin-top:60px;padding-bottom:65px;border-bottom:1px solid #ddd;}
.info_open{width:480px;text-align:center;border-left:1px solid #ececec;}
.info_open:first-child{border-left:0px;}
.info_open.icon01{float:left;background:url('/resources/common/img/info_open_icon1.gif') no-repeat 50% 0px;}
.info_open.icon02{float:right;background:url('/resources/common/img/info_open_icon2.gif') no-repeat 50% 0px;}
.info_open dl{width:400px;margin:0 auto;padding-top:115px;}
.info_open dl dt{margin-bottom:15px;color:#222;font-size:17px;font-weight:600;}
.info_open dl dd{margin:0 auto;color:#666;font-size:14px;line-height:22px;word-break:keep-all;}
.con_sbtn2{display:inline-block;margin-top:30px;padding:6px 50px 6px 50px;font-size:13px;font-family: 'Open Sans', sans-serif;font-weight:400;line-height:normal;vertical-align:middle;text-align:center;border:1px solid #555555;border-radius:50px;letter-spacing:-0.05em;color:#555555; no-repeat right 50%;}
.con_sbtn2:hover{color:#244788; font-weight:600; no-repeat right 50%;}

@media(max-width:1240px){
#cont_wrap {float:none;width:95%;margin:0 auto;padding:35px 0;}
.info_wrap{margin-top:40px;padding-bottom:0;border-bottom:0 none;}
.info_open{width:400px;}
.info_open dl{width:90%;padding-top:110px;}
}

@media(max-width:1030px){
.info_open{width:300px;}
.info_open dl{width:90%;padding-top:110px;}
}

@media(max-width:840px){
.info_open{width:100%;margin-top:30px;padding-top:30px;border-top:1px solid #dbdbdb;border-left:0 none;}
.info_open:first-child{border-top:0px;padding-top:0;}
.info_open.icon01,
.info_open.icon03{float:none;background-position:center top;}
.info_open.icon02,
.info_open.icon04{float:none;background-position:center 35px;}
.info_open dl{width:85%;padding-top:110px;}
}

/*228의의*/
.mind{width:100%;}
.mind .top_area{width:100%;margin-bottom:25px;text-align:center;color:#222;}
.mind .top_area .tit strong{font-family:'NotoKrB', sans-serif;font-weight:normal;}
.mind .top_area .txt{margin-top:2px;}
.mind .num_tit{width:100%;padding-top:60px;margin-bottom:35px;text-align:center;background:url('/resources/common/img/hisline02.gif') no-repeat top center;}
.mind .num_tit .eng{width:36px;height:36px;margin:0 auto 20px auto;color:#fff;text-align:center;line-height:36px;font-weight:bold;background:#000;}
.mind .num_tit .tit{font-size:23px;line-height:32px;text-align:center;color:#222;font-family:'NotoKrB', sans-serif;}
.mind .num_tit .tit span.orange{color:#e86200;}
.mind .num_tit .tit span.blue{color:#1956b2;}
.mind .num_tit .tit span.red{color:#b21919;}
.mind .cont{line-height:28px;color:#444;}
.mind .section01{padding:0 60px 60px 60px;background:#000f1d url('/resources/common/img/hisbg01.gif') no-repeat bottom center;}
.mind .section01 .num_tit{background:url('/resources/common/img/hisline01.gif') no-repeat top center;}
.mind .section01 .num_tit .eng{background:#fff;color:#000;}
.mind .section01 .num_tit .tit{color:#fff;}
.mind .section01 .cont{color:#fff;}
.mind .section02{width:100%;padding-bottom:60px;border-bottom:1px solid #dfdfdf;}
.mind .section02 .img{margin:15px 0;}
.mind .section03{width:100%;margin-bottom:60px;}
.mind .section03 .img_b{width:100%;display:inline-block;margin: 15px 0;}
.mind .section03 .img_b .img{float:right;}
.mind .section03 .img_b .img:first-child{float:left;}
.mind .section04{padding:0 60px 350px 60px;background:#faf5f5 url('/resources/common/img/hisbg05.gif') no-repeat bottom center;}

@media(max-width:736px){
.mind .top_area .tit{font-size:25px;}
.mind .section01{padding:0 30px 40px 30px;}
.mind .section02{padding-bottom:40px;}
.mind .section02 .img img{width:100%;}
.mind .section03{margin-bottom:40px;}
.mind .section03 .img_b .img{float:none;}
.mind .section03 .img_b .img:first-child{float:none;}
.mind .section03 .img_b .img img{width:100%;}
.mind .section04{padding:0 40px 350px 40px;}	
}

