<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.whalesoft.app.cms.quickMenu.QuickMenuDao">
	
	<select id="getQuickMenuListAll" resultType="kr.co.whalesoft.app.cms.quickMenu.QuickMenu">
		SELECT
			homepage_id, quick_idx, menu_name, link_url, link_target,
			org_file_name, server_file_name, file_extension, file_size, view_yn,
			link_use_yn, print_seq, add_id, add_date
		FROM
			CMS_QUICK_MENU
		WHERE
			homepage_id = #{homepage_id}
		AND	view_yn = 'Y'
		<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
		AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
		ORDER BY
			print_seq ASC
	</select>
	
	<select id="getQuickMenuList" resultType="kr.co.whalesoft.app.cms.quickMenu.QuickMenu">
		${pagingTop}
			SELECT
				homepage_id, quick_idx, menu_name, link_url, link_target,
				org_file_name, server_file_name, file_extension, file_size, view_yn,
				link_use_yn, print_seq, add_id, add_date
			FROM
				CMS_QUICK_MENU
			WHERE
				homepage_id = #{homepage_id}
			<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
			AND	${search_type} LIKE '%'||#{search_text}||'%'
			</if>
			ORDER BY
				print_seq ASC
		${pagingBottom}
	</select>
	
	<select id="getQuickMenuListCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			CMS_QUICK_MENU
		WHERE
			homepage_id = #{homepage_id}
		<if test="search_type != null and search_type != '' and search_text != null and search_text != ''">
		AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
	</select>
	
	<select id="getQuickMenuOne" resultType="kr.co.whalesoft.app.cms.quickMenu.QuickMenu">
		SELECT
			homepage_id, quick_idx, menu_name, link_url, link_target,
			org_file_name, server_file_name, file_extension, file_size, view_yn,
			link_use_yn, print_seq, add_id, add_date
		FROM
			CMS_QUICK_MENU
		WHERE
			homepage_id = #{homepage_id}
		AND	quick_idx = #{quick_idx}
	</select>
	
	<insert id="addQuickMenu">
		<selectKey keyProperty="quick_idx" resultType="int" order="BEFORE">
			SELECT NVL(MAX(quick_idx),0)+1 FROM CMS_QUICK_MENU WHERE homepage_id = #{homepage_id}
		</selectKey>
	
		INSERT INTO
			CMS_QUICK_MENU
		(
			homepage_id, quick_idx, menu_name, link_url, link_target,
			org_file_name, server_file_name, file_extension, file_size, view_yn,
			link_use_yn, print_seq, add_id, add_date
		) VALUES (
			#{homepage_id}, #{quick_idx}, #{menu_name}, #{link_url}, #{link_target},
			#{org_file_name}, #{server_file_name}, #{file_extension}, #{file_size}, #{view_yn},
			#{link_use_yn}, #{print_seq}, #{add_id}, SYSDATE
		)
	</insert>
	
	<update id="modifyQuickMenu">
		UPDATE 
			CMS_QUICK_MENU
		SET
			menu_name = #{menu_name},
			link_url = #{link_url},  
			link_target = #{link_target}, 
			<if test="server_file_name != null and server_file_name != ''">
			org_file_name = #{org_file_name},
			server_file_name = #{server_file_name}, 
			file_extension = #{file_extension}, 
			file_size = #{file_size}, 
			</if>
			view_yn = #{view_yn}, 
			link_use_yn = #{link_use_yn},
			print_seq = #{print_seq},
			modify_id = #{modify_id},
			modify_date = SYSDATE
		WHERE 
			homepage_id = #{homepage_id}
		AND	quick_idx = #{quick_idx}
	</update>
	
	<delete id="deleteQuickMenu">
		DELETE FROM
			CMS_QUICK_MENU
		WHERE
			homepage_id = #{homepage_id}
		AND	quick_idx = #{quick_idx}
	</delete>
	
</mapper>