@charset "utf-8";
@import url("../css/font-style.css");

/* 스타일 */ /* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,address {font-size:16px;}
html {-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;height: 100%;}
body {font-size: 1em;line-height: 1.6;font-weight: normal;font-family: /*'Noto Sans',*/'S-CoreDream-4Regular', '맑은 고딕', 'Malgun Gothic', 'AppleGothic', serif;color: #333;/*letter-spacing: -0.1px;*/}
b, em, strong {font-style: normal;}

#wrap {padding:0;margin:0;}

a:hover, a:focus{color:#2b74c0}

#allbg{position:fixed;z-index:1;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.2);display:none}

i.fa-external-link {display:none;}

a:hover,
a:focus{color:#2b74c0}

/* header */
.tnb {position:relative;margin:0 auto;box-sizing:border-box;z-index:999999;background:#f4f4f4;border-bottom:1px solid #e0e0e0;}
.tnb .l-util {float:left;}
.tnb .l-util ul li {float:left;display:inline-block;letter-spacing:-1.5px;}
.tnb .l-util ul li:first-child {margin-right:1px;}
.tnb .l-util a {position:relative;display:block;line-height:45px;height:45px;width:192px;text-align:center;border-right:1px solid #e0e0e0;box-sizing:border-box;font-size:15px;color:#161616;font-weight:bold;letter-spacing: normal;}
.tnb .l-util a:hover {background:#343434;color:#fff;}

.tnb .util {position:absolute;right:120px;top:85px;padding:0;z-index:999999;}
.tnb .util a {font-size:15px;color:#161616;font-weight:bold;display:inline-block;margin-top:0;}
.tnb .util b {font-size:17px;color:#161616;}

h1.web-logo a {display:block;background:url('../img/archive_logo_b.png') no-repeat center center;width:285px;height:46px;font-size:0;}
h1.mobile-logo {display:none;}

#header .head {position:relative;z-index:20;clear:both;background-color:#fff;}
#header h1.web-logo {position:absolute;z-index:10000;top:25px;left:35px;}

.popupWrap{z-index:6}

#container.subpage{padding-top:145px;}
.content{text-align:left;}

/* Gnb */
.Gnb {clear:both;text-align:center;width:100%;height:100px;overflow:inherit;position:relative;border-bottom:1px solid #e0e0e0;}
.Gnb .g-menu {position:relative;}
.Gnb .g-menu a.last-box {position:absolute;right:0;top:0;}

.Gnb .gnb-menu {position:relative;text-align:center;}
.Gnb .gnb-menu > li{padding:0 1.8%;text-align:right;position:static;;background:url('../img/menu_dot.png')no-repeat 0 center;}
.Gnb .gnb-menu>li:last-child{padding-right:20px;}
.Gnb .gnb-menu>li>a{padding:0;line-height:100px;height:100px;font-size:20px;color:#000;font-weight:bold;}
.Gnb .gnb-menu>li>ul{display:none;background:#666;border:0;left:0;white-space:nowrap;text-align:right}
.Gnb .gnb-menu>li.active>ul{display:block}
.Gnb .gnb-menu>li>.SubMenu>li{width:auto;padding:0 1px;}
.Gnb .gnb-menu>li>.SubMenu>li{display:inline-block}
.Gnb .gnb-menu>li>.SubMenu>li>a{font-size: 15px;letter-spacing: 0;padding:0 5px;color:#eee;}
.Gnb .gnb-menu>li>.SubMenu>li>a:hover,
.Gnb .gnb-menu>li>.SubMenu>li>a:focus{background:none;color:#ff8d12;}
.Gnb .mask,
.Gnb .gnb-menu>li>ul{width:100%;background: #333;}
.Gnb .gnb-menu>li.menu1>ul,
.Gnb .gnb-menu>li.menu2>ul,
.Gnb .gnb-menu>li.menu3>ul,
.Gnb .gnb-menu>li.menu4>ul,
.Gnb .gnb-menu>li.menu5>ul{text-align:center}
.Gnb .gnb-menu>li.menu1>ul{padding-right:525px;}
.Gnb .gnb-menu>li.menu2>ul{padding-right:180px;}
.Gnb .gnb-menu>li.menu3>ul{margin-left:270px;width:80%;}
.Gnb .gnb-menu>li.menu4>ul{padding-left:550px;}
.Gnb .gnb-menu>li.menu5>ul{padding-left:460px;}
.Gnb .gnb-menu>li.menu6>ul{padding-right:390px;}
.Gnb .mask,
.Gnb .gnb-menu>li>ul{background: #333;}
.Gnb .gnb-menu>li.on>a,
.Gnb .gnb-menu>li>a:hover,
.Gnb .gnb-menu>li>a:focus{color: #333;}

.Gnb .mask, .Gnb .gnb-menu>li>.SubMenu{margin-top:0 !important;}

.txt-bar{background:#55585f !important;}

/*푸터*/
#foot_section .mFooter {}
#foot_section .mFooter .top {position:relative;background:#f6f6f6;padding:18px 0;}
#foot_section .mFooter .site_link {margin-top:30px;}
#foot_section .mFooter .site_link div > div{width:200px;border:1px solid #727272;background:#303030;padding:0 10px;}
#foot_section .mFooter .site_link div > div,
#foot_section .mFooter .site_link a.btn{height:42px;line-height:42px;z-index:100;margin-bottom:5px;margin-left:-1px;}
#foot_section .mFooter .site_link a.btn{padding:0 10px;border-radius:0;background:transparent;border:0;border-top:1px solid #727272;border-bottom:1px solid #727272;border-right:1px solid #727272;color:#C9C9C9;box-sizing:border-box;}
#foot_section .mFooter .site_link a.btn:hover,
#foot_section .mFooter .site_link a.btn:focus{}
#foot_section .mFooter .site_link02{position:absolute;top:-30px;right:0;}
#foot_section .mFooter .bottom {padding:40px 0;background:#343434;}
#foot_section .mFooter .bottom p {display:block;padding-bottom:5px;font-size:15px;line-height:170%;}
#foot_section .mFooter .bottom p em b{color:#ccc;padding-right:10px;}
#foot_section .mFooter .bottom p em {font-style:normal;color:#C9C9C9;}
#foot_section .mFooter .bottom span{font-size:15px;color:#D0D0D0;line-height:150%;}

.right-location{position:absolute;right:0;top:0;}
.right-location select {font-size:13px;width:250px;height:40px;padding:0 0 0 15px;border:0;background:#343434 url('/resources/homepage/elib/img/arrow.png') no-repeat 95% 50%;color:#bbb;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.right-location select.recommendSite2 {}
.right-location select::-ms-expand {display:none;}
.right-location span {display:block;border:1px solid #727272;color:#bbb;}
.right-location a.sel-btn {display:inline-block;text-align:center;border-left:1px solid #727272;width:50px;padding:14px 0 13px;color:#bbb;font-size:13px;}

.sections .info a{font-size:16px;color:#000;}
.sections .info a b {}
.sections .info span.bar{font-size:12px;color:#333;padding:0 18px;}

#foot_section .mFooter .site_link > div > div,
#foot_section .mFooter .site_link > div > div {position:relative;display:inline-block;zoom:1;*display:inline;margin:0;vertical-align:middle;margin-right:-5px;margin-bottom:5px;}
#foot_section .mFooter .site_link > div > div > a.fsite,
#foot_section .mFooter .site_link > div > div > a.fsite{display:block;padding:0 8px;height:41px;line-height:41px;border-right-width:0;text-align:left;}
#foot_section .mFooter .site_link > div > div > ul,
#foot_section .mFooter .site_link > div > div > ul{position:absolute;bottom:43px;left:0;width:100%;text-align:left;border-top:1px solid #ccc;background:#fff}
#foot_section .mFooter .site_link > div > div > ul,
#foot_section .mFooter .site_link > div > div > ul{overflow-y:auto;border-right:1px solid #ccc}
#foot_section .mFooter .site_link > div > div > ul > li,
#foot_section .mFooter .site_link > div > div > ul > li{line-height:25px;border-left:1px solid #ccc}
#foot_section .mFooter .site_link > div > div > ul > li > a,
#foot_section .mFooter .site_link > div > div > ul > li > a{color:#666;display:block;padding:3px 6px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#foot_section .mFooter .site_link > div > div > a > span,
#foot_section .mFooter .site_link > div > div > a > span{display:inline-block;zoom:1;*display:inline;vertical-align:middle;line-height:28px;height:28px;color:#C9C9C9;}
#foot_section .mFooter .site_link > div > div > a > span.f1,
#foot_section .mFooter .site_link > div > div > a > span.f1{display:block;width:100%;height:40px;line-height:40px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
#foot_section .mFooter .site_link > div > div > a > span.f2,
#foot_section .mFooter .site_link > div > div > a > span.f2{position:absolute;right:10px;top:0;width:20px;height:40px;line-height:40px;}
#foot_section .mFooter .site_link > div > div > a > span > i,
#foot_section .mFooter .site_link > div > div > a > span > i{border-color:#888 transparent transparent transparent;border-style:solid;border-width:5px 4px 0 4px;width:0;height:0;left:50%;position:absolute;top:50%}
#foot_section .mFooter .site_link > div > div > a > span > i,
#foot_section .mFooter .site_link > div > div > a:hover > span > i,
#foot_section .mFooter .site_link > div > div > a > span > i,
#foot_section .mFooter .site_link > div > div > a:hover > span > i{margin-top:-2px}
#foot_section .mFooter .site_link > div > div > a.active > span > i,
#foot_section .mFooter .site_link > div > div > a.active > span > i{border-color:transparent transparent #888 transparent;border-width:0 4px 5px 4px}
#foot_section .mFooter .site_link > div > div > ul > li > a.disabled,
#foot_section .mFooter .site_link > div > div > ul > li > a.disabled{color:#999}
#foot_section .mFooter .site_link > div > div > ul > li > a:hover,
#foot_section .mFooter .site_link > div > div > ul > li > a:hover{background:#5897fb;color:#fff;}

/**/
#s_foot_section .sFooter {}
#s_foot_section .sFooter .f_menu {background:#1a1c20;height:60px;line-height:60px;}
#s_foot_section .sFooter .f_menu .in {width:1200px;margin:0 auto;}
#s_foot_section .sFooter .f_menu .in ul {}
#s_foot_section .sFooter .f_menu .in ul li {display:inline-block;margin-right:18px;}
#s_foot_section .sFooter .f_menu .in ul li a {display:block;font-size:15px;color:#ccc;transition:all 0.2s;}
#s_foot_section .sFooter .f_menu .in ul li a:hover,
#s_foot_section .sFooter .f_menu .in ul li:first-child a:hover {color:#466db8}
#s_foot_section .sFooter .f_menu .in ul li:first-child a {color:#e85c31}
#s_foot_section .sFooter .f_info{background:#121316;padding:30px 0 50px;}
#s_foot_section .sFooter .f_info .in {width:1200px;margin:0 auto;position:relative;}
#s_foot_section .sFooter .f_info .in ul li {margin-bottom:1px;color:#aaa;}
#s_foot_section .sFooter .f_info .in ul li br {display:none;}
#s_foot_section .sFooter .f_info .in ul li strong {display:inline-block;width:55px;height:22px;line-height:23px;text-align:center;border:1px solid #545454;margin-right:20px;font-size:inherit;font-weight:400;}
#s_foot_section .sFooter .f_info .in ul li span.tel {font-size:14px;color:#aaa;margin-left:20px;}
#s_foot_section .sFooter .f_info .in ul li span.fax {font-size:14px;color:#aaa;margin-left:20px;}
#s_foot_section .sFooter .f_info .in .copyright {font-size:15px;color:#aaa;padding-top:20px;}
#s_foot_section .sFooter .f_info .in .f_logo {position:absolute;top:0;right:0;}


.banner-box{padding:20px 0;}
.banner-wrap .banner-box5 .bx-wrapper .bx-viewport{height:55px !important;margin-top:5px;}
.banner-wrap .banner-box5 .bx-wrapper .bx-viewport ul.banner-roll li img{border:1px solid #e5e5e5;}

.banner-wrap>.banner-t5{width:auto;padding-right:0;}
.banner-wrap .banner-t5 .control{padding:10px 0 15px;}
.banner-wrap .banner-t5 .control a{top:5px !important;width:30px;height:30px;margin-right:10px;}
.banner-wrap .banner-t5 .control a.next, .banner-wrap .banner-t5 .control a.prev{line-height:35px;}
.banner-wrap .banner-t5 .control a.more{margin-right:20px;}

/* 도서관 둘러보기 */
.libView{padding:0 0 10px}
.libView strong{display:block;color:#004c92}

@media (max-width:1000px){
	.libView{text-align:center}
}

h2.tit{font-size:120%;background:url('/resources/homepage/cs/img/contents/text01.jpg') no-repeat 0 0;height:80px;padding:20px 0;padding-left:120px;margin-top:0;margin-bottom:20px}
h2.tit span{display:block;border-bottom:1px solid #e5e5e5;margin-bottom:15px;padding:5px 10px 5px}
h2.tit02{background-image:url('/resources/homepage/cs/img/contents/text02.jpg')}
h2.tit03{background-image:url('/resources/homepage/cs/img/contents/text03.jpg')}
h2.tit04{background-image:url('/resources/homepage/cs/img/contents/text04.jpg')}
h2.tit05{background-image:url('/resources/homepage/cs/img/contents/text05.jpg')}
h2.tit06{background-image:url('/resources/homepage/cs/img/contents/text06.jpg')}
h2.tit07{background-image:url('/resources/homepage/cs/img/contents/text07.jpg')}

/* 콘텐츠 */
.color1{color:#095077}
.color2{color:#337a82}

.search-form .detail_search .section .title-box input{padding-left:180px !important;}

@media (max-width:550px){
	table.color-set > tbody > tr,
	table.color-set > tbody > tr > td{display:block}
}

@media all and (max-width:1279px){
	.tnb .util {right:10px;top:11px;}
}

@media all and (max-width:1024px){
	.tnb .l-util {display:none;}
	.tnb {height:65px;padding:0;}
	.Gnb .g-menu .util {display:none;}

	h1.mobile-logo {display:block;padding:10px 0 0 10px;}
	h1.mobile-logo a {display:block;background:url('../img/archive_logo_b.png') no-repeat center center;width:285px;height:46px;background-size:100%!important;font-size:0;}

	#container.subpage{padding-top:65px;}

	.right-location{position:relative;right:auto;top:auto;margin:20px auto 0;width:302px;}
	.right-location span{display:inline-table;}
}

@media all and (max-width:767px){
	.home-up {display:none;bottom:20px;}
	h1.mobile-logo a {width:185px;}

}

@media all and (max-width:650px){
	#foot_section .mFooter .bottom p {font-size:14px;}
	#foot_section .mFooter .bottom span{font-size:14px;}

	.search-form .detail_search .section .title-box input{padding-left:110px !important;}
}

@media all and (max-width:550px){
	#foot_section .mFooter .bottom p {font-size:13px;}
	#foot_section .mFooter .bottom span{font-size:13px;}
}

@media all and (max-width:500px){
	#foot_section .mFooter .bottom p {font-size:12px;}
	#foot_section .mFooter .bottom span{font-size:12px;}
}

@media all and (max-width:425px){
	.home-up{bottom:300px}
}

@media all and (max-width:375px){
}

@media all and (max-width:330px){
}