<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.lecture.lectureInfo.LectureInfoDao">

	<sql id="column">
        <![CDATA[
		CASE
			WHEN TO_DATE(request_start_date, 'yyyy-mm-dd') > TO_DATE(SYSDATE, 'yyyy-mm-dd') THEN '모집예정'
			WHEN TO_DATE(request_end_date, 'yyyy-mm-dd') < TO_DATE(SYSDATE, 'yyyy-mm-dd') THEN '모집마감'
			WHEN (SELECT COUNT(*) FROM LECTURE_REQUEST C WHERE (C.request_type = '온라인') AND C.lecture_id = LECTURE_INFO.lecture_id AND C.request_status NOT IN('예약취소')) >= (online_person_count + wait_person_count) THEN '정원마감'
			WHEN (SELECT COUNT(*) FROM LECTURE_REQUEST C WHERE C.request_status = '추첨대기' AND C.lecture_id = LECTURE_INFO.lecture_id) >= (wait_person_count) AND request_type = '추첨제' THEN '정원마감'
			WHEN TO_DATE(request_start_date, 'yyyy-mm-dd') <= TO_DATE(SYSDATE, 'yyyy-mm-dd') AND TO_DATE(request_end_date, 'yyyy-mm-dd') >= TO_DATE(SYSDATE, 'yyyy-mm-dd') THEN '모집중'
		END AS lecture_status1,
			CASE
				WHEN TO_DATE(edu_start_date, 'yyyy-mm-dd') > TO_DATE(SYSDATE, 'yyyy-mm-dd') THEN '교육대기'
				WHEN TO_DATE(edu_start_date, 'yyyy-mm-dd') <= TO_DATE(SYSDATE, 'yyyy-mm-dd') AND TO_DATE(edu_end_date, 'yyyy-mm-dd') >= TO_DATE(SYSDATE, 'yyyy-mm-dd') THEN '교육중'
				WHEN TO_DATE(edu_end_date, 'yyyy-mm-dd') < TO_DATE(SYSDATE, 'yyyy-mm-dd') THEN '교육마감'
		END AS lecture_status2,
			(SELECT COUNT(*) FROM LECTURE_REQUEST C WHERE C.request_type = '온라인' AND C.request_status = '예약완료' AND C.lecture_id = LECTURE_INFO.lecture_id) AS online_request_count,
			(SELECT COUNT(*) FROM LECTURE_REQUEST C WHERE C.request_type = '오프라인' AND C.request_status = '예약완료' AND C.lecture_id = LECTURE_INFO.lecture_id) AS offline_request_count,
			(SELECT COUNT(*) FROM LECTURE_REQUEST C WHERE C.request_status IN ('예약대기', '추첨대기') AND C.lecture_id = LECTURE_INFO.lecture_id) AS wait_request_count,
			ROW_NUMBER() OVER (ORDER BY lecture_id) AS reverse_rownum, homepage_id, course_id,lecture_id,lecture_title,
		    edu_start_date,edu_end_date,edu_start_time,edu_end_time,request_start_date,request_end_date,edu_school,
		    online_person_count,offline_person_count,wait_person_count,request_type,teacher_name,teacher_tel,supporter_name,
		    supporter_tel,edu_school_map,lecture_content,add_date,add_ip,add_id,edu_address_1,edu_address_2,teacher_id,
		    day_week,edu_second_school
		]]>
	</sql>

	<sql id="where">
		<where>
			homepage_id = #{homepage_id}
			<if test="(search_type != null and search_type != '') and (search_text != '' and search_text != '')">
				AND	${search_type} LIKE '%'||#{search_text}||'%'
			</if>
			<if test="searching_course_id != null and searching_course_id != ''">
				AND	course_id = #{searching_course_id}
			</if>


			<if test="searching_reservation != null and searching_reservation != '' and searching_reservation == 1">
				AND	request_start_date <![CDATA[>]]> TO_CHAR(SYSDATE, 'yyyy-MM-dd')
			</if>
			<if test="searching_reservation != null and searching_reservation != '' and searching_reservation == 2">
				AND	request_start_date <![CDATA[<=]]> TO_CHAR(SYSDATE, 'yyyy-MM-dd')
				AND request_end_date <![CDATA[>=]]> TO_CHAR(SYSDATE, 'yyyy-MM-dd')
			</if>
			<if test="searching_reservation != null and searching_reservation != '' and searching_reservation == 3">
				AND	request_end_date <![CDATA[<]]> TO_CHAR(SYSDATE, 'yyyy-MM-dd')
			</if>


			<if test="searching_edu_status != null and searching_edu_status != '' and searching_edu_status == 1">
				AND	edu_start_date <![CDATA[>]]> TO_CHAR(SYSDATE, 'yyyy-MM-dd')
			</if>
			<if test="searching_edu_status != null and searching_edu_status != '' and searching_edu_status == 2">
				AND	edu_start_date <![CDATA[<=]]> TO_CHAR(SYSDATE, 'yyyy-MM-dd')
				AND edu_end_date <![CDATA[>=]]> TO_CHAR(SYSDATE, 'yyyy-MM-dd')
			</if>
			<if test="searching_edu_status != null and searching_edu_status != '' and searching_edu_status == 3">
				AND	edu_end_date <![CDATA[<]]> TO_CHAR(SYSDATE, 'yyyy-MM-dd')
			</if>


			<if test="searching_request_type != null and searching_request_type != ''">
				AND	request_type = #{searching_request_type}
			</if>
			<if test="(start_period != null and start_period != '')">
				AND	request_end_date <![CDATA[>=]]> #{start_period}
			</if>
			<if test="(end_period != null and end_period != '')">
				AND	request_start_date <![CDATA[<=]]> #{end_period}
			</if>
		</where>
	</sql>

	<select id="getLectureInfoList" resultType="kr.go.gbelib.app.cms.module.lecture.lectureInfo.LectureInfo">
		${pagingTop}
		SELECT
			<include refid="column" />
		FROM
			LECTURE_INFO
		<include refid="where" />
		ORDER BY lecture_id DESC
		${pagingBottom}
	</select>

	<select id="getOngoingCourseLectureInfoList" resultType="kr.go.gbelib.app.cms.module.lecture.lectureInfo.LectureInfo">
		${pagingTop}
		SELECT
		<include refid="column" />
		FROM
		LECTURE_INFO
		<include refid="where" />
			AND course_id = (<![CDATA[
					SELECT course_id
					FROM (SELECT rownum, course_id
						  FROM course_info
						  WHERE VIEW_START_DATE <= SYSDATE AND VIEW_END_DATE >= SYSDATE  AND use_yn = 'Y' AND rownum = 1)
				]]>)
		ORDER BY lecture_id DESC
		${pagingBottom}
	</select>

	<select id="getOngoingCourseLectureInfoCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
		LECTURE_INFO
		<include refid="where" />
		AND course_id = (<![CDATA[
					SELECT course_id
					FROM (SELECT rownum, course_id
						  FROM course_info
						  WHERE VIEW_START_DATE <= SYSDATE AND VIEW_END_DATE >= SYSDATE AND use_yn = 'Y' AND rownum = 1)
				]]>)
		ORDER BY lecture_id DESC
	</select>

	<select id="getLectureInfoListByHomepageIdAndCourseId" resultType="kr.go.gbelib.app.cms.module.lecture.lectureInfo.LectureInfo">
		SELECT
			<include refid="column" />
		FROM
		LECTURE_INFO
		WHERE
			homepage_id = #{param1}
		AND
			course_id = #{param2}
		ORDER BY lecture_id DESC
	</select>

	<select id="getLectureInfoCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			LECTURE_INFO
		<include refid="where" />
	</select>

	<select id="getLectureInfoCountByHomepageIdAndCourseId" resultType="int">
		SELECT
		COUNT(*)
		FROM
		LECTURE_INFO
		WHERE
			homepage_id = #{param1}
		AND course_id = #{param2}
	</select>

	<select id="getLectureInfoListByRequestAddId" resultType="kr.go.gbelib.app.cms.module.lecture.lectureInfo.LectureInfo">
		${pagingTop}
		SELECT
			<![CDATA[
				CASE
					WHEN (SELECT COUNT(*) FROM LECTURE_REQUEST C WHERE (C.request_type = '온라인') AND C.lecture_id = i.lecture_id AND C.request_status NOT IN('예약취소')) >= (online_person_count + wait_person_count) THEN '정원마감'
					WHEN (SELECT COUNT(*) FROM LECTURE_REQUEST C WHERE C.request_status = '추첨대기' AND C.lecture_id = i.lecture_id) >= (wait_person_count) AND i.request_type = '추첨제' THEN '모집마감'
					WHEN TO_DATE(request_start_date, 'yyyy-mm-dd') > TO_DATE(SYSDATE, 'yyyy-mm-dd') THEN '모집예정'
					WHEN TO_DATE(request_start_date, 'yyyy-mm-dd') <= TO_DATE(SYSDATE, 'yyyy-mm-dd') AND TO_DATE(request_end_date, 'yyyy-mm-dd') >= TO_DATE(SYSDATE, 'yyyy-mm-dd') THEN '모집중'
					WHEN TO_DATE(request_end_date, 'yyyy-mm-dd') < TO_DATE(SYSDATE, 'yyyy-mm-dd') THEN '모집마감'
					END AS lecture_status1,
				CASE
					WHEN TO_DATE(edu_start_date, 'yyyy-mm-dd') > TO_DATE(SYSDATE, 'yyyy-mm-dd') THEN '교육대기'
					WHEN TO_DATE(edu_start_date, 'yyyy-mm-dd') <= TO_DATE(SYSDATE, 'yyyy-mm-dd') AND TO_DATE(edu_end_date, 'yyyy-mm-dd') >= TO_DATE(SYSDATE, 'yyyy-mm-dd') THEN '교육중'
					WHEN TO_DATE(edu_end_date, 'yyyy-mm-dd') < TO_DATE(SYSDATE, 'yyyy-mm-dd') THEN '교육마감'
					END AS lecture_status2,
				(SELECT COUNT(*) FROM LECTURE_REQUEST C WHERE C.request_type = '온라인' AND C.request_status = '예약완료' AND C.lecture_id = i.lecture_id) AS online_request_count,
				(SELECT COUNT(*) FROM LECTURE_REQUEST C WHERE C.request_type = '오프라인' AND C.request_status = '예약완료' AND C.lecture_id = i.lecture_id) AS offline_request_count,
				(SELECT COUNT(*) FROM LECTURE_REQUEST C WHERE C.request_status IN ('예약대기', '추첨대기') AND C.lecture_id = i.lecture_id) AS wait_request_count,
				ROW_NUMBER() OVER (ORDER BY i.lecture_id) AS reverse_rownum, i.homepage_id, course_id,i.lecture_id,lecture_title,
				edu_start_date,edu_end_date,edu_start_time,edu_end_time,request_start_date,request_end_date,edu_school,
				online_person_count,offline_person_count,wait_person_count,i.request_type,teacher_name,teacher_tel,supporter_name,
				supporter_tel,edu_school_map,lecture_content,i.add_date,i.add_ip,i.add_id,edu_address_1,edu_address_2,teacher_id,
				day_week,edu_second_school,r.request_status,r.add_date AS request_add_date,r.request_id
			]]>
		FROM
		LECTURE_INFO AS i INNER JOIN LECTURE_REQUEST AS r
		ON
		i.LECTURE_ID = r.LECTURE_ID
		WHERE
				i.homepage_id = #{homepage_id}
			AND r.add_id = #{request_add_id}
			AND	r.request_status NOT IN('예약취소')
		ORDER BY r.REQUEST_ID DESC
		${pagingBottom}
	</select>

	<select id="getLectureInfoCountByRequestAddId" resultType="int">
		SELECT
			COUNT(*)
		FROM
			LECTURE_INFO AS i INNER JOIN LECTURE_REQUEST AS r
	 	ON
		 	i.LECTURE_ID = r.LECTURE_ID
		WHERE
				i.homepage_id = #{homepage_id}
			AND	r.add_id = #{request_add_id}
	  		AND r.request_status NOT IN('예약취소')
		ORDER BY r.REQUEST_ID DESC
	</select>

	<insert id="addLectureInfo">
		<selectKey keyProperty="lecture_id" resultType="string" order="BEFORE">
			SELECT 'LECTURE_' || (TO_NUMBER(NVL(MAX(REPLACE(lecture_id, 'LECTURE_', '')), TO_CHAR(SYSDATE, 'yyyyMMdd') || LPAD(0, 4, '0'))) + 1)
			FROM LECTURE_INFO
			WHERE lecture_id LIKE '%' || TO_CHAR(SYSDATE, 'yyyyMMdd') || '%'
		</selectKey>
		INSERT INTO
		LECTURE_INFO
		(
		homepage_id, course_id,lecture_id,lecture_title,edu_start_date,edu_end_date,edu_start_time,edu_end_time,request_start_date,
		request_end_date,edu_school,online_person_count,offline_person_count,wait_person_count,request_type,teacher_name,
		teacher_tel,supporter_name,supporter_tel,edu_school_map,lecture_content,add_date,add_ip,add_id,edu_address_1,
		edu_address_2,teacher_id,day_week,edu_second_school
		)
		VALUES
		(
		#{homepage_id},#{course_id},#{lecture_id},#{lecture_title},#{edu_start_date},#{edu_end_date},#{edu_start_time},#{edu_end_time},
		#{request_start_date},#{request_end_date},#{edu_school},#{online_person_count},#{offline_person_count},#{wait_person_count},
		#{request_type},#{teacher_name},#{teacher_tel},#{supporter_name},#{supporter_tel},#{edu_school_map},#{lecture_content},
		SYSDATE,#{add_ip},#{add_id},#{edu_address_1},#{edu_address_2},#{teacher_id},#{day_week},#{edu_second_school}
		)
	</insert>

	<select id="getLectureInfoOne" resultType="kr.go.gbelib.app.cms.module.lecture.lectureInfo.LectureInfo">
		SELECT
			<include refid="column" />
		FROM LECTURE_INFO
		WHERE lecture_id = #{param1}
	</select>

	<update id="updateLectureInfo">
		UPDATE
			LECTURE_INFO
		SET
			course_id = #{course_id},
			lecture_title = #{lecture_title},
			edu_start_date = #{edu_start_date},
			edu_end_date = #{edu_end_date},
			edu_start_time = #{edu_start_time},
			edu_end_time = #{edu_end_time},
			request_start_date = #{request_start_date},
			request_end_date = #{request_end_date},
			edu_school = #{edu_school},
			online_person_count = #{online_person_count},
			offline_person_count = #{offline_person_count},
			wait_person_count = #{wait_person_count},
			request_type = #{request_type},
			teacher_name = #{teacher_name},
			teacher_tel = #{teacher_tel},
			supporter_name = #{supporter_name},
			supporter_tel = #{supporter_tel},
			edu_school_map = #{edu_school_map},
			lecture_content = #{lecture_content},
			edu_address_1 = #{edu_address_1},
			edu_address_2 = #{edu_address_2},
			day_week = #{day_week},
			teacher_id = #{teacher_id},
			edu_second_school = #{edu_second_school}
		WHERE
			homepage_id = #{homepage_id}
		  AND lecture_id = #{lecture_id}
	</update>

	<delete id="deleteLectureInfo">
		DELETE
			LECTURE_INFO
		WHERE
			homepage_id = #{homepage_id}
		  AND lecture_id = #{lecture_id}
	</delete>

</mapper>