<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.lecture.lectureInfo.LectureInfoDao">

    <sql id="column">
	<![CDATA[
        CASE
			WHEN (SELECT COUNT(*) FROM LECTURE_REQUEST C WHERE (C.request_type = 'ONLINE') AND C.lecture_id = LECTURE_INFO.lecture_id AND C.request_status NOT IN('예약취소')) >= (online_person_count + wait_person_count) THEN '모집마감'
			WHEN (SELECT COUNT(*) FROM LECTURE_REQUEST C WHERE (C.request_type = 'ONLINE' AND C.request_status = '추첨대기') AND C.lecture_id = LECTURE_INFO.lecture_id) >= (wait_person_count) AND request_type = '추첨제' THEN '모집마감'
			/*WHEN DATE_FORMAT(CONCAT(request_start_date, ':09'), '%Y%m%d%H') > DATE_FORMAT(NOW(), '%Y%m%d%H') THEN '모집예정'
			WHEN DATE_FORMAT(CONCAT(request_start_date, ':09'), '%Y%m%d%H') <= DATE_FORMAT(NOW(), '%Y%m%d%H') AND DATE_FORMAT(CONCAT(request_end_date, ':17'), '%Y%m%d%H') >= DATE_FORMAT(NOW(), '%Y%m%d%H') THEN '모집중'
			WHEN DATE_FORMAT(CONCAT(request_end_date, ':17'), '%Y%m%d%H') < DATE_FORMAT(NOW(), '%Y%m%d%H') THEN '모집마감'*/
        END AS lecture_status1,
	    /*CASE
		    WHEN DATE_FORMAT(edu_start_date, '%Y%m%d') > DATE_FORMAT(NOW(), '%Y%m%d') THEN '교육대기'
			WHEN DATE_FORMAT(edu_start_date, '%Y%m%d') <= DATE_FORMAT(NOW(), '%Y%m%d') AND DATE_FORMAT(edu_end_date, '%Y%m%d') >= DATE_FORMAT(NOW(), '%Y%m%d') THEN '교육중'
			WHEN DATE_FORMAT(edu_end_date, '%Y%m%d') < DATE_FORMAT(NOW(), '%Y%m%d') THEN '교육마감'
        END AS lecture_status2,*/
		(SELECT COUNT(*) FROM LECTURE_REQUEST C WHERE C.request_type = 'ONLINE' AND C.request_status = '예약완료' AND C.lecture_id = LECTURE_INFO.lecture_id) AS online_request_count,
		(SELECT COUNT(*) FROM LECTURE_REQUEST C WHERE C.request_type = 'OFFLINE' AND C.request_status = '예약완료' AND C.lecture_id = LECTURE_INFO.lecture_id) AS offline_request_count,
		(SELECT COUNT(*) FROM LECTURE_REQUEST C WHERE C.request_status IN ('예약대기', '추첨대기') AND C.lecture_id = LECTURE_INFO.lecture_id) AS wait_request_count,
		lecture_id, lecture_title, edu_start_date, edu_end_date, edu_start_time,
		edu_end_time, request_start_date, request_end_date, edu_school, edu_second_school, edu_school_map,
		online_person_count, offline_person_count, wait_person_count, edu_target, request_type, teacher_name, teacher_tel,
		supporter_name, supporter_tel, lecture_content, edu_address_1, edu_address_2,
		edu_category, day_week, duplicate_yn, teacher_id,
		add_date, add_ip, add_id
        ]]>
	</sql>

    <sql id="where">
        <where>
            <if test="search != null">
                <if test="search.edu_school != null and search.edu_school != ''">
                    AND	edu_school = #{search.edu_school}
                </if>

                <if test="search.edu_target != null and search.edu_target != ''">
                    AND edu_target LIKE '%${search.edu_target}%'
                </if>

                <if test="search.edu_category != null and search.edu_category != ''">
                    AND edu_category LIKE '%${search.edu_category}%'
                </if>


                <if test="search.search_edu_status != null and search.search_edu_status != ''">
                    <choose>
                        <when test="search.search_edu_status == 'TYPE_1'">
                            AND	DATE_FORMAT(edu_start_date, '%Y%m%d') > DATE_FORMAT(NOW(), '%Y%m%d')
                        </when>
                        <when test="search.search_edu_status == 'TYPE_2'">
                            AND DATE_FORMAT(edu_start_date, '%Y%m%d') <![CDATA[ <= ]]> DATE_FORMAT(NOW(), '%Y%m%d') AND DATE_FORMAT(edu_end_date, '%Y%m%d') >= DATE_FORMAT(NOW(), '%Y%m%d')
                        </when>
                        <when test="search.search_edu_status == 'TYPE_3'">
                            AND DATE_FORMAT(edu_end_date, '%Y%m%d') <![CDATA[ < ]]> DATE_FORMAT(NOW(), '%Y%m%d')
                        </when>
                    </choose>
                </if>

                <if test="search.search_request_type!=null and search.search_request_type!=''">
                    <choose>
                        <when test="search.search_request_type == 'TYPE_1'">
                            AND request_type = '선착순'
                        </when>
                        <when test="search.search_request_type == 'TYPE_2'">
                            AND request_type = '추첨제'
                        </when>
                    </choose>
                </if>

                <choose>
                    <when test="search.request_start_date!=null and search.request_start_date!='' and search.request_end_date!=null and search.request_end_date!=''">
                        AND (request_start_date BETWEEN #{search.request_start_date} AND #{search.request_end_date} OR request_end_date BETWEEN #{search.request_start_date} AND #{search.request_end_date})
                    </when>
                    <when test="search.request_start_date!=null and search.request_start_date!=''">
                        AND request_start_date <![CDATA[>=]]> #{search.request_start_date}
                    </when>
                    <when test="search.request_end_date!=null and search.request_end_date!=''">
                        AND request_start_date <![CDATA[<=]]> #{search.request_end_date}
                    </when>
                </choose>
            </if>

            <if test="search_text != null and search_text != ''">
                AND lecture_title LIKE '%${search_text}%'
            </if>
        </where>
    </sql>

    <select id="getLectureInfoCount" resultType="int">
        SELECT
        COUNT(*) AS cnt
        FROM
        LECTURE_INFO
        <include refid="where"/>
    </select>



    <select id="getLectureInfoList" resultType="kr.go.gbelib.app.cms.module.lecture.lectureInfo.LectureInfo">
        ${pagingTop}
        SELECT
        <include refid="column"/>
        FROM
        LECTURE_INFO
        <include refid="where"/>
        ORDER BY
        lecture_id DESC
        ${pagingBottom}
    </select>

    <select id="getLectureInfoOne" resultType="kr.go.gbelib.app.cms.module.lecture.lectureInfo.LectureInfo">
        SELECT
        <include refid="column"/>
        FROM
        LECTURE_INFO
        WHERE
        lecture_id = #{lecture_id}
    </select>

    <insert id="insertLectureInfo">
        <selectKey keyProperty="lecture_id" resultType="string" order="BEFORE">
            SELECT
            TO_CHAR(SYSDATE, 'yyyyMMdd') || LPAD(TO_NUMBER(SUBSTR(NVL(MAX(lecture_id), TO_CHAR(SYSDATE, 'yyyyMMdd') || '00000000'), 9) + 1), 8, 0) FROM LECTURE_INFO
            WHERE
            TO_CHAR(add_date, 'yyyy-MM-dd') = TO_CHAR(SYSDATE, 'yyyy-MM-dd')
        </selectKey>
        INSERT INTO LECTURE_INFO
        (
        lecture_id, lecture_title, edu_start_date, edu_end_date, edu_start_time,
        edu_end_time, request_start_date, request_end_date, edu_school, edu_second_school, edu_school_map,
        online_person_count, offline_person_count, edu_target, request_type, teacher_name, teacher_tel,
        supporter_name, supporter_tel, lecture_content, edu_address_1, edu_address_2,
        edu_category, day_week, wait_person_count, duplicate_yn, teacher_id,
        add_date, add_ip, add_id
        ) VALUES
        (
        #{lecture_id}, #{lecture_title}, #{edu_start_date}, #{edu_end_date}, #{edu_start_time},
        #{edu_end_time}, #{request_start_date}, #{request_end_date}, #{edu_school}, #{edu_second_school}, #{edu_school_map},
        #{online_person_count}, #{offline_person_count}, #{edu_target}, #{request_type}, #{teacher_name}, #{teacher_tel},
        #{supporter_name}, #{supporter_tel}, #{lecture_content}, #{edu_address_1}, #{edu_address_2},
        #{edu_category}, #{day_week}, #{wait_person_count}, #{duplicate_yn}, #{teacher_id},
        NOW(), #{add_ip}, #{add_id}
        )
    </insert>

    <update id="updateLectureInfo">
        UPDATE LECTURE_INFO
        SET
            lecture_title = #{lecture_title},
            edu_start_date = #{edu_start_date},
            edu_end_date = #{edu_end_date},
            edu_start_time = #{edu_start_time},
            edu_end_time = #{edu_end_time},
            request_start_date = #{request_start_date},
            request_end_date = #{request_end_date},
            edu_school = #{edu_school},
            edu_second_school = #{edu_second_school},
            edu_school_map = #{edu_school_map},
            online_person_count = #{online_person_count},
            offline_person_count = #{offline_person_count},
            wait_person_count = #{wait_person_count},
            edu_target = #{edu_target},
            request_type = #{request_type},
            teacher_name = #{teacher_name},
            teacher_tel = #{teacher_tel},
            supporter_name = #{supporter_name},
            supporter_tel = #{supporter_tel},
            lecture_content = #{lecture_content},
            edu_address_1 = #{edu_address_1},
            edu_address_2 = #{edu_address_2},
            edu_category = #{edu_category},
            day_week = #{day_week},
            duplicate_yn = #{duplicate_yn},
            teacher_id = #{teacher_id}
        WHERE
            lecture_id = #{lecture_id}
    </update>

    <delete id="deleteLectureInfo">
        DELETE FROM LECTURE_INFO WHERE lecture_id = #{lecture_id}
    </delete>


    <select id="getLectureInfoFileList" resultType="kr.go.gbelib.app.cms.module.lecture.lectureInfo.LectureInfo">
        SELECT
            lecture_id, file_original_name, file_server_name
        FROM
            LECTURE_INFO_FILE
        WHERE
            lecture_id = #{lecture_id}
        ORDER BY
            add_date ASC
    </select>

    <select id="getLectureInfoFileOne" resultType="kr.go.gbelib.app.cms.module.lecture.lectureInfo.LectureInfo">
        SELECT
            lecture_id, file_original_name, file_server_name
        FROM
            LECTURE_INFO_FILE
        WHERE
            lecture_id = #{lecture_id} AND
            file_server_name = #{file_server_name}
    </select>

    <insert id="insertLectureInfoFile">
        INSERT INTO LECTURE_INFO_FILE
        (
            lecture_id, file_original_name, file_server_name
        ) VALUES
            (
                #{lecture_id}, #{file_original_name}, #{file_server_name}
            )
    </insert>

    <delete id="deleteLectureInfoFile">
        DELETE FROM LECTURE_INFO_FILE
        WHERE
        lecture_id = #{lecture_id} AND
        file_server_name IN
        <foreach collection="delete_file_list" item="i" open="(" close=")" separator=",">
            #{i}
        </foreach>
    </delete>

    <delete id="deleteLectureInfoFileAll">
        DELETE FROM LECTURE_INFO_FILE
        WHERE
            lecture_id = #{lecture_id}
    </delete>

    <delete id="deleteLectureRequest">
        DELETE FROM LECTURE_REQUEST
        WHERE
            lecture_id = #{lecture_id}
    </delete>


</mapper>