.main1_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 84px;
}

.board_zone {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    width: 780px;
}

.board_header {
    display: flex;
    width: 788px;
    justify-content: space-between;
    padding-bottom: 32px;
    border-bottom: 2px solid #000;
    align-items: center;
}

.board_title {
    color: #000;
    font-family: Pretendard, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.board_navigation {
    display: flex;
    gap: 20px;
    align-items: center;
}

.board_navigation_menu {
    position: relative;
    color: #767676;
    font-family: Pretendard, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.board_navigation_menu:first-child {
    margin-right: 16px;
}

.board_navigation_menu::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 85px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #DDDDDD;
}

.board_navigation_menu:nth-child(2)::after {
    content: none;
}

.board_navigation_menu_active {
    color: #009643 !important;
    font-weight: 600 !important;
    font-size: 20px;
}

.board_content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.board_content li {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 34px 4px 34px 4px;
    border-bottom: 1px solid #DDDDDD;
}

.board_content_title a div {
    color: #000;
    font-family: Pretendard, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 650px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board_content_update_date {
    color: #767676;
    font-family: Pretendard, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.popup_zone {
    padding-top: 100px;
    width: 396px;
    height: 540px;
    border-radius: 20px;
    position: relative;
}

.popup_zone .swiper {
    width: 396px;
    height: 540px;
    border-radius: 20px;
}

.popup_zone .swiper-slide img {
    width: 396px;
    height: 540px;
    border-radius: 20px;
    object-fit: cover;
}

.popup_zone .swiper-button-next::after {
    display: none;
}

.popup_zone .swiper-button-next {
    opacity: 0;
    transition: opacity 0.3s ease;
    top: 355px;
    right: -35px !important;
    width: 70px;
    height: 70px;
    background: url('../img/black_arrow.png') no-repeat top center;
    background-size: cover;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.20);
    border-radius: 50%;
}

.popup_zone:hover .swiper-button-next {
    opacity: 1;
}

.popup_zone .swiper-pagination-fraction {
    width: 106.316px;
    height: 50px;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 20px 0;
    background: rgba(255, 255, 255, 0.70);
    color: #767676;
    font-family: Pretendard, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.4px;
    display: flex;
    margin: 0 !important;
    align-items: center;
    justify-content: center;
    left: 290px !important;
}

.popup_zone .swiper-pagination-fraction .swiper-pagination-current {
    color: #000;
    text-align: center;
    font-family: Pretendard, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: -0.4px;
    margin-right: 8px;
}

.popup_zone .swiper-pagination-fraction .swiper-pagination-total {
    color: #767676;
    font-family: Pretendard, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.4px;
    margin-left: 8px;
}


@media all and (min-width:1024px) and (max-width:1279px) {
    .main1_wrapper {
        gap: 27px;
        height: 600px;
    }

    .board_zone {
        width: 392px;
        padding-top: 0;
        height: 400px;
        box-sizing: border-box;
    }

    .popup_zone {
        width: 294px;
        height: 400px;
        border-radius: 16px;
        padding-top: 0;
    }

    .popup_zone .swiper {
        width: 294px;
        height: 400px;
    }

    .popup_zone .swiper-slide img {
        width: 294px;
        height: 400px;
        border-radius: 16px;
    }

    .popup_zone .swiper-pagination-fraction {
        left: 216px !important;
        width: 40px;
        height: 21px;
        padding: 8px 19px;
        font-size: 16px;
        border-radius: 0 0 16px 0;
    }

    .board_content li {
        padding: 24px 0 23px 0;
        box-sizing: border-box;
    }

    .board_navigation_menu::after {
        left: 69px;
        bottom: 7px;
    }

    a#more_link {
        display: flex !important;
        justify-content: center;
        align-items: center;
        width: 28px !important;
        height: 28px !important;
        gap: 16px;
    }

    #more_link img {
        width: 28px !important;
        height: 28px !important;
    }

    .board_title {
        font-size: 28px;
    }

    .board_navigation{gap:16px;}

    .board_header {
        padding-bottom: 24px;
        width: auto;
    }

    .board_navigation_menu {
        font-size: 16px;
    }

    .board_navigation_menu_active {
        font-size: 16px;
    }

    .board_content_title a div {
        width: 280px;
        font-size: 16px;
    }

    .board_content_update_date {
        font-size: 13px;
    }

    .popup_zone .swiper-pagination-fraction .swiper-pagination-current {
        font-size: 16px;
    }

    .popup_zone .swiper-pagination-fraction .swiper-pagination-total {
        font-size: 16px;
    }

    .popup_zone .swiper-button-next {
        width: 50px;
        height: 50px;
        top: 55%;
        transform: translateY(-50%);
        right: -5% !important;
    }
}

@media all and (min-width:768px) and (max-width:1023px) {
    .main1_wrapper {
        gap: 27px;
        height: 600px;
    }
  .board_navigation{gap:16px;}
    .board_zone {
        width: 392px;
        padding-top: 0;
        height: 400px;
        box-sizing: border-box;
    }

    .popup_zone {
        width: 294px;
        height: 400px;
        border-radius: 16px;
        padding-top: 0;
    }

    .popup_zone .swiper {
        width: 294px;
        height: 400px;
    }

    .popup_zone .swiper-slide img {
        width: 294px;
        height: 400px;
        border-radius: 16px;
    }

    .popup_zone .swiper-pagination-fraction {
        left: 216px !important;
        width: 40px;
        height: 21px;
        padding: 8px 19px;
        font-size: 16px;
        border-radius: 0 0 16px 0;
    }

    .board_content li {
        padding: 24px 0 23px 0;
        box-sizing: border-box;
    }

    .board_navigation_menu::after {
        left: 69px;
        bottom: 7px;
    }

    a#more_link {
        display: flex !important;
        justify-content: center;
        align-items: center;
        width: 28px !important;
        height: 28px !important;
        gap: 16px;
    }

    #more_link img {
        width: 28px !important;
        height: 28px !important;
    }

    .board_title {
        font-size: 28px;
    }

    .board_header {
        padding-bottom: 24px;
        width: auto;
    }

    .board_navigation_menu {
        font-size: 16px;
    }

    .board_navigation_menu_active {
        font-size: 16px;
    }

    .board_content_title a div {
        width: 280px;
        font-size: 16px;
    }

    .board_content_update_date {
        font-size: 13px;
    }

    .popup_zone .swiper-pagination-fraction .swiper-pagination-current {
        font-size: 16px;
    }

    .popup_zone .swiper-pagination-fraction .swiper-pagination-total {
        font-size: 16px;
    }

    .popup_zone .swiper-button-next {
        width: 50px;
        height: 50px;
        top: 55%;
        transform: translateY(-50%);
        right: -5% !important;
    }
}

@media all and (min-width:480px) and (max-width:767px) {
    #main1 {
        height: 990px;
        margin: 40px 0 60px;
        padding: 0 16px;
        box-sizing: border-box;
        clear: both;
    }

    .board_navigation_menu::after {
        left: 59px;
        bottom: 6px;
        width: 2px;
        height: 2px;
    }

    .board_title {
        font-size: 26px;
    }

    .board_navigation_menu {
        font-size: 14px;
    }

    .board_navigation_menu_active {
        font-size: 14px;
    }

    .board_navigation {
        gap: 9px;
    }

    #more_link {
        width: 20px !important;
        height: 20px !important;
    }



    .board_header {
        padding-bottom: 20px;
        width: auto;
    }

    .main1_wrapper {
        flex-direction: column;
        height: auto;
        gap: 38px;
    }

    .board_zone {
        width: 100%;
        padding: 0 16px;
    }

    .board_content li {
        padding: 20px 0;
        box-sizing: border-box;
    }

    .board_content_title a div {
        max-width: 340px;
        width: 100%;
        font-size: 14px;
    }

    .board_content_update_date {
        font-size: 12px;
    }

    .popup_zone {
        border-radius: 16px;
        width: 100%;
        height: 610px;
        padding-top: 0;
    }

    .popup_zone .swiper {
        border-radius: 16px;
        width: 100%;
        height: 100%;
    }

    .popup_zone .swiper-slide img {
        border-radius: 16px;
        width: 100%;
        height: 610px;
    }

    .popup_zone .swiper-pagination-fraction {
        right: 0 !important;
        left: unset !important;
        border-radius: 0 0 16px 0;
        width: 80px;
        height: 38px;
    }

    .popup_zone .swiper-pagination-fraction .swiper-pagination-current {
        font-size: 16px;
    }

    .popup_zone .swiper-pagination-fraction .swiper-pagination-total {
        font-size: 16px;
    }

    .popup_zone .swiper-button-next {
        right: -3% !important;
        top: 50%;
        /* transform: translateY(-50%); */
    }
}

@media all and (max-width:479px) {
    #main1 {
        height: 840px;
        margin: 40px 0 0;
        padding: 0 16px;
        box-sizing: border-box;
        clear: both;
    }

    .board_title {
        font-size: 26px;
    }

    .board_navigation_menu {
        font-size: 14px;
    }

    .board_navigation_menu_active {
        font-size: 14px;
    }


    .board_navigation_menu::after {
        left: 59px;
        bottom: 6px;
        width: 2px;
        height: 2px;
    }

    .board_navigation {
        gap: 9px;
    }

    #more_link {
        width: 20px !important;
        height: 20px !important;
    }

    .board_header {
        padding-bottom: 20px;
        width: auto;
    }

    .main1_wrapper {
        flex-direction: column;
        height: auto;
        gap: 38px;
    }

    .board_zone {
        width: 100%;
        padding: 0 16px;
    }

    .board_content li {
        padding: 20px 0;
        box-sizing: border-box;
    }

    .board_content_title a div {
        max-width: 240px;
        width: 100%;
        font-size: 14px;
    }

    .board_content_update_date {
        font-size: 12px;
    }

    .popup_zone {
        border-radius: 16px;
        width: 100%;
        height: auto;
        padding-top: 0;
    }

    .popup_zone .swiper {
        border-radius: 16px;
        width: 100%;
        height: 100%;
    }

    .popup_zone .swiper-slide img {
        border-radius: 16px;
        width: 100%;
        height: 445px;
    }

    .popup_zone .swiper-pagination-fraction {
        right: 0 !important;
        left: unset !important;
        border-radius: 0 0 16px 0;
        width: 80px;
        height: 38px;
    }

    .popup_zone .swiper-pagination-fraction .swiper-pagination-current {
        font-size: 16px;
    }

    .popup_zone .swiper-pagination-fraction .swiper-pagination-total {
        font-size: 16px;
    }

    .popup_zone .swiper-button-next {
        right: -3% !important;
        top: 50%;
    }
}