.main1_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  gap: 84px;
}

.board_zone {
  display: flex;
  flex-direction: column;
  width: 780px;
}

.board_header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 32px;
  border-bottom: 2px solid #000;
  align-items: center;
}

.board_title {
  color: #000;
  font-family: Pretendard, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.board_navigation {
  display: flex;
  gap: 20px;
  align-items: center;
}

.board_navigation_menu {
  position: relative;
  color: #767676;
  font-family: Pretendard, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.board_navigation_menu:first-child {
  margin-right: 16px;
}

.board_navigation_menu::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 86px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #DDDDDD;
}

.board_navigation_menu:nth-child(2)::after {
  content: none;
}

.board_navigation_menu_active {
  color: #009643 !important;
  font-weight: 600 !important;
}

.board_content {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.board_content  li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 34px 0 34px 0;
  border-bottom: 1px solid #DDDDDD;
}

.board_content_title a div {
  color: #000;
  font-family: Pretendard, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 650px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board_content_update_date {
  color: #767676;
  font-family: Pretendard, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.popup_zone {
  width: 396px;
  height: 540px;
  border-radius: 20px;
  position: relative;
}

.popup_zone .swiper {
  width: 396px;
  height: 540px;
  border-radius: 20px;
}

.popup_zone .swiper-slide img {
  width: 396px;
  height: 540px;
  border-radius: 20px;
  object-fit: cover;
}

.popup_zone .swiper-button-next::after {
  display: none;
}

.popup_zone .swiper-button-next {
  opacity: 0;
  transition: opacity 0.3s ease; /* 부드럽게 변화하도록 설정 */
  top: 255px;
  right: -35px !important;
  width: 70px;
  height: 70px;
  background: url('../img/black_arrow.png') no-repeat top center;
  background-size: cover;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.20);
  border-radius: 50%;
}

/* 호버 시: 투명도 1로 변경 */
.popup_zone:hover .swiper-button-next {
  opacity: 1;
}

.popup_zone .swiper-pagination-fraction {
  width: 106.316px;
  height: 50px;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 20px 0;
  background: rgba(255, 255, 255, 0.70);
  color: #767676;
  font-family: Pretendard, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.4px;
  display: flex;
  margin: 0 !important;
  align-items: center;
  justify-content: center;
  left: 290px !important;
}

.popup_zone .swiper-pagination-fraction .swiper-pagination-current {
  color: #000;
  text-align: center;
  font-family: Pretendard, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
  letter-spacing: -0.4px;
  margin-right: 3px;
}

.popup_zone .swiper-pagination-fraction .swiper-pagination-total {
  color: #767676;
  font-family: Pretendard, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.4px;
  margin-left: 3px;
}

