#main0 {
    background: url(../img/main_bg.png) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-visual {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100vh;
  flex-direction: column;
}

.main0_title_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.main0_title_wrapper div:first-child {
  color: #FFF;
  font-family: Paperlogy-Regular;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.7px;
  opacity: 0;
  transform: translateY(25px);
  animation: slideIn 2s ease-in forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.main0_title_wrapper div:last-child {
  color: #FFF;
  font-family: Paperlogy-Semibold, serif;
  font-size: 76px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.search-area {
  display: flex;
  width: 100%;
  max-width: 1000px;
  align-content: center;
  background: rgba(255, 255, 255, 0.90);
  border-radius: 20px;
  margin-bottom: 150px;
}

#mainSearchForm {
  width: 100%;
}

.search_box {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.search_box select {
  font-family: Pretendard, serif;
  font-weight: 500;
  width: 159px;
  height: 80px;
  line-height: normal;
  font-size: 20px;
  color: #000;
  padding: 0 40px;
  border: none;
  border-radius: 20px 0 0 20px;
  background: transparent url('../img/search-arrow.png') no-repeat 90% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search_box select:focus,
#search_text_1:focus {
  border: none;
  outline: none;
}

.search_input_wrapper {
  position: relative;
}

#search_text_1 {
  height: 80px;
  padding: 0 40px 0 20px;;
  color: #000000;
  font-family: Pretendard, serif;
  font-size: 20px;
  background: none;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 0;
  border: none;
}

#main-search-btn {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: #000000;
  border-radius: 20px;
}

#main-search-btn:hover {
  opacity: 0.7;
}

#main-search-btn img {
  width: 24px;
  height: 24px;
}

#main-search-btn div {
  font-family: Pretendard, serif;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.main0_bottom_box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  height: 200px;
}

.holiday_area {
  z-index: 1;
  padding: 0 40px 0 40px;
  width: 37%;
  height: 200px;
  background: #009643;
  box-shadow: 8px 4px 20px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.quick_menu_area li a div {
  color: #000;
  text-align: center;
  font-family: Pretendard, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.holiday_header {
  margin-top: 40px;
  display: flex;
  width: 360px;
  justify-content: space-between;
  align-items: center;
}

.holiday__title {
  color: #B2DFC6;
  font-family: Pretendard, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}

.holiday__navigation {
  display: flex;
  gap: 8px;
  align-items: center;
}

.holiday__navigation div {
  cursor: pointer;
  /* width: 16px; */
}

.holiday__navigation div img {
  object-fit: cover;
}

.holiday__navigation div:nth-child(2) img {
  transform: rotate(180deg);
}

#holiday-box {
  display: flex;
  width: 360px;
  align-items: center;
  justify-content: left;
  margin-bottom: 20px;
  margin-top: 20px;
  gap: 29px;
}

#holiday-box div {
  color: #FFF;
  font-family: Pretendard, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.64px;
}

#holiday-box li {
  color: #FFF;
  font-family: Pretendard, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.64px;
}

.holiday_caption {
  color: #FFF;
  font-family: Pretendard, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 360px;
  text-align: left;
}

.quick_menu_area {
  width: 63%;
  display: flex;
  height: 160px;
  background: rgba(255, 255, 255, 0.90);
  backdrop-filter: blur(2.5px);
  padding: 0 30px 0 48px;
  align-items: center;
  gap: 62px;
}

.quick_menu_area li a {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  transition: all 0.3s ease;
}

.quick_menu_area li a img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.quick_menu_area li a:hover {
  animation: bounce 0.8s ease;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

@media all and (min-width:1024px) and (max-width:1279px) {
  #main0 {
    background: url('../img/section0-bg-02.png') no-repeat center 48%;
    background-size: 128%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 880px !important;
  }

  .main-visual {
    display: flex;
    gap: 40px;
    height: 880px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
  }

  .main0_title_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    justify-content: center;
  }

  .main0_title_wrapper div:first-child {
    color: #FFF;
    font-family: Paperlogy-Regular, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.7px;
    opacity: 0;
    transform: translateY(25px);
    animation: slideIn 4s ease-in-out forwards;
  }

  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(25px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .main0_title_wrapper div:last-child {
    color: #FFF;
    font-family: Paperlogy-Semibold, serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .search-area {
    display: flex;
    width: 100%;
    max-width: 100%;
    align-content: center;
    background: rgba(255, 255, 255, 0.90);
    border-radius: 16px;
    margin-bottom: 150px;
    /* padding: 0 60px; */
  }

  #mainSearchForm {
    width: 100%;
  }

  .search_box {
    display: flex;
    justify-content: space-between
  }

  .search_box select {
    font-family: Pretendard, serif;
    font-weight: 500;
    width: 159px;
    height: 70px;
    line-height: normal;
    font-size: 18px;
    color: #000;
    padding: 0 40px;
    border: none;
    border-radius: 16px 0 0 16px;
    background: transparent url('../img/search-arrow.png') no-repeat 90% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .search_box select:focus,
  #search_text_1:focus {
    border: none;
    outline: none;
  }

  .search_input_wrapper {
    position: relative;
  }

  #search_text_1 {
    height: 70px;
    padding: 0 40px 0 32px;
    color: #000000;
    font-family: Pretendard, serif;
    font-size: 18px;
    background: none;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 0;
    border: none;
  }

  #main-search-btn {
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #000000;
    border-radius: 16px;
  }

  #main-search-btn:hover {
    opacity: 0.7;
  }

  #main-search-btn img {
    width: 24px;
    height: 24px;
  }

  #main-search-btn div {
    font-family: Pretendard, serif;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
  }

  .main0_bottom_box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    height: 200px;
  }

  .holiday_area {
    padding: 78px 42px 78px 150px;
    width: 60%;
    height: 260px;
    background: #009643;
    box-shadow: 8px 4px 20px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  #holiday-box li {
    font-size: 26px;
  }

  .quick_menu_area li a div {
    color: #000;
    text-align: center;
    font-family: Pretendard, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }

  .holiday_header {
    margin-top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .holiday__title {
    color: #B2DFC6;
    font-family: Pretendard, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;
  }

  .holiday__navigation {
    display: flex;
    gap: 8px;
  }

  .holiday__navigation div {
    cursor: pointer;
  }

  .holiday__navigation div:nth-child(2) img {
    transform: rotate(180deg);
  }

  #holiday-box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
    margin-top: 20px;
    gap: 26px;
  }

  #holiday-box div {
    color: #FFF;
    font-family: Pretendard, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.64px;
  }

  .holiday_caption {
    color: #FFF;
    font-family: Pretendard, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100%;
    text-align: left;
  }

  .quick_menu_area {
    width: 63%;
    display: flex;
    height: 240px;
    background: rgba(255, 255, 255, 0.90);
    backdrop-filter: blur(2.5px);
    padding: 31px 146px 31px 36px;
    align-items: center;
    column-gap: 29px;
    row-gap: 22px;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
  }

  .quick_menu_area li {
    flex: 1 1 calc(33.33% - 29px);
  }

  .quick_menu_area li a {
    display: flex;
    flex-direction: column;
    gap: 4.8px;
    align-items: center;
    transition: all 0.3s ease;
  }

  .quick_menu_area li a img{width:48px;height: 48px;}

  .quick_menu_area li a:hover {
    animation: bounce 0.8s ease;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }

    30% {
      transform: translateY(-10px);
    }

    50% {
      transform: translateY(0);
    }

    70% {
      transform: translateY(-5px);
    }

    100% {
      transform: translateY(0);
    }
  }
}

@media all and (min-width:768px) and (max-width:1023px) {
  #main0 {
    background: url('../img/section0-bg-03.png') no-repeat center 89%;
    background-size: 108%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 880px !important;
  }

  .main-visual {
    display: flex;
    gap: 40px;
    height: 880px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 649px;
    width: 100%;
  }

  .main0_title_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    justify-content: center;
  }

  .main0_title_wrapper div:first-child {
    color: #FFF;
    font-family: Paperlogy-Regular, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.7px;
    opacity: 0;
    transform: translateY(25px);
    animation: slideIn 4s ease-in-out forwards;
  }

  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(25px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .main0_title_wrapper div:last-child {
    color: #FFF;
    font-family: Paperlogy-Semibold, serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .search-area {
    display: flex;
    width: 100%;
    max-width: 650px;
    align-content: center;
    background: rgba(255, 255, 255, 0.90);
    border-radius: 16px;
    margin-bottom: 150px;
    /* padding: 0 60px; */
  }

  #mainSearchForm {
    width: 100%;
  }

  .search_box {
    display: flex;
    justify-content: space-between
  }

  .search_box select {
    font-family: Pretendard, serif;
    font-weight: 500;
    width: 159px;
    height: 70px;
    line-height: normal;
    font-size: 18px;
    color: #000;
    padding: 0 40px;
    border: none;
    border-radius: 16px 0 0 16px;
    background: transparent url('../img/search-arrow.png') no-repeat 90% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .search_box select:focus,
  #search_text_1:focus {
    border: none;
    outline: none;
  }

  .search_input_wrapper {
    position: relative;
  }

  #search_text_1 {
    height: 70px;
    padding: 0 40px 0 32px;
    color: #000000;
    font-family: Pretendard, serif;
    font-size: 18px;
    background: none;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 0;
    border: none;
  }

  #main-search-btn {
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #000000;
    border-radius: 16px;
  }

  #main-search-btn:hover {
    opacity: 0.7;
  }

  #main-search-btn img {
    width: 24px;
    height: 24px;
  }

  #main-search-btn div {
    font-family: Pretendard, serif;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
  }

  .main0_bottom_box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    height: 200px;
  }

  .holiday_area {
    padding: 78px 36px 78px 36px;
    width: 62%;
    height: 260px;
    background: #009643;
    box-shadow: 8px 4px 20px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  #holiday-box li {
    font-size: 26px;
  }

  .quick_menu_area li a div {
    color: #000;
    text-align: center;
    font-family: Pretendard, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }

  .holiday_header {
    margin-top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .holiday__title {
    color: #B2DFC6;
    font-family: Pretendard, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;
  }

  .holiday__navigation {
    display: flex;
    gap: 8px;
  }

  .holiday__navigation div {
    cursor: pointer;
  }

  .holiday__navigation div:nth-child(2) img {
    transform: rotate(180deg);
  }

  #holiday-box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
    margin-top: 20px;
    gap: 26px;
  }

  #holiday-box div {
    color: #FFF;
    font-family: Pretendard, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.64px;
  }

  .holiday_caption {
    color: #FFF;
    font-family: Pretendard, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100%;
    text-align: left;
  }

  .quick_menu_area {
    width: 63%;
    display: flex;
    height: 240px;
    background: rgba(255, 255, 255, 0.90);
    backdrop-filter: blur(2.5px);
    padding: 31px 36px 31px 36px;
    align-items: center;
    column-gap: 29px;
    row-gap: 22px;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
  }

  .quick_menu_area li {
    flex: 1 1 calc(33.33% - 29px);
  }

  .quick_menu_area li a {
    display: flex;
    flex-direction: column;
    gap: 4.8px;
    align-items: center;
    transition: all 0.3s ease;
  }

  .quick_menu_area li a:hover {
    animation: bounce 0.8s ease;
  }

  .quick_menu_area li a img {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }

    30% {
      transform: translateY(-10px);
    }

    50% {
      transform: translateY(0);
    }

    70% {
      transform: translateY(-5px);
    }

    100% {
      transform: translateY(0);
    }
  }
}

@media all and (min-width:480px) and (max-width:767px) {
#main0 {
	background: url('../img/section0-bg-04.png') no-repeat center 60%;
	height: 800px;
	position: relative;
	background-size: cover;
	}

  .main0_title_wrapper {
    position: absolute;
    top: 152px
  }

  .main0_title_wrapper div:first-child {
    font-size: 14px;
  }

  .main0_title_wrapper div:last-child {
    font-size: 40px;
  }

  .search-area {
    /* padding: 0 0 0 16px; */
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 242px;
    box-sizing: border-box;
    margin: 0 16px 242px 16px;
  }

  .search_box select {
    width: 90px;
    height: 54px;
    padding: 0 16px;
  }

  #search_text_1 {
    height: 54px;
    font-size: 14px;
    padding: 0 4px 0 10px;
  }

  .search_box select {
    font-size: 14px;
    padding: 0 16px;
  }

  .search_box {
    position: relative;
  }

  #main-search-btn {
    width: 54px;
    border-radius: 10px;
    position: absolute;
    height: 54px;
    right: 0;
  }

  #main-search-btn div {
    display: none;
  }

  .main0_bottom_box {
    align-items: center;
    flex-direction: column;
    height: 140px;
  }

  .main-visual {
    height: 800px;
    width: 100%;
    padding: 0 16px;
  }

  .holiday_area {
    width: 100%;
    height: 140px;
    padding: 25px 52px;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    position: absolute;
    bottom: 0;
  }

  .holiday_header {
    margin-top: 0;
    width: 100%;
    height: 18px;
  }

  #holiday-box {
    width: 100%;
    margin: 16px 0;
    gap: 30px;
    justify-content: flex-start;
  }
 .holiday__navigation div{width:14px;height:14px;}
  .holiday_caption {
    width: 100%;
    font-size: 13px;
  }

  .holiday__title {
    font-size: 14px;
  }

  #holiday-box li {
    font-size: 20px;
  }

  .quick_menu_area {
    width: auto;
    flex-wrap: wrap;
    height: 192px;
    position: absolute;
    bottom: 140px;
    padding: 16px 16px;
    gap: 19px;
    justify-content: center;
  }

    .quick_menu_area li {
    flex: 1 1 calc(33.33% - 29px);
    display: flex;
    justify-content: center;
  }

  .quick_menu_area li a div {
    font-size: 13px;
  }

  .quick_menu_area li a {
    width: 77px;
    padding: 0px 9px;
  }

  .quick_menu_area li a img {
    width: 48px;
    height: 48px;
    object-fit: cover
  }
}

@media all and (max-width:479px) {
  #main0 {
	background: url('../img/section0-bg-04.png') no-repeat center top;
	height: 800px;
	position: relative;
	background-size: contain;
	}

	.quick_menu_area {background: #fff;}

  .main0_title_wrapper {
    position: absolute;
    top: 152px
  }

  .main0_title_wrapper div:first-child {
    font-size: 14px;
  }

  .main0_title_wrapper div:last-child {
    font-size: 40px;
  }

  .search-area {
    /* padding: 0 0 0 16px; */
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 242px;
    box-sizing: border-box;
    margin: 0 16px 242px 16px;
  }

  .search_box select {
    width: 75px;
    height: 54px;
    padding: 0 16px;
    background: transparent url('../img/search-arrow.png') no-repeat 100% 50%;
    background-size: 10px;
  }

  #search_text_1 {
    height: 54px;
    font-size: 14px;
    padding: 0 4px 0 16px;
  }

  .search_box select {
    font-size: 14px;
    padding: 0 16px;
  }

  .search_box {
    position: relative;
  }

  #main-search-btn {
    width: 54px;
    border-radius: 10px;
    position: absolute;
    height: 54px;
    right: 0;
  }

  #main-search-btn div {
    display: none;
  }

  .main0_bottom_box {
    align-items: center;
    flex-direction: column;
    height: 140px;
  }

  .main-visual {
    height: 800px;
    width: 100%;
    padding: 0 16px;
  }

  .holiday_area {
    width: 100%;
    height: 140px;
    padding: 25px 30px;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    position: absolute;
    bottom: 0;
  }

  .holiday__navigation div{width:14px;height:14px;}

  .holiday_header {
    margin-top: 0;
    width: 100%;
    height: 18px;
  }

  #holiday-box {
    width: 100%;
    margin: 16px 0;
    gap: 30px;
    justify-content: flex-start;
  }

  .holiday_caption {
    width: 100%;
    font-size: 13px;
  }

  .holiday__title {
    font-size: 14px;
  }

  #holiday-box li {
    font-size: 20px;
  }

  .quick_menu_area {
   display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-items: center;
    height: 192px;
    position: absolute;
    bottom: 140px;
    padding: 16px 26px;
    column-gap: 19px;
    row-gap: 0;
    justify-content: space-between;
  }

  .quick_menu_area li a div {
    font-size: 13px;
  }

  .quick_menu_area li a {
    width: 77px;
    gap: 4.8px;
  }

  .quick_menu_area li a img {
    width: 48px;
    height: 48px;
    object-fit: cover
  }
}

@media all and (max-width:450px) {
	#main0 {
	background: url('../img/section0-bg-04.png') no-repeat center -58%;
	height: 800px;
	position: relative;
	background-size: contain;
	}

	.quick_menu_area {background: #fff;}
  }

@media all and (max-width:360px) {
	#main0 {
		background: url(../img/section0-bg-04.png) no-repeat center -210px;
        height: 800px;
        position: relative;
        background-size: cover;
	}

	.quick_menu_area {background: #fff;}
  }