.cms-container {
    width: 100%;
    display: flex;
    background: #FFF;
    height: 100%;
    min-height: 100vh;
}

.side-menu {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #EFF0F4;
}

.side-menu-toggle-btn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.side-menu-toggle-btn img {
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.logo {
    width: 120px;
    height: 30px;
    object-fit: contain;
    margin: 4px 0 24px 0;
}

.user-name {
    color: #222;
    font-family: Pretendard-Regular, serif;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.3px;
}

.user-name span {
    font-family: Pretendard-Bold, serif;
}

.action-wrapper {
    display: flex;
    gap: 4px;
    width: 100%;
    margin: 10px 0 24px 0;
}

.action-wrapper a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 50%;
    border-radius: 4px;
    background: #FAFAFA;
    height: 32px;
}

.action-wrapper a img {
    width: 16px;
    height: 16px;
}

.action-wrapper a div {
    color: #555;
    font-family: Pretendard-Medium, serif;
    font-size: 13px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.26px;
}

.menu-list {
    padding-top: 24px;
    border-top: 1px solid #DDD;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    max-height: 520px;
    overflow-y: auto;
}

.menu-list::-webkit-scrollbar {
    width: 3px;
}

.menu-list::-webkit-scrollbar-track {
    background: #DADBE0;
    border-radius: 4px;
}

.menu-list::-webkit-scrollbar-thumb {
    background: #878B96;
    border-radius: 4px;
}

.menu-list::-webkit-scrollbar-thumb:hover {
    background: #878B96;
}

.one-depth {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.one-depth-btn {
    cursor: pointer;
    border-radius: 24px;
    background: #fff;
    display: flex;
    align-items: center;
    height: 48px;
    justify-content: space-between;
    padding: 0 16px;
}

.one-depth-btn img {
    width: 30px;
    height: 30px;
}

.one-depth-btn div {
    color: #555;
    text-align: center;
    font-family: Pretendard-Medium, serif;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.one-depth ul {
    display: none;
}

.one-depth.active > .one-depth-btn {
    background: #222;
}

.one-depth.active > .one-depth-btn div {
    color: #FFF;
}

.one-depth ul {
    display: flex;
    padding: 16px 0 16px 34px;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.one-depth ul li {
    color: #777;
    font-family: Pretendard-Medium, serif;
    font-size: 13px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.26px;
}

.one-depth ul li:hover {
    color: #222;
}

.one-depth ul li.active {
    color: #222 !important;
    font-family: Pretendard-SemiBold, serif !important;
}


.container-box {
    width: 85%;
}

.side-menu.closed {
    width: 3%;
}

.side-menu.closed .side-menu-toggle-btn img {
    display: none;
}

.side-menu.closed .logo {
    width: 48px;
    height: 12px;
}

.side-menu.closed .user-name {
    display: none;
}

.side-menu.closed .action-wrapper {
    display: none;
}

.side-menu.closed .menu-list {
    padding-top: 20px;
}

.side-menu.closed .one-depth {
    width: 48px;
    height: 48px;
}

.side-menu.closed .one-depth-btn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 0;
    justify-content: center;
}

.side-menu.closed .one-depth-btn div div {
    display: none;
}

.side-menu.closed .one-depth-btn > img:last-child {
    display: none;
}

.container-box.expanded {
    width: 97%;
}

.main-content {
    display: flex;
    padding: 20px 40px 40px 40px;
}

.tree-area {
    margin-right: 32px;
    width: 30%;
}

.set-area {
    width: 70%;
}

.tree-area-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tree-area-title {
    display: flex;
    align-items: center;
    gap: 2px;
    width: 100%;
}

.tree-area-title img {
    width: 30px;
    height: 30px;
}

.tree-area-title div {
    color: #222;
    font-family: Pretendard-Medium, serif;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.36px;
}

.tree-action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
}

.icon-btn {
    white-space: nowrap !important;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 2px !important;
    border-radius: 4px !important;
    padding: 0 16px 0 12px !important;
    height: 36px !important;
    cursor: pointer !important;
    color: #FFF;
    font-family: Pretendard-Medium, serif !important;
    font-size: 13px !important;
    font-style: normal !important;
    line-height: normal !important;
    letter-spacing: -0.26px !important;
}

.icon-btn img {
    width: 20px;
    height: 20px;
}

.navy {
    color: #FFF !important;
    border: 1px solid #18216D !important;
    background: #18216D !important;
    border-radius: 4px !important;
}

.navy:hover {
    border: 1px solid #111748 !important;
    background: #111748;
}

.red {
    background: #E4302A;
}

.red:hover {
    background: #BE2722;
}

.gray {
    border-radius: 4px !important;
    border: 1px solid #E0E2E8 !important;
    background: #F6F7F9 !important;
    color: #222222 !important;
}

.gray:hover {
    color: #222222 !important;
    background: #E0E2E8 !important;
}

.green {
    background: #117D43;
}

.green:hover {
    background: #0B532D;
}

.black {
    background: #222;
    color: #FFF !important;
}

.black:hover {
    background: #3F3F3F;
}

.tree-menu {
    height: calc(100vh - 290px);
    overflow-y: auto;
    border-radius: 4px;
    border: 1px solid #DDD;
    padding: 5px;
    margin-top: 10px;
}

.left {
    display: flex !important;
    justify-content: flex-end !important;
}

tr.table-left td, tr.table-left th {
    text-align: left !important;
}

.page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    margin: 0 40px 0 40px;
    padding: 40px 0 20px 0;
    border-bottom: 1px solid #DDD;
    min-height: 54px;
}

.page-header div:first-child {
    color: #222;
    font-family: Pretendard-SemiBold, serif;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.48px;
}

.menu-detail-table {
    border-top: 2px solid #E0E3E8;
    border-bottom: 2px solid #E0E3E8;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.menu-detail-table tr th {
    background: #F6F7F9;
    padding: 12px 16px 12px 16px;
    color: #222;
    font-family: Pretendard-Medium, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
    text-align: center;
    vertical-align: middle;
}

.menu-detail-table tr td {
    padding: 12px 16px 12px 16px;
    color: #222;
    font-family: Pretendard-Regular, serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.28px;
    vertical-align: middle;
}

.menu-detail-table tr {
    border-bottom: 1px solid #E0E3E8;
}

.guide-line {
    padding: 16px;
    border-radius: 4px;
    background: #EEF1F8;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.guide-line li,
.guide-line em{
    background: url("../img/main/dot.svg") no-repeat left 0 center;
    background-size: 16px;
    color: #18216D;
    font-family: Pretendard-Regular, serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.28px;
    padding-left: 16px;
}

.path {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #222;
    font-family: Pretendard-Regular, serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.28px;
}

.path img {
    width: 16px;
    height: 16px;
}

.custom-checkbox {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    margin-right: 10px;
}

.custom-checkbox input[type="checkbox"] {
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #E0E3E8;
}

.custom-checkbox label {
    color: #222;
    font-family: Pretendard-Regular, serif;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.3px;
}

.caption {
    color: #777;
    font-family: Pretendard-Regular, serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.28px;
    margin-top: 4px;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 4px;
    border: 1px solid #DDD;
    padding: 7px 43px 7px 12px;
    font-family: Pretendard-Regular, serif;
    font-size: 14px;
    color: #222;
    background: #FFF url("../img/main/select-arrow.svg") no-repeat right 12px center;
    background-size: 16px;
    cursor: pointer;
    outline: none;
}

.custom-date {
    width: 100px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 4px;
    border: 1px solid #DDD;
    padding: 10px 43px 10px 12px;
    font-family: Pretendard-Regular, serif;
    font-size: 14px;
    color: #222;
    background: #FFF url("../img/main/calendar.svg") no-repeat right 12px center;
    background-size: 20px;
    cursor: pointer;
    outline: none;
}

.custom-input {
    border-radius: 4px;
    border: 1px solid #E0E3E8;
    background: #F6F7F9;
    padding: 0 12px;
    color: #222;
    font-family: Pretendard-Regular, serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.28px;
    height: 28px;
}

.custom-input:focus,
.custom-input:hover {
    outline: none;
}

.btn-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.custom-table {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.custom-table thead tr th {
    background: linear-gradient(0deg, #878B96 0%, #878B96 100%), #EFF1F4;
    color: #FFF;
    text-align: center;
    font-family: Pretendard-SemiBold, serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.28px;
    padding: 18px 0 18px 0;
    border-right: 1px solid rgba(195, 198, 211, 0.50);
    vertical-align: middle;
}

.custom-table thead tr th:first-child:last-child {
    border-radius: 4px;
}

.custom-table thead tr th:first-child:not(:last-child) {
    border-radius: 4px 0 0 4px;
}

.custom-table thead tr th:last-child:not(:first-child) {
    border-radius: 0 4px 4px 0;
    border-right: none;
}

.custom-table tbody tr td {
    color: #666;
    font-family: Pretendard-Regular, serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.28px;
    padding: 11px 16px 11px 16px;
    border: 1px solid #E0E3E8;
    text-align: center;
    vertical-align: middle;

}

.custom-table tbody tr td:first-child {
    border-left: none;
}

.custom-table tbody tr:first-child td {
    border-top: none;
}

.custom-table tbody tr td:last-child {
    border-right: none;
}

.custom-table tbody tr th {
    color: #666;
    font-family: Pretendard-Regular, serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.28px;
    padding: 11px 16px 11px 16px;
    border: 1px solid #E0E3E8;
    text-align: center;
    background: #EFF0F4;
}

.custom-table tbody tr th:first-child {
    border-left: none;
}

.custom-table tbody tr:first-child th {
    border-top: none;
}

.custom-table tbody tr th:last-child {
    border-right: none;
}

.popup-table {
    width: 100%;
}

.popup-table thead tr th {
    background: linear-gradient(0deg, #878B96 0%, #878B96 100%), #EFF1F4;
    color: #FFF;
    text-align: center;
    font-family: Pretendard-SemiBold, serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.28px;
    padding: 18px 0 18px 0;
    border-right: 1px solid rgba(195, 198, 211, 0.50);
}

.popup-table thead tr th:first-child:last-child {
    border-radius: 4px;
}

.popup-table thead tr th:first-child:not(:last-child) {
    border-radius: 4px 0 0 4px;
}

.popup-table thead tr th:last-child:not(:first-child) {
    border-radius: 0 4px 4px 0;
    border-right: none;
}

.popup-table tbody tr td {
    color: #666;
    background: #FFF;
    font-family: Pretendard-Regular, serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.28px;
    padding: 11px 16px 11px 16px;
    border: 1px solid #E0E3E8;
    text-align: center;
}

.popup-table tbody tr td:first-child {
    border-left: none;
}

.popup-table tbody tr td:last-child {
    border-right: none;
}

.popup-table tbody tr th {
    color: #666;
    font-family: Pretendard-Regular, serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.28px;
    padding: 11px 16px 11px 16px;
    border: 1px solid #E0E3E8;
    text-align: center;
    background: #EFF0F4;
}

.popup-table tbody tr th:first-child {
    border-left: none;
}

.popup-table tbody tr th:last-child {
    border-right: none;
}

.custom-tab {
    display: flex;
    border-bottom: 1px solid #E0E3E8;
}

.custom-tab li {
    padding: 0 16px;
    border-radius: 4px 4px 0 0;
    background: #EFF0F4;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #222;
    font-family: Pretendard-Medium, serif;
    font-size: 13px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.26px;
}

.custom-tab li.active {
    background: #222;
    color: #FFF;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 4px;
}

.custom-search {
    border-radius: 4px;
    border: 1px solid #DDD;
    background: #FFF;
    height: 34px;
    padding: 0 12px;
    color: #222;
    font-family: Pretendard-Regular, serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.28px;
}

.jqtree-element .jqtree-title {
    border: none;
}

.white {
    color: #FFF !important;
}

.center {
    display: flex;
    align-items: center;
}

.table-wrap {
    padding-top: 10px;
}

.custom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.table-action-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total-count {
    color: #222;
    font-family: Pretendard-Regular, serif;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    margin-right: 12px;
    margin-left: 6px;
}

.custom-filter {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 4px;
    border: 1px solid #DDD;
    padding: 10px 43px 10px 12px;
    font-family: Pretendard-Regular, serif;
    font-size: 14px;
    color: #222;
    background: #FFF url("../img/main/select-arrow.svg") no-repeat right 12px center;
    background-size: 16px;
    cursor: pointer;
    outline: none;
}

.table-search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 4px;
    background: #F6F7FA;
    height: 52px;
    margin-top: 32px;
}

.custom-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    gap: 4px;
}

.pagination-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: #EFF0F4;
    width: 30px;
    height: 30px;
    color: #555;
    font-family: Pretendard-Regular, serif;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.24px;
}

.pagination-btn.current {
    background: #222 !important;
    color: #EFF0F4 !important;
}

.custom-btn {
    border-radius: 4px;
    border: 1px solid #E0E3E8;
    display: inline-flex;
    padding: 4px 6px;
    justify-content: center;
    align-items: center;
    color: #666;
    font-family: Pretendard-Regular, serif;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.24px;
}

.custom-btn:hover {
    color: #666666;
    border: 1px solid #E0E3E8;
    background: #ECECEC;
}

.sky {
    background: #7593DE !important;
    color: #FFF !important;
}

.sky:hover {
    background: #4A72D4 !important;
}

.ui-widget-overlay {
    background: rgba(0, 0, 0, 0.40) !important;
    opacity: 1 !important;
}

.ui-widget.ui-widget-content {
    border: none !important;
}

.ui-corner-all {
    background: #FFF;
    box-shadow: 0 4px 30px 0 rgba(24, 33, 109, 0.10);
    backdrop-filter: blur(100px);
    z-index: 9999;
}

.ui-widget-header {
    background: #E0E2E8 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px 16px 0 0 !important;
    color: #222 !important;
    font-family: Pretendard-SemiBold, serif;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.32px;
    height: 44px;
}

.ui-dialog .ui-dialog-title {
    text-align: center;
    margin: 0 !important;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #222 !important;
    font-family: Pretendard-Medium, serif !important;
    font-size: 16px !important;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.32px
}

.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: 12px !important;
    top: 50%;
    transform: translateY(-50%);
    width: 24px !important;
    height: 24px !important;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 50%;
    border: 1px solid #222 !important;
}

.ui-button .ui-icon {
    background-image: url("../img/main/close.svg") !important;
}

.ui-icon-closethick {
    background-position: center !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #222222 !important;
    background: #E0E2E8 !important;
    font-weight: normal;
    color: #454545;
}

.ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: 32px 32px 20px 32px !important;
    background: none;
    overflow: auto;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: center;
    background-image: none;
    margin-top: 0 !important;
    padding: 0 !important;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.ui-dialog .ui-dialog-buttonpane button {*/
/*    margin: 0 !important;*/
/*}*/

.ui-widget-content {
    border: none !important;
}

.ui-dialog {
    border-radius: 16px !important;
    padding: 0 !important;
}

.txt-left {
    text-align: left !important;
}

@media (max-width: 1024px) {
    .side-menu {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        display: none;
    }

    .container-box {
        width: 100%;
    }
}


.site-list{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #DDD;
    padding: 10px 43px 10px 12px;
    font-family: Pretendard-Regular, serif;
    font-size: 14px;
    letter-spacing: -0.28px;
    color: #222;
    background: #FFF url(../img/main/select-arrow.svg) no-repeat right 12px center;
    background-size: 16px;
    cursor: pointer;
    outline: none;
}

.custom-selector {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 8px;
    border: 1px solid #DDD;
    padding: 16px 28px 16px 16px;
    font-family: Pretendard-Medium, serif;
    font-size: 14px;
    color: #222;
    background: #FFF url("../img/main/select-arrow.svg") no-repeat right 12px center;
    background-size: 16px;
    cursor: pointer;
    outline: none;
    width: 100%;
}

.custom-scroll-bar {
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
}

/* WebKit 스크롤바 스타일 */
.custom-scroll-bar::-webkit-scrollbar {
    width: 6px;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
    background-color: #878B96;
    border-radius: 4px;
}

/* Firefox 스타일 */
.custom-scroll-bar {
    scrollbar-width: thin;
    scrollbar-color: #878B96 #DADBE0;
}
/* 화살표 제거 */
::-webkit-scrollbar-button {
    display: none;
}


.session-message-title{
    margin: 20px 0;
    font-size: 20px;
}
.session-message-desc{
    line-height: 22px;
    color: #555;
}

.ui-dialog .ui-dialog-titlebar {
    padding: .4em 1em;
    position: relative;
}

.ui-dialog-buttonpane button{
    margin: .5em .4em .5em 0;
}


.custom-textarea {
    border-radius: 4px;
    border: 1px solid #E0E3E8;
    background: #F6F7F9;
    padding: 12px;
    color: #222;
    font-family: Pretendard-Regular, serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.28px;
    height: 100px;
}

.custom-textarea:focus,
.custom-textarea:hover {
    outline: none;
}

.ui-button-icon-only {
    text-indent: -9999px;
}
.ui-button-icon-only .ui-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.ui-datepicker-calendar{
    width: 100%;
}
.ui-state-default, .ui-widget-content .ui-state-default{
    background: #fff !important;
    border: none !important;

}
.ui-datepicker-calendar tr th, .ui-datepicker-calendar tr td{
    padding: 0.4em;
    text-align: center;
}
.ui-datepicker{
    border-radius: 20px 20px 0 0;
}

.ui-datepicker .ui-widget-header{
    height: 54px;
}

.table-bar{
    display: flex;
    padding: 10px;
    gap:  10px;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    background: #F6F7FA;
}

.filter-gap{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 24px
}

/* 통계 그래프 */
.graphArea{clear:both;padding:15px 0 20px}
.graphArea ul.num{width:52px;overflow:hidden}
.graphArea ul.num li{text-align:right;padding-right:8px;height:30px;line-height:30px}
.graphArea ul.num,
.graphArea .graphWrap .graph,
.graphArea .graphWrap .graph li,
.graphArea li .barWrap{height:210px;position:relative}
.graphArea ul.num,
.graphArea .graphWrap .graph{border-color:#ccc}
.graphArea .graphWrap{width:100%;float:left;margin-right:-52px}
.graphArea .graphWrap .graph{border:1px solid #ccc;border-right-width:0;border-top-width:0;margin-right:52px;background:url('../img/graphLine.gif') repeat-x}
.graphArea .graphWrap .graph li{float:left;text-align:center}
.graphArea ul.num{float:left;width:52px}
.graphArea ul.num li,
.graphArea li .txt{font-size:80%}
.graphArea *{
    -webkit-transition:all 100ms ease;
    -moz-transition:all 100ms ease;
    -ms-transition:all 100ms ease;
    -o-transition:all 100ms ease;
    transition:all 100ms ease}
.graphArea li{z-index:9}
.graphArea li.on{z-index:10}
.graphArea li .txt{position:absolute;left:0;width:100%;color:#999;text-align:center;text-decoration:none;padding:5px 0 0;line-height:120%}
.graphArea li .txt:hover,.graphArea li .txt:active,.graphArea li .txt:visited{text-decoration:none}
.graphArea li.most .txt,
.graphArea li.on .txt{color:#000}
.graphArea li .barWrap{padding:0 1px}
.graphArea li .gauge{position:absolute;z-index:11;bottom:0;left:50%;width:70%;margin-left:-35%;background-color:#ccc;cursor:pointer}
.graphArea li .gauge1,
.graphArea li .gauge2{width:25%}
.graphArea li .gauge1{left:35%;margin-left:-15%}
.graphArea li .gauge2{left:25%;margin-left:30%}
.graphArea li .gauge_ly{display:none;position:absolute;z-index:12;top:-28px;height:28px;left:4px;background:url('../img/gauge_ly_line.gif') no-repeat 0 bottom;font-size:85%}
.graphArea li .gauge_ly p{padding:3px 6px 3px 7px;margin-left:5px;color:#fff;white-space:nowrap;display:block;background-color:#666867}
.graphArea li .gauge_ly p em{position:relative;top:1px;margin-right:-3px;font-weight:bold;font-family:arial;font-size:110%}
.graphArea li.on .gauge,
.graphArea li.on .gauge:hover{background-color:#78ac39}
.graphArea li.on .gauge1 .gauge_ly,
.graphArea li.on .gauge2 .gauge_ly{display:none}
.graphArea li.on .gauge_ly,
.graphArea li.on .gauge1:hover .gauge_ly,
.graphArea li.on .gauge2:hover .gauge_ly,
.graphArea li .gauge.most .gauge_ly{display:block}
.graphArea li.on .gauge1,
.graphArea li .gauge1{background-color:#343434}
.graphArea li.on .gauge2,
.graphArea li .gauge2{background-color:#78ac39}
.graphArea li .gauge1:hover{background-color:#5d5d5d!important}
.graphArea li .gauge2:hover{background-color:#93bd61!important}

.graphArea .graphLegend{clear:both;overflow:hidden;padding:35px 0 0;text-align:center}
.graphArea .graphLegend li,
.graphArea .graphLegend i,
.graphArea .graphLegend span{display:inline-block;zoom:1;*display:inline;vertical-align:middle}
.graphArea .graphLegend li{zoom:1;*display:inline;font-size:85%;margin:0 5px}
.graphArea .graphLegend i{font-style:normal;width:12px;height:12px;font-size:0;line-height:0;background-color:#ccc;border-radius:50%}
.graphArea .graphLegend span{margin-left:5px}

.textareaBox{border:1px solid #ddd;font-size:0;margin-bottom:10px}
.textareaBox textarea{border:none;width:100%;font-size:13px}

table.chartData{clear:both;margin-top:10px}
table.chartData th,
table.chartData td{font-size:90%}
table.chartData td.ratio{border-left:0}
table.chartData td.ratio em,
table.chartData em{font-style:normal;font-size:90%;color:#777}
table.chartData td.ratioBar{border-right:0;padding-right:0}
table.chartData td.ratioBar .bar{padding: 10px;background:#647080;display: inline-table; color: #fff}