@charset "utf-8"; body {
    background: url('/resources/cms/img/bg_sjc.jpg') no-repeat;
	background-size: cover;
    font-size: 14px;
    position: relative;
}

#logo_wh {
    width: 141px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 600px;
    transform: translateY(-50%);
}

.wrap {
    font-family: 'Pretendard';
    position: fixed;
    width: 510px;
    height: 650px;
    left: 50%;
    /* margin-left:-400px; */
    top: 50%;
    margin-top: -300px
}

.login-box {
    display: block;
    width: 100%;
    height: 650px;
    background: #fff;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 10px 30px 1px #6b6b6b9e;
}

.login-box .info {
    display: block;
    width: 100%;
    vertical-align: middle;
    height: 220px;
}

.login-box .form {
    width: 100%;
    background: #fff;
    text-align: center;
    padding: 70px 0;
}

.login-box .info .container {
    text-align: center;
    display: block;
    zoom:1;/* display:inline; */
    padding: 62px 0;
    width: 100%;
    max-width: 510px;
}

.login-box .form .container {
    display: block;
    zoom:1;/* display:inline; */
    /* padding: 80px 0; */
    width: 100%;
    max-width: 510px;
    height: fit-content;
}

.login-box .info .container h1.logo_wh {
    width: 141px;
    height: 35px;
    margin: 0 auto;
}

.login-box .info .container h1.logo_wh img {
    width: 141px;
    height: 35px;
    margin: 0 auto;
}

.login-box .info .container p {
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    margin: 30px 0 0 0;
    font-family: 'Roboto';
    font-weight: 300;
}

.login-box .info {
    background: url('/resources/cms/img/log_bg.png') no-repeat 0 0;
    /* vertical-align:top; */
    /* font-family:'Nanum Gothic'; */
}

.login-box .info .box {
    padding: 30px
}

.login-box .info dt {
    font-size: 24px;
    color: #0059ac;
    padding: 10px 0 15px;
    color: #fff;
    line-height: 100%
}

.login-box .info dt b {
    font-weight: 800
}

.login-box .info dd img {
    width: 30px
}

.login-box .info ul {
    margin-left: 15px
}

.login-box .info li {
    list-style: outside disc;
    font-size: 13px;
    padding: 0 0 5px;
    color: #fff
}

.login-box .form .title {
    color: #353535;
    font-size: 24px
}

.login-box .form .title h1 {
    line-height: 100%;
    padding: 0px!important;
    margin: 0px;
    margin-bottom: 20px;
}

.login-box .form .title b {
    font-size: 30px;
    font-weight: 600;
    color: #353535;
    display: block;
    line-height: 150%;
    font-family: sans-serif;
    text-shadow: #d6c5c5 0.2px 0px;
}

.login-box .form .title i {
    display: inline-block;
    zoom:1;*display: inline;
    padding: 3px;
    border: 2px solid rgba(0,0,0,0.1);
    border-radius: 50%;
    width: 46px;
    height: 46px;
    line-height: 46px;
    margin-bottom: 19px;
}

.login-box .form fieldset {
    /* background:#f2f2f2; */
    /* border:1px solid #ccc; */
    border-radius: 5px;
    margin: 0 auto;
    padding: 0 60px;
    /* width: 100%; */
    margin-bottom: 20px;
    max-width: 510px;
}

.login-box .form .input-group {
    border: none;
    margin: 5px 0;
    border-radius: 28px;
    overflow: hidden
}

.login-box .form .input-group span{
    display: block;
    float: left;
    width: 14%;
    text-align: center;
    color: #798c9c;
    line-height: 56px;
}

.login-box .form .input-group span svg{margin:20px auto;color:#fff;}

.login-box .form .input-group input {
    display: block;
    /* float: right; */
    width: 86%;
    border: none;
    outline: none;
    /* padding: 0px 10px 0px 10px; */
}

.login-box .form .input-group span, .login-box .form .input-group input {
    font-family: 'Roboto';
    line-height: 56px;
    height: 56px;
    /* color: #fff; */
    background-color: #d5dfde !important;
    font-weight: 300;
}



input:-webkit-autofill,
 input:-webkit-autofill:hover,
 input:-webkit-autofill:focus,
input:-webkit-autofill:active {
background-color: #d5dfde !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #333;
  -webkit-box-shadow: 0 0 0px 1000px #d5dfde inset;
  transition: background-color 5000s ease-in-out 0s;
}




#member_id{ background-color: #d5dfde;}
input#member_id.form-control{ background-color: #d5dfde;}

.login-box .form .form-group.button {
    margin: 26px 0 0 0;
    /* margin-top: 30px; */
    /* margin-bottom: 10px; */
}

.login-box .form .input-group, .login-box .form .form-group.button {
    /* margin-left:35px; */
    /* margin-right:35px; */
}

.login-box .form button {
    background: linear-gradient( to right, #264d56, #1fad89 );
    color: #fff;
    width: 100%;
    line-height: 40px;
    display: block;
    border-radius: 28px;
    font-size: 17px;
    letter-spacing: -1px;
    height: 56px;
    font-weight: 600;
}

.login-box .form .input-group .fa {
    /* padding-top: 10px; */
    color: #fff;
    line-height: 56px;
}

.copyright {
    text-align: center
}

.copyright p {
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    /* padding-top:10px; */
    font-family: 'Roboto';
    float: left;
    position: absolute;
    bottom: 38px;
    left: 38px;
    width: 200px;
}
