.main-bg-slide {
  width: 100%;
  height: 100%;
}

.main-bg-slide .main-bg-slide-item:nth-child(1) {
  position: relative;
  height: 100vh;
  background: url('/resources/homepage/228/img/main/1.svg') no-repeat center center fixed;
  background-size: cover;
}

.main-bg-slide-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 196px;
}

.main-bg-slide .main-bg-slide-item:nth-child(2) {
  position: relative;
  height: 100vh;
  background: url('/resources/homepage/228/img/main/2.svg') no-repeat center center fixed;
  background-size: cover;
}

.main-bg-slide-item div:first-child {
  color: var(--white);
  text-align: center;
  font-family: Pretendard-Regular, sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.main-bg-slide-item div:last-child {
  color: var(--white);
  text-align: center;
  font-family: GmarketSans, sans-serif;
  font-size: 60px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.2px;
  text-transform: uppercase;
}

.main-bg-slide-item div span {
  font-weight: 700;
}

#fullpage .section-wrapper:nth-child(1) .wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 320px;
}

.search-bar-wrapper {
  display: flex;
}

.book-search-form {
  position: relative;
  display: flex;
  width: 1160px;
  height: 80px;
  background: rgba(255, 255, 255, 0.9);
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
}

#book-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1092px;
  height: 100%;
  padding: 0 40px;
  font-size: 18px;
  line-height: normal;
  color: var(--black);
  font-family: Pretendard-Medium, sans-serif;
  font-style: normal;
}

#book-search::placeholder {
  color: var(--black);
}

#book-search:focus,
#book-search:hover {
  outline: none;
}

.book-search-btn {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background: var(--primary-color-blue1);
  border-radius: 50%;
}

.book-search-btn img {
  width: 32px;
  height: 32px;
}

.quick-menu-wrapper {
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.quick-prev, .quick-next {
  display: none;
}

.quick-menu {
  width: 1440px;
}

.quick-menu .slick-list {
  padding-top: 28px;
}

.quick-menu-item {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  align-items: center;
  background: rgba(255, 255, 255, 0.80);
  backdrop-filter: blur(5px);
  width: 268px;
  height: 300px !important;
  margin-right: 25px;
  transition: transform 0.3s ease;
}

.quick-menu-item:hover {
  transform: translateY(-28px);
  background: var(--primary-color-blue1);
  flex-direction: column-reverse;
}

.quick-menu-item5 {
  flex-direction: column !important;
}

.quick-menu-item5 .quick-menu-title {
  margin-bottom: 0 !important;
}

.quick-menu-item:hover .quick-menu-title {
  color: var(--white);
  margin-bottom: 20px;
}

.quick-menu-item:hover .quick-menu-description {
  display: none;
}

.quick-menu-item:hover .go-to-quick-menu {
  display: flex;
}

.go-to-quick-menu {
  display: none;
  align-items: center;
  gap: 12px;
}

.go-to-quick-menu div {
  color: var(--white);
  text-align: center;
  font-family: Pretendard-Regular, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}

.go-to-quick-menu img {
  width: 24px;
  height: 13px;
}

.quick-menu-icon {
  width: 100px;
  height: 100px;
  background-size: cover;
  margin-bottom: 20px;
}

.quick-menu-item1 .quick-menu-icon {
  background: url('/resources/homepage/228/img/main/quick-menu1.svg') no-repeat center center / cover;
}

.quick-menu-item1:hover .quick-menu-icon {
  background: url('/resources/homepage/228/img/main/quick-menu1-a.svg') no-repeat center center / cover;
}

.quick-menu-item2 .quick-menu-icon {
  background: url('/resources/homepage/228/img/main/quick-menu2.svg') no-repeat center center / cover;
}

.quick-menu-item2:hover .quick-menu-icon {
  background: url('/resources/homepage/228/img/main/quick-menu2-a.svg') no-repeat center center / cover;
}

.quick-menu-item3 .quick-menu-icon {
  background: url('/resources/homepage/228/img/main/quick-menu3.svg') no-repeat center center / cover;
}

.quick-menu-item3:hover .quick-menu-icon {
  background: url('/resources/homepage/228/img/main/quick-menu3-a.svg') no-repeat center center / cover;
}

.quick-menu-item4 .quick-menu-icon {
  background: url('/resources/homepage/228/img/main/quick-menu4.svg') no-repeat center center / cover;
}

.quick-menu-item4:hover .quick-menu-icon {
  background: url('/resources/homepage/228/img/main/quick-menu4-a.svg') no-repeat center center / cover;
}

.quick-menu-item5 .quick-menu-icon {
  background: url('/resources/homepage/228/img/main/quick-menu5.svg') no-repeat center center / cover;
}

.quick-menu-item5:hover .quick-menu-icon {
  background: url('/resources/homepage/228/img/main/quick-menu5-a.svg') no-repeat center center / cover;
}

.collection-type {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 210px;
  height: 35px;
  background: var(--primary-color-blue2);
  color: var(--white);
  text-align: center;
  font-family: Pretendard-Regular, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.32px;
}

.active-type {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 210px;
  height: 35px;
  background: var(--primary-color-green2);
  margin-top: 2px;
  color: var(--white);
  text-align: center;
  font-family: Pretendard-Regular, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.32px;
}

.quick-menu-title {
  color: var(--black);
  font-family: Pretendard-SemiBold, sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.quick-menu-description {
  margin-top: 12px;
  color: var(--gray600);
  text-align: center;
  font-family: Pretendard-Regular, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.32px;
}

.main-bottom-area {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  z-index: 999;
}

.main-bottom-area-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #fff;
}

.holiday-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
  background: var(--primary-color-blue1);
  position: relative;
}

.holiday-area-title {
  color: var(--white);
  font-family: GmarketSans, sans-serif;
  font-size: 24px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: -0.6px;
}

.holiday-area-controller {
  display: flex;
  align-items: center;
  margin: 0 32px;
}

.holiday-area-controller a img {
  width: 30px;
  height: 30px;
}

.holiday-area-controller div {
  color: var(--white);
  font-family: GmarketSans, sans-serif;
  font-size: 24px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: -0.6px;
}

.holiday-area-controller div span {
  margin-left: 8px;
}

.holiday-notice-wrapper {
  width: 100%;
  display: flex;
  height: 70px;
}

.holiday-list {
  display: flex;
  gap: 32px;
  width: 339px;
  margin-right: 40px;
  align-items: center;
}

.holiday-list div {
  color: var(--white);
  font-family: GmarketSans, sans-serif;
  font-size: 24px;
  font-style: normal;
  line-height: 130%;
}

.go-to-holiday {
  width: 85px;
  height: 32px;
  border-radius: 30px;
  border: 1px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  text-align: center;
  font-family: GmarketSans, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 100%;
  padding-top: 5px;
  letter-spacing: -0.32px;
}


.notice-slide-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 32px;
  gap: 4px;
  width: 50%;
  background: #f4f6f8;
}

.notice-slide-wrapper img {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.notice-slide {
  display: flex;
  align-items: center;
  width: 800px;
}

.notice-slide div {
  font-size: 16px;
  line-height: 100%;
  color: var(--black);
  font-family: GmarketSans, sans-serif;
  font-style: normal;
  padding-top: 1px;
  width: 800px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-data {
  white-space: nowrap;
}


.holiday-list div:nth-child(5),
.holiday-list div:nth-child(6) {
  display: none;
}


.main-bg-slide-item br {
  display: none;
}

@media (max-width: 1440px) {
  #fullpage .section-wrapper:nth-child(2) {
    height: 608px;
  }

  .main-bg-slide .main-bg-slide-item:nth-child(1) {
    height: 608px;
    background: url('/resources/homepage/228/img/main/bg.svg') no-repeat center center fixed;
  }

  .main-bg-slide-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
  }

  .main-bg-slide .main-bg-slide-item:nth-child(2) {
    height: 608px;
    background: url('/resources/homepage/228/img/main/bg2.svg') no-repeat center center fixed;
  }

  .main-bg-slide-item div:first-child {
    font-size: 14px;
    letter-spacing: 2.8px;
    margin-bottom: 8px;
  }

  .main-bg-slide-item div:last-child {
    font-size: 42px;
    letter-spacing: -0.84px;
  }

  #fullpage .section-wrapper:nth-child(1) .wrapper {
    padding-top: 125px;
  }

  .book-search-form {
    width: 692px;
    height: 60px;
  }

  #book-search {
    width: 641px;
    padding: 0 26px;
    font-size: 16px;
  }

  .search-bar-wrapper {
    margin-top: 0;
  }

  .book-search-btn {
    right: 13px;
    width: 34px;
    height: 34px;
  }

  .book-search-btn img {
    width: 24px;
    height: 24px;
  }

  .quick-menu-wrapper {
    display: flex;
    align-items: center;
    margin-top: 12px;
    gap: 54px;
  }

  .quick-prev, .quick-next {
    display: block;
    width: 32px;
    height: 32px;
    margin-top: 12px;
  }

  .quick-menu {
    width: 692px;
  }

  .quick-menu .slick-list {
    padding-top: 28px;
  }

  .quick-menu-item {
    width: 220px;
    height: 260px !important;
    margin-right: 16px;
  }

  .quick-menu-item:hover .quick-menu-title {
    margin-bottom: 14px;
  }

  .go-to-quick-menu {
    display: none;
    align-items: center;
    gap: 12px;
  }

  .go-to-quick-menu div {
    font-size: 14px;
    line-height: normal;
  }

  .go-to-quick-menu img {
    width: 20px;
    height: 11px;
  }

  .quick-menu-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 14px;
  }

  .collection-type {
    width: 172px;
    height: 33px;
    font-size: 14px;
    letter-spacing: -0.28px;
  }

  .active-type {
    width: 172px;
    height: 33px;
    font-size: 14px;
    letter-spacing: -0.28px;
  }

  .quick-menu-title {
    font-size: 18px;
  }

  .quick-menu-description {
    font-size: 14px;
    letter-spacing: -0.28px;
  }

  .main-bottom-area {
    height: 56px;
  }

  .main-bottom-area-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
  }

  .holiday-area-title {
    font-size: 16px;
    line-height: 130%;
  }

  .holiday-area-controller {
    margin: 0 12px;
  }

  .holiday-area-controller a img {
    width: 24px;
    height: 24px;
  }

  .holiday-area-controller div {
    font-size: 16px;
    letter-spacing: -0.4px;
  }

  .holiday-area-controller div span {
    margin-left: 4px;
  }

  .holiday-list {
    gap: 12px;
    width: 192px;
    margin-right: 24px;
  }

  .holiday-list div {
    font-size: 16px;
    padding-top: 4px;
  }

  .go-to-holiday {
    width: 66px;
    height: 24px;
    font-size: 12px;
    letter-spacing: -0.24px;
    padding-top: 2px;
  }

  .notice-slide-wrapper {
    padding-left: 24px;
  }

  .notice-slide-wrapper img {
    width: 32px;
    height: 32px;
  }

  .notice-slide {
    width: 357px;
  }

  .notice-slide div {
    font-size: 14px;
    width: 357px;
  }

  .holiday-notice-wrapper {
    height: 56px;
  }
}

@media (max-width: 865px) {
  #fullpage .section-wrapper:nth-child(2) {
    height: 685px;
  }

  .main-bg-slide .main-bg-slide-item:nth-child(1) {
    height: 685px;
  }

  .main-bg-slide .main-bg-slide-item:nth-child(2) {
    height: 685px;
  }

  .main-bg-slide-item div:nth-child(1) br {
    display: none;
  }

  .main-bg-slide-item div:nth-child(2) br {
    display: block;
  }

  #fullpage .section-wrapper:nth-child(1) .wrapper {
    padding-top: 173px;
  }

  .slogan div:last-child {
    width: 320px;
  }

  #mainSearchForm {
    width: 488px;
  }

  #book-search {
    width: 438px;
    padding: 0 18px;
    font-size: 16px;
  }

  .quick-menu-item:hover {
    transform: translateY(-16px);
  }

  .quick-menu-wrapper {
    margin-top: 24px;
    gap: 24px;
  }

  .quick-prev, .quick-next {
    margin-top: 12px;
  }

  .quick-menu {
    width: 376px;
  }

  .quick-menu .slick-list {
    padding-top: 16px;
  }

  .quick-menu-item {
    width: 180px;
    height: 230px !important;
  }

  .quick-menu-icon {
    width: 70px;
    height: 70px;
  }

  .collection-type {
    width: 141px;
    height: 29px;
  }

  .active-type {
    width: 141px;
    height: 29px;
  }

  .quick-menu-title {
    font-size: 16px;
  }

  .main-bottom-area {
    height: 112px;
  }

  .holiday-notice-wrapper {
    flex-direction: column;
    height: 112px;
  }

  .holiday-area {
    justify-content: center;
    width: 100%;
    height: 56px;
  }

  .holiday-area-title {
    font-size: 16px;
    letter-spacing: -0.4px;
  }

  .holiday-area-controller {
    margin: 0 20px;
  }

  .holiday-area-controller a img {
    width: 24px;
    height: 24px;
  }

  .holiday-area-controller div {
    font-size: 16px;
    letter-spacing: -0.4px;
  }

  .holiday-area-controller div span {
    margin-left: 4px;
  }

  .holiday-list {
    gap: 16px;
    width: 283px;
    margin-right: 0;
  }

  .holiday-list div:nth-child(6) {
    display: block;
  }

  .holiday-list div {
    font-size: 16px;
  }

  .go-to-holiday {
    width: 66px;
    height: 24px;
    font-size: 12px;
    letter-spacing: -0.24px;
  }

  .notice-slide-wrapper {
    justify-content: center;
    height: 56px;
    width: 100%;
    padding-left: 0;
  }

  .notice-slide-wrapper img {
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

  .notice-slide {
    width: 490px;
  }

  .notice-slide div {
    font-size: 14px;
    padding-top: 1px;
    width: 490px;
  }

  .no-data {
    white-space: nowrap;
  }
}

@media (max-width: 490px) {
  #fullpage .section-wrapper:nth-child(2) {
    height: 616px;
  }

  .main-bg-slide-item {
    padding-top: 60px;
  }

  .main-bg-slide-item div:nth-child(1) br {
    display: block;
  }

  .main-bg-slide .main-bg-slide-item:nth-child(1) {
    height: 616px;
  }

  .main-bg-slide .main-bg-slide-item:nth-child(2) {
    height: 616px;
  }

  #fullpage .section-wrapper:nth-child(1) .wrapper {
    padding-top: 178px;
  }

  .main-bg-slide-item div:first-child {
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 8px;
  }

  .main-bg-slide-item div:last-child {
    font-size: 36px;
    letter-spacing: -0.72px;
  }

  #mainSearchForm {
    width: 320px;
    height: 48px;
    border-radius: 10px;
  }

  #book-search {
    width: 278px;
    padding: 0 12px;
    font-size: 14px;
  }

  .book-search-btn {
    right: 12px;
    width: 30px;
    height: 30px;
  }

  .book-search-btn img {
    width: 20px;
    height: 20px;
  }

  .quick-menu-item:hover {
    transform: translateY(-16px);
  }

  .quick-menu-wrapper {
    margin-top: 12px;
    gap: 43px;
  }

  .quick-menu {
    width: 170px;
  }

  .quick-menu .slick-list {
    padding-top: 16px;
  }

  .quick-menu-item {
    width: 170px;
    height: 200px !important;
  }

  .quick-menu-icon {
    width: 60px;
    height: 60px;
  }

  .collection-type {
    width: 133px;
    height: 26px;
    font-size: 12px;
    letter-spacing: -0.24px;
  }

  .active-type {
    width: 133px;
    height: 26px;
    font-size: 12px;
    letter-spacing: -0.24px;
  }

  .quick-menu-title {
    font-size: 16px;
  }

  .main-bottom-area {
    height: 112px;
  }

  .holiday-area {
    justify-content: flex-start;
    padding: 0 20px;
  }

  .holiday-notice-wrapper {
    flex-direction: column;
    height: 112px;
  }

  .holiday-area-title {
    font-size: 14px;
    letter-spacing: -0.35px;
  }

  .holiday-area-controller {
    margin: 0 12px;
  }

  .holiday-area-controller a img {
    width: 22px;
    height: 22px;
  }

  .holiday-area-controller div {
    font-size: 14px;
    letter-spacing: -0.35px;
  }

  .holiday-list {
    gap: 0;
    width: 93px;
    flex-wrap: wrap;
    row-gap: 4px;
    column-gap: 16px;
    margin-right: 0;
  }

  .holiday-list div:nth-child(6) {
    display: block;
  }

  .holiday-list div {
    font-size: 14px;
    width: 19px;
    display: flex;
    text-align: center;
  }

  .go-to-holiday {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    font-size: 11px;
    letter-spacing: -0.22px;
    padding: 3px 3px 0 3px;
    white-space: normal; /* 기본 줄바꿈 허용 */
    word-break: break-word
  }

  .notice-slide-wrapper img {
    width: 32px;
    height: 32px;
  }

  .notice-slide {
    width: 296px;
  }
  .notice-slide div {
    width: 296px;
    height: 41px;
    min-height: 41px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .notice-slide div span {
    width: 296px;
    height: 41px;
    min-height: 41px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 140%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: flex;
    align-items: center;
  }


  .no-data {
    white-space: nowrap;
    font-size: 11px !important;
  }
}