<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.whalesoft.app.cms.privacyLog.PrivacyLogDao">

	<insert id="addPrivacyLog">
		<selectKey keyProperty="privacy_log_idx" resultType="int" order="BEFORE">
			SELECT NVL(MAX(privacy_log_idx),0)+1 FROM PRIVACY_LOG
		</selectKey>
		INSERT INTO
			PRIVACY_LOG
		(
			privacy_log_idx, privacy_log_query, privacy_log_id, privacy_log_ip, privacy_log_date
		)
			VALUES
		(
			#{privacy_log_idx}, #{privacy_log_query}, #{privacy_log_id}, #{privacy_log_ip}, SYSDATE
		)
	</insert>

</mapper>