<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.elib.statistics.ElibStatisticsDao">
	
	<sql id="search">
		<if test="type != 'JRN'">
		<if test="library_code != null and library_code != ''">
		AND b.library_code = #{library_code}
		</if>
		<if test="com_code != null and com_code != ''">
		AND b.com_code = #{com_code}
		</if>
		</if>
	</sql>
	
	<sql id="search2">
		<if test="library_code != null and library_code != ''">
		AND ta.library_code = #{library_code}
		</if>
		<if test="com_code != null and com_code != ''">
		AND ta.com_code = #{com_code}
		</if>
	</sql>
	
	<sql id="typeColumn">
		<choose>
		<when test="type == 'EBK'">
		a.lend_dt
		</when>
		<otherwise>
		a.add_date
		</otherwise>
		</choose>
	</sql>
	
	<sql id="typeColumn2">
		<choose>
		<when test="type == 'EBK'">
		lend_dt
		</when>
		<otherwise>
		add_date
		</otherwise>
		</choose>
	</sql>
	
	<sql id="code1">
		<choose>
		<when test="menu == 'HOUR'">
		TO_CHAR(<include refid="typeColumn"/>, 'YYYY-MM-DD HH24')
		</when>
		<when test="menu == 'DAY'">
		TO_CHAR(<include refid="typeColumn"/>, 'YYYY-MM-DD')
		</when>
		<when test="menu == 'MONTH'">
		TO_CHAR(<include refid="typeColumn"/>, 'YYYY-MM-DD')
		</when>
		<when test="menu == 'PERIOD'">
		TO_CHAR(<include refid="typeColumn"/>, 'YYYY-MM')
		</when>
		<otherwise>
		</otherwise>
		</choose>
	</sql>
	
	<sql id="code2">
		<choose>
		<when test="menu == 'HOUR'">
			AND TO_CHAR(<include refid="typeColumn"/>, 'YYYY-MM-DD HH24') LIKE #{search_sdt}||'%'
		</when>
		<when test="menu == 'DAY' or menu == 'MONTH'">
			AND TO_CHAR(<include refid="typeColumn"/>, 'YYYY-MM-DD HH24') LIKE #{search_sdt}||'%'
		</when>
		<when test="menu == 'PERIOD'">
			AND #{search_sdt} &lt;= TO_CHAR(<include refid="typeColumn"/>, 'YYYY-MM')
			AND TO_CHAR(<include refid="typeColumn"/>, 'YYYY-MM') &lt; TO_CHAR(ADD_MONTHS(TO_DATE(#{search_edt}, 'YYYY-MM'), 1), 'YYYY-MM')
		</when>
		<otherwise>
		</otherwise>
		</choose>
	</sql>
	
	<sql id="table">
		<choose>
		<when test="type == 'EBK'">
			ELIB_LEND a,
		</when>
		<when test="type == 'WEB'">
			ELIB_ELEARN_STAT a,
		</when>
		<when test="type == 'ADO'">
			ELIB_AUDIO_STAT a,
		</when>
		<otherwise>
		</otherwise>
		</choose>
	</sql>
	
	<sql id="table2">
		<choose>
		<when test="type == 'EBK'">
			ELIB_LEND
		</when>
		<when test="type == 'WEB'">
			ELIB_ELEARN_STAT
		</when>
		<when test="type == 'ADO'">
			ELIB_AUDIO_STAT
		</when>
		<otherwise>
		</otherwise>
		</choose>
	</sql>
	
	<select id="getStatisticsByCategory" resultType="HashMap">
		SELECT
		  a.type, a.parent_id, b.cate_name, b.display_seq, a.device, a.cnt 
		FROM (
			SELECT
				type, parent_id, device, SUM(cnt) AS cnt
			FROM
				ELIB_STATISTICS_TBL4
			WHERE 1=1
			<if test="library_code != null and library_code != ''">
			AND lib = #{library_code}
			</if>
			<if test="search_sdt != null and search_sdt != ''">
			AND #{search_sdt} &lt;= dt
			</if>
			<if test="search_edt != null and search_edt != ''">
			AND dt &lt;= #{search_edt}
			</if>
			GROUP BY type, parent_id, device
		) a,
		  ELIB_CATEGORY b
		WHERE 1=1
		AND a.parent_id = b.cate_id (+)
		ORDER BY a.type, b.display_seq, a.device
	</select>
	
	<sql id="_getStatisticsByBook">
		from (
		  select book_idx, LISTAGG(device || ':' || cnt, ',') within group ( order by book_idx ) as device_cnt, sum(cnt) as cnt
		  from (
		    select book_idx, device, count(device) as cnt
		    from (
			  select a.book_idx, a.device
			  from <include refid="table2"/> a, elib_book b
			  where 1=1
			  and a.book_idx = b.book_idx
			  and b.type = #{type}
	  		  <if test="library_code != null and library_code != ''">
			  AND b.library_code = #{library_code}
			  </if>
	          <if test="search_sdt != null and search_sdt != '' and search_edt != null and search_edt != ''">
			  AND #{search_sdt} &lt;= TO_CHAR(a.<include refid="typeColumn2"/>, 'YYYY-MM-DD')
			  AND TO_CHAR(a.<include refid="typeColumn2"/>, 'YYYY-MM-DD') &lt;= #{search_edt}
	          </if>
	          <if test="search_sdt == null or search_sdt == '' or search_edt == null or search_edt == ''">
	          AND 1=2
	          </if>
			  <if test="type == 'ADO'">
			  union all
			  select a.book_idx, a.device
			  from elib_lend a, elib_book b
			  where 1=1
			  and a.book_idx = b.book_idx
			  and b.type = #{type}
	  		  <if test="library_code != null and library_code != ''">
			  AND b.library_code = #{library_code}
			  </if>
	          <if test="search_sdt != null and search_sdt != '' and search_edt != null and search_edt != ''">
			  AND #{search_sdt} &lt;= TO_CHAR(a.lend_dt, 'YYYY-MM-DD')
			  AND TO_CHAR(a.lend_dt, 'YYYY-MM-DD') &lt;= #{search_edt}
	          </if>
	          <if test="search_sdt == null or search_sdt == '' or search_edt == null or search_edt == ''">
	          AND 1=2
	          </if>
			  </if>
			)
			group by book_idx, device
		  )
		  group by book_idx
		  order by book_idx
		) a,
		  elib_book b
		where 1=1
		and b.type = #{type}
		and a.book_idx = b.book_idx
<!--         <include refid="search"/> -->
		order by a.cnt desc, a.book_idx 
	</sql>
	
	<select id="getStatisticsByBookCnt" resultType="int">
		SELECT
			COUNT(*) AS cnt
		<include refid="_getStatisticsByBook"/>
	</select>
	
	<select id="getStatisticsByBook" resultType="kr.go.gbelib.app.cms.module.elib.statistics.ElibStatistics">
		${pagingTop}
		select
		  a.book_idx, b.book_name, a.device_cnt, b.library_code, a.cnt,
		  CASE
		    WHEN b.library_code = '9999999'
		  THEN '통합'
		  ELSE (SELECT z.homepage_name FROM CMS_HOMEPAGE z WHERE b.library_code = SUBSTR(z.lib_code, 1, 8))
		  END AS library_name,
		  (
		    SELECT COUNT(*)
		    FROM ELIB_RESERVE z
		    WHERE b.book_idx = z.book_idx
		    <if test="search_sdt != null and search_sdt != ''">
		    AND #{search_sdt} &lt;= TO_CHAR(z.reserve_dt, 'YYYY-MM-DD')
		    </if>
		    <if test="search_edt != null and search_edt != ''">
		    AND TO_CHAR(z.reserve_dt, 'YYYY-MM-DD') &lt;= #{search_edt}
		    </if>
		  ) AS total_reserves_cnt,
		  (
		    SELECT COUNT(*)
		    FROM ELIB_COMMENT z
		    WHERE b.book_idx = z.book_idx
		    <if test="search_sdt != null and search_sdt != ''">
		    AND #{search_sdt} &lt;= TO_CHAR(z.add_date, 'YYYY-MM-DD')
		    </if>
		    <if test="search_edt != null and search_edt != ''">
		    AND TO_CHAR(z.add_date, 'YYYY-MM-DD') &lt;= #{search_edt}
		    </if>
		  ) AS comments_cnt,
		  b.book_reserve as reserves_cnt
		<include refid="_getStatisticsByBook"/>
		${pagingBottom}
	</select>
	
	<select id="getStatisticsByBookTotal" resultType="kr.go.gbelib.app.cms.module.elib.statistics.ElibStatistics">
		select
		  a.device_cnt, a.cnt,
		  (
		    SELECT COUNT(*)
		    FROM ELIB_RESERVE z, ELIB_BOOK y
		    WHERE 1=1
		    AND z.book_idx = y.book_idx
		    AND y.type = #{type}
	  		<if test="library_code != null and library_code != ''">
			AND y.library_code = #{library_code}
			</if>
		    <if test="search_sdt != null and search_sdt != ''">
		    AND #{search_sdt} &lt;= TO_CHAR(z.reserve_dt, 'YYYY-MM-DD')
		    </if>
		    <if test="search_edt != null and search_edt != ''">
		    AND TO_CHAR(z.reserve_dt, 'YYYY-MM-DD') &lt;= #{search_edt}
		    </if>
		  ) AS total_reserves_cnt,
		  (
		    SELECT COUNT(*)
		    FROM ELIB_COMMENT z, ELIB_BOOK y
		    WHERE 1=1
		    AND z.book_idx = y.book_idx
		    AND y.type = #{type}
	  		<if test="library_code != null and library_code != ''">
			AND y.library_code = #{library_code}
			</if>
		    <if test="search_sdt != null and search_sdt != ''">
		    AND #{search_sdt} &lt;= TO_CHAR(z.add_date, 'YYYY-MM-DD')
		    </if>
		    <if test="search_edt != null and search_edt != ''">
		    AND TO_CHAR(z.add_date, 'YYYY-MM-DD') &lt;= #{search_edt}
		    </if>
		  ) AS comments_cnt,
  		  (
		    SELECT sum(y.book_reserve)
		    FROM ELIB_RESERVE z, ELIB_BOOK y
		    WHERE z.book_idx = y.book_idx
		    AND y.type = #{type}
	  		<if test="library_code != null and library_code != ''">
			AND y.library_code = #{library_code}
			</if>
		    <if test="search_sdt != null and search_sdt != ''">
		    AND #{search_sdt} &lt;= TO_CHAR(z.reserve_dt, 'YYYY-MM-DD')
		    </if>
		    <if test="search_edt != null and search_edt != ''">
		    AND TO_CHAR(z.reserve_dt, 'YYYY-MM-DD') &lt;= #{search_edt}
		    </if>
		  ) as reserves_cnt
		from (
		  select LISTAGG(device || ':' || cnt, ',') within group ( order by 1 ) as device_cnt, sum(cnt) as cnt
		  from (
		  	select a.device, count(a.device) as cnt
		  	from (
			  select a.device
			  from <include refid="table2"/> a, elib_book b
			  where 1=1
			  and a.book_idx = b.book_idx
			  and b.type = #{type}
	  		  <if test="library_code != null and library_code != ''">
			  AND b.library_code = #{library_code}
			  </if>
	          <if test="search_sdt != null and search_sdt != '' and search_edt != null and search_edt != ''">
			  AND #{search_sdt} &lt;= TO_CHAR(a.<include refid="typeColumn2"/>, 'YYYY-MM-DD')
			  AND TO_CHAR(a.<include refid="typeColumn2"/>, 'YYYY-MM-DD') &lt;= #{search_edt}
	          </if>
	          <if test="search_sdt == null or search_sdt == '' or search_edt == null or search_edt == ''">
	          AND 1=2
	          </if>
			  <if test="type == 'ADO'">
			  union all
			  select a.device
			  from elib_lend a, elib_book b
			  where 1=1
	  		  <if test="library_code != null and library_code != ''">
			  AND b.library_code = #{library_code}
			  </if>
			  and a.book_idx = b.book_idx
			  and b.type = #{type}
	          <if test="search_sdt != null and search_sdt != '' and search_edt != null and search_edt != ''">
			  AND #{search_sdt} &lt;= TO_CHAR(a.lend_dt, 'YYYY-MM-DD')
			  AND TO_CHAR(a.lend_dt, 'YYYY-MM-DD') &lt;= #{search_edt}
	          </if>
	          <if test="search_sdt == null or search_sdt == '' or search_edt == null or search_edt == ''">
	          AND 1=2
	          </if>
			  </if>
			) a
			group by a.device
		  )
		  group by 1
		  order by 1
		) a
		where 1=1
<!--         <include refid="search"/> -->
	</select>
	
	<select id="getStatisticsByBookAll" resultType="kr.go.gbelib.app.cms.module.elib.statistics.ElibStatistics">
		select
		  a.book_idx, b.book_name, a.device_cnt, b.library_code, a.cnt,
		  CASE
		    WHEN b.library_code = '9999999'
		  THEN '통합'
		  ELSE (SELECT z.homepage_name FROM CMS_HOMEPAGE z WHERE b.library_code = SUBSTR(z.lib_code, 1, 8))
		  END AS library_name,
		  (
		    SELECT COUNT(*)
		    FROM ELIB_RESERVE z
		    WHERE z.book_idx = b.book_idx 
		    <if test="search_sdt != null and search_sdt != ''">
		    AND #{search_sdt} &lt;= TO_CHAR(z.reserve_dt, 'YYYY-MM-DD')
		    </if>
		    <if test="search_edt != null and search_edt != ''">
		    AND TO_CHAR(z.reserve_dt, 'YYYY-MM-DD') &lt;= #{search_edt}
		    </if>
		  ) AS total_reserves_cnt,
		  (
		    SELECT COUNT(*)
		    FROM ELIB_COMMENT z
		    WHERE z.book_idx = b.book_idx 
		    <if test="search_sdt != null and search_sdt != ''">
		    AND #{search_sdt} &lt;= TO_CHAR(z.add_date, 'YYYY-MM-DD')
		    </if>
		    <if test="search_edt != null and search_edt != ''">
		    AND TO_CHAR(z.add_date, 'YYYY-MM-DD') &lt;= #{search_edt}
		    </if>
		  ) AS comments_cnt,
		  (
		    SELECT sum(y.book_reserve)
		    FROM ELIB_RESERVE z, ELIB_BOOK y
		    WHERE z.book_idx = y.book_idx
		    AND y.type = #{type}
		    <if test="search_sdt != null and search_sdt != ''">
		    AND #{search_sdt} &lt;= TO_CHAR(z.reserve_dt, 'YYYY-MM-DD')
		    </if>
		    <if test="search_edt != null and search_edt != ''">
		    AND TO_CHAR(z.reserve_dt, 'YYYY-MM-DD') &lt;= #{search_edt}
		    </if>
		  ) as reserves_cnt
		<include refid="_getStatisticsByBook"/>
	</select>
	
	<sql id="_getStatisticsByMember">
		FROM
		  ELIB_MEMBER ta,
		  (
		    SELECT
		      c.member_id,
		      (SELECT z.loca FROM GBELAS.TN_ST_USER z WHERE z.web_id = c.member_id) AS library_code,
		      SUM(c.pcnt) AS pcnt,
		      SUM(c.scnt) AS scnt,
		      SUM(c.acnt) AS acnt,
		      SUM(c.icnt) AS icnt,
		      SUM(c.ecnt) AS ecnt,
		      SUM(c.comments_cnt) AS comments_cnt
		    FROM
		      (
		        SELECT
		          a.member_id,
		          c.loca AS library_code,
		          COUNT(*) AS pcnt,
		          0        AS scnt,
		          0        AS acnt,
		          0        AS icnt,
		          0        AS ecnt,
		          0        AS comments_cnt
		        FROM
		          <include refid="table"/>
		          ELIB_BOOK b,
		          GBELAS.TN_ST_USER c
		        WHERE
		          a.book_idx  = b.book_idx
		        AND a.member_id = c.web_id (+)
		        AND b.type    = #{type}
		        AND a.device  = 'P'
			    <if test="search_sdt != null and search_sdt != ''">
			    AND #{search_sdt} &lt;= TO_CHAR(<include refid="typeColumn"/>, 'YYYY-MM-DD')
			    </if>
			    <if test="search_edt != null and search_edt != ''">
			    AND TO_CHAR(<include refid="typeColumn"/>, 'YYYY-MM-DD') &lt;= #{search_edt}
			    </if>
		  		<if test="library_code != null and library_code != ''">
				AND c.loca = #{library_code}
				</if>
				<if test="com_code != null and com_code != ''">
				AND b.com_code = #{com_code}
				</if>
		        <if test="member_id != null and member_id != ''">
		        AND a.member_id = #{member_id}
		        </if>
		        GROUP BY
		          a.member_id, c.loca
		        UNION ALL
		        SELECT
		          a.member_id,
		          c.loca AS library_code,
		          0        AS pcnt,
		          COUNT(*) AS scnt,
		          0        AS acnt,
		          0        AS icnt,
		          0        AS ecnt,
		          0        AS comments_cnt
		        FROM
		          <include refid="table"/>
		          ELIB_BOOK b,
		          GBELAS.TN_ST_USER c
		        WHERE
		          a.book_idx   = b.book_idx
		        AND a.member_id = c.web_id (+)
		        AND b.type    = #{type}
		        AND a.device  = 'S'
			    <if test="search_sdt != null and search_sdt != ''">
			    AND #{search_sdt} &lt;= TO_CHAR(<include refid="typeColumn"/>, 'YYYY-MM-DD')
			    </if>
			    <if test="search_edt != null and search_edt != ''">
			    AND TO_CHAR(<include refid="typeColumn"/>, 'YYYY-MM-DD') &lt;= #{search_edt}
			    </if>
		  		<if test="library_code != null and library_code != ''">
				AND c.loca = #{library_code}
				</if>
				<if test="com_code != null and com_code != ''">
				AND b.com_code = #{com_code}
				</if>
		        <if test="member_id != null and member_id != ''">
		        AND a.member_id = #{member_id}
		        </if>
		        GROUP BY
		          a.member_id, c.loca
		        UNION ALL
		        SELECT
		          a.member_id,
		          c.loca AS library_code,
		          0        AS pcnt,
		          0        AS scnt,
		          COUNT(*) AS acnt,
		          0        AS icnt,
		          0        AS ecnt,
		          0        AS comments_cnt
		        FROM
		          <include refid="table"/>
		          ELIB_BOOK b,
		          GBELAS.TN_ST_USER c
		        WHERE
		          a.book_idx   = b.book_idx
		        AND a.member_id = c.web_id (+)
		        AND b.type    = #{type}
		        AND a.device  = 'A'
			    <if test="search_sdt != null and search_sdt != ''">
			    AND #{search_sdt} &lt;= TO_CHAR(<include refid="typeColumn"/>, 'YYYY-MM-DD')
			    </if>
			    <if test="search_edt != null and search_edt != ''">
			    AND TO_CHAR(<include refid="typeColumn"/>, 'YYYY-MM-DD') &lt;= #{search_edt}
			    </if>
		  		<if test="library_code != null and library_code != ''">
				AND c.loca = #{library_code}
				</if>
				<if test="com_code != null and com_code != ''">
				AND b.com_code = #{com_code}
				</if>
		        <if test="member_id != null and member_id != ''">
		        AND a.member_id = #{member_id}
		        </if>
		        GROUP BY
		          a.member_id, c.loca
		        UNION ALL
		        SELECT
		          a.member_id,
		          c.loca AS library_code,
		          0        AS pcnt,
		          0        AS scnt,
		          0        AS acnt,
		          COUNT(*) AS icnt,
		          0        AS ecnt,
		          0        AS comments_cnt
		        FROM
		          <include refid="table"/>
		          ELIB_BOOK b,
		          GBELAS.TN_ST_USER c
		        WHERE
		          a.book_idx   = b.book_idx
		        AND a.member_id = c.web_id (+)
		        AND b.type    = #{type}
		        AND a.device  = 'I'
			    <if test="search_sdt != null and search_sdt != ''">
			    AND #{search_sdt} &lt;= TO_CHAR(<include refid="typeColumn"/>, 'YYYY-MM-DD')
			    </if>
			    <if test="search_edt != null and search_edt != ''">
			    AND TO_CHAR(<include refid="typeColumn"/>, 'YYYY-MM-DD') &lt;= #{search_edt}
			    </if>
		  		<if test="library_code != null and library_code != ''">
				AND c.loca = #{library_code}
				</if>
				<if test="com_code != null and com_code != ''">
				AND b.com_code = #{com_code}
				</if>
		        <if test="member_id != null and member_id != ''">
		        AND a.member_id = #{member_id}
		        </if>
		        GROUP BY
		          a.member_id, c.loca
		        UNION ALL
		        SELECT
		          a.member_id,
		          c.loca AS library_code,
		          0        AS pcnt,
		          0        AS scnt,
		          0        AS acnt,
		          0        AS icnt,
		          COUNT(*) AS ecnt,
		          0        AS comments_cnt
		        FROM
		          <include refid="table"/>
		          ELIB_BOOK b,
		          GBELAS.TN_ST_USER c
		        WHERE
		          a.book_idx   = b.book_idx
		        AND a.member_id = c.web_id (+)
		        AND b.type    = #{type}
		        AND a.device  = 'E'
			    <if test="search_sdt != null and search_sdt != ''">
			    AND #{search_sdt} &lt;= TO_CHAR(<include refid="typeColumn"/>, 'YYYY-MM-DD')
			    </if>
			    <if test="search_edt != null and search_edt != ''">
			    AND TO_CHAR(<include refid="typeColumn"/>, 'YYYY-MM-DD') &lt;= #{search_edt}
			    </if>
		  		<if test="library_code != null and library_code != ''">
				AND c.loca = #{library_code}
				</if>
				<if test="com_code != null and com_code != ''">
				AND b.com_code = #{com_code}
				</if>
		        <if test="member_id != null and member_id != ''">
		        AND a.member_id = #{member_id}
		        </if>
		        GROUP BY
		          a.member_id, c.loca
		        UNION ALL
		        SELECT
		          a.member_id,
		          c.loca AS library_code,
		          0        AS pcnt,
		          0        AS scnt,
		          0        AS acnt,
		          0        AS icnt,
		          0        AS ecnt,
		          COUNT(*) AS comments_cnt
		        FROM
		          ELIB_COMMENT a,
		          ELIB_BOOK b,
		          GBELAS.TN_ST_USER c
		        WHERE
		          a.book_idx   = b.book_idx
		        AND a.member_id = c.web_id (+)
		        AND b.type    = #{type}
			    <if test="search_sdt != null and search_sdt != ''">
			    AND #{search_sdt} &lt;= TO_CHAR(a.regdt, 'YYYY-MM-DD')
			    </if>
			    <if test="search_edt != null and search_edt != ''">
			    AND TO_CHAR(a.add_date, 'YYYY-MM-DD') &lt;= #{search_edt}
			    </if>
		        <include refid="search"/>
		        <if test="member_id != null and member_id != ''">
		        AND a.member_id = #{member_id}
		        </if>
		        GROUP BY
		          a.member_id, c.loca
		      )
		      c
		    GROUP BY
		      member_id, library_code
		  )
		  tb
		WHERE
		  ta.member_id = tb.member_id
		<choose>
		<when test="sortField == 'member_id'">
		ORDER BY ta.member_id
		</when>
		<when test="sortField == 'pcnt'">
		ORDER BY NVL(tb.pcnt, 0) DESC
		</when>
		<when test="sortField == 'scnt'">
		ORDER BY NVL(tb.scnt, 0) DESC
		</when>
		<when test="sortField == 'cnt'">
		ORDER BY (NVL(tb.pcnt, 0) + NVL(tb.scnt, 0)) DESC
		</when>
		<when test="sortField == 'comments_cnt'">
		ORDER BY tb.comments_cnt DESC
		</when>
		<otherwise>
		ORDER BY (NVL(tb.pcnt, 0) + NVL(tb.scnt, 0)) DESC
		</otherwise>
		</choose>
	</sql>
	
	<select id="getStatisticsByMemberCnt" resultType="int">
		SELECT
			COUNT(*) AS cnt
		<include refid="_getStatisticsByMember"/>
	</select>
	
	<select id="getStatisticsByMember" resultType="kr.go.gbelib.app.cms.module.elib.statistics.ElibStatistics">
		${pagingTop}
		SELECT
		  ta.member_id,
  		  CASE
		  	WHEN ta.library_code = '9999999'
			THEN '통합'
			ELSE (SELECT z.homepage_name FROM CMS_HOMEPAGE z WHERE ta.library_code = SUBSTR(z.lib_code, 1, 8) AND rownum = 1)
		  END AS library_name,
		  NVL(tb.pcnt, 0) AS p_cnt,
		  NVL(tb.scnt, 0) AS s_cnt,
		  NVL(tb.acnt, 0) AS a_cnt,
		  NVL(tb.icnt, 0) AS i_cnt,
		  NVL(tb.ecnt, 0) AS e_cnt,
		  NVL(tb.comments_cnt, 0) AS comments_cnt
		<include refid="_getStatisticsByMember"/>
		${pagingBottom}
	</select>
	
	<select id="getStatisticsByMemberTotal" resultType="kr.go.gbelib.app.cms.module.elib.statistics.ElibStatistics">
		SELECT
		  NVL(SUM(tb.pcnt), 0) AS p_cnt,
		  NVL(SUM(tb.scnt), 0) AS s_cnt,
		  NVL(SUM(tb.acnt), 0) AS a_cnt,
		  NVL(SUM(tb.icnt), 0) AS i_cnt,
		  NVL(SUM(tb.ecnt), 0) AS e_cnt,
		  NVL(SUM(tb.comments_cnt), 0) AS comments_cnt
		<include refid="_getStatisticsByMember"/>
	</select>
	
	<select id="getStatisticsByMemberAll" resultType="kr.go.gbelib.app.cms.module.elib.statistics.ElibStatistics">
		SELECT
		  ta.member_id,
  		  CASE
		  	WHEN ta.library_code = '9999999'
			THEN '통합'
			ELSE (SELECT z.homepage_name FROM CMS_HOMEPAGE z WHERE ta.library_code = SUBSTR(z.lib_code, 1, 8) AND rownum = 1)
		  END AS library_name,
		  NVL(tb.pcnt, 0) AS p_cnt,
		  NVL(tb.scnt, 0) AS s_cnt,
		  NVL(tb.acnt, 0) AS a_cnt,
		  NVL(tb.icnt, 0) AS i_cnt,
		  NVL(tb.ecnt, 0) AS e_cnt,
		  NVL(tb.comments_cnt, 0) AS comments_cnt
		<include refid="_getStatisticsByMember"/>
	</select>
	
	<select id="getStatisticsSummaryList" resultType="kr.go.gbelib.app.cms.module.elib.statistics.ElibStatistics">
		SELECT
	        CASE
	          WHEN type = '1' THEN '전자책'
	          WHEN type = '2' THEN '오디오북'
	          WHEN type = '3' THEN '온라인강좌'
	          WHEN type = '4' THEN '전자저널'
	          ELSE '불명'
	        END AS type,
	        CASE
	          WHEN age = '1' THEN '어린이'
	          WHEN age = '2' THEN '청소년'
	          WHEN age = '3' THEN '성인'
	          ELSE '불명'
	        END AS age_group,
	        CASE
	          WHEN sex = '2' THEN '여'
	          WHEN sex = '1' THEN '남'
	          ELSE '불명'
	        END AS sex,
			SUM(cnt) AS lend_cnt
		FROM
			ELIB_STATISTICS_TBL1
		WHERE 1=1
		<if test="library_code != null and library_code != ''">
		AND lib = #{library_code}
		</if>
		<if test="search_sdt != null and search_sdt != ''">
		AND #{search_sdt} &lt;= dt
		</if>
		<if test="search_edt != null and search_edt != ''">
		AND dt &lt;= #{search_edt}
		</if>
		GROUP BY type, age, sex
	</select>

	<select id="getStatisticsUniqueSummaryList" resultType="kr.go.gbelib.app.cms.module.elib.statistics.ElibStatistics">
		SELECT
	        CASE
	          WHEN type = '1' THEN '전자책'
	          WHEN type = '2' THEN '오디오북'
	          WHEN type = '3' THEN '온라인강좌'
	          WHEN type = '4' THEN '전자저널'
	          ELSE '불명'
	        END AS type,
	        CASE
	          WHEN age = '1' THEN '어린이'
	          WHEN age = '2' THEN '청소년'
	          WHEN age = '3' THEN '성인'
	          ELSE '불명'
	        END AS age_group,
	        CASE
	          WHEN sex = '2' THEN '여'
	          WHEN sex = '1' THEN '남'
	          ELSE '불명'
	        END AS sex,
			SUM(cnt) AS lend_cnt
		FROM
			ELIB_STATISTICS_TBL2
		WHERE 1=1
		<choose>
		<when test="library_code != null and library_code != ''">
		AND lib = #{library_code}
		</when>
		<otherwise>
		AND lib = '-'
		</otherwise>
		</choose>
		<if test="search_sdt != null and search_sdt != ''">
		AND #{search_sdt} &lt;= dt
		</if>
		<if test="search_edt != null and search_edt != ''">
		AND dt &lt;= #{search_edt}
		</if>
		GROUP BY type, age, sex
	</select>

	<select id="getStatisticsPersonalSummaryList" resultType="kr.go.gbelib.app.cms.module.elib.statistics.ElibStatistics">
		SELECT
		CASE
		WHEN type = '1' THEN '전자책'
		WHEN type = '2' THEN '오디오북'
		WHEN type = '3' THEN '온라인강좌'
		WHEN type = '4' THEN '전자저널'
		ELSE '불명'
		END AS type,
		CASE
		WHEN age_group = '1' THEN '어린이'
		WHEN age_group = '2' THEN '청소년'
		WHEN age_group = '3' THEN '성인'
		ELSE '불명'
		END AS age_group,
		CASE
		WHEN sex = '2' THEN '여'
		WHEN sex = '1' THEN '남'
		ELSE '불명'
		END AS sex,
		SUM(lend_cnt)

		FROM (
		SELECT
		type, age_group, sex, SUM(lend_cnt) AS lend_cnt
		FROM (
		SELECT
		type, age_group, sex, 1 AS lend_cnt, member_id
		FROM (
		SELECT
		CASE
		WHEN type = 'EBK' THEN '1'
		WHEN type = 'ADO' THEN '2'
		WHEN type = 'WEB' THEN '3'
		WHEN type = 'EXT' THEN '4'
		ELSE '9'
		END AS type,
		CASE
		WHEN age <![CDATA[<=]]> 13 THEN '1'
		WHEN age <![CDATA[<=]]> 19 THEN '2'
		WHEN age <![CDATA[>=]]> 20 THEN '3'
		ELSE '9'
		END AS age_group,
		CASE
		WHEN sex = '1' THEN '2'
		WHEN sex = '0' THEN '1'
		ELSE '9'
		END AS sex,
		member_id
		FROM (
		SELECT
		TO_NUMBER(TO_CHAR(a.lend_dt, 'YYYY')) - TO_NUMBER(SUBSTR(b.birth_day, 1, 4)) + 1 AS age,
		c.type, b.member_id, b.sex
		FROM elib_lend a, elib_member b, elib_book c
		WHERE 1=1
		AND a.member_id IS NOT NULL
		AND a.member_id = b.member_id
		AND A.BOOK_IDX = C.BOOK_IDX
		<if test="search_sdt != null and search_sdt != ''">
			AND TO_CHAR(a.lend_dt, 'YYYY-MM-DD') <![CDATA[>=]]> #{search_sdt}
		</if>
		<if test="search_edt != null and search_edt != ''">
			AND TO_CHAR(a.lend_dt, 'YYYY-MM-DD') <![CDATA[<=]]> #{search_edt}
		</if>
		UNION ALL
		SELECT
		TO_NUMBER(TO_CHAR(a.add_date, 'YYYY')) - TO_NUMBER(SUBSTR(b.birth_day, 1, 4)) + 1 AS age,
		c.type, b.member_id, b.sex
		FROM elib_audio_stat a, elib_member b, elib_book c
		WHERE 1=1
		AND a.member_id IS NOT NULL
		AND a.member_id = b.member_id
		AND a.book_idx = c.book_idx
		<if test="search_sdt != null and search_sdt != ''">
			AND TO_CHAR(a.add_date, 'YYYY-MM-DD') <![CDATA[>=]]> #{search_sdt}
		</if>
		<if test="search_edt != null and search_edt != ''">
			AND TO_CHAR(a.add_date, 'YYYY-MM-DD') <![CDATA[<=]]> #{search_edt}
		</if>
		UNION ALL
		SELECT
		TO_NUMBER(TO_CHAR(a.add_date, 'YYYY')) - TO_NUMBER(SUBSTR(b.birth_day, 1, 4)) + 1 AS age,
		c.type, b.member_id, b.sex
		FROM elib_elearn_stat a, elib_member b, elib_book c
		WHERE 1=1
		AND a.member_id IS NOT NULL
		AND a.member_id = b.member_id
		AND a.book_idx = c.book_idx
		<if test="search_sdt != null and search_sdt != ''">
			AND TO_CHAR(a.add_date, 'YYYY-MM-DD') <![CDATA[>=]]> #{search_sdt}
		</if>
		<if test="search_edt != null and search_edt != ''">
			AND TO_CHAR(a.add_date, 'YYYY-MM-DD') <![CDATA[<=]]> #{search_edt}
		</if>
		UNION ALL
		SELECT
		TO_NUMBER(TO_CHAR(a.add_date, 'YYYY')) - TO_NUMBER(SUBSTR(b.birth_day, 1, 4)) + 1 AS age,
		'EXT' AS type, b.member_id, b.sex
		FROM elib_extlink_stat a, elib_member b
		WHERE 1=1
		AND a.member_id IS NOT NULL
		AND a.member_id = b.member_id
		<if test="search_sdt != null and search_sdt != ''">
			AND TO_CHAR(a.add_date, 'YYYY-MM-DD') <![CDATA[>=]]> #{search_sdt}
		</if>
		<if test="search_edt != null and search_edt != ''">
			AND TO_CHAR(a.add_date, 'YYYY-MM-DD') <![CDATA[<=]]> #{search_edt}
		</if>
		)
		)
		GROUP BY type, age_group, sex, member_id
		)
		GROUP BY type, age_group, sex
		)
		GROUP BY type, age_group, sex
		ORDER BY type, age_group, sex
	</select>
	
	<select id="getStatisticsByCompany" resultType="HashMap">
		SELECT
			type, com_code, device, SUM(cnt) AS cnt
		FROM
			(
			SELECT dt, lib, type, com_code, device, cnt
			FROM ELIB_STATISTICS_TBL3
			WHERE 1=1
			<if test="library_code != null and library_code != ''">
			AND lib = #{library_code}
			</if>
			UNION ALL
			<choose>
			<when test="search_edt != null and search_edt != ''">
			SELECT #{search_edt} AS dt, y.library_code AS lib, y.type, y.com_code, '-' AS device, COUNT(*) AS cnt
			</when>
			<otherwise>
			SELECT TO_CHAR(SYSDATE, 'YYYY-MM-DD') AS dt, y.library_code AS lib, y.type, y.com_code, '-' AS device, COUNT(*) AS cnt
			</otherwise>
			</choose>
			FROM ELIB_BOOK y
			WHERE 1=1
			<if test="library_code != null and library_code != ''">
			AND y.library_code = #{library_code}
			</if>
			AND y.type IS NOT NULL
			AND y.use_yn = 'Y'
			AND y.approved_yn = 'Y'
			GROUP BY TO_CHAR(SYSDATE, 'YYYY-MM-DD'), y.library_code, y.type, y.com_code
			) 
		WHERE 1=1
		<if test="library_code != null and library_code != ''">
		AND lib = #{library_code}
		</if>
		<if test="search_sdt != null and search_sdt != ''">
		AND #{search_sdt} &lt;= dt
		</if>
		<if test="search_edt != null and search_edt != ''">
		AND dt &lt;= #{search_edt}
		</if>
		GROUP BY type, com_code, device
	</select>
	
	<select id="getStatisticsByCompanyOnlyBookCnt" resultType="HashMap">
		SELECT library_code AS lib, type, com_code, '-' AS device, COUNT(*) AS cnt
		FROM ELIB_BOOK
		WHERE 1=1
		<if test="library_code != null and library_code != ''">
		AND library_code = #{library_code}
		</if>
		AND type IS NOT NULL
		AND use_yn = 'Y'
		AND approved_yn = 'Y'
		GROUP BY library_code, type, com_code
	</select>
	
</mapper>