<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.whalesoft.app.cms.menu.MenuDao">

	<select id="getMenuTreeList" resultType="kr.co.whalesoft.app.cms.menu.Menu">
		SELECT * FROM
			(
			SELECT
	      		0 AS menu_idx,
	      		-1 AS parent_menu_idx,
	      		'' AS menu_url,
	      		'' AS menu_url_param,
	      		'최상위' AS menu_name,
	      		0 AS print_seq,
	      		0 AS manage_idx,
	      		'' AS board_category1,
	      		'ROOT' AS menu_type,
	      		1 AS load_on_demand,
	      		'' AS menu_img
	  		FROM
	  			DUAL
	  		UNION ALL
			SELECT
				menu_idx, parent_menu_idx,
				CASE menu_type
					WHEN 'PROGRAM'
					THEN (SELECT link_url FROM WB_MODULE_MNGT WHERE module_idx = manage_idx)
					ELSE MENU_TYPE
				END AS menu_url,
				menu_url_param, menu_name, print_seq, manage_idx, board_category1,
				menu_type,
				CASE
	    			WHEN menu_type = 'FOLDER'
	    			THEN 1
	    			ELSE 0
	    		END AS load_on_demand,
	    		(SELECT menu_img FROM CMS_MENU WHERE homepage_id = #{homepage_id} AND menu_idx = a.group_idx) AS menu_img
	    	FROM
	    		CMS_MENU a
	    	WHERE
	    		homepage_id = #{homepage_id}
    		)
		CONNECT BY PRIOR menu_idx = parent_menu_idx
		START WITH parent_menu_idx = -1
		ORDER SIBLINGS BY print_seq
	</select>

	<select id="getMenuTreeListCache" resultType="kr.co.whalesoft.app.cms.menu.Menu">
		SELECT LEVEL AS menu_level, A.* FROM
		(
			SELECT
				homepage_id, menu_idx, parent_menu_idx,
				CASE menu_type
					WHEN 'PROGRAM'
					THEN (SELECT link_url FROM WB_MODULE_MNGT WHERE module_idx = manage_idx)
					ELSE menu_type
				END AS menu_url,
				menu_url_param, menu_name, print_seq, menu_type, group_idx,
				manage_idx, link_url, view_yn, mobile_view_yn, menu_top_icon,
				board_category1,
				CASE
	    			WHEN menu_type = 'FOLDER'
	    			THEN 1
	    			ELSE 0
	    		END AS load_on_demand,
	    		(SELECT menu_img FROM CMS_MENU WHERE homepage_id = #{homepage_id} AND menu_idx = a.group_idx) AS menu_img
	    	FROM
	    		CMS_MENU a
	    	WHERE
	    		homepage_id = #{homepage_id}
	    	AND	use_yn = 'Y'
	    	AND	(view_yn != 'N' OR mobile_view_yn != 'N')
    	) A
		CONNECT BY PRIOR menu_idx = parent_menu_idx
		START WITH parent_menu_idx = 0
		ORDER SIBLINGS BY print_seq
	</select>

	<select id="getMenuLeftTreeListCache" resultType="kr.co.whalesoft.app.cms.menu.Menu" parameterType="map">
		SELECT LEVEL AS menu_level, A.* FROM
		(
			SELECT
				homepage_id, menu_idx, parent_menu_idx,
				CASE menu_type
					WHEN 'PROGRAM'
					THEN (SELECT link_url FROM wb_module_mngt WHERE module_idx = manage_idx)
					ELSE menu_type
				END AS menu_url,
				menu_url_param, menu_name, print_seq, menu_type, manage_idx,
				link_url, view_yn, menu_left_icon, board_category1,
				(SELECT menu_img FROM CMS_MENU WHERE homepage_id = #{homepage_id} AND menu_idx = a.group_idx) AS menu_img
			FROM
				CMS_MENU a
			WHERE
				homepage_id = #{homepage_id}
			AND	use_yn = 'Y'
			AND	group_idx = #{group_idx}
		) A
        CONNECT BY PRIOR menu_idx = parent_menu_idx
        START WITH parent_menu_idx = 0
        ORDER SIBLINGS BY print_seq ASC
	</select>
	
	<select id="getMenuLeftTreeMobileListCache" resultType="kr.co.whalesoft.app.cms.menu.Menu" parameterType="map">
		SELECT LEVEL AS menu_level, A.* FROM
		(
			SELECT
				homepage_id, menu_idx, parent_menu_idx,
				CASE menu_type
					WHEN 'PROGRAM'
					THEN (SELECT link_url FROM wb_module_mngt WHERE module_idx = manage_idx)
					ELSE menu_type
				END AS menu_url,
				menu_url_param, menu_name, print_seq, menu_type, manage_idx,
				link_url, view_yn, menu_left_icon, board_category1,
				(SELECT menu_img FROM CMS_MENU WHERE homepage_id = #{homepage_id} AND menu_idx = a.group_idx) AS menu_img
			FROM
				CMS_MENU a
			WHERE
				homepage_id = #{homepage_id}
			AND mobile_view_yn = 'Y'
			AND	use_yn = 'Y'
			AND	group_idx = #{group_idx}
		) A
        CONNECT BY PRIOR menu_idx = parent_menu_idx
        START WITH parent_menu_idx = 0
        ORDER SIBLINGS BY print_seq ASC
	</select>

	<select id="getElibMenuLeftTreeListCache" resultType="kr.co.whalesoft.app.cms.menu.Menu">
		SELECT LEVEL AS menu_level, A.* FROM
		(
			SELECT
				homepage_id, menu_idx, parent_menu_idx,
				CASE menu_type
					WHEN 'PROGRAM'
					THEN (SELECT link_url FROM WB_MODULE_MNGT WHERE module_idx = manage_idx)
					ELSE menu_type
				END AS menu_url,
				menu_url_param, menu_name, print_seq, menu_type, manage_idx,
				link_url, view_yn, menu_left_icon, board_category1,
				(SELECT menu_img FROM CMS_MENU WHERE homepage_id = #{homepage_id} AND menu_idx = a.group_idx) AS menu_img
			FROM
				CMS_MENU a
			WHERE
				homepage_id = #{homepage_id}
			AND	use_yn = 'Y'
			AND	view_yn != 'N'
			AND	group_idx = #{group_idx}
		) A
        CONNECT BY PRIOR MENU_IDX = PARENT_MENU_IDX
        START WITH PARENT_MENU_IDX = 0
        ORDER SIBLINGS BY PRINT_SEQ ASC
	</select>

	<!-- 메뉴목록을 가져온다. -->
	<select id="getMenu" resultType="kr.co.whalesoft.app.cms.menu.Menu">
		SELECT
			CASE menu_type
				WHEN 'PROGRAM'
				THEN (SELECT link_url FROM WB_MODULE_MNGT WHERE module_idx = manage_idx)
				ELSE menu_type
			END as id,
			menu_name as label
		FROM
			CMS_MENU
		WHERE
			homepage_id = #{homepage_id}
		AND	parent_menu_idx = #{id}
	</select>

	<!-- 메뉴정보를 가져온다. -->
	<select id="getMenuOne" resultType="kr.co.whalesoft.app.cms.menu.Menu">
		SELECT
			a.homepage_id, a.menu_idx, a.parent_menu_idx,
			CASE a.menu_type
				WHEN 'PROGRAM'
				THEN (SELECT link_url FROM WB_MODULE_MNGT WHERE module_idx = a.manage_idx)
				ELSE a.menu_type
			END AS menu_url,
			a.menu_url_param, a.menu_name, a.group_idx,
			a.menu_type, a.use_yn, a.view_yn, a.mobile_view_yn, a.print_seq,
			a.add_date, NVL(a.modify_date, a.add_date) AS modify_date, a.group_idx, a.menu_full_path_name,
			a.manage_idx, a.include_menu_name_yn, a.link_url, a.menu_top_icon,
			a.menu_left_icon, a.board_category1,
			(SELECT menu_img FROM CMS_MENU WHERE homepage_id = #{homepage_id} AND menu_idx = a.group_idx) AS menu_img,
			manager_idx, manager_dept, manager_name, manager_phone
		FROM
			CMS_MENU a
		WHERE
			a.HOMEPAGE_ID = #{homepage_id}
		AND	a.MENU_IDX = #{menu_idx}
	</select>

	<select id="getParentMenuOne" resultType="kr.co.whalesoft.app.cms.menu.Menu">
		SELECT
			homepage_id, menu_idx, parent_menu_idx,
			CASE menu_type
				WHEN 'PROGRAM'
				THEN (SELECT link_url FROM WB_MODULE_MNGT WHERE module_idx = manage_idx)
				ELSE menu_type
			END AS menu_url,
			menu_url_param, menu_name, menu_type, use_yn, view_yn,
			print_seq, add_date, modify_date, group_idx, menu_full_path_name,
			manage_idx, include_menu_name_yn, menu_img, link_url, menu_top_icon,
			menu_left_icon, board_category1
		FROM
			CMS_MENU
		WHERE
			homepage_id = #{homepage_id}
		AND	menu_idx = (
						SELECT
							parent_menu_idx
						FROM
							CMS_MENU
						WHERE
							homepage_id = #{homepage_id}
						AND MENU_IDX = #{menu_idx}
						)
	</select>

	<select id="getUseMenu" resultType="int">
		SELECT
			COUNT(*)
		FROM
			CMS_MENU
		WHERE
			homepage_id = #{homepage_id}
		AND	menu_idx != #{menu_idx}
		AND	menu_url = #{menu_url}
	</select>

	<!-- 메뉴데이터 등록 -->
	<insert id="addMenu">
		<selectKey keyProperty="menu_idx" resultType="int" order="BEFORE">
		    SELECT NVL(MAX(menu_idx),0)+1 FROM CMS_MENU WHERE homepage_id = #{homepage_id}
		</selectKey>
		INSERT INTO
			CMS_MENU
		(
			homepage_id, menu_idx, parent_menu_idx, menu_url, menu_url_param,
			menu_name, menu_type, use_yn, view_yn, mobile_view_yn,
			print_seq, add_date, add_id, manage_idx, include_menu_name_yn,
			link_url, manager_idx, manager_dept, manager_name, manager_phone,
			group_idx, menu_full_path_name
			<if test="menu_img != null and menu_img != ''">
			, menu_img
			</if>
			<if test="menu_top_icon != null and menu_top_icon != ''">
			, menu_top_icon
			</if>
			<if test="menu_left_icon != null and menu_left_icon != ''">
			, menu_left_icon
			</if>
		)
		VALUES
		(
			#{homepage_id}, #{menu_idx} , #{parent_menu_idx}, #{menu_url}, #{menu_url_param},
			#{menu_name}, #{menu_type}, #{use_yn}, #{view_yn}, #{mobile_view_yn},
			#{print_seq}, SYSDATE, #{add_id}, #{manage_idx}, #{include_menu_name_yn},
			#{link_url}, #{manager_idx}, #{manager_dept}, #{manager_name}, #{manager_phone},
		<choose>
		<when test="group_idx == 0">
			#{menu_idx}, #{menu_name}
		</when>
		<otherwise>
			#{group_idx},
			(
				SELECT
	                LTRIM(SYS_CONNECT_BY_PATH(menu_name,' > '),' >') || ' > ' || #{menu_name} AS menu_full_path_name
				FROM
					(select * from cms_menu where homepage_id = #{homepage_id})
                WHERE
                	menu_idx = #{parent_menu_idx}
                AND	homepage_id = #{homepage_id}
				CONNECT BY PRIOR menu_idx = parent_menu_idx AND homepage_id = #{homepage_id}
				START WITH parent_menu_idx = 0 AND homepage_id = #{homepage_id}
			)
		</otherwise>
		</choose>
		<if test="menu_img != null and menu_img != ''">
			, #{menu_img}
		</if>
		<if test="menu_top_icon != null and menu_top_icon != ''">
			, #{menu_top_icon}
		</if>
		<if test="menu_left_icon != null and menu_left_icon != ''">
			, #{menu_left_icon}
		</if>
		)
	</insert>

	<!-- 메뉴데이터 수정 -->
	<update id="modifyMenu">
		UPDATE
			CMS_MENU
		SET
			menu_url = #{menu_url},
			menu_url_param = #{menu_url_param},
			menu_name = #{menu_name},
			menu_type = #{menu_type},
			use_yn = #{use_yn},
			view_yn = #{view_yn},
			mobile_view_yn = #{mobile_view_yn},
			print_seq = #{print_seq},
			modify_date = SYSDATE,
			modify_id = #{modify_id},
			manage_idx = #{manage_idx},
			include_menu_name_yn = #{include_menu_name_yn},
			link_url = #{link_url},
			manager_idx = #{manager_idx},
			manager_dept = #{manager_dept},
			manager_name = #{manager_name},
			manager_phone = #{manager_phone},
			<if test="menu_img != null and menu_img != ''">
			menu_img = #{menu_img},
			</if>
			<if test="menu_top_icon != null and menu_top_icon != ''">
			menu_top_icon = #{menu_top_icon},
			</if>
			<if test="menu_left_icon != null and menu_left_icon != ''">
			menu_left_icon = #{menu_left_icon},
			</if>
			menu_full_path_name =
			<choose>
			<when test="parent_menu_idx == 0">
				#{menu_name}
			</when>
			<otherwise>
			(
				SELECT
	                LTRIM(SYS_CONNECT_BY_PATH(MENU_NAME,' > '),' >') || ' > ' || #{menu_name} AS MENU_FULL_PATH_NAME
				FROM
					(select * from cms_menu where homepage_id = #{homepage_id})
                WHERE HOMEPAGE_ID = #{homepage_id} AND MENU_IDX = #{parent_menu_idx}
				CONNECT BY PRIOR MENU_IDX = PARENT_MENU_IDX
				START WITH PARENT_MENU_IDX = 0 AND HOMEPAGE_ID = #{homepage_id}
			)
			</otherwise>
			</choose>
		WHERE
			HOMEPAGE_ID = #{homepage_id}
		AND	MENU_IDX = #{menu_idx}
	</update>

	<update id="modifyParentMenu">
		UPDATE
			CMS_MENU
		SET
			parent_menu_idx = #{move_target_menu_idx},
			GROUP_IDX = NVL((SELECT GROUP_IDX FROM CMS_MENU WHERE HOMEPAGE_ID = #{homepage_id} AND MENU_IDX = #{move_target_menu_idx}), #{menu_idx} ),
			modify_id = #{modify_id},
			modify_date = SYSDATE
		WHERE
			HOMEPAGE_ID = #{homepage_id} AND
			MENU_IDX = #{menu_idx}
	</update>

	<update id="modifyChildMenu">
		UPDATE
			CMS_MENU
		SET
			GROUP_IDX = (SELECT GROUP_IDX FROM CMS_MENU WHERE HOMEPAGE_ID = #{homepage_id} AND MENU_IDX = #{menu_idx})
		WHERE
			HOMEPAGE_ID = #{homepage_id} AND PARENT_MENU_IDX = #{menu_idx}
	</update>

	<!-- 메뉴삭제 -->
	<delete id="deleteMenu">
	    DELETE CMS_MENU
	    WHERE
	    	HOMEPAGE_ID = #{homepage_id} AND
	    	MENU_IDX = #{menu_idx}
	</delete>

	<select id="getMenuChildCount" resultType="int">
		SELECT COUNT(*) FROM CMS_MENU
		WHERE
			HOMEPAGE_ID = #{homepage_id} AND
			PARENT_MENU_IDX = #{menu_idx}
	</select>

	<!-- 메뉴 전체url과 권한을 가져온다. -->
	<select id="getMenuChildList" resultType="kr.co.whalesoft.app.cms.menu.Menu">
		SELECT
			CASE MENU_TYPE
				WHEN 'PROGRAM'
					THEN (SELECT LINK_URL FROM WB_MODULE_MNGT WHERE MODULE_IDX = MANAGE_IDX)
					ELSE MENU_TYPE
			END AS MENU_URL,
			MENU_NAME
		FROM
			CMS_MENU
		WHERE
			HOMEPAGE_ID = #{homepage_id}
		CONNECT BY PRIOR
			MENU_IDX = PARENT_MENU_IDX
		START WITH
			PARENT_MENU_IDX = #{menu_idx}
		ORDER SIBLINGS BY PRINT_SEQ
	</select>

	<select id="getMenuAuth" resultType="string">
		SELECT
			AUTH_ID
		FROM
			CMS_MENU_AUTH
		WHERE
			HOMEPAGE_ID = #{homepage_id} AND
			MENU_IDX = #{menu_idx}
	</select>

	<insert id="addMenuAuth">
		INSERT INTO CMS_MENU_AUTH
		(
			HOMEPAGE_ID, MENU_IDX, AUTH_ID
		) VALUES
		(
			#{homepage_id}, #{menu_idx}, #{auth_id}
		)
	</insert>

	<delete id="deleteMenuAuth">
		DELETE FROM CMS_MENU_AUTH
		WHERE
			HOMEPAGE_ID = #{homepage_id} AND
			MENU_IDX = #{menu_idx}
	</delete>

	<select id="getNextPrintSeq" resultType="int">
		SELECT
			NVL(MAX(print_seq), 0) + 10
		FROM
			CMS_MENU
		WHERE
			homepage_id = #{homepage_id}
		AND	parent_menu_idx = #{menu_idx}
	</select>

	<!-- 홈페이지 삭제시 메뉴 삭제 -->
	<delete id="deleteMenusByHomepageId">
		DELETE FROM CMS_MENU
		WHERE HOMEPAGE_ID = #{homepage_id}
	</delete>

	<!-- 메뉴IDX 가져오기(link_url) -->
	<select id="getMenuIdxByLinkUrl" resultType="int">
		SELECT
			NVL(max(menu_idx), 0)
		FROM
			CMS_MENU
		WHERE
			homepage_id = #{homepage_id}
		AND link_url = #{link_url}
		AND	use_yn = 'Y'
	</select>

	<select id="getSoloMenuList" resultType="kr.co.whalesoft.app.cms.menu.Menu">
		SELECT LEVEL AS MENU_LEVEL, A.* FROM
		(
			SELECT
				HOMEPAGE_ID,
				MENU_IDX,
				PARENT_MENU_IDX,
				CASE MENU_TYPE
					WHEN 'PROGRAM'
						THEN (SELECT LINK_URL FROM WB_MODULE_MNGT WHERE MODULE_IDX = MANAGE_IDX)
						ELSE MENU_TYPE
				END AS MENU_URL,
				MENU_URL_PARAM,
				MENU_NAME,
				PRINT_SEQ,
				MENU_TYPE,
				GROUP_IDX,
				MANAGE_IDX,
				LINK_URL,
				VIEW_YN,
				MENU_TOP_ICON,
				BOARD_CATEGORY1,
			CASE
	    	WHEN
	    		MENU_TYPE = 'FOLDER' THEN 1 ELSE 0
	    	END AS
	    		LOAD_ON_DEMAND,
	    		(SELECT MENU_IMG FROM CMS_MENU WHERE HOMEPAGE_ID = #{homepage_id} AND MENU_IDX = a.GROUP_IDX) AS MENU_IMG
	    	FROM CMS_MENU a
	    	WHERE
	    		HOMEPAGE_ID = #{homepage_id} AND
	    		USE_YN = 'Y' AND
				VIEW_YN != 'N'
    	) A
		CONNECT BY PRIOR MENU_IDX = PARENT_MENU_IDX
		START WITH PARENT_MENU_IDX = 0
		ORDER SIBLINGS BY PRINT_SEQ
	</select>

	<!-- 메뉴IDX 가져오기(program - manage_idx) -->
	<select id="getMenuIdxByProgramIdx" resultType="int">
		SELECT
			NVL(max(menu_idx), 0)
		FROM
			CMS_MENU
		WHERE
			homepage_id = #{homepage_id}
		AND	MENU_TYPE = 'PROGRAM'
		AND manage_idx = #{menu_idx}
		AND MENU_URL_PARAM IS NULL
		AND	use_yn = 'Y'
		<if test="menu_url_param != null and menu_url_param != ''">
		AND	(
				menu_url_param LIKE '%'||#{menu_url_param}||'%'
			OR	menu_url_param is null
			)
		</if>
	</select>

	<select id="getMenuTreeListWithAuth" resultType="kr.co.whalesoft.app.cms.menu.Menu">
		SELECT LEVEL AS MENU_LEVEL, A.*,
		decode(A.menu_type, 'PROGRAM', (SELECT module_name FROM WB_MODULE_MNGT B WHERE module_type = 'SITE' and A.manage_idx = b.module_idx AND A.menu_type = 'PROGRAM'),
	                    'BOARD', (SELECT board_name FROM CMS_BOARD_MANAGE B WHERE A.manage_idx = B.manage_idx AND A.homepage_id = B.homepage_id),
	                    'LINK', '내부링크',
	                    'LINK_OUTER', '외부링크',
	                    a.menu_type) AS moduleName
		FROM
		(
			SELECT
				'' AS HOMEPAGE_ID,
	      		0 AS MENU_IDX,
	      		-1 AS PARENT_MENU_IDX,
	      		'' AS MENU_URL,
	      		'' AS MENU_URL_PARAM,
	      		'최상위' AS MENU_NAME,
	      		0 AS PRINT_SEQ,
	      		0 AS MANAGE_IDX,
	      		'' AS BOARD_CATEGORY1,
	      		'ROOT' AS MENU_TYPE,
	      		1 AS LOAD_ON_DEMAND,
	      		'' AS MENU_IMG,
	      		'' AS auth_group_id
	  		FROM DUAL
	  		UNION ALL
			SELECT
				HOMEPAGE_ID,
				MENU_IDX,
				PARENT_MENU_IDX,
				CASE MENU_TYPE
					WHEN 'PROGRAM'
						THEN (SELECT LINK_URL FROM WB_MODULE_MNGT WHERE MODULE_IDX = MANAGE_IDX)
						ELSE MENU_TYPE
				END AS MENU_URL,
				MENU_URL_PARAM,
				MENU_NAME,
				PRINT_SEQ,
				MANAGE_IDX,
				BOARD_CATEGORY1,
				MENU_TYPE,
				CASE
		    	WHEN
		    		MENU_TYPE = 'FOLDER' THEN 1 ELSE 0
		    	END AS
		    		LOAD_ON_DEMAND,
	    		(SELECT MENU_IMG FROM CMS_MENU WHERE HOMEPAGE_ID = #{homepage_id} AND MENU_IDX = a.GROUP_IDX) AS MENU_IMG,
	    		CASE MENU_TYPE
					WHEN 'BOARD'
						THEN 'B0001'
					ELSE b.auth_group_id
	    		END AS auth_group_id
	    	FROM CMS_MENU a, WB_MODULE_MNGT b
	    	WHERE
	    		HOMEPAGE_ID = #{homepage_id}
	    	AND	a.use_yn = 'Y'
<!-- 	    	ANd a.view_yn = 'Y' -->
	    	AND	a.manage_idx = b.module_idx(+)
	    	AND	b.module_type(+) = 'SITE'
    	) A
		CONNECT BY PRIOR MENU_IDX = PARENT_MENU_IDX
		START WITH PARENT_MENU_IDX = -1
		ORDER SIBLINGS BY PRINT_SEQ
	</select>

	<update id="modifyMenuFullPathName">
	UPDATE
		CMS_MENU A
	SET
		a.menu_full_path_name = (
									SELECT
										LTRIM(SYS_CONNECT_BY_PATH(MENU_NAME,' > '),' >') AS menu_name
									FROM
									(
										SELECT
											menu_idx, menu_name, parent_menu_idx, print_seq
								    	FROM
								    		CMS_MENU a
								    	WHERE
								    		homepage_id = #{homepage_id}
						    		) b
							    	WHERE b.menu_idx = a.menu_idx
									CONNECT BY PRIOR menu_idx = parent_menu_idx
									START WITH parent_menu_idx = 0
								)
		WHERE
			a.homepage_id = #{homepage_id}
	</update>

</mapper>