.g-menu {
  position: fixed;
  top: 40px;
  left: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
  padding: 0 50px;
  background: var(--white);
  border-bottom: 1px solid #ececec;
}

.library-logo {
  position: absolute;
  top: 50%;
  left: 50px;
  width: 260px;
  height: 58px;
  transform: translateY(-50%);
}

.library-logo a img {
  width: 260px;
  height: 58px;
  object-fit: cover;
}

.site-map {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
}

.site-map img {
  width: 24px;
  height: 24px;
}

.one-depth-menu {
  display: flex;
  align-items: center;
}

.one-depth-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 90px;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.45px;
  text-align: center;
  color: var(--black);
  font-family: Pretendard-Bold, sans-serif;
  font-style: normal;
}

.two-depth-menu-wrapper {
  position: fixed;
  top: 130px;
  left: 0;
  z-index: 99999;
  display: none;
  justify-content: center;
  width: 100%;
  background: var(--white);
  border-bottom: 1px solid #ddd;
}

.two-depth-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  padding: 20px 0;
  border-right: 1px solid #ddd;
  gap: 12px;
}

.two-depth-menu:hover {
  background: #464f56;
}

.two-depth-menu:hover a {
  color: var(--white);
}

.two-depth-menu a {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: #777;
  font-family: Pretendard-Medium, sans-serif;
  font-style: normal;
}

.two-depth-menu a:hover {
  text-decoration: underline;
  color: var(--primary-color-blue2);
  text-underline-offset: 4px;
}

.two-depth-menu-wrapper .two-depth-menu:first-child {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.mobile-menu-trigger {
  display: none;
}

.mobile-menu {
  display: none;
}

.mobile-menu-overlay {
  display: none;
}

@media (max-width: 1800px) {
  #container.subpage {
    margin-top: 6px !important;
  }

  .one-depth-menu, .site-map {
    display: none;
  }

  .library-logo {
    left: 40px;
  }

  .g-menu {
    position: relative;
  }

  .gnb-menu li {
    border-bottom: 1px solid #e9e9e9;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.35px;
    color: var(--black);
    font-family: Pretendard-Medium, sans-serif;
    font-style: normal;
    cursor: pointer;
  }

  .gnb-menu li a {
    padding: 20px;
    display: inline-block;
  }

  .SubMenu li a {
    margin-left: 20px;
  }

  .mobile-menu-trigger {
    display: block;
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 9;
  }

  .mobile-menu-trigger img{
    width: 20px;
    height: 20px;
  }

  .mobile-menu-header {
    background: #333333;
    padding: 15px 10px 15px 10px !important;
    display: grid !important;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    align-items: center;
    width: 100%;
  }

  .mobile-menu-header a {
    color: var(--white) !important;
  }

  .mm-hasnavbar-top-1 .mm-panels {
    top: 165px !important;
  }

  .mobile-menu-header a:nth-child(1), .mobile-menu-header a:nth-child(2){
    background: #2c75cb;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    border-radius: 8px;
    padding: 10px;
  }

  .mobile-menu-header a:nth-child(3), .mobile-menu-header a:nth-child(4){
    background: #707070;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    border-radius: 8px;
    padding: 10px;
  }

  .mobile-menu-header a i,  .mobile-menu-header a span {
    display: block;
  }

  .gnb-menu li .SubMenu {
    display: block;
  }

  .menu-item.open .submenu {
    display: block;
  }

  .SubMenu li:last-child {
    border-bottom: none;
  }

  .mm-navbar.mm-hasbtns {
     padding: 0 !important;
  }

  .mm-title {
    height: 100%;
  }

  .mm-panels>.mm-panel:before {
    display: none !important;
  }

  .mm-panels>.mm-panel>.mm-listview:first-child {
    margin-top: 0 !important;
  }

  .mm-listview li .mm-next:after {
    border-color: rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 765px) {
  .doc-info {
    padding-left: 28px !important;
  }

  #container.subpage {
    margin-top: 17px !important;
  }
}

