@charset "utf-8"; 

.pcmode {display:block;}
.mmode, .mmode02, .mmode03 {display:none;}

#main0, #main1, #main2, #main3 {position:relative;width:100%;overflow:hidden;background:#fff;}

/*main0*/
#main0 .main-visual {height:100%;}
#main0 .main-visual .swiper-container {width:100%;height:100%;}
#main0 .main-visual .swiper-slide {text-align:center;background:#fff;display: -webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack: center;-webkit-justify-content: center;
justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
#main0 .main-visual .swiper-slide .mvText{margin-top:-260px;}
#main0 .main-visual .swiper-slide .mvText .main_text{font-family:'s-core_dream7_extrabold';font-size:80px;color:#fff;letter-spacing:-5px;}
#main0 .main-visual .swiper-slide .mvText strong {font-family:'s-core_dream5_medium';}
#main0 .main-visual .swiper-slide.mvimg01 {background: url('../img/section0-bg-01.jpg') no-repeat 0 0;background-size:cover;}
#main0 .main-visual .swiper-slide.mvimg02 {background: url('../img/section0-bg-02.jpg') no-repeat 0 0;background-size:cover;}
/*#main0 .main-visual .swiper-slide.mvimg03 {background: url('../img/section0-bg-01.jpg') no-repeat 0 0;background-size:cover;}*/
#main0 .main-visual .mvBtn_wp {position:absolute;top:50%;left:0;width:100%;height:44px;}
#main0 .main-visual .mvBtn_wp .swiper-pagination-fraction {padding-right: 40px;}
#main0 .main-visual .mvBtn_wp .mvBtn {width:360px;margin:0 auto;position:relative;}
#main0 .main-visual .mvBtn_wp .mvBtn img {padding:10px 0;opacity:0.5;}
#main0 .main-visual .mvBtn_wp .ctrBtn {position: absolute;left: 49%;top: 12px;z-index: 99;}
#main0 .main-visual .mvBtn_wp .ctrBtn .start {display:inline-block;width:20px;height:20px;line-height:20px;background:url(../img/v_start.png) no-repeat center 50%;cursor: pointer;text-indent:-99999em;margin-right:1px}
#main0 .main-visual .mvBtn_wp .ctrBtn .stop {display:inline-block;width:20px;height:20px;line-height:20px;background:url(../img/v_stop.png) no-repeat center 50%;cursor: pointer;text-indent:-99999em;}

#main0 .main-visual .search-area {position:absolute;top:52%;left:0;width:100%;text-align:center;z-index:99999;background:transparent;}
#main0 .main-visual .search-area .main-box {position:relative;width:1260px;margin:0 auto;}
#main0 .main-visual .search-area .main-box fieldset{position:relative;overflow:hidden;}
#main0 .main-visual .search-area .main-box legend {background:#21409a;color:#fff;}
#main0 .main-visual .search-area .main-box select.search_type {position:absolute;left:0;top:15px;width:200px;height:40px;line-height:40px;font-size:17px;color:#f89911;font-weight:bold;text-align:left;padding:0 30px;border:0;border-radius:0;background:url('../img/search-arrow.png') no-repeat 90% 50%;-webkit-appearance: none; -moz-appearance: none;appearance: none;border-right:1px solid #fcd6a0;}
#main0 .main-visual .search-area .main-box select.search_type::-ms-expand { display:none; }
#main0 .main-visual .search-area .main-box input {border:0;background-color:rgba(255,255,255,0.7);width:100%;padding-left:40px;font-size:16px;color:#000;box-sizing:border-box;}
#main0 .main-visual .search-area .main-box input {height:70px;line-height:70px;}
#main0 .main-visual .search-area .main-box input::placeholder{color:#000;}
#main0 .main-visual .search-area .main-box button {height:70px;line-height:70px;}
#main0 .main-visual .search-area .main-box button {position:absolute;width:100px;right:0;top:0;text-align:center;background:url('../img/search-btn.png') no-repeat 45px center;font-size:19px;color:#fff;padding-left:30px;padding-top:2px;font-weight:bold;}

#main0 .main-visual .holiday-box {position:absolute;top:70%;left:0;width:100%;text-align:center;z-index:99999;background:transparent;}
#main0 .main-visual .holiday-box .main-box {position:relative;width:1260px;margin:0 auto;}
#main0 .main-visual .holiday-box .title {border-bottom:1px solid rgba(255, 255, 255, .7);padding:15px 0;}
#main0 .main-visual .holiday-box .title h2 {color:#fff;font-size:19px;display:block;text-align:left;font-weight:bold;}
#main0 .main-visual .holiday-box .btn-more1 {position:absolute;right:0;top:15px;font-size:0;width:14px;height:14px;background:url('../img/more-btn-w.png') no-repeat 0 0;}
#main0 .main-visual .holiday-box .holiday-section {text-align:left;padding:15px 0;}
#main0 .main-visual .holiday-box .holiday-section span{display:inline-block;color:#fff;font-size:18px;font-family:'Verdana';}
#main0 .main-visual .holiday-box .holiday-section .inBox1 dl dd{display:inline-block;color:#fff;font-size:18px;}

#main0 .main-visual .quickmenu-box {position:absolute;top:65%;left:0;width:100%;text-align:center;z-index:99999;background:transparent;}
#main0 .main-visual .quickmenu-box .main-box {position:relative;width:1260px;margin:0 auto;}
#main0 .main-visual .quickmenu-box .main-box .qmenu {box-sizing:border-box;overflow:hidden;height:170px;text-align:center;}
#main0 .main-visual .quickmenu-box .main-box .qmenu li {display:inline-block;text-align:center;float:left;width:140px;height:140px;margin:0;box-sizing:border-box;background:#7a6e61;border-radius:50%;margin-right:80px;-webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;transition:width 2s, height 2s, background-color 2s, transform 2s}
#main0 .main-visual .quickmenu-box .main-box .qmenu li:hover{background:#ffba00;-webkit-box-shadow:5px 10px 8px rgba(0,0,0,.3),0 0 3px rgba(0,0,0, .3)}
#main0 .main-visual .quickmenu-box .main-box .qmenu li:last-child{margin-right:0;}
#main0 .main-visual .quickmenu-box .main-box .qmenu li a {margin-top:30px;height:100%;display:block;font-size:16px;color:#fff;box-sizing:border-box;letter-spacing:-1px;text-align:center;}
#main0 .main-visual .quickmenu-box .main-box .qmenu li a span{padding-top:60px;display:block;position:relative;font-weight:bold;}
#main0 .main-visual .quickmenu-box .main-box .qmenu li.qm1 a{background:url('../img/quick_icon01.png')no-repeat center top;}
#main0 .main-visual .quickmenu-box .main-box .qmenu li.qm2 a{background:url('../img/quick_icon02.png')no-repeat center top;}
#main0 .main-visual .quickmenu-box .main-box .qmenu li.qm3 a{background:url('../img/quick_icon03.png')no-repeat center top;}
#main0 .main-visual .quickmenu-box .main-box .qmenu li.qm4 a{background:url('../img/quick_icon04.png')no-repeat center top;}
#main0 .main-visual .quickmenu-box .main-box .qmenu li.qm5 a{background:url('../img/quick_icon05.png')no-repeat center top;}
#main0 .main-visual .quickmenu-box .main-box .qmenu li.qm6 a{background:url('../img/quick_icon06.png')no-repeat center top;}

/*main scroll*/
.main_scroll {position:absolute;top:90%;left:0;width:100%;text-align: center;z-index: 99;}
.main_scroll .main_scroll_wp {display:inline-block;width:85px;height:130px;background:url('../img/scroll-down.png') no-repeat 0 0;text-indent:-99999em;}
.main_scroll .main_scroll_wp_white {display:inline-block;width:85px;height:130px;background:url('../img/scroll-down-white.png') no-repeat 0 0;text-indent:-99999em;}

/*세번째페이지 버튼*/
.fp-viewing-fourthPage #fp-nav ul li a span, .fp-viewing-3 #fp-nav ul li a span,
.fp-viewing-fourthPage #fp-nav ul li a span, .fp-viewing-4 #fp-nav ul li a span{
	background:#888 !important;
}
.fp-viewing-fourthPage #fp-nav ul li a.active, .fp-viewing-3 #fp-nav ul li a.active,
.fp-viewing-fourthPage #fp-nav ul li a.active, .fp-viewing-4 #fp-nav ul li a.active{
	border:1px solid #888 !important;
}

/*main1*/
#main1 .notice_popup_wrap{width:730px;float:left}

#main1 .notice-box {position:relative;float:left;width:730px;margin-top:85px;}
#main1 .tabMenuS {text-align:center;width:75%;margin:0 auto 5px;overflow:hidden;}
#main1 .tabMenuS li {position:relative;display:inline-block;box-sizing:border-box;text-align:center;margin:0 5px;}
#main1 .tabMenuS li a {position:relative;display:block;box-sizing:border-box;font-size:32px;font-weight:normal;letter-spacing:-2px;padding:13px 20px;color:#000;}
#main1 .tabMenuS li.on a {font-weight:bold;}
#main1 .tabMenuS li.on a span {border-bottom:0;}
#main1 .btn-more2 {position:absolute;right:0;top:15px;font-size:0;width:22px;height:22px;background:url('../img/more-btn.png') no-repeat 0 0;}

#main1 .notice-box > .con {padding-top:10px;}
#main1 .notice-box > .con li {padding:10px 0 12px;margin-bottom:2px;border-bottom:1px solid #d9d9d9;}
#main1 .notice-box > .con li:first-child{padding-top:0;}
#main1 .notice-box > .con li a {position:relative;display:block;box-sizing:border-box;padding:0 0 0 70px;position:relative;word-break:break-all;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
#main1 .notice-box > .con li a span.ca {padding:10px 13px;font-size:14px;color:#fff;font-weight:bold;position:absolute;top:7px;left:0;}
#main1 .notice-box > .con li a span.bg-0000{background:#7a6e61;}
#main1 .notice-box > .con li a span.bg-0001{background:#ffba00;}
#main1 .notice-box > .con li a span.bg-0002{background:#00aedf;}
#main1 .notice-box > .con li a span.bg-0003{background:#2fa58b;}
#main1 .notice-box > .con li a span.title {font-size:16px;color:#000;line-height:200%;}
#main1 .notice-box > .con li a span.date {font-size:15px;color:#969696;}
#main1 .notice-box > .con li.ansim a span.ca{background:#ffba00;}
#main1 .notice-box > .con li.sincheon a span.ca{background:#00aedf;}
#main1 .notice-box > .con li.small a span.ca{background:#2fa58b;}
.btn-more-more {position:absolute;right:20px;top:15px;font-size:0;width:14px;height:14px;background:url('../img/more-bbbbbbbtn.png') no-repeat 0 0;}

#main1 .calendar-box {position:relative;float:left;width:730px;margin-top:30px;}

#calendar2 .calendar-info {position:relative;font-size:14px;color:#000;margin-top:10px;}
#calendar2 .calendar-info span {display:inline-block;padding-left:10px;}
#calendar2 .calendar-info span.hu {background:url('/resources/homepage/duryu/img/red-dot.png') no-repeat left center;margin-right:10px;}
#calendar2 .calendar-info span.ev {background:url('/resources/homepage/duryu/img/blue-dot.png') no-repeat left center;}

#calendar2 .calendar_select_box_wrap{position:relative;float:right;width:410px;height:40px;border:1px solid #000;}
#calendar2 .calendar_select_box{position:absolute;top:0;left:0;border:none;width:365px;padding:10px 15px 10px;border-radius:0;}
#calendar2 select::-ms-expand {display:none}
#calendar2 select{ 
    -webkit-appearance: none; 
    -moz-appearance: none; 
	 appearance:none;
     background:url('../img/cal-area_arr.png') no-repeat 96% 43%;
}

#calendar2 .btn-more{position:absolute;top:0;right:0;width:40px;height:40px;line-height:53px;text-align:center;border-left:1px solid #000;}

#calendar2 {width:100%;margin:0 auto;position:relative}
#calendar2 .cal-bord {border:2px solid #ffd9b1;border-radius:3px;box-sizing:border-box;padding:18px;}
#calendar2 .title {position:relative;}
#calendar2 .title h2 {width:50%;position:relative;display:block;box-sizing:border-box;font-size:21px;font-weight:bold;letter-spacing:-2px;padding:8px 27px;border:3px solid #fff;border-radius:35px;color:#fff;text-align:center;margin:0 auto;}
.cal-box{float:left;}
.cal-today{position:relative;width:300px;background:#2a569c;border-radius:5px;text-align:center;padding:15px 0;}
.cal-today span.cal-n1, .cal-today span.cal-date{color:#fff;font-weight:bold;font-size:21px;}
.cal-cal{width:280px;background:#f8f8f8;border-radius:5px;-webkit-box-shadow:5px 10px 8px rgba(0,0,0,.05),0 0 3px rgba(0,0,0, .05);margin-top:-10px;padding:10px;}
.calendar2 {position:absolute;top:0px;z-index:800;width:1000px}
.calendar2 .section{position:relative;overflow:hidden;text-align:center;margin:20px 20px;width:315px;float:right}
.calendar2 .box{width:310px;margin-right:20px}
.calendar2 h3{font-size:16px;color:#323232;font-weight:bold;line-height:36px;height:36px;text-align:left;float:left;padding-top:13px;}
#calendar2 table,
#calendar2 table th,
#calendar2 table td{border:0;padding:0}
#calendar2 .btn{position:absolute;top:8px;border:0;background:none;}
#calendar2 .prev{left:50px;}
#calendar2 .next{right:50px;}
#planList {overflow:hidden;padding-top:13px}
#planList h3{font-size:15px;padding:0 10px 0 0;float:left;display:block;letter-spacing:-1px}
#planList span{float:left;margin:5px 3px 0;width:25px;height:25px;font-weight:bold;line-height:25px;display:block;background-color:#ee882c;color:#fff;border-radius:100%;font-size:12px}
.cal-func2 {text-align:center;padding:0 0 10px 0;}
.cal-func2 a.btn {padding:7px 25px 5px;color:#888;font-size:15px;border:1px solid #000;}
.cal-func2 a {}
.cal-func2 b {height:18px;line-height:18px}
.cal-func2 a,
.cal-func2 b,
.cal-func2 span,
.cal-func2 em {vertical-align:middle}
.cal-func2 b {font-family:'verdana';font-size:20px;font-weight:bold;color:#fff;}
.cal-func2 b span {}
.cal-func2 b em{font-style:normal;}
#calendar2 .cal-tbl {margin-top:10px;text-align:center;}
#calendar2 .cal-tbl thead th {width:14%;height:28px;line-height:30px;color:#004e96;font-size:12px;font-weight:normal;text-align:center;}
#calendar2 .cal-tbl td {font-size:11px;padding:7px 0;;text-align:center;white-space:nowrap}
#calendar2 .cal-tbl td div{width:19px;height:19px;line-height:20px;font-size:13px;margin:0 auto;color:#000;font-family:'Verdana';}
#calendar2 .cal-tbl td a {display:block;border-radius:100%}
#calendar2 .cal-tbl td a.type-r{background:url('/resources/homepage/duryu/img/blue-dot2.png') no-repeat center bottom;#0080f2;color:#0080f2}
#calendar2 .cal-tbl td a.type-e{background:url('/resources/homepage/duryu/img/red-dot2.png') no-repeat center bottom;color:#ee2342}

#calendar2 .planView {position:relative;float:left;width:420px;height:230px;overflow-y:scroll;background:#fff;margin-top:20px;margin-left:10px;}
#calendar2 .planView .inbox {position:relative;box-sizing:border-box;padding:0 15px;}
#calendar2 .planView .inbox .planList {padding:17px 0;border-bottom:1px solid #ddd;}
#calendar2 .planView .inbox .planList:first-child{padding-top:0;}
#calendar2 .planView .inbox .planList p {font-size:15px;}
#calendar2 .planView .inbox .planList p.datetime {font-weight:bold;margin-bottom:5px;}
#calendar2 .planView .inbox .planList p.title {white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;margin-bottom:5px;}
#calendar2 .planView .inbox .planList p.title em {font-style:normal;color:#ff2727;}
#calendar2 .planView .inbox .planList li {margin:2px 0;font-size:14px;color:#666;letter-spacing:-0.25px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;}

#calendar2 .inBox0 .week-box {position:relative;width:100%;padding:10px 0;text-align:center;background:#635950;border-radius:25px;}
#calendar2 .inBox0 .week-box li {display:inline-block;width:10%;}
#calendar2 .inBox0 .week-box li a {display:block;color:#fff;font-size:15px;height:25px;line-height:25px;border-radius:15px;}
#calendar2 .inBox0 .week-box li a.today {background:#fff;;color:#fb8535;}

#calendar2 .inBox0 .event-box {position:relative;width:90%;margin:0 auto;padding: 10px 0 25px 0;border-bottom:1px solid #fff;}
#calendar2 .inBox0 .event-box span {display:inline-block;}
#calendar2 .inBox0 .event-box span:first-child {position:absolute;width:45px;}
#calendar2 .inBox0 .event-box span:last-child  {padding-left:55px;}
#calendar2 .inBox0 .event-box span h3 {color:#000;/* font-size:14px; */font-weight:bold;}
#calendar2 .inBox0 .event-box li {display:block;width: 100%;color:#000;font-size:14px;background:url('/resources/common/img/arr-news.gif') no-repeat left center;padding-left:7px;box-sizing:border-box;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;}

#calendar2 .inBox1 {position:relative;width:100%;padding: 10px 0 5px 0;text-align:left;color:#000;}
#calendar2 .inBox1 .title {float:left;position:relative;font-size:20px;padding: 0px 18px 7px 5px;}
#calendar2 .inBox1 .bt-controls {float:left;width:175px;text-align:center;position:relative;}
#calendar2 .inBox1 .bt-controls b {font-size:20px;font-family:'Verdana';font-weight:bold;line-height:150%;padding:0;}
#calendar2 .inBox1 .info dd {float:left;position:relative;font-weight:bold;text-align:center;}
#calendar2 .inBox1 .info dd span{display:inline-block;background:#fb8535;font-weight:bold;color:#fff;font-size:15px;text-align:center;width:30px;height:30px;line-height:30px;margin-right:3px;border-radius:25px;}

#calendar2 .inBox1 .bt-controls .bt-next{top:1px;right:0;font-size:0;line-height:0;width:32px;height:32px;z-index:500;position:absolute}
#calendar2 .inBox1 .bt-controls .bt-prev{top:1px;left:0;font-size:0;line-height:0;width:32px;height:32px;z-index:500;position:absolute}
#calendar2 .inBox1 .bt-controls .bt-next{background:url('/resources/homepage/duryu/img/libCloseBtr.png') no-repeat center center}
#calendar2 .inBox1 .bt-controls .bt-prev{background:url('/resources/homepage/duryu/img/libCloseBtl.png') no-repeat center center}
#calendar2 .box{margin-left:0}
#calendar2 dl{padding:3px 0}

#main1 .popupzone-box {float:right;width:455px;text-align:center;margin-top:97px;}
#main1 .popupzone-box span{font-size:32px;font-weight:bold;letter-spacing:-2px;color:#000;}
#main1 .popZone{margin-top:20px;}
#main1 .popZone .bx-wrapper .bx-viewport ul li img{width:445px !important;}
#main1 .popZone .bx-controls {position:relative;text-align:center;width:100%;padding:10px 0 20px;z-index:999;}
#main1 .popZone .bx-pager {display:block;margin:0 auto;height:12px;padding:0 0 0 0;text-align:center;font-size:14px;color:#000;}
#main1 .popZone .bx-pager .bx-pager-item {display:inline-block;zoom:1;*display:inline;font-size:0;line-height:0;margin-left:3px;}
#main1 .popZone .bx-controls-direction a{position:absolute;bottom:5px;color:transparent;}
#main1 .popZone .bx-controls-direction a.bx-prev{background:url('../img/prev-popupzone.png')no-repeat;left:130px;}
#main1 .popZone .bx-controls-direction a.bx-next{background:url('../img/next-popupzone.png')no-repeat;right:130px;}
#main1 .popZone .bx-controls-auto{display:none;}
#main1 .popZone .bx-pager a {display:inline-block;font-size:0;overflow:hidden;padding:7px 0 0 7px;background:#999999;border:3px solid transparent;border-radius:20px;}
#main1 .popZone .bx-pager a.active{background:#FFF;border:3px solid #000;}

/*main2*/
#main2 {background: url('../img/main2-bg.jpg') no-repeat center top;background-size:cover;}

#main2 .book_title_box{position:relative;float:left;margin-right:190px;margin-top:130px;}
#main2 .book_title_box p{font-size:35px;color:#fff;letter-spacing:-0.5px;line-height:120%;margin-top:10px;}
#main2 .book_title_box h2{font-size:50px;color:#fff;letter-spacing:0;font-weight:bold;margin-bottom:20px;}
#main2 .book_title_box ul li:first-child{margin-bottom:10px;}
#main2 .book_title_box ul li{float:left;margin-right:10px;border:1px solid #fff;width:110px;padding:15px 20px;background:url('../img/book-more-btn.png')no-repeat 105px 15px;cursor:pointer;}
#main2 .book_title_box ul li:last-child{margin-right:0;}
#main2 .book_title_box ul li:hover{-webkit-box-shadow:5px 10px 8px rgba(0,0,0,.3),0 0 3px rgba(0,0,0, .3);}
#main2 .book_title_box span{font-size:15px;color:#fff;letter-spacing:0;}

#main2 .book_box{position:relative;float:right;margin-top:130px;}
#main2 .book_box_mt{margin-top:20px;}

ul.book_photo {text-align:center;height:333px;overflow:hidden;}
ul.book_photo li {position:relative;display:inline-block;width:213px;padding:0 20px;vertical-align:top;}
ul.book_photo li {overflow:hidden;text-align:center;}
ul.book_photo li:last-child{padding-right:0;}
ul.book_photo li a span {display:block;}
ul.book_photo li a span.con-image01, ul.book_photo li a span.con-image02 {height:280px;margin:0;}
ul.book_photo li a span.con-image01 img, ul.book_photo li a span.con-image02 img {width:100%;height:100%;}
ul.book_photo li a span.con-image01 img:hover{border:3px solid #00a84c;-webkit-box-shadow:5px 10px 8px rgba(0,0,0,.3),0 0 3px rgba(0,0,0, .3);box-sizing: border-box;}
ul.book_photo li a span.con-image02 img:hover{border:3px solid #004e96;-webkit-box-shadow:5px 10px 8px rgba(0,0,0,.3),0 0 3px rgba(0,0,0, .3);box-sizing: border-box;}
ul.book_photo li a span.con-title {color:#fff;font-size:17px;font-weight:bold;padding-top:18px;letter-spacing:-0.5px;}
ul.book_photo li a span.cate01{position:absolute;top:0;left:20px;color:#fff;font-size:14px;font-weight:bold;padding:18px 8px;background:#00a84c;}
ul.book_photo li a span.cate02{position:absolute;top:0;left:20px;color:#fff;font-size:14px;font-weight:bold;padding:18px 15px;background:#004e96;}

#main2 .sns_title_box{position:relative;float:left;margin-top:100px;}
#main2 .sns_title_box p{font-size:18px;color:#fff;letter-spacing:-0.5px;line-height:150%;margin-top:10px;}
#main2 .sns_title_box h2{font-size:50px;color:#fff;letter-spacing:0;font-weight:bold;margin-bottom:50px;position:absolute;top:30px;left:180px;}
#main2 .sns_title_box ul{width:400px;margin-top:40px;}
#main2 .sns_title_box ul li{display:inline-block;width:195px;height:65px;}
#main2 .sns_title_box ul li a{font-size:15px;color:#fff;letter-spacing:0.5px;padding:15px 0 16px 65px;}
#main2 .sns_title_box ul li:hover a{text-decoration:underline;}
#main2 .sns_title_box ul li a.sns_facebook{background:url('../img/sns-facebook-icon.png')no-repeat;}
#main2 .sns_title_box ul li a.sns_kakaostory{background:url('../img/sns-kakaostory-icon.png')no-repeat;}
#main2 .sns_title_box ul li a.sns_youtube{background:url('../img/sns-youtube-icon.png')no-repeat;}
#main2 .sns_title_box ul li a.sns_naverblog{background:url('../img/sns-naverblog-icon.png')no-repeat;}
#main2 .sns_title_box ul li a.sns_instagram_ansim{background:url('../img/sns-instagram-icon-ansim.png')no-repeat;}
#main2 .sns_title_box ul li a.sns_instagram_sincheon{background:url('../img/sns-instagram-icon-sincheon.png')no-repeat;}

.culture-box ul li a p.one-status-box {display:block;position:absolute;right:0;top:0;width:46px;height:46px;line-height:46px;text-align:center;border-radius:50%;font-size:14px;font-weight:bold;}
.culture-box ul li a p.one-status-box.status001 {color:#2a569c;border:1px solid #2a569c;}
.culture-box ul li a p.one-status-box.status002 {color:#ff345f;border:1px solid #ff345f;}
.culture-box ul li a p.one-status-box.status003 {color:#808080;border:1px solid #808080;}


/*main3*/
#main3 {position:relative;background:#fff8f0;}
#main3 .library_box{position:relative;text-align:center;margin-top:-50px;margin-bottom:20px;}
#main3 .library_box h4{font-weight:bold;font-size:35px;color:#000;letter-spacing:0;}
#main3 .library_box p{font-size:18px;color:#000;letter-spacing:0;margin-top:10px;}

.main3 .map-area {float:left;margin-left:40px;}
.main3 .map-area .map-box {float:left;position:relative;/*:url('../img/main-map.png') no-repeat center center;*/width:465px;height:473px;}
.main3 .map-area .map-info {position:absolute;bottom:-20px;right:185px;background:url('../img/main-map-info.png') no-repeat center center;width:446px;height:40px;}
.main3 .info-area {float:right;width:630px;padding-top:20px;}
.main3 .info-area .box {background:#ffc010;border-radius:5px;overflow:hidden;height:90px;box-sizing:border-box;box-shadow:4px 4px 11px 0 rgba(0,0,0,0.2);}
.main3 .info-area .box select.librarySelectBox {width:100%;font-size:19px;margin:12px 18px 12px 20px;font-weight:bold;}
.main3 .info-area .box select{ 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
     background: url('../img/info-area_arr02.png') no-repeat 92% 48%; 
	 border-right:1px solid #efece5;
}
.main3 .info-area .box select::-ms-expand {display: none;} 


.info-area li {display:inline-block;float:left;width:46%;text-align:center;box-sizing:border-box;}
.info-area li:last-child {text-align:left;width:50%;}

.info-area li select {background:transparent;border:0;padding:20px 0;}
.info-area li select:focus {outline:none;}
.info-area li div.divbInfomationConts {font-size:16px;box-sizing:border-box;letter-spacing:-1.5px;}
.info-area li div.divbInfomationConts#divbInfo1  {padding:20px 35px;}
.info-area li div.divbInfomationConts#divbInfo2  {padding:20px 35px;}
.info-area li div.divbInfomationConts#divbInfo3  {padding:9px 35px;}
.info-area li div.divbInfomationConts#divbInfo4  {padding:9px 35px;}
.info-area li div.divbInfomationConts#divbInfo5  {padding:9px 35px;}
.info-area li div.divbInfomationConts#divbInfo6  {padding:9px 35px;}
.info-area li div.divbInfomationConts#divbInfo7  {padding:9px 35px;}
.info-area li div.divbInfomationConts#divbInfo8  {padding:9px 35px;}
.info-area li div.divbInfomationConts#divbInfo9  {padding:9px 35px;}
.info-area li div.divbInfomationConts#divbInfo10 {padding:9px 35px;}
.info-area li div.divbInfomationConts#divbInfo11 {padding:9px 35px;}
.info-area li div.divbInfomationConts#divbInfo12 {padding:20px 35px;}
.info-area li div.divbInfomationConts#divbInfo13 {padding:9px 35px;}
.info-area li div.divbInfomationConts#divbInfo14 {padding:9px 35px;}
.info-area li div.divbInfomationConts#divbInfo15 {padding:9px 35px;}
.info-area li div.divbInfomationConts#divbInfo16 {padding:9px 35px;}
.info-area li div.divbInfomationConts#divbInfo17 {padding:9px 35px;}
.info-area li div.divbInfomationConts#divbInfo18 {padding:20px 35px;}
.info-area li div.divbInfomationConts#divbInfo19 {padding:9px 35px;}
.info-area li div.divbInfomationConts#divbInfo20 {padding:9px 35px;}
.info-area li div.divbInfomationConts#divbInfo21 {padding:9px 35px;}
.info-area li div.divbInfomationConts#divbInfo22 {padding:9px 35px;}
.info-area li div.divbInfomationConts#divbInfo23 {padding:9px 35px;}

.box2 {padding-top:3%;}
.divbInfomationContsDetail li {display:inline-block;float:left;width:48.5%;height:300px;background:#808080;border-radius:3px;box-sizing:border-box;padding:20px 25px;text-align:left;color:#fff;box-shadow:4px 4px 11px 0 rgba(0,0,0,0.2);}
.divbInfomationContsDetail li:last-child {float:right;}
.divbInfomationContsDetail li dt {display:block;width:100%;text-align:center;font-size:23px;font-weight:bold;color:#fff;padding-bottom:8px;}
.divbInfomationContsDetail li dd {display:block;width:100%;text-align:left;font-size:16px;background:url('../img/info-icon.png') no-repeat left center;padding:2px 0 2px 13px;color:#fff;}


#main3 .banner-box {position:absolute;bottom:0;width:100%;background:#fff;}

.Gnb .gnb-menu>li:nth-child(2)>.SubMenu{width:1300px !important;}

/*푸터*/
#foot_section .mFooter {}
#foot_section .mFooter .top {position:relative;border-top:1px solid #d2d2d2;padding:18px 0;}
#foot_section .mFooter .site_link {margin-top:30px;}
#foot_section .mFooter .site_link div > div{width:200px;border:1px solid #727272;background:#303030;padding:0 10px;}
#foot_section .mFooter .site_link div > div,
#foot_section .mFooter .site_link a.btn{height:42px;line-height:42px;z-index:100;margin-bottom:5px;}
#foot_section .mFooter .site_link a.btn{padding:0 10px;border-radius:0;background:#7b8294;border:0;color:#fff;box-sizing:border-box;}
#foot_section .mFooter .site_link a.btn:hover,
#foot_section .mFooter .site_link a.btn:focus{background:#7b8294}
#foot_section .mFooter .site_link02{position:absolute;top:-30px;right:0;}
#foot_section .mFooter .bottom {padding:40px 0;background:#343434;}
#foot_section .mFooter .bottom p {display:block;padding-bottom:5px;font-size:14px;line-height:170%;}
#foot_section .mFooter .bottom p em b{color:#ccc;padding-right:10px;}
#foot_section .mFooter .bottom p em {font-style:normal;color:#9f9f9f;}
#foot_section .mFooter .bottom span{font-size:14px;color:#767676;line-height:200%;}

.sections .info a{color:#222;}
.sections .info a b{color:#fd5227;}
.sections .info span.bar{font-size:12px;color:#888;padding:0 10px;}

#foot_section .mFooter .site_link > div > div,
#foot_section .mFooter .site_link > div > div {position:relative;display:inline-block;zoom:1;*display:inline;margin:0;vertical-align:middle;margin-right:-5px;margin-bottom:5px;}
#foot_section .mFooter .site_link > div > div > a.fsite,
#foot_section .mFooter .site_link > div > div > a.fsite{display:block;padding:0 8px;height:41px;line-height:41px;border-right-width:0;text-align:left;}
#foot_section .mFooter .site_link > div > div > ul,
#foot_section .mFooter .site_link > div > div > ul{position:absolute;bottom:43px;left:0;width:100%;text-align:left;border-top:1px solid #ccc;background:#fff}
#foot_section .mFooter .site_link > div > div > ul,
#foot_section .mFooter .site_link > div > div > ul{overflow-y:auto;border-right:1px solid #ccc}
#foot_section .mFooter .site_link > div > div > ul > li,
#foot_section .mFooter .site_link > div > div > ul > li{line-height:25px;border-left:1px solid #ccc}
#foot_section .mFooter .site_link > div > div > ul > li > a,
#foot_section .mFooter .site_link > div > div > ul > li > a{color:#666;display:block;padding:3px 6px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#foot_section .mFooter .site_link > div > div > a > span,
#foot_section .mFooter .site_link > div > div > a > span{display:inline-block;zoom:1;*display:inline;vertical-align:middle;line-height:28px;height:28px;color:#aaa;}
#foot_section .mFooter .site_link > div > div > a > span.f1,
#foot_section .mFooter .site_link > div > div > a > span.f1{display:block;width:100%;height:40px;line-height:40px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
#foot_section .mFooter .site_link > div > div > a > span.f2,
#foot_section .mFooter .site_link > div > div > a > span.f2{position:absolute;right:10px;top:0;width:20px;height:40px;line-height:40px;}
#foot_section .mFooter .site_link > div > div > a > span > i,
#foot_section .mFooter .site_link > div > div > a > span > i{border-color:#888 transparent transparent transparent;border-style:solid;border-width:5px 4px 0 4px;width:0;height:0;left:50%;position:absolute;top:50%}
#foot_section .mFooter .site_link > div > div > a > span > i,
#foot_section .mFooter .site_link > div > div > a:hover > span > i,
#foot_section .mFooter .site_link > div > div > a > span > i,
#foot_section .mFooter .site_link > div > div > a:hover > span > i{margin-top:-2px}
#foot_section .mFooter .site_link > div > div > a.active > span > i,
#foot_section .mFooter .site_link > div > div > a.active > span > i{border-color:transparent transparent #888 transparent;border-width:0 4px 5px 4px}
#foot_section .mFooter .site_link > div > div > ul > li > a.disabled,
#foot_section .mFooter .site_link > div > div > ul > li > a.disabled{color:#999}
#foot_section .mFooter .site_link > div > div > ul > li > a:hover,
#foot_section .mFooter .site_link > div > div > ul > li > a:hover{background:#5897fb;color:#fff;}

/**/
#s_foot_section .sFooter {}
#s_foot_section .sFooter .f_menu {background:#1a1c20;height:60px;line-height:60px;}
#s_foot_section .sFooter .f_menu .in {width:1200px;margin:0 auto;}
#s_foot_section .sFooter .f_menu .in ul {}
#s_foot_section .sFooter .f_menu .in ul li {display:inline-block;margin-right:18px;}
#s_foot_section .sFooter .f_menu .in ul li a {display:block;font-size:15px;color:#ccc;transition:all 0.2s;}
#s_foot_section .sFooter .f_menu .in ul li a:hover,
#s_foot_section .sFooter .f_menu .in ul li:first-child a:hover {color:#466db8}
#s_foot_section .sFooter .f_menu .in ul li:first-child a {color:#e85c31}
#s_foot_section .sFooter .f_info{background:#121316;padding:30px 0 50px;}
#s_foot_section .sFooter .f_info .in {width:1200px;margin:0 auto;position:relative;}
#s_foot_section .sFooter .f_info .in ul li {margin-bottom:1px;color:#aaa;}
#s_foot_section .sFooter .f_info .in ul li br {display:none;}
#s_foot_section .sFooter .f_info .in ul li strong {display:inline-block;width:55px;height:22px;line-height:23px;text-align:center;border:1px solid #545454;margin-right:20px;font-size:inherit;font-weight:400;}
#s_foot_section .sFooter .f_info .in ul li span.tel {font-size:14px;color:#aaa;margin-left:20px;}
#s_foot_section .sFooter .f_info .in ul li span.fax {font-size:14px;color:#aaa;margin-left:20px;}
#s_foot_section .sFooter .f_info .in .copyright {font-size:15px;color:#aaa;padding-top:20px;}
#s_foot_section .sFooter .f_info .in .f_logo {position:absolute;top:0;right:0;}


@media all and (max-width:1260px){
	.main-section{max-width:1200px;margin:0 auto;}

	#main0 .main-visual .search-area .main-box {width:1100px;}

	#main0 .main-visual .quickmenu-box .main-box{width:1100px;}
	#main0 .main-visual .quickmenu-box .main-box .qmenu li{margin-right:50px;}

	#main1 .notice-box{width:730px;}
	#main1 .notice-box > .con li:last-child{display:none;}

	#main1 .popZone .bx-wrapper .bx-viewport ul li img{width:395px !important;}

	#calendar2 .planView{width:355px;}
	
	#main2 .book_title_box{margin-right:0;}
	#main2 .book_title_box p{font-size:25px;}
	#main2 .book_title_box h2{font-size:40px;}

	#main2 .sns_title_box p{font-size:17px;}
	#main2 .sns_title_box h2{font-size:45px;left:170px;}

	#main2 .book_box{margin-right:40px;}
	
	ul.book_photo{height:300px;}
	ul.book_photo li{width:180px;height:300px;}
	ul.book_photo li img{height:230px;}
	ul.book_photo li a span.con-title{padding-top:10px;}
	ul.book_photo li a span.con-image{height:265px;}

	#main3 .library_box h4{font-size:33px;}
	#main3 .library_box p{font-size:16px;}

	.divbInfomationContsDetail li{height:280px;}

	.main3 .info-area{padding-right:35px;}
	.main3 .map-area .map-info{right:205px;}

	.banner-wrap .banner-t5 .control{padding:10px 0;}

	.sections{width:95% !important;}

	#main3 .banner-box{display:none;}
}

@media all and (max-width:1024px){
	h1 img{display:none}
	#header {top:0;}
	#header h1 {position:relative;height:auto;position:absolute;left:0;}
	#header h1 img {display:block}

	.m-menu a {position:absolute;right:10px;display:inline-block;text-align:center;vertical-align:middle;color:#fff;}
	.m-menu a i{font-size:30px;width:45px;height:45px;line-height:45px;}

	.main .section{margin:0}
	.main1 .section{margin:0}

	.tnb .util, .tnb .libSite, .Gnb, .main7_banner{display:none}
	.pcmode {display:none;}
	.mmode {display:block;}
	.main_scroll {display:none;}
	.webBr {display:none;}

	.main-section{width:95%;}

	#main0 {height:600px;}
	#main0 .main-visual {height:100%;}
	#main0 .main-visual .swiper-container {width:100%;height: 100%;}
	#main0 .main-visual .swiper-slide {text-align: center;background: #fff;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;
	justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;	align-items: center;}
	#main0 .main-visual .swiper-slide .mvText{margin-top: -150px;}
	#main0 .main-visual .swiper-slide.mvimg01 {background: url('../img/section0-bg-01.jpg') no-repeat center 0;background-size: cover;}
	#main0 .main-visual .swiper-slide.mvimg02 {background: url('../img/section0-bg-02.jpg') no-repeat center 0;background-size: cover;}
	#main0 .main-visual .search-area {position:absolute;top:55%;left:0;width:100%;text-align:center;z-index:99999;background:transparent;}
	#main0 .main-visual .search-area .main-box{width:90%;}
	#main0 .main-visual .quickmenu-box{top:70%;}
	#main0 .main-visual .quickmenu-box .main-box{width:90%;}
	#main0 .main-visual .quickmenu-box .main-box .qmenu li{margin-right:15px;}

	#main1 .tabMenuS {width:90%;margin:0 auto 10px;}
	#main1 .btn-more2 {top:12px;}
	#main1 .notice-box, #main1 .popupzone-box{margin-top:50px}
	#main1 .notice-box > .con li:last-child{display:block;}
	#main1 .notice_popup_wrap{width:660px;}
	#main1 .notice-box{width:660px;}
	#main1 .popupzone-box{width:300px;}
	#main1 .popupzone-box span{display:none;}
	#main1 .popZone{margin-top:0;}
	#main1 .popZone .bx-wrapper .bx-viewport ul li img{width:264px !important;}
	#main1 .popZone .bx-controls-direction a.bx-prev{left:80px;}
	#main1 .popZone .bx-controls-direction a.bx-next{right:80px;}
	#main1 .calendar-box{width:98%;margin-top:10px;margin-bottom:50px;}

	#calendar2 .planView{width: calc(100% - 310px);}
	#calendar2 .calendar_select_box_wrap{width: calc(100% - 330px);}
	#calendar2 .calendar_select_box{width: calc(100% - 40px);}
	#calendar2 .btn-more{}

	#main2 {padding:50px 0 30px;position:relative;}
	#main2 .book_title_box{margin-top:0;}
	#main2 .book_title_box p{font-size:18px;}
	#main2 .book_title_box h2{font-size:35px;}
	#main2 .book_title_box a{font-size:14px;padding:0;background-position:92px 13px;}
	#main2 .book_box{margin:0;}
	#main2 .sns_title_box{margin-top:30px;width:200px;}
	#main2 .sns_title_box p{font-size:16px;}
	#main2 .sns_title_box ul li{width:150px;height:60px;}
	#main2 .sns_title_box ul li a{font-size:14px;padding:18px 0 18px 60px;}

	ul.book_photo{height:300px;}
	ul.book_photo li{width:180px;height:300px;}
	ul.book_photo li img{height:230px;}
	ul.book_photo li a span.con-title{padding-top:10px;}
	ul.book_photo li a span.con-image01, ul.book_photo li a span.con-image02{height:250px;}

	#main2 .main2_tit{margin-top:0;}

	#main3 {background:none;}
	#main3:before {display:none;}
	#main3 .book-box  {float:none;width:100%;padding:30px 0 10px;}
	#main3 .calendar-box {float:none;width:100%;background:#ff8d12;padding:25px 0;}
	#calendar2 {width:96%;margin:0 auto;}
	#calendar2 .title h2 {width:150px;font-size:18px;padding:5px 18px 5px 15px;}
	
	#main3{height:530px;margin-bottom:20px;}
	#main3 .tabMenuS {width:90%;margin:0 auto 10px;}
	#main3 .tabMenuS li a {font-size:17px;padding:7px 20px;}

	#main3 ul.book_photo {text-align:center;box-sizing:border-box;height:300px;overflow:hidden;margin-top:20px;}
	#main3 ul.book_photo li {position:relative;display:inline-block;width:160px;padding:0 10px;vertical-align:top;}
	#main3 ul.book_photo li:first-child {padding-left:10px;}
	#main3 ul.book_photo li a span.con-image {width:160px;height:230px;margin:0;}
	#main3 ul.book_photo li a span.con-image img {width:100%;height:100%;}
	#main3 ul.book_photo li a span.con-title {color:#000;font-size:16px;font-weight:600;padding-top:18px;}
	
	#main3 .library_box{margin-top:40px;}
	#main3 .library_box p{display:none;}
	.main3 .map-area{display:none;}
	.main3 .info-area{padding:0;float:none;width:100%;}

	#foot_section .mFooter .site_link02{position:absolute;top:-30px;right:0;}
}

@media all and (max-width:768px){
	.pcmode03{display:none;}
	.mmode03{display:block;}

	#main0{height:600px;}
	#main0 .main-visual .swiper-slide .mvText img{width:75%;}
	#main0 .main-visual .swiper-slide .mvText .main_text{font-size:55px;margin-top:-8px;}
	#main0 .main-visual .search-area .main-box {width:96%;margin:0 auto;}
	#main0 .main-visual .quickmenu-box{top:75%;}
	#main0 .main-visual .quickmenu-box .main-box{width:96%;}
	#main0 .main-visual .quickmenu-box .main-box .qmenu li{width:115px;height:115px;margin-right:9px;}
	#main0 .main-visual .quickmenu-box .main-box .qmenu li a{font-size:14px;background-size:40% !important;margin-top:25px;}
	#main0 .main-visual .quickmenu-box .main-box .qmenu li a span{padding-top:45px;}
	
	#main1 .notice_popup_wrap{width:100%;}
	#main1 .notice-box, #main1 .popupzone-box{margin-top:20px;}
	#main1 .notice-box{width:100%;}
	#main1 .popupzone-box{float:left;width:100%;margin-bottom:10px;}
	#main1 .popZone{width:280px;margin:0 auto;}
	
	#main2{padding:30px 0;}
	#main2 .sns_title_box{position:absolute;top:-25px;left:300px;}
	#main2 .book_box{float:left;margin-top:80px;margin-left:4.5%}
	#main2 .book_box_mt{margin-top:30px;}
	#main2 .book_title_box ul li{float:none;margin-right:0;}
	#main2 .book_title_box a{padding:0;}
	
	#main3{margin-bottom:0;}
	#main3 .library_box{margin-top:20px;}

	.sections{text-align:center;}

	#foot_section .mFooter .bottom{padding:25px 0;}
	#foot_section .mFooter .site_link{width:100%;position:relative;top:0;right:0;}
	#foot_section .mFooter .site_link > div{position:relative;}
	#foot_section .mFooter .site_link > div > div, #foot_section .mFooter .site_link > div > div{width:93%;}
	#foot_section .mFooter .site_link div > div{border-right:none;}
	#foot_section .mFooter .site_link > div > div > a > span.f2, #foot_section .mFooter .site_link > div > div > a > span.f2{right:30px;}
	#foot_section .mFooter .site_link a.btn{position:absolute;top:0;right:0;height:44px;line-height:44px;font-size:13px;}
	#foot_section .mFooter .site_link > div > div > a > span, #foot_section .mFooter .site_link > div > div > a > span{padding-right:30px;}

	.home-up{bottom:280px;}
}

@media all and (max-width:717px){
	#main0 .main-visual .quickmenu-box{top:73%;}
	#main0 .main-visual .quickmenu-box .main-box .qmenu li{width:107px;height:107px;}
	#main0 .main-visual .quickmenu-box .main-box .qmenu li a{font-size:12px;line-height:120%;background-size:30% !important;margin-top:20px;}

	#main1 .calendar-box{margin-bottom:30px;}

	#main2 .book_box{margin-left:0;}

	ul.book_photo li{width:175px;}
	
	#foot_section .mFooter .top{overflow-x:scroll;}
	#foot_section .mFooter .top .sections .info {float:none;width:700px;margin:0 auto 0;text-align:center;}
}

@media all and (max-width:650px){
	.webList {display:none}
	.mobileList {display:block}
	.mobileBr {display:block;}
	
	#main0{height:700px;}
	#main0 .main-visual .swiper-slide .mvText{margin-top:-260px;}
	#main0 .main-visual .search-area{top:43%}
	#main0 .main-visual .quickmenu-box{top:58%;margin-left:13%;}	
	#main0 .main-visual .quickmenu-box .main-box .qmenu{height:auto;}
	#main0 .main-visual .quickmenu-box .main-box .qmenu li{width:110px;height:110px;margin-right:50px;margin-bottom:10px;line-height:120%;}
	#main0 .main-visual .quickmenu-box .main-box .qmenu li a{background-size:30% !important;}
	#main0 .main-visual .quickmenu-box .main-box .qmenu li.qm4 a span{padding-top:40px;}

	#main1 .tabMenuS{text-align:left;margin:0;}
	#main1 .tabMenuS li{margin:0 15px 0 0;}
	#main1 .tabMenuS li a{padding:13px 0;}

	#main2 .book_box{margin-top:10px;margin-left:0;}
	#main2 .sns_title_box{top:-30px;}
	#main2 .book_title_box{margin-bottom:60px;}
	#main2 .book_title_box li{margin-right:10px;}
	#main2 .book_title_box li a{padding:0;background-position:115px 13px;}

	ul.book_photo li{padding:0 10px;}
	ul.book_photo li a span.cate01, ul.book_photo li a span.cate02{left:10px;}
	
	#foot_section .mFooter .top{overflow-x:scroll;padding:12px 0;}
	#foot_section .mFooter .top .sections .info {float:none;width:700px;margin:0 auto 0;text-align:left;}
	#foot_section .mFooter .site_link > div > div > a > span.f2, #foot_section .mFooter .site_link > div > div > a > span.f2{right:20px;}
	
	#foot_section .mFooter .site_link > div > div, #foot_section .mFooter .site_link > div > div{width:90%;}
	
	.sections{text-align:left;}
	.sections .info a{font-size:13px;}
}

@media all and (max-width:550px){
	.pcmode02{display:none;}
	.mmode02{display:block;}

	#main0{height:700px;}
	#main0 .main-visual .quickmenu-box{margin-left:9%;}
	
	#main1 .calendar-box{width:100%;}
	.cal-box{float:none;width:100%;margin-top:10px;}
	.cal-today{width:100%;}
	.cal-cal{width:96%;}

	#calendar2 .calendar-info{position:absolute;right:0;}
	#calendar2 .calendar_select_box_wrap{float:none;width:100%;}
	#calendar2 .calendar_select_box{position:relative;}
	#calendar2 .btn-more{}
	#calendar2 .planView{width:100%;margin-top:50px;}
	#calendar2 .planView .inbox{padding:0;}
	
	#main2{padding:30px 0 70px;}
	#main2 .book_box_mb{margin-bottom:0px;}
	#main2 .book_box_mt{margin-bottom:30px;}
	#main2 .book_title_box{position:relative;float:none;text-align:center;margin-bottom:10px;}
	#main2 .book_title_box h2{margin-bottom:10px;}
	#main2 .book_title_box img, #main2 .book_title_box p{display:none;}
	#main2 .book_title_box li{float:left;}

	#main2 .sns_title_box{position:absolute;top:0;left:0;bottom:0;float:none;width:100%;text-align:center;margin-top:625px;}
	#main2 .sns_title_box img, #main2 .sns_title_box h2, #main2 .sns_title_box p, #main2 .sns_title_box ul li a span{display:none;}
	#main2 .sns_title_box ul{width:auto;float:none;margin-top:20px;}
	#main2 .sns_title_box ul li{width:auto;height:40px;}
	#main2 .sns_title_box ul li a{background-size:40px !important;}

	ul.book_photo{height:260px;}
	ul.book_photo li{width:180px;height:260px;}
	ul.book_photo li img{height:190px;}
	ul.book_photo li a span.con-title{padding-top:10px;}
	ul.book_photo li a span.con-image01, ul.book_photo li a span.con-image02{height:210px;}
	
	.main3 .info-area .box select.librarySelectBox{font-size:16px;letter-spacing:-0.5px;}
	.main3 .info-area .box select{background-position:94% 50%;}
	.info-area li{width:47%;}
	.info-area li div.divbInfomationConts{font-size:15px;}
	.info-area li div.divbInfomationConts#divbInfo1  {padding:22px 0 22px 35px;}
	.info-area li div.divbInfomationConts#divbInfo2  {padding:22px 0 22px 35px;}
	.info-area li div.divbInfomationConts#divbInfo3  {padding:12px 0 12px 35px;}
	.info-area li div.divbInfomationConts#divbInfo4  {padding:12px 0 12px 35px;}
	.info-area li div.divbInfomationConts#divbInfo5  {padding:12px 0 12px 35px;}
	.info-area li div.divbInfomationConts#divbInfo6  {padding:12px 0 12px 35px;}
	.info-area li div.divbInfomationConts#divbInfo7  {padding:12px 0 12px 35px;}
	.info-area li div.divbInfomationConts#divbInfo8  {padding:12px 0 12px 35px;}
	.info-area li div.divbInfomationConts#divbInfo9  {padding:12px 0 12px 35px;}
	.info-area li div.divbInfomationConts#divbInfo10 {padding:12px 0 12px 35px;}
	.info-area li div.divbInfomationConts#divbInfo11 {padding:12px 0 12px 35px;}
	.info-area li div.divbInfomationConts#divbInfo12 {padding:22px 0 22px 35px;}
	.info-area li div.divbInfomationConts#divbInfo13 {padding:12px 0 12px 35px;}
	.info-area li div.divbInfomationConts#divbInfo14 {padding:12px 0 12px 35px;}
	.info-area li div.divbInfomationConts#divbInfo15 {padding:12px 0 12px 35px;}
	.info-area li div.divbInfomationConts#divbInfo16 {padding:12px 0 12px 35px;}
	.info-area li div.divbInfomationConts#divbInfo17 {padding:12px 0 12px 35px;}
	.info-area li div.divbInfomationConts#divbInfo18 {padding:22px 0 22px 35px;}
	.info-area li div.divbInfomationConts#divbInfo19 {padding:12px 0 12px 35px;}
	.info-area li div.divbInfomationConts#divbInfo20 {padding:12px 0 12px 35px;}
	.info-area li div.divbInfomationConts#divbInfo21 {padding:12px 0 12px 35px;}
	.info-area li div.divbInfomationConts#divbInfo22 {padding:12px 0 12px 35px;}
	.info-area li div.divbInfomationConts#divbInfo23 {padding:12px 0 12px 35px;}

	.divbInfomationContsDetail li dt{font-size:18px;}
	.divbInfomationContsDetail li dd{font-size:14px;}

	#foot_section .mFooter .site_link > div > div, #foot_section .mFooter .site_link > div > div{width:88%;}
}


@media all and (max-width:425px){
	#main0{height:600px;}
	#main0 .main-visual{height:600px;}
	#main0 .main-visual .swiper-slide .mvText img{width:80%;}
	#main0 .main-visual .swiper-slide .mvText .main_text{font-size:45px;}

	#main0 .main-visual .search-area{top:40%;}
	#main0 .main-visual .search-area .main-box input{height:50px;line-height:50px;font-size:13px;padding-left:20px;}
	#main0 .main-visual .search-area .main-box button{background-position:50px 12px;}

	#main0 .main-visual .quickmenu-box{top:54%;margin-left:8.5%;}
	#main0 .main-visual .quickmenu-box .main-box .qmenu li{width:100px;height:100px;margin-right:20px;}
	#main0 .main-visual .quickmenu-box .main-box .qmenu li a span{padding-top:43px;}
	#main0 .main-visual .quickmenu-box .main-box .qmenu li.qm4 a span{padding-top:36px;}
	
	#main1 .notice-box{margin-top:10px;}
	#main1 .tabMenuS li a{font-size:22px;}
	#main1 .notice-box > .con{padding-top:0;}
	#main1 .notice-box > .con li a span.title{font-size:14px;}
	#main1 .notice-box > .con li a span.date{font-size:13px;}
	#main1 .notice-box > .con li a span.ca{font-size:13px;}
	
	ul.book_photo{}
	ul.book_photo li{width:177px;height:auto;}
	ul.book_photo li:last-child{display:none;}
	ul.book_photo li a span.con-title{font-size:15px;}
	ul.book_photo li a span.con-image{height:200px;}
	ul.book_photo li a span.cate01, ul.book_photo li a span.cate02{font-size:12px;}

	#main2 .book_title_box h2{text-align:center;font-size:22px;}
	#main2 .book_title_box li{padding:10px 20px;background-position:115px 9px;}
	#main2 .book_title_box li a{font-size:13px;}

	#main2 .sns_title_box h2{top:35px;}
	#main2 .sns_title_box ul li{width:14%;height:auto;}
	#main2 .sns_title_box ul li:first-child{margin-left:5px;}
	#main2 .sns_title_box{margin-top:600px;}

	#main3{height:auto;margin-bottom:30px;}
	#main3 .library_box h4{text-align:center;font-size:22px;}

	.main3 .info-area .box{height:auto;}
	.info-area li{width:100%;float:none;display:block;border-bottom:1px solid #fff;}
	.info-area li:last-child{width:100%;text-align:center;border-bottom:none;}
	.main3 .info-area .box select{background-position:99% 50%;border-right:none;}
	.main3 .info-area .box select.librarySelectBox{margin:0 20px;width:calc(100% - 40px);}
	.info-area li div.divbInfomationConts{padding:20px 0 !important;}
	.divbInfomationContsDetail li{height:auto;box-shadow:none;}
}

@media all and (max-width:420px){
	ul.book_photo li{width:155px;}

	#main2{padding:25px 0 90px;}
	#main2 .book_box{margin-left:4.5%;}
	#main2 .sns_title_box{margin-top:610px;}
}

@media all and (max-width:390px){
	#main0 .main-visual .quickmenu-box{margin-left:5%;}
	#main0 .main-visual .quickmenu-box .main-box .qmenu li{width:100px;height:100px;}
	#main0 .main-visual .quickmenu-box .main-box .qmenu li a span{padding-top:50px;font-size:12px;line-height:110%;}
	
	#main2 .book_box{margin-left:2.5%;}
	#main2 .book_box_mb{margin-bottom:0;}
	#main2 .sns_title_box{margin-top:580px;}
	
	ul.book_photo{height:240px;}
}

@media all and (max-width:375px){
	#main0 .main-visual .swiper-slide .mvText{margin-top:-250px;}

	#main0 .main-visual .quickmenu-box{margin-left:4%;}
	#main0 .main-visual .quickmenu-box .main-box .qmenu li{width:93px;height:93px;margin-right:20px;}
	#main0 .main-visual .quickmenu-box .main-box .qmenu li a{margin-top:18px;background-size:32% !important;}
	#main0 .main-visual .quickmenu-box .main-box .qmenu li a span{font-size:12px;padding-top:40px;}
	#main0 .main-visual .quickmenu-box .main-box .qmenu li.qm4 a span{padding-top:35px;}

	#main2 .book_box{margin-left:0;}

	ul.book_photo li a span.cate01{padding:14px 8px 12px;}
	ul.book_photo li a span.cate02{padding:14px 15px 12px;}
}

@media all and (max-width:360px){
	#main2 .sns_title_box ul li{width:45px;height:45px;}
	#main2 .book_box_mt{margin-top:0;}

	ul.book_photo{height:280px;}
}

@media all and (max-width:320px){
	#main0 .main-visual .quickmenu-box{margin-left:4.5%;}
	#main0 .main-visual .quickmenu-box .main-box .qmenu li{width:85px;height:85px;margin-right:10px;}
	#main0 .main-visual .quickmenu-box .main-box .qmenu li a span{padding-top:38px;font-size:11px;}
	#main0 .main-visual .quickmenu-box .main-box .qmenu li.qm4 a span{padding-top:30px;}
	
	ul.book_photo{height:280px;}
	ul.book_photo li{margin-bottom:20px;}
	
	#main2{padding-bottom:40px;}
	#main2 .book_box_mt{margin-top:0;}
	#main2 .book_box_mb{margin-bottom:0;}

	.onbook_box{display:none;}
}