<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.supportMember.SupportMemberDao">

	<select id="getSupportMemberList" resultType="kr.go.gbelib.app.cms.module.supportMember.SupportMember">
		${pagingTop}
		SELECT
			support_member_idx, school_name, member_id, member_password, auth_group,
			last_connect, add_id, add_date
		FROM
			SUPPORT_MEMBER
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="(search_type != null and search_type != '') and (search_text != '' and search_text != '')">
			AND	${search_type} LIKE '%'||#{search_text}||'%'
			</if>
		</trim>
		ORDER BY add_date DESC
		${pagingBottom}
	</select>
	
	<select id="getSupportMemberCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			SUPPORT_MEMBER
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="(search_type != null and search_type != '') and (search_text != '' and search_text != '')">
			AND	${search_type} LIKE '%'||#{search_text}||'%'
			</if>
		</trim>
	</select>
	
	<select id="getSupportMemberOne" resultType="kr.go.gbelib.app.cms.module.supportMember.SupportMember">
		SELECT
			support_member_idx, school_name, member_id, member_password, auth_group,
			last_connect, add_id, add_date
		FROM
			SUPPORT_MEMBER
		WHERE
			support_member_idx = #{support_member_idx}
	</select>
	
	<select id="memberIdDuplCheck" resultType="int">
		SELECT
			COUNT(*)
		FROM
			SUPPORT_MEMBER
		WHERE
			member_id = #{member_id}
	</select>
	
	<insert id="addSupportMember">
		<selectKey keyProperty="support_member_idx" resultType="int" order="BEFORE">
			SELECT NVL(MAX(support_member_idx), 0) + 1 FROM SUPPORT_MEMBER
		</selectKey>
		INSERT INTO
			SUPPORT_MEMBER
		(
			support_member_idx, school_name, member_id, member_password, auth_group,
			last_connect, add_id, add_date
		)
		VALUES
		(
			#{support_member_idx}, #{school_name}, #{member_id}, #{member_password}, #{auth_group},
			#{last_connect}, #{add_id}, SYSDATE
		)
	</insert>
	
	<update id="modifySupportMember">
		UPDATE
			SUPPORT_MEMBER
		SET
			school_name = #{school_name},
			member_id = #{member_id},
			<if test="member_password != null and member_password != ''">
			member_password = #{member_password},
			</if>
			auth_group = #{auth_group},
			modify_id = #{modify_id},
			modify_date = SYSDATE
		WHERE
			support_member_idx = #{support_member_idx}
	</update>
	
	<delete id="deleteSupportMember">
		DELETE FROM
			SUPPORT_MEMBER
		WHERE
			support_member_idx = #{support_member_idx}
	</delete>
	
	<delete id="deleteCheckSupportMember">
		DELETE FROM
			SUPPORT_MEMBER
		WHERE
			support_member_idx IN
			<foreach collection="support_member_arr" open="(" close=")" separator="," item="i">
			#{i}
			</foreach>
	</delete>
	
	<select id="getSupportMemberLogin" resultType="kr.go.gbelib.app.cms.module.supportMember.SupportMember">
		SELECT
			support_member_idx, school_name, member_id, member_password, auth_group,
			last_connect, add_id, add_date
		FROM
			SUPPORT_MEMBER
		WHERE
			member_id = #{member_id}
		AND	member_password = #{member_password}
	</select>
	
	<update id="addLastLogin">
		UPDATE
			SUPPORT_MEMBER
		SET
			last_connect = SYSDATE
		WHERE
			member_id = #{member_id}
	</update>
	
	<select id="getMySqlList" resultType="map">
		select * from member
	</select>
	
	<insert id="addParseTibero">
		INSERT INTO
			SUPPORT_MEMBER
		(
			support_member_idx, school_name, member_id, member_password, auth_group,
			last_connect, add_id, add_date, modify_id, modify_date
		)
		VALUES
		(
			#{support_member_idx}, #{school_name}, #{member_id}, #{member_password}, #{auth_group},
			#{last_connect}, #{add_id}, #{add_date}, #{modify_id}, #{modify_date}
		)
	</insert>
	
</mapper>