<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.lecture.lectureRequest.LectureRequestDao">

    <select id="getLectureRequestList" resultType="kr.go.gbelib.app.cms.module.lecture.lectureRequest.LectureRequest">
        ${pagingTop}
        SELECT
            ROW_NUMBER() OVER (ORDER BY request_id) AS reverse_rownum, r.lecture_id, r.request_id,
            r.request_name, r.birthday, r.gender, r.phone_number,
            r.email, r.zip_code, r.address1, r.address2, r.request_status, r.request_type,
            r.complete_yn, r.cancel_yn, r.add_date, r.add_ip, r.add_id, r.cancel_date,
            r.cancel_ip, r.cancel_id, i.lecture_title
        FROM
            LECTURE_REQUEST as r
        INNER JOIN
            LECTURE_INFO as i
        ON
            r.lecture_id = i.lecture_id
        WHERE
            r.homepage_id = #{homepage_id}
        <if test="(search_type != null and search_type != '') and (search_text != '' and search_text != '')">
            AND	r.${search_type} LIKE '%'||#{search_text}||'%'
        </if>

        <if test="search_course_id != null and search_course_id != ''">
            AND i.course_id = #{search_course_id}
        </if>
        <if test="search_lecture_id != null and search_lecture_id != ''">
            AND i.lecture_id = #{search_lecture_id}
        </if>
        <if test="search_request_type != null and search_request_type != ''">
            AND r.request_type = #{search_request_type}
        </if>
        <if test="search_cancel_yn != null and search_cancel_yn != ''">
            AND r.cancel_yn = #{search_cancel_yn}
        </if>
        ORDER BY request_id DESC
        ${pagingBottom}
    </select>

    <select id="getLectureRequestCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
            LECTURE_REQUEST as r
        INNER JOIN
            LECTURE_INFO as i
        ON
            r.lecture_id = i.lecture_id
        WHERE
            r.homepage_id = #{homepage_id}
        <if test="(search_type != null and search_type != '') and (search_text != '' and search_text != '')">
            AND	r.${search_type} LIKE '%'||#{search_text}||'%'
        </if>

        <if test="search_course_id != null and search_course_id != ''">
            AND i.course_id = #{search_course_id}
        </if>
        <if test="search_lecture_id != null and search_lecture_id != ''">
            AND i.lecture_id = #{search_lecture_id}
        </if>
        <if test="search_request_type != null and search_request_type != ''">
            AND r.request_type = #{search_request_type}
        </if>
        <if test="search_cancel_yn != null and search_cancel_yn != ''">
            AND r.cancel_yn = #{search_cancel_yn}
        </if>
    </select>

    <select id="getLectureRequestOne" resultType="kr.go.gbelib.app.cms.module.lecture.lectureRequest.LectureRequest">
        SELECT
            ROW_NUMBER() OVER (ORDER BY request_id) AS reverse_rownum, r.lecture_id, r.request_id,
            r.request_name, r.birthday, r.gender, r.phone_number,
            r.email, r.zip_code, r.address1, r.address2, r.request_status, r.request_type,
            r.complete_yn, r.cancel_yn, r.add_date, r.add_ip, r.add_id, r.cancel_date,
            r.cancel_ip, r.cancel_id, i.lecture_title, i.course_id
        FROM
            LECTURE_REQUEST as r
        INNER JOIN
            LECTURE_INFO as i
        ON
            r.lecture_id = i.lecture_id
        WHERE
            r.request_id = #{request_id}
    </select>

    <insert id="addLectureRequest">
        <selectKey keyProperty="request_id" resultType="string" order="BEFORE">
            SELECT 'REQUEST_' || (TO_NUMBER(NVL(MAX(REPLACE(request_id, 'REQUEST_', '')), TO_CHAR(SYSDATE, 'yyyyMMdd') || LPAD(0, 4, '0'))) + 1)
            FROM LECTURE_REQUEST
            WHERE request_id LIKE '%' || TO_CHAR(SYSDATE, 'yyyyMMdd') || '%'
        </selectKey>
        INSERT INTO
            LECTURE_REQUEST
            (
                lecture_id,request_id,request_name,birthday,gender,phone_number,email,zip_code,address1,address2,
                request_status,request_type,complete_yn,cancel_yn,add_date,add_ip,add_id,homepage_id
            )
        VALUES (
                    #{lecture_id},#{request_id},#{request_name},#{birthday},#{gender},#{phone_number},#{email},#{zip_code},
                    #{address1},#{address2},#{request_status},#{request_type},#{complete_yn},
                    #{cancel_yn},SYSDATE,#{add_ip},#{add_id},#{homepage_id}
               )
    </insert>

    <update id="updateLectureRequest">
        UPDATE
            LECTURE_REQUEST
        SET
            lecture_id = #{lecture_id},
            request_name = #{request_name},
            birthday = #{birthday},
            gender = #{gender},
            phone_number = #{phone_number},
            email = #{email},
            zip_code = #{zip_code},
            address1 = #{address1},
            address2 = #{address2},
            request_status = #{request_status},
            complete_yn = #{complete_yn}
        WHERE
            homepage_id = #{homepage_id}
        AND
            request_id = #{request_id}
    </update>

    <update id="cancelLectureRequest">
        UPDATE
            LECTURE_REQUEST
        SET
            cancel_yn = #{cancel_yn},
            cancel_date = SYSDATE,
            cancel_id = #{cancel_id},
            cancel_ip = #{cancel_ip},
            request_status = #{request_status}
        WHERE
            homepage_id = #{homepage_id}
        AND
            request_id = #{request_id}
    </update>

    <select id="getLectureRequestOnlinePersonCount" resultType="int">
        SELECT
                NVL(online_person_count, 0) -
                (SELECT COUNT(*) FROM LECTURE_REQUEST WHERE lecture_id = i.lecture_id AND request_type = '온라인' AND request_status IN ('예약완료'))
                AS person_count
        FROM LECTURE_INFO AS i
        WHERE lecture_id = #{lecture_id}
    </select>

    <select id="getLectureRequestOfflinePersonCount" resultType="int">
        SELECT
                NVL(offline_person_count, 0) -
                (SELECT COUNT(*) FROM LECTURE_REQUEST WHERE lecture_id = i.lecture_id AND request_type = '오프라인' AND request_status IN ('예약완료'))
                AS person_count
        FROM LECTURE_INFO AS i
        WHERE
                lecture_id = #{lecture_id}
    </select>

    <select id="getLectureRequestWaitPersonCount" resultType="int">
        SELECT
                NVL(wait_person_count, 0) -
                (SELECT COUNT(*) FROM LECTURE_REQUEST WHERE lecture_id = i.lecture_id AND request_status IN ('예약대기', '추첨대기'))
                AS person_count
        FROM LECTURE_INFO AS i
        WHERE lecture_id = #{lecture_id}
    </select>

    <select id="getMyLectureRequestCountOfLectureInfo" resultType="int">
        SELECT
            COUNT(*)
        FROM
            LECTURE_REQUEST
        WHERE
            lecture_id = #{lecture_id} AND
            add_id = #{add_id} AND
            request_status NOT IN ('예약취소')
    </select>

    <select id="getLectureRequestOneLectureIdAndAddId"
            resultType="kr.go.gbelib.app.cms.module.lecture.lectureRequest.LectureRequest">
        SELECT
            *
        FROM
            LECTURE_REQUEST
        WHERE
            lecture_id = #{param1}
        AND
            add_id = #{param2}
    </select>
    <update id="changeLatestWait">
        UPDATE
            lecture_request set request_status = '예약완료'
        WHERE
            request_id = (
            SELECT min(request_id)
            FROM lecture_request
            WHERE
                    lecture_id = #{lecture_id}
                AND request_type = #{request_type}
                AND cancel_yn = 'N'
                AND request_type = '온라인'
                AND request_status IN ('예약대기')
            )
    </update>

    <select id="getRequestCountByLectureId" resultType="int">
        SELECT
            count(*)
        FROM
            LECTURE_REQUEST
        WHERE
            lecture_id = #{param1}
    </select>

    <update id="reapplyLectureRequest">
        UPDATE
            LECTURE_REQUEST
        SET
            request_id = (SELECT 'REQUEST_' || (TO_NUMBER(NVL(MAX(REPLACE(request_id, 'REQUEST_', '')), TO_CHAR(SYSDATE, 'yyyyMMdd') || LPAD(0, 4, '0'))) + 1)
                          FROM LECTURE_REQUEST
                          WHERE request_id LIKE '%' || TO_CHAR(SYSDATE, 'yyyyMMdd') || '%'),
            request_status = #{request_status},
            cancel_yn = #{cancel_yn},
            cancel_id = null,
            cancel_ip = null,
            cancel_date = null
        WHERE
            request_id = #{request_id}
    </update>

    <select id="getLectureRequestRaffleListByLectureId" resultType="kr.go.gbelib.app.cms.module.lecture.lectureRequest.LectureRequest">
        SELECT *
        FROM LECTURE_REQUEST
        WHERE
                lecture_id = #{param1}
            AND request_type NOT IN ('오프라인')
            AND request_status NOT IN ('예약취소','예약완료')
            AND cancel_yn NOT IN ('Y')
    </select>

    <update id="updateRequestStatus">
        UPDATE
            LECTURE_REQUEST
        SET
            request_status = #{request_status}
        WHERE
                homepage_id = #{homepage_id}
            AND request_id = #{request_id}
    </update>

    <update id="resetRequestStatus">
        UPDATE
            LECTURE_REQUEST
        SET
            request_status = #{request_status}
        WHERE
                homepage_id = #{homepage_id}
            AND lecture_id = #{lecture_id}
            AND request_type = '온라인'
            AND request_status NOT IN ('예약취소')
    </update>

    <select id="getLectureRequestListByLectureIdAndStatus" resultType="kr.go.gbelib.app.cms.module.lecture.lectureRequest.LectureRequest">
        SELECT
            r.*, i.request_type AS info_request_type
        FROM
            LECTURE_REQUEST r INNER JOIN LECTURE_INFO i
        ON
            r.lecture_id = i.lecture_id
        WHERE
                r.homepage_id = #{param1}
            AND r.lecture_id = #{param2}
            AND r.request_status like '%'||#{param3}||'%'
            AND r.request_type IN (#{param4})
        ORDER BY r.request_name
    </select>

    <update id="changeLectureRequestStatus">
        UPDATE
            LECTURE_REQUEST
        SET
            request_status = #{request_status}
        WHERE
                homepage_id = #{homepage_id}
            AND request_id = #{request_id}
    </update>

    <select id="getMyLeftLectureRequestCount" resultType="int">
        SELECT NVL(LIMIT_COUNT, 0) -
               (
                    SELECT COUNT(*)
                    FROM LECTURE_INFO AS i INNER JOIN LECTURE_REQUEST AS r
                    ON i.LECTURE_ID = r.LECTURE_ID
                    WHERE i.course_id = c.course_id AND r.add_id = #{add_id} AND r.REQUEST_STATUS NOT IN ('예약취소')
               ) AS count
        FROM COURSE_INFO AS c
        WHERE course_id = (select course_id from lecture_info where lecture_id = #{lecture_id} AND homepage_id = #{homepage_id})
    </select>
</mapper>