#fullpage .section-wrapper:nth-child(2) {
  background: url('/resources/homepage/bukbu/img/notice/bg.svg') no-repeat center center fixed;
  background-size: cover;
}

#fullpage .section-wrapper:nth-child(2) .wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section2-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section2-title {
  display: flex;
  align-items: center;
  gap: 60px;
}

.section2-title-text {
  color: var(--black);
  font-family: Pretendard-Bold, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.8px;
}

.section2-tab {
  display: flex;
  gap: 41px;
  align-items: center;
}

.section2-tab div {
  cursor: pointer;
  color: var(--gray500);
  font-family: Pretendard-SemiBold, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.4px;
  position: relative;
}

.section2-tab-active {
  font-weight: 700 !important;
  color: var(--black) !important;
  font-family: Pretendard-Bold, sans-serif !important;
}

.section2-tab div:not(:last-child)::after {
  width: 1px;
  height: 16px;
  background: var(--gray400);
  position: absolute;
  content: '';
  top: 50%;
  transform: translateY(-50%);
  right: -21px;
}

.section2-action-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.section2-action-wrapper img, .section2-action-wrapper a {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.event-no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 369px;
  width: 1440px;
  color: var(--black);
  font-family: Pretendard-Bold, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.48px;
}

.section2-slide {
  width: 1440px;
}

.section2-slide .slick-list {
  border-radius: 20px;
  padding: 20px 0;
}

.section2-slide-item {
  display: flex !important;
  width: 472px;
  height: 330px;
  flex-direction: column;
  border-radius: 20px;
  background: var(--white);
  margin-right: 12px;
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1),
  0px -5px 10px -5px rgba(0, 0, 0, 0.1);

}

.section2-slide-item-top {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  height: 157px;
  padding: 30px;
}

.section2-slide-item-bottom {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: 172px;
  border-top: 1px solid #ECECEC;
  padding: 30px;
}

.section2-slide-item-top-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section2-slide-item-top-header div:first-child {
  color: var(--gray600);
  font-family: Pretendard-Medium , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.section2-slide-item-top-header div:last-child {
  color: #D4E6F4;
  font-family: GmarketSans, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.section2-slide-item-top-header div:last-child span {
  color: #AFD6EE;
}

.section2-slide-item-title {
  overflow: hidden;
  color: var(--black);
  text-overflow: ellipsis;
  font-family: Pretendard-Bold, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  white-space: nowrap;
  letter-spacing: -0.48px;
  width: 412px;
}

.section2-slide-item-bottom div:first-child {
  overflow: hidden;
  color: var(--gray600);
  text-overflow: ellipsis;
  font-family: Pretendard-Medium, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.3px;
  display: -webkit-box;
  width: 412px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.section2-slide-item-bottom a {
  border-radius: 30px;
  border: 1px solid var(--primary-color-blue1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color-blue1);
  text-align: center;
  font-family: Pretendard-Medium, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.26px;
  width: 65px;
  height: 25px;
}

.movie-content {
  height: 330px;
  display: flex;
  gap: 30px;
  align-items: flex-end;
  padding: 30px;
}

.movie-thumbnail {
  width: 180px;
  height: 270px;
  border-radius: 12px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.20);
  object-fit: cover;
}

.movie-detail {
  display: flex;
  flex-direction: column;
}

.movie-title {
  overflow: hidden;
  color: var(--black);
  text-overflow: ellipsis;
  font-family: Pretendard-Bold, sans-serif;
  font-size: 24px;
  white-space: nowrap;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.48px;
  margin-bottom: 16px;
  width: 200px;
}

.movie-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 55px;
}

.movie-info div {
  overflow: hidden;
  color: var(--gray600);
  text-overflow: ellipsis;
  font-family: Pretendard-Medium, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.3px;
  width: 200px;
  white-space: nowrap;
}

.movie-info div span {
  color: var(--black);
}

.go-to-movie {
  border-radius: 30px;
  border: 1px solid var(--primary-color-blue1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color-blue1);
  text-align: center;
  font-family: Pretendard-Medium, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.26px;
  width: 65px;
  height: 25px;
}

@media (max-width: 1440px) {
  #fullpage .section-wrapper:nth-child(2) {
    height: 443px;
  }

  #fullpage .section-wrapper:nth-child(2) .wrapper {
    gap: 24px;
    padding-top: 20px;
  }

  .section2-title-text {
    font-size: 32px;
    letter-spacing: -0.64px;
  }

  .section2-tab {
    gap: 33px;
  }

  .section2-tab div {
    font-size: 16px;
    letter-spacing: -0.32px;
  }

  .section2-tab div:not(:last-child)::after {
    height: 14px;
    right: -17px;
  }

  .section2-action-wrapper {
    gap: 4px;
  }

  .section2-action-wrapper img, .section2-action-wrapper a {
    width: 32px;
    height: 32px;
  }

  .event-no-data {
    height: 296px;
    width: 864px;
    font-size: 20px;
  }

  .section2-slide {
    width: 864px;
  }

  .section2-slide-item {
    width: 427px;
    height: 257px;
    margin-right: 10px;

  }

  .section2-slide-item-top {
    gap: 6px;
    height: 122px;
    padding: 24px;
  }

  .section2-slide-item-bottom {
    gap: 12px;
    height: 134px;
    padding: 24px;
  }

  .section2-slide-item-top-header div:first-child {
    font-size: 13px;
  }

  .section2-slide-item-top-header div:last-child {
    font-size: 32px;
  }

  .section2-slide-item-title {
    font-size: 20px;
    width: 379px;
    letter-spacing: -0.4px;
  }

  .section2-slide-item-bottom div:first-child {
    font-size: 14px;
    letter-spacing: -0.28px;
    width: 379px;
  }

  .section2-slide-item-bottom a {
    width: 59px;
    height: 24px;
    font-size: 12px;
    letter-spacing: -0.24px;
  }

  .movie-content {
    height: 257px;
    gap: 24px;
    padding: 24px;
  }

  .movie-thumbnail {
    width: 140px;
    height: 209px;
    border-radius: 12px;
  }
  .movie-title {
    font-size: 20px;
    letter-spacing: -0.4px;
    margin-bottom: 12px;
    width: 200px;
  }

  .movie-info {
    gap: 4px;
    margin-bottom: 29px;
  }

  .movie-info div {
    font-size: 14px;
    width: 200px;
  }

  .go-to-movie {
    width: 59px;
    height: 24px;
    font-size: 12px;
    letter-spacing: -0.24px;
  }
}

@media (max-width: 865px) {
  #fullpage .section-wrapper:nth-child(2) {
    height: 443px;
  }

  #fullpage .section-wrapper:nth-child(2) .wrapper {
    gap: 6px;
    padding-top: 20px;
  }

  .section2-header {
    align-items: flex-start;
  }

  .section2-title {
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
  }

  .section2-title-text {
    font-size: 28px;
    letter-spacing: -0.56px;
  }

  .event-no-data {
    height: 271px;
    width: 488px;
    font-size: 18px;
  }

  .section2-slide {
    width: 488px;
  }

  .section2-slide-item {
    width: 488px;
    height: 232px;
    margin-right: 0;

  }

  .section2-slide-item-top {
    gap: 0;
    height: 105px;
    padding: 20px;
  }

  .section2-slide-item-bottom {
    height: 126px;
    padding: 20px;
  }

  .section2-slide-item-title {
    font-size: 18px;
    width: 448px;
    letter-spacing: -0.36px;
  }

  .section2-slide-item-bottom div:first-child {
    width: 448px;
  }

  .movie-content {
    height: 231px;
    gap: 24px;
    padding: 20px 24px 20px 24px;
  }

  .movie-thumbnail {
    width: 130px;
    height: 192px;
  }
  .movie-title {
    font-size: 18px;
    letter-spacing: -0.36px;
    margin-bottom: 8px;
    width: 286px;
  }

  .movie-info div {
    font-size: 14px;
    width: 286px;
  }

  .go-to-movie {
    width: 59px;
    height: 24px;
    font-size: 12px;
    letter-spacing: -0.24px;
  }
}

@media (max-width: 490px) {
  #fullpage .section-wrapper:nth-child(2) {
    height: 385px;
  }

  #fullpage .section-wrapper:nth-child(2) .wrapper {
    gap: 0;
    width: 336px;
    padding-top: 16px;
  }

  .section2-title {
    gap: 8px;
  }

  .section2-action-wrapper img, .section2-action-wrapper a {
    width: 28px;
    height: 28px;
  }

  .section2-tab {
    gap: 17px;
  }

  .section2-tab div {
    font-size: 14px;
    letter-spacing: -0.28px;
  }

  .section2-tab div:not(:last-child)::after {
    height: 12px;
    right: -9px;
  }

  .section2-slide .slick-list {
    border-radius: 20px;
    padding: 16px 0;
  }

  .section2-title-text {
    font-size: 24px;
    letter-spacing: -0.48px;
  }

  .event-no-data {
    height: 263px;
    width: 336px;
    font-size: 18px;
  }

  .section2-slide {
    width: 336px;
  }

  .section2-slide-item {
    width: 336px;
    height: 232px;
  }

  .section2-slide-item-bottom a {
    width: 49px;
    height: 21px;
    font-size: 11px;
    letter-spacing: -0.22px;
  }

  .movie-content {
    height: 231px;
    gap: 24px;
    padding: 20px 24px 20px 24px;
  }

  .movie-thumbnail {
    width: 130px;
    height: 192px;
    border-radius: 12px;
  }
  .movie-title {
    font-size: 18px;
    letter-spacing: -0.36px;
    margin-bottom: 8px;
    width: 134px;
  }

  .movie-info {
    margin-bottom: 33px;
  }

  .movie-info div {
    font-size: 13px;
    width: 134px;
  }

  .go-to-movie {
    width: 49px;
    height: 21px;
    font-size: 11px;
    letter-spacing: -0.22px;
  }
}