.main-bg-slide {
  width: 100%;
  height: 100%;
}

.main-bg-slide div {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(50px);
}

#fullpage .section-wrapper:nth-child(1) .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 199px;
}

.search-bar-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}

.search-bar-wrapper a, .search-bar-wrapper a img {
  width: 44px;
  height: 44px;
}

.kakao {
  margin-left: 32px;
  margin-right: 8px;
}

#mainSearchForm {
  width: 800px;
  display: flex;
  height: 64px;
  border-radius: 8px;
  border: 2px solid var(--primary-color-blue1);
  background: var(--white);
  align-items: center;
}

.search_type {
  width: 150px;
}

#search_type {
  width: 100%;
  padding: 0 20px 0 30px;
  color: var(--black);
  font-family: Pretendard-Medium, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.34px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: white url('/resources/homepage/bukbu/img/main/select-arrow.svg') no-repeat right 0 center;
  background-size: 20px;
  height: 100%;
  border-radius: 8px 0 0 8px;
}

#search_type:focus, #search_type:hover {
  border: none;
  outline: none;
}

#search_text_1 {
  background: #fff;
  width: 507px;
  border: none;
  outline: none;
  color: var(--black);
  font-family: Pretendard-Medium, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 100%;
  padding: 0 35px;
}

.search_text_1::placeholder {
  color: var(--gray600);
}

#main-search-btn {
  width: 143px;
  height: 64px;
  display: flex;
  border-radius: 0px 8px 8px 0px;
  background: var(--primary-color-blue1);
  align-items: center;
  justify-content: center;
  gap: 2px;
  color: var(--white);
  font-family: Pretendard-Medium, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#main-search-btn img {
  width: 30px;
  height: 30px;
}

.main-popup-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.main-popup-prev {
  position: absolute;
  z-index: 999;
  width: 50px;
  height: 50px;
  top: 190px;
  left: 20px;
  cursor: pointer;
}

.main-popup-next {
  position: absolute;
  z-index: 999;
  width: 50px;
  height: 50px;
  top: 190px;
  right: 20px;
  cursor: pointer;
}

.main-popup {
  width: 1440px;
  height: 430px;
  border-radius: 8px;
}

.main-popup-item, .main-popup-item a {
  width: 1440px;
  height: 430px;
  border-radius: 8px;
}

.main-popup-item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.popup-pagination {
  width: 60px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
  color: var(--white);
  text-align: center;
  font-family: Pretendard-Medium, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  z-index: 999;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0 0 8px 0;
}

.main-bottom-area {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 199px;
  width: 100%;
  z-index: 999;
}

.main-bottom-area-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.quick-menu {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: var(--white);
}

.quick-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  gap: 10px;
}

.quick-menu-item img {
  width: 60px;
  height: 60px;
}

@keyframes bounce-up {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-8px);
  }

  60% {
    transform: translateY(4px);
  }

  100% {
    transform: translateY(0);
  }
}

.quick-menu-item:hover img {
  animation: bounce-up 0.6s ease;
}

.quick-menu-item div {
  color: var(--black);
  font-family: Pretendard-Medium, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.holiday-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
  background: linear-gradient(0deg, #00336E 0%, #00336E 100%), linear-gradient(0deg, #004981 0%, #004981 100%), #194465;
  position: relative;
}

.holiday-area-title {
  color: var(--white);
  font-family: GmarketSans, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.6px;
}

.holiday-area-controller {
  display: flex;
  align-items: center;
  margin: 0 32px;
}

.holiday-area-controller a img {
  width: 30px;
  height: 30px;
}

.holiday-area-controller div {
  color: var(--white);
  font-family: GmarketSans, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.6px;
}

.holiday-area-controller div span {
  font-weight: 700;
  margin-left: 8px;
}

.holiday-notice-wrapper {
  width: 100%;
  display: flex;
  height: 70px;
}

.holiday-list {
  display: flex;
  gap: 32px;
  width: 280px;
  margin-right: 95px;
  align-items: center;
}

.holiday-list div {
  color: var(--white);
  font-family: GmarketSans, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.go-to-holiday {
  width: 26px;
  height: 26px;
}

.go-to-holiday img {
  width: 26px;
  height: 26px;
  object-fit: none;
}

.notice-slide-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 32px;
  gap: 4px;
  width: 50%;
  background: #f4f6f8;
}

.notice-slide-wrapper img {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.notice-slide {
  display: flex;
  align-items: center;
  width: 600px;
}

.notice-slide div {
  font-size: 17px;
  font-weight: 500;
  line-height: 100%;
  color: var(--black);
  font-family: GmarketSans, sans-serif;
  font-style: normal;
  padding-top: 1px;
  width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-data {
  white-space: nowrap;
}

.holiday-list div:nth-child(5),
.holiday-list div:nth-child(6) {
  display: none;
}

@media (max-width: 1440px) {
  .main-popup {
    width: 1260px;
  }

  .main-popup-item, .main-popup-item a {
    width: 1260px;
  }

  .main-popup-pagination {
    width: 1260px;
  }

  .main-popup-pagination .main-popup-pagination-item {
    width: 315px;
  }

  .main-bottom-area-wrapper {
    max-width: 1260px;
  }

  .quick-menu {
    justify-content: space-between;
    gap: 0;
  }
}

@media (max-width: 1260px) {
  .main-popup {
    width: 1170px;
  }

  .main-popup-item, .main-popup-item a {
    width: 1170px;
  }

  .main-popup-pagination {
    width: 1170px;
  }

  .main-popup-pagination .main-popup-pagination-item {
    width: 293px;
  }

  .main-bottom-area-wrapper {
    max-width: 1170px;
  }

  .quick-menu {
    justify-content: space-between;
    gap: 0;
  }

  .quick-menu-item {
    width: 165px;
  }
}

@media (max-width: 1170px) {
  #fullpage .section-wrapper:nth-child(1) {
    height: 554px;
  }

  #fullpage .section-wrapper:nth-child(1) .wrapper {
    padding-bottom: 164px;
  }

  .main-bg-slide div {
    height: 554px;
  }

  .search-bar-wrapper {
    margin-bottom: 20px;
  }

  .search-bar-wrapper a, .search-bar-wrapper a img {
    width: 40px;
    height: 40px;
  }

  .kakao {
    margin-left: 16px;
  }

  #mainSearchForm {
    width: 760px;
    height: 60px;
  }

  .search_type {
    width: 130px;
  }

  #search_type {
    width: 100%;
    padding: 0 18px 0 30px;
    font-size: 16px;
    letter-spacing: -0.32px;
    background-size: 18px;
  }

  #search_text_1 {
    width: 487px;
    font-size: 16px;
    padding: 0 20px;
  }

  #main-search-btn {
    height: 60px;
    font-size: 16px;
  }

  #main-search-btn img {
    width: 26px;
    height: 26px;
  }

  .holiday-list div:nth-child(5) {
    display: block;
  }

  .main-popup-prev {
    width: 32px;
    height: 32px;
    top: 113px;
    left: 12px;
  }

  .main-popup-next {
    width: 32px;
    height: 32px;
    top: 113px;
    right: 12px;
  }

  .main-popup {
    width: 864px;
    height: 258px;
  }

  .main-popup-item, .main-popup-item a {
    width: 864px;
    height: 258px;
  }

  .main-popup-pagination {
    width: 864px;
    height: 40px;
  }

  .main-popup-pagination .main-popup-pagination-item {
    width: 216px;
    height: 40px;
  }

  .main-popup-pagination-item span {
    font-size: 14px;
    width: 155px;
  }

  .main-bottom-area {
    height: 166px;
  }

  .main-bottom-area-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
  }

  .popup-pagination {
    width: 50px;
    height: 26px;
    font-size: 12px;
  }

  .quick-menu {
    gap: 0;
    justify-content: center;
  }

  .quick-menu-item {
    width: 135px;
  }

  .holiday-area-title {
    font-size: 16px;
    line-height: 130%;
  }

  .holiday-area-controller {
    margin: 0 12px;
  }

  .holiday-area-controller a img {
    width: 24px;
    height: 24px;
  }

  .holiday-area-controller div {
    font-size: 16px;
    letter-spacing: -0.4px;
  }

  .holiday-area-controller div span {
    margin-left: 4px;
  }

  .holiday-list {
    gap: 12px;
    width: 192px;
    margin-right: 24px;
  }

  .holiday-list div {
    font-size: 16px;
    padding-top: 4px;
  }

  .go-to-holiday {
    width: 24px;
    height: 24px;
  }

  .go-to-holiday img {
    width: 24px;
    height: 24px;
  }

  .notice-slide-wrapper {
    padding-left: 24px;
  }

  .notice-slide-wrapper img {
    width: 32px;
    height: 32px;
  }

  .notice-slide {
    width: 357px;
  }

  .notice-slide div {
    font-size: 14px;
    width: 357px;
  }
}

@media (max-width: 865px) {
  #fullpage .section-wrapper:nth-child(1) {
    height: 596px;
  }

  .main-bg-slide div {
    height: 596px;
  }

  #fullpage .section-wrapper:nth-child(1) .wrapper {
    padding-bottom: 276px;
  }

  .search-bar-wrapper {
    margin-bottom: 16px;
  }

  #mainSearchForm {
    width: 488px;
    height: 52px;
  }

  #book-search {
    width: 436px;
    font-size: 15px;
  }

  .book-search-btn {
    width: 52px;
    height: 52px;
  }

  .book-search-btn img {
    width: 21px;
    height: 21px;
  }

  .main-popup-prev {
    width: 30px;
    height: 30px;
    top: 70px;
    left: 8px;
  }

  .main-popup-next {
    width: 30px;
    height: 30px;
    top: 70px;
    right: 8px;
  }

  .main-popup {
    width: 488px;
    height: 170px;
  }

  .main-popup-item, .main-popup-item a {
    width: 488px;
    height: 170px;
  }

  .main-popup-pagination {
    width: 488px;
    height: 36px;
  }

  .main-popup-pagination .main-popup-pagination-item {
    width: 488px;
    height: 36px;
  }

  .main-popup-pagination-item span {
    font-size: 13px;
    width: 145px;
  }

  .main-bottom-area {
    height: 276px;
  }

  .quick-menu {
    width: 488px;
    gap: 0;
    height: 173px;
    margin: 24px 0;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8px;
    column-gap: 19px;
  }

  .quick-menu-item {
    width: 150px;
  }

  #holiday-area {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    height: 56px;
    padding: 0 140px;
    width: 100%;
  }

  .holiday-list {
    gap: 11px;
    width: 249px;
  }

  .holiday-list div:nth-child(6),
  .holiday-list div:nth-child(7),
  .holiday-list div:nth-child(8),
  .holiday-list div:nth-child(9),
  .holiday-list div:nth-child(10) {
    display: none;
  }

  .current_month, .holiday-title {
    white-space: nowrap;
  }

  .main-popup-pagination div:nth-child(2) {
    border-radius: 0 0 8px 0;
  }

  .main-popup-pagination div:nth-child(3) {
    border-radius: 0 0 0 8px;
  }
}

@media (max-width: 490px) {
  #fullpage .section-wrapper:nth-child(1) {
    height: 559px;
  }

  .main-bg-slide div {
    height: 559px;
  }

  #fullpage .section-wrapper:nth-child(1) .wrapper {
    padding-bottom: 297px;
  }

  .search-bar-wrapper {
    margin-bottom: 12px;
  }

  #mainSearchForm {
    width: 336px;
    height: 48px;
  }

  #book-search {
    width: 288px;
    font-size: 14px;
  }

  .book-search-btn {
    width: 48px;
    height: 48px
  }

  .book-search-btn img {
    width: 19px;
    height: 19px;
  }

  .main-popup-wrapper {
    max-width: 336px;
  }

  .main-popup-prev {
    width: 26px;
    height: 26px;
    top: 52px;
    left: 8px;
  }

  .main-popup-next {
    width: 26px;
    height: 26px;
    top: 52px;
    right: 8px;
  }

  .main-popup {
    width: 336px;
    height: 130px;
  }

  .main-popup-item, .main-popup-item a {
    width: 336px;
    height: 130px;
  }

  .main-popup-pagination {
    width: 336px;
  }

  .main-popup-pagination .main-popup-pagination-item {
    width: 168px;
  }

  .main-popup-pagination-item span {
    font-size: 12px;
    width: 130px;
  }

  .main-bottom-area {
    height: 297px;
  }

  .quick-menu {
    width: 336px;
    height: 162px;
    margin: 21px 0;
    row-gap: 4px;
    column-gap: 0;
  }

  .quick-menu-item {
    width: 112px;
  }

  #holiday-area {
    flex-direction: column;
    gap: 12px;
    height: 93px;
    padding: 0 12px;
  }

  .quick-menu-item img {
    width: 44px;
    height: 44px;
  }

  .quick-menu-item div {
    font-size: 13px;
    letter-spacing: -0.26px;
  }

  .holiday-list {
    gap: 12px;
    width: fit-content;
    margin-left: 0;
  }

  .current_month, .holiday-title {
    font-size: 15px;
    letter-spacing: -0.375px;
  }

  .current_month, .holiday-title {
    font-size: 18px;
    letter-spacing: -0.36px;
  }

  .holiday-list div {
    width: 28px;
    height: 28px;
    font-size: 13px;
    letter-spacing: -0.325px;
  }

  .current_month, .holiday-title {
    white-space: nowrap;
  }

  .main-popup-pagination div:nth-child(2) {
    border-radius: 0 0 8px 0;
  }

  .main-popup-pagination div:nth-child(3) {
    border-radius: 0 0 0 8px;
  }
}