.category span.ca.bg-0000 {background-color:#7a6e61;color:#fff;}
.category span.ca.bg-0001 {background-color:#2f55d4;color:#fff;}
.category span.ca.bg-0002 {background-color:#089916;color:#fff;}
.category span.ca.bg-0003 {background-color:#a536d9;color:#fff;}
.category span.ca.bg-0004 {background-color:#ff2222;color:#fff;}
.category span.ca.bg-0005 {background-color:#edce00;color:#fff;}
.category span.ca.bg-0006 {background-color:#ff70ba;color:#fff;}