<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.marathonApplicant.MarathonApplicantDao">

	<select id="getMarathonApplicantCount" resultType="integer">
		SELECT
			COUNT(*)
		FROM
			MARATHON_CONTEST_TYPE A, MARATHON_APPLICANT B, MARATHON_CONTEST C
		WHERE
			A.homepage_id = B.homepage_id
		AND	B.homepage_id = C.homepage_id
		AND	A.contest_idx = B.contest_idx
		AND	B.contest_idx = C.contest_idx
		AND	A.contest_type_idx = B.contest_type_idx
		<if test="contest_idx != 0">
		AND	B.contest_idx = #{contest_idx}
		</if>
		<if test="contest_type_idx != 0">
		AND	B.contest_type_idx = #{contest_type_idx}
		</if>
		AND	B.homepage_id = #{homepage_id}
		<choose>
			<when test="(search_type != null and search_type != '') and (search_text != null and search_text != '')">
				AND	B.${search_type} LIKE '%${search_text}%'
			</when>
		</choose>
	</select>
	
	<select id="getMarathonApplicantUserCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			MARATHON_CONTEST_TYPE A, MARATHON_APPLICANT B, MARATHON_CONTEST C
		WHERE
			A.homepage_id = B.homepage_id
		AND	B.homepage_id = C.homepage_id
		AND	A.contest_idx = B.contest_idx
		AND	B.contest_idx = C.contest_idx
		AND	A.contest_type_idx = B.contest_type_idx
		AND	B.homepage_id = #{homepage_id}
		AND	B.member_id = #{member_id}
	</select>
	
	<select id="getMarathonApplicantList" resultType="kr.go.gbelib.app.cms.module.marathonApplicant.MarathonApplicant">
		${pagingTop}
		SELECT
			B.homepage_id, B.contest_idx, B.contest_type_idx, B.applicant_idx, B.member_id,
			B.member_name, B.age_type, B.school_name, B.school_class, B.zipcode,
			B.email, B.gender, B.address_dong, B.address_one, B.address_two,
			B.telephone, B.cellphone, B.birthday, B.contest_type, A.page_count,
			B.finish_memorial, B.determination_talk, B.process_status, B.add_date, B.modify_date,
			B.modify_id, C.contest_name, B.finish_date,
			(
				SELECT
					NVL(SUM(read_page_count), 0)
				FROM
					MARATHON_RECORD
				WHERE
					homepage_id = B.homepage_id
				AND	contest_idx = B.contest_idx
				AND	contest_type_idx = B.contest_type_idx
				AND	applicant_idx = B.applicant_idx
				AND	member_id = B.member_id
			) AS read_page_count_total
		FROM
			MARATHON_CONTEST_TYPE A, MARATHON_APPLICANT B, MARATHON_CONTEST C
		WHERE
			A.homepage_id = B.homepage_id
		AND	B.homepage_id = C.homepage_id
		AND	A.contest_idx = B.contest_idx
		AND	B.contest_idx = C.contest_idx
		AND	A.contest_type_idx = B.contest_type_idx
		<if test="contest_idx != 0">
		AND	B.contest_idx = #{contest_idx}
		</if>
		<if test="contest_type_idx != 0">
		AND	B.contest_type_idx = #{contest_type_idx}
		</if>
		AND	B.homepage_id = #{homepage_id}
		<choose>
			<when test="(search_type != null and search_type != '') and (search_text != null and search_text != '')">
				AND	B.${search_type} LIKE '%${search_text}%'
			</when>
		</choose>
		ORDER BY B.add_date DESC, B.contest_type_idx, B.applicant_idx
		${pagingBottom}
	</select>
	
	<select id="getMarathonApplicantUserList" resultType="kr.go.gbelib.app.cms.module.marathonApplicant.MarathonApplicant">
		${pagingTop}
		SELECT
			B.homepage_id, B.contest_idx, B.contest_type_idx, B.applicant_idx, B.member_id,
			B.member_name, B.age_type, B.school_name, B.school_class, B.zipcode,
			B.email, B.gender, B.address_dong, B.address_one, B.address_two,
			B.telephone, B.cellphone, B.birthday, B.contest_type, A.page_count,
			B.finish_memorial, B.determination_talk, B.process_status, B.add_date, B.modify_date,
			B.modify_id, C.contest_name, B.finish_date,
			(
				SELECT
					NVL(SUM(read_page_count), 0)
				FROM
					MARATHON_RECORD
				WHERE
					homepage_id = B.homepage_id
				AND	contest_idx = B.contest_idx
				AND	contest_type_idx = B.contest_type_idx
				AND	applicant_idx = B.applicant_idx
				AND	member_id = B.member_id
			) AS read_page_count_total
		FROM
			MARATHON_CONTEST_TYPE A, MARATHON_APPLICANT B, MARATHON_CONTEST C
		WHERE
			A.homepage_id = B.homepage_id
		AND	B.homepage_id = C.homepage_id
		AND	A.contest_idx = B.contest_idx
		AND	B.contest_idx = C.contest_idx
		AND	A.contest_type_idx = B.contest_type_idx
		AND	B.homepage_id = #{homepage_id}
		AND	B.member_id = #{member_id}
		ORDER BY B.add_date DESC, B.contest_type_idx, B.applicant_idx
		${pagingBottom}
	</select>
	
	<select id="getMarathonApplicantOne" resultType="kr.go.gbelib.app.cms.module.marathonApplicant.MarathonApplicant">
		SELECT
			B.homepage_id, B.contest_idx, B.contest_type_idx, B.applicant_idx, B.member_id,
			B.member_name, B.age_type, B.school_name, B.school_class, B.zipcode,
			B.email, B.gender, B.address_dong, B.address_one, B.address_two,
			B.telephone, B.cellphone, B.birthday, B.contest_type, A.page_count,
			B.finish_memorial, B.determination_talk, B.process_status, B.add_date, B.modify_date,
			B.modify_id, C.contest_name, B.read_page_count_total, B.finish_date
		FROM
			MARATHON_CONTEST_TYPE A, MARATHON_APPLICANT B, MARATHON_CONTEST C
		WHERE
			A.homepage_id = B.homepage_id
		AND	B.homepage_id = C.homepage_id
		AND	A.contest_idx = B.contest_idx
		AND	B.contest_idx = C.contest_idx
		AND	A.contest_type = B.contest_type
		AND	B.contest_idx = #{contest_idx}
		AND	B.contest_type_idx = #{contest_type_idx}
		AND	B.applicant_idx = #{applicant_idx}
		AND	B.homepage_id = #{homepage_id}
	</select>
	
	<select id="getMarathonApplicantOneById" resultType="kr.go.gbelib.app.cms.module.marathonApplicant.MarathonApplicant">
		SELECT
			B.homepage_id, B.contest_idx, B.contest_type_idx, B.applicant_idx, B.member_id,
			B.member_name, B.age_type, B.school_name, B.school_class, B.zipcode,
			B.email, B.gender, B.address_dong, B.address_one, B.address_two,
			B.telephone, B.cellphone, B.birthday, B.contest_type, A.page_count,
			B.finish_memorial, B.determination_talk, B.process_status, B.add_date, B.modify_date,
			B.modify_id, C.contest_name, B.read_page_count_total, B.finish_date
		FROM
			MARATHON_CONTEST_TYPE A, MARATHON_APPLICANT B, MARATHON_CONTEST C
		WHERE
			A.homepage_id = B.homepage_id
		AND	B.homepage_id = C.homepage_id
		AND	A.contest_idx = B.contest_idx
		AND	B.contest_idx = C.contest_idx
		AND	A.contest_type = B.contest_type
		AND	B.contest_idx = #{contest_idx}
		AND	B.member_id = #{member_id}
		AND	B.homepage_id = #{homepage_id}
	</select>
	
	<select id="getMarathonList" resultType="kr.go.gbelib.app.cms.module.marathon.Marathon">
		SELECT
			contest_idx, contest_name
		FROM
			MARATHON_CONTEST
		WHERE
			homepage_id = #{homepage_id}
	</select>
	
	<select id="getMarathonTypeList" resultType="kr.go.gbelib.app.cms.module.marathonType.MarathonType">
		SELECT
			contest_type_idx, contest_type, application_subject
		FROM
			MARATHON_CONTEST_TYPE
		WHERE
			homepage_id = #{homepage_id}
		AND	contest_idx = #{contest_idx}
	</select>
	
	<select id="getContestTypeIdx" resultType="integer">
		SELECT
			contest_type_idx
		FROM
			MARATHON_APPLICANT
		WHERE
			homepage_id = #{homepage_id}
		AND	contest_idx = #{contest_idx}
		AND	member_id = #{member_id}
	</select>
	
	<select id="getContestType" resultType="string">
		SELECT
			contest_type
		FROM
			MARATHON_CONTEST_TYPE
		WHERE
			homepage_id = #{homepage_id}
		AND	contest_idx = #{contest_idx}
		ANd	contest_type_idx = #{contest_type_idx}
	</select>
	
	<select id="getContestApplicationSubject" resultType="string">
		SELECT
			application_subject
		FROM
			MARATHON_CONTEST_TYPE
		WHERE
			homepage_id = #{homepage_id}
		AND	contest_idx = #{contest_idx}
		AND	contest_type_idx = #{contest_type_idx}
	</select>
	
	<select id="getContestApplicationSubjectModify" resultType="string">
		SELECT
			application_subject
		FROM
			MARATHON_CONTEST_TYPE
		WHERE
			homepage_id = #{homepage_id}
		AND	contest_idx = #{contest_idx}
		AND	contest_type_idx = #{contest_type_idx}
	</select>
	
	<select id="checkApplicantId" resultType="integer">
		SELECT
			COUNT(*)
		FROM
			MARATHON_APPLICANT
		WHERE
			contest_idx = #{contest_idx}
		AND	homepage_id = #{homepage_id}
		AND	member_id = #{member_id}
	</select>
	
	<select id="getMarathonApplicantIdx" resultType="integer">
		SELECT
			applicant_idx
		FROM
			MARATHON_APPLICANT
		WHERE
			homepage_id = #{homepage_id}
		AND	contest_idx = #{contest_idx}
		AND	contest_type_idx = #{contest_type_idx}
		AND	member_id = #{member_id}
	</select>
	
	<select id="getMarathonApplicantId" resultType="string">
		SELECT
			member_id
		FROM
			MARATHON_APPLICANT
		WHERE
			homepage_id = #{homepage_id}
		AND	contest_idx = #{contest_idx}
		AND	contest_type_idx = #{contest_type_idx}
		AND	applicant_idx = #{applicant_idx}
	</select>
	
	<select id="getMarathonApplicantName" resultType="string">
		SELECT
			member_name
		FROM
			MARATHON_APPLICANT
		WHERE
			homepage_id = #{homepage_id}
		AND	contest_idx = #{contest_idx}
		AND	contest_type_idx = #{contest_type_idx}
		AND	member_id = #{member_id}
	</select>
	
	<select id="getReadPageCountTotal" resultType="integer">
		SELECT
			read_page_count_total
		FROM
			MARATHON_APPLICANT
		WHERE
			homepage_id = #{homepage_id}
		AND	contest_idx = #{contest_idx}
		AND	contest_type_idx = #{contest_type_idx}
		AND	applicant_idx = #{applicant_idx}
	</select>
	
	<select id="getMarathonApplicantMaxIdx" resultType="integer">
		SELECT
			NVL(MAX(applicant_idx), 0) + 1
		FROM
			MARATHON_APPLICANT
		WHERE
			homepage_id = #{homepage_id}
		AND	contest_idx = #{contest_idx}
		AND	contest_type_idx = #{contest_type_idx}
	</select>
	
	<select id="getMarathonApplicantExcelList" resultType="kr.go.gbelib.app.cms.module.marathonApplicant.MarathonApplicant">
		SELECT
			B.homepage_id, B.contest_idx, B.contest_type_idx, B.applicant_idx, B.member_id,
			B.member_name, B.age_type, B.school_name, B.school_class, B.zipcode,
			B.email, B.gender, B.address_dong, B.address_one, B.address_two,
			B.telephone, B.cellphone, B.birthday, B.contest_type, A.page_count,
			B.finish_memorial, B.determination_talk, B.process_status, B.add_date, B.modify_date,
			B.modify_id, C.contest_name, B.read_page_count_total, B.finish_date
		FROM
			MARATHON_CONTEST_TYPE A, MARATHON_APPLICANT B, MARATHON_CONTEST C
		WHERE
			A.homepage_id = B.homepage_id
		AND	B.homepage_id = C.homepage_id
		AND	A.contest_idx = B.contest_idx
		AND	B.contest_idx = C.contest_idx
		AND	A.contest_type = B.contest_type
		<if test="contest_idx != null and contest_idx != 0">
		AND	B.contest_idx = #{contest_idx}
		</if>
		<if test="contest_type_idx != null and contest_type_idx != 0">
		AND	B.contest_type_idx = #{contest_type_idx}
		</if>
		AND	B.homepage_id = #{homepage_id}
		ORDER BY B.applicant_idx
	</select>
	
	<insert id="addMarathonApplicant">
		<selectKey keyProperty="applicant_idx" order="BEFORE" resultType="integer">
			SELECT NVL(MAX(applicant_idx), 0) + 1 FROM MARATHON_APPLICANT WHERE homepage_id = #{homepage_id} AND contest_idx= #{contest_idx} AND contest_type_idx = #{contest_type_idx}
		</selectKey>
		INSERT INTO
			MARATHON_APPLICANT
		(
			homepage_id, contest_idx, contest_type_idx, applicant_idx, member_id,
			member_name, age_type, school_name, school_class, zipcode,
			email, gender, address_dong, address_one, address_two,
			telephone, cellphone, birthday, contest_type, finish_memorial,
			determination_talk, process_status, add_date, modify_date, modify_id
		)
			VALUES
		(
			#{homepage_id}, #{contest_idx}, #{contest_type_idx}, #{applicant_idx}, #{member_id},
			#{member_name}, #{age_type}, #{school_name}, #{school_class}, #{zipcode},
			#{email}, #{gender}, #{address_dong}, #{address_one}, #{address_two},
			#{telephone}, #{cellphone}, #{birthday}, #{contest_type}, #{finish_memorial},
			 #{determination_talk}, 0, SYSDATE, #{modify_date}, #{modify_id}
		)
	</insert>
	
	<update id="modifyMarathonApplicant">
		UPDATE
			MARATHON_APPLICANT
		SET
			contest_type_idx = #{contest_type_idx},
			<if test="contest_type_idx != contest_type_idx_before">
			applicant_idx = #{applicant_idx_modify},
			</if>
			member_name = #{member_name},
			age_type = #{age_type},
			school_name = #{school_name},
			school_class = #{school_class},
			zipcode = #{zipcode},
			address_dong = #{address_dong},
			address_one = #{address_one},
			address_two = #{address_two},
			telephone = #{telephone},
			cellphone = #{cellphone},
			email = #{email},
			gender = #{gender},
			birthday = #{birthday},
			contest_type = #{contest_type},
			finish_memorial = #{finish_memorial},
			determination_talk = #{determination_talk},
			modify_date = SYSDATE,
			modify_id = #{modify_id}
		WHERE
			homepage_id = #{homepage_id}
		AND	contest_idx = #{contest_idx}
		AND	contest_type_idx = #{contest_type_idx_before}
		AND	applicant_idx = #{applicant_idx}
	</update>

	<update id="modifyMarathonApplicantStatus">
		UPDATE
			MARATHON_APPLICANT
		SET
			process_status = #{process_status},
			finish_date = #{finish_date}
		WHERE
			homepage_id = #{homepage_id}
		AND	contest_idx = #{contest_idx}
		AND	contest_type_idx = #{contest_type_idx}
		AND	applicant_idx = #{applicant_idx}
	</update>
	
	<update id="modifyReadPageCountTotal">
		UPDATE
			MARATHON_APPLICANT
		SET
			read_page_count_total = #{read_page_count_total}
		WHERE
			homepage_id = #{homepage_id}
		AND	contest_idx = #{contest_idx}
		AND	contest_type_idx = #{contest_type_idx}
		AND	applicant_idx = #{applicant_idx}
	</update>
	
	<delete id="deleteMarathonApplicant">
		DELETE FROM
			MARATHON_APPLICANT
		WHERE
			homepage_id = #{homepage_id}
		AND	contest_idx = #{contest_idx}
		AND	contest_type_idx = #{contest_type_idx}
		AND	applicant_idx = #{applicant_idx}
	</delete>
	
	<update id="modifyMarathonApplicantContestType">
		UPDATE
			MARATHON_APPLICANT
		SET
			contest_type = #{contest_type}
		WHERE
			homepage_id = #{homepage_id}
		AND	contest_idx = #{contest_idx}
		AND	contest_type_idx = #{contest_type_idx}
	</update>
	
	<update id="modifyMarathonApplicantInMyInfo">
		UPDATE
			MARATHON_APPLICANT
		SET
			school_name = #{school_name},
			school_class = #{school_class},
			zipcode = #{zipcode},
			address_dong = #{address_dong},
			address_one = #{address_one},
			address_two = #{address_two},
			telephone = #{telephone},
			cellphone = #{cellphone}
		WHERE
			homepage_id = #{homepage_id}
		AND	contest_idx = #{contest_idx}
		AND	contest_type_idx = #{contest_type_idx}
		AND	applicant_idx = #{applicant_idx}
	</update>
</mapper>