<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.gbelib.app.cms.module.lecture.courseInfo.CourseInfoDao">

	<select id="getCourseInfoList" resultType="kr.go.gbelib.app.cms.module.lecture.courseInfo.CourseInfo">
		${pagingTop}
		SELECT
		ROW_NUMBER() OVER (ORDER BY course_id) AS reverse_rownum, homepage_id, course_id, course_title, view_start_date, view_end_date, use_yn, add_date, add_id, add_ip, limit_count, non_member_yn
		FROM
		COURSE_INFO
		WHERE
			homepage_id = #{homepage_id}
		<if test="(search_type != null and search_type != '') and (search_text != '' and search_text != '')">
			AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
		ORDER BY course_id DESC
		${pagingBottom}
	</select>

	<select id="getCourseInfoCount" resultType="int">
		SELECT
		COUNT(*)
		FROM
		COURSE_INFO
		WHERE
			homepage_id = #{homepage_id}
		<if test="(search_type != null and search_type != '') and (search_text != '' and search_text != '')">
			AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
	</select>

	<insert id="addCourseInfo">
		<selectKey keyProperty="course_id" resultType="string" order="BEFORE">
			SELECT 'COURSE_' || (TO_NUMBER(NVL(MAX(REPLACE(course_id, 'COURSE_', '')), TO_CHAR(SYSDATE, 'yyyyMMdd') || LPAD(0, 4, '0'))) + 1)
			FROM COURSE_INFO
			WHERE course_id LIKE '%' || TO_CHAR(SYSDATE, 'yyyyMMdd') || '%'
		</selectKey>
		INSERT INTO
		COURSE_INFO
		(
		homepage_id, course_id, course_title, view_start_date, view_end_date, use_yn, add_date, add_id, add_ip, limit_count, non_member_yn
		)
		VALUES
		(
		#{homepage_id}, #{course_id}, #{course_title}, #{view_start_date}, #{view_end_date}, #{use_yn}, SYSDATE, #{add_id}, #{add_ip}, ${limit_count}, ${non_member_yn}
		)
	</insert>

	<select id="getCourseInfo" resultType="kr.go.gbelib.app.cms.module.lecture.courseInfo.CourseInfo">
		SELECT *
		FROM COURSE_INFO
		WHERE course_id = #{course_id}
	</select>

	<select id="getCourseInfoListNoPaging" resultType="kr.go.gbelib.app.cms.module.lecture.courseInfo.CourseInfo">
		SELECT *
		FROM COURSE_INFO
		WHERE homepage_id = #{homepage_id}
		ORDER BY course_id DESC
	</select>

	<update id="updateCourseInfo">
		UPDATE
			COURSE_INFO
		SET
			course_title = #{course_title},
			view_start_date = #{view_start_date},
			view_end_date = #{view_end_date},
		    use_yn = #{use_yn},
			limit_count = #{limit_count},
			non_member_yn = #{non_member_yn}
		WHERE
			homepage_id = #{homepage_id}
		  AND course_id = #{course_id}
	</update>

	<delete id="deleteCourseInfo">
		DELETE
			COURSE_INFO
		WHERE
			homepage_id = #{homepage_id}
		  AND course_id = #{course_id}
	</delete>

	<select id="getLatestCourseInfo" resultType="kr.go.gbelib.app.cms.module.lecture.courseInfo.CourseInfo">
		SELECT *
		FROM(
				SELECT *
				FROM COURSE_INFO
				WHERE
					homepage_id = #{homepage_id}
				ORDER by course_id DESC
			)
		WHERE ROWNUM = 1
	</select>

	<select id="getReservedCourseDates" resultType="kr.go.gbelib.app.cms.module.lecture.courseInfo.CourseInfo">
		SELECT ( TO_DATE( VIEW_END_DATE, 'YYYY-MM-DD' ) - TO_DATE( VIEW_START_DATE, 'YYYY-MM-DD' ) +1) as day_count, VIEW_START_DATE, VIEW_END_DATE
		FROM COURSE_INFO
		WHERE homepage_id = #{homepage_id}
		<if test="course_id != null and course_id != ''">
			AND course_id != #{course_id}
		</if>
	</select>

	<select id="getOverlapCourseInfoCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			COURSE_INFO
		WHERE
			homepage_id = #{homepage_id}
		<if test="course_id != null and course_id != ''">
			AND course_id != #{course_id}
		</if>
		AND ((view_start_date <![CDATA[<=]]> #{view_start_date} AND view_end_date >= #{view_start_date})
		OR (view_start_date <![CDATA[<=]]> #{view_end_date} AND view_end_date >= #{view_end_date}))
	</select>

	<select id="getOngoingCourseInfoOne" resultType="kr.go.gbelib.app.cms.module.lecture.courseInfo.CourseInfo">
		SELECT
		    *
		FROM
			COURSE_INFO
		WHERE
			course_id = (
					SELECT course_id
					FROM (SELECT rownum, course_id
						  FROM course_info
						  WHERE homepage_id IN (#{homepage_id}) AND VIEW_START_DATE <![CDATA[<=]]> SYSDATE AND VIEW_END_DATE <![CDATA[>=]]> SYSDATE AND use_yn IN ('Y') AND rownum = 1)
				)
	</select>
	<!--<select id="bookReportContestList" resultType="kr.go.gbelib.app.cms.module.bookReportContest.BookReportContest">
		${pagingTop}
		SELECT
			homepage_id, book_report_idx, participation_field, user_name, 
			school_name, school_year, user_phone, protector_phone, user_email, 
			postcode, address_base, address_detailed, approval_status, delete_yn, 
			org_file_name, server_file_name, file_extension, file_size, 
			org_file_name2, server_file_name2, file_extension2, file_size2, 
			add_id, add_date 
		FROM
			BOOK_REPORT_CONTEST
		WHERE
			homepage_id = #{homepage_id}
		AND	delete_yn = 'N'
		<if test="(search_type != null and search_type != '') and (search_text != '' and search_text != '')">
		AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
		ORDER BY book_report_idx DESC
		${pagingBottom}
	</select>
	
	<select id="getExcelList" resultType="kr.go.gbelib.app.cms.module.bookReportContest.BookReportContest">
		SELECT
			homepage_id, book_report_idx, participation_field, user_name, 
			school_name, school_year, user_phone, protector_phone, user_email, 
			postcode, address_base, address_detailed, approval_status, delete_yn, 
			org_file_name, server_file_name, file_extension, file_size, 
			org_file_name2, server_file_name2, file_extension2, file_size2, 
			add_id, add_date 
		FROM
			BOOK_REPORT_CONTEST
		WHERE
			homepage_id = #{homepage_id}
		AND	delete_yn = 'N'
	</select>
	
	<select id="bookReportContestCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			BOOK_REPORT_CONTEST
		WHERE
			homepage_id = #{homepage_id}
		AND	delete_yn = 'N'
		<if test="(search_type != null and search_type != '') and (search_text != '' and search_text != '')">
		AND	${search_type} LIKE '%'||#{search_text}||'%'
		</if>
	</select>
	
	<select id="getBookReportContest" resultType="kr.go.gbelib.app.cms.module.bookReportContest.BookReportContest">
		SELECT
			homepage_id, book_report_idx, participation_field, user_name, 
			school_name, school_year, user_phone, protector_phone, user_email, 
			postcode, address_base, address_detailed, approval_status, delete_yn, 
			org_file_name, server_file_name, file_extension, file_size, 
			org_file_name2, server_file_name2, file_extension2, file_size2, 
			add_id, add_date 
		FROM
			BOOK_REPORT_CONTEST
		WHERE
			homepage_id = #{homepage_id}
		AND book_report_idx = #{book_report_idx}	
	</select>
	
	<insert id="addBookReportContest">
		INSERT INTO
			BOOK_REPORT_CONTEST
		(
			homepage_id, book_report_idx, participation_field, user_name, 
			school_name, school_year, user_phone, protector_phone, user_email, 
			postcode, address_base, address_detailed, approval_status, delete_yn, 
			<if test="server_file_name != null and server_file_name != ''">
			org_file_name, server_file_name, file_extension, file_size, 
			</if>
			<if test="server_file_name2 != null and server_file_name2 != ''">
			org_file_name2, server_file_name2, file_extension2, file_size2,
			</if>
			add_id, add_date
		)
		VALUES
		(
			#{homepage_id}, (SELECT NVL(MAX(book_report_idx), 0)+1 FROM BOOK_REPORT_CONTEST), #{participation_field}, #{user_name}, 
			#{school_name}, #{school_year}, #{user_phone}, #{protector_phone}, #{user_email}, 
			#{postcode}, #{address_base}, #{address_detailed}, #{approval_status}, #{delete_yn},
			<if test="server_file_name != null and server_file_name != ''">
			#{org_file_name}, #{server_file_name}, #{file_extension}, #{file_size},
			</if> 
			<if test="server_file_name2 != null and server_file_name2 != ''">
			#{org_file_name2}, #{server_file_name2}, #{file_extension2}, #{file_size2},
			</if> 
			#{add_id}, SYSDATE
		)
	</insert>
	
	<update id="deleteBookReportContest">
		UPDATE 
			BOOK_REPORT_CONTEST
		SET
			delete_yn = 'Y',
			delete_id = #{delete_id}
		WHERE
			homepage_id = #{homepage_id}
		AND book_report_idx = #{book_report_idx}
	</update>
	
	<update id="statusChangeBookReportContest">
		UPDATE
			BOOK_REPORT_CONTEST
		SET
			approval_status = #{approval_status}
		WHERE
			homepage_id = #{homepage_id}
		AND book_report_idx = #{book_report_idx}
	</update>-->
	
</mapper>